@import url(fonts.css);

/*
    We display a fallback message for users with browsers that don't support
    all the features required by it. All of the content will be still fully
    accessible for them, but some more advanced effects would be missing.
    When impress.js detects that browser supports all necessary CSS3 features,
    the fallback-message style is hidden.
*/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}


/*
  The body background is the bacgkround of "everything". Many
  impress.js tools call it the "surface". It could also be a
  picture or pattern, but we leave it as light gray.
*/

body {
    font-family: 'PT Sans', sans-serif;
	height:1000px;
	width:1920px;
    min-height: 1000px;

    color: rgb(75, 75, 75);
	
	/*border:1px solid red;*/
}

/*
    Now let's style the presentation steps.
*/

.step {
    position: relative;
    width: 1880px;
	height: 980px;
    padding: 10px 20px;
    margin: 0px;

    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}
/*
    Make inactive steps a little bit transparent.
*/


/*
    Speaker notes allow you to write comments within the steps, that will not
    be displayed as part of the presentation. However, they will be picked up
    and displayed by impressConsole.js when integrated.
*/

.notes {
    display: none;
}

/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css

    Note that we also use a background image, again just to facilitate a common
    feature from PowerPoint and LibreOffice worlds. In this case the background
    image is just the impress.js favicon - as if it were a company logo or something.

*/

.slide {
    display: block;

	/*border: 1px solid red;*/

    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 30px;
    letter-spacing: -1px;
}


.slide h1,
.slide h2 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center;
}

.slide h3 {
	margin:0px;
}

.slide li {
    margin: 0.2em;
}

/* Highlight.js used for coloring pre > code blocks. */
.slide pre > code {
    font-size: 14px;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}



/* Inline code, no Highlight.js */
code {
    font-family: "Cutive mono","Courier New", monospace;
}


a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(200,200,200,0.2);
    text-shadow: -1px 1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    border-bottom: 1px solid rgba(100,100,100,0.2);
    border-left:   1px solid rgba(100,100,100,0.2);

    transition:         0.5s;
}
a:hover,
a:focus {
    background: rgba(200,200,200,1);
    text-shadow: -1px 1px 2px rgba(100,100,100,0.5);
}

blockquote {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
}

em {
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

strong {
    text-shadow: -1px 1px 2px rgba(100,100,100,0.5);
}

q {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

strike {
    opacity: 0.7;
}

small {
    font-size: 0.4em;
}

ul, ol {
	margin:0px;
}



.active.slide {
	z-index:10000 !important;
}


/* Special Slides */
.chapterTitle {
	transition:opacity 1s;
}
.chapterTitle.past {
	opacity:0;
}



/*
  This version of impress.js supports plugins, and in particular, a UI toolbar
  plugin that allows easy navigation between steps and autoplay.
*/
.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.6;
    z-index: 10;
}
.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}

/*
    With help from the mouse-timeout plugin, we can hide the toolbar and
    have it show only when you move/click/touch the mouse.
*/
body.impress-mouse-timeout div#impress-toolbar {
    display: none;
}

/*
    In fact, we can hide the mouse cursor itself too, when mouse isn't used.
*/
body.impress-mouse-timeout {
    cursor: none;
}



/* Progress bar */
.impress-progressbar {
  position: absolute;
  right: 118px;
  bottom: 1px;
  left: 118px;
  border-radius: 7px;
  border: 2px solid rgba(100, 100, 100, 0.2);
}
.impress-progressbar DIV {
  width: 0;
  height: 2px;
  border-radius: 5px;
  background: rgba(75, 75, 75, 0.4);
  transition: width 1s linear;
}
.impress-progress {
  position: absolute;
  left: 59px;
  bottom: 1px;
  text-align: left;
  font-size: 10pt;
  opacity: 0.6;
}

/* Help popup plugin */
.impress-enabled #impress-help {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    font-size: 80%;
    position: fixed;
    left: 2em;
    bottom: 2em;
    width: 24em;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    z-index: 100;
    font-family: Verdana, Arial, Sans;
}
.impress-enabled #impress-help td {
    padding-left: 1em;
    padding-right: 1em;
}

/* Substep plugin */

#impress .step .substep {
    opacity: 0;
	transition: opacity 1s;
}

#impress .step .substep.substep-visible {
    opacity: 1;
}


/*
    And as the last thing there is a workaround for quite strange bug.
    It happens a lot in Chrome. I don't remember if I've seen it in Firefox.

    Sometimes the element positioned in 3D (especially when it's moved back
    along Z axis) is not clickable, because it falls 'behind' the <body>
    element.

    To prevent this, I decided to make <body> non clickable by setting
    pointer-events property to `none` value.
    Value if this property is inherited, so to make everything else clickable
    I bring it back on the #impress element.

    If you want to know more about `pointer-events` here are some docs:
    https://developer.mozilla.org/en/CSS/pointer-events

    There is one very important thing to notice about this workaround - it makes
    everything 'unclickable' except what's in #impress element.

    So use it wisely ... or don't use at all.
*/
.impress-enabled                          { pointer-events: none }
.impress-enabled #impress                 { pointer-events: auto }
.impress-enabled #impress-toolbar         { pointer-events: auto }
.impress-enabled #impress-console-button  { pointer-events: auto }



/* Eigenes */


h1 {font-size:200%;}
h2 {font-size:300%;}
h2 > span {border-bottom:2px solid rgba(100,100,100,.6); padding:0px 30px;}
h3 {font-size:150%;}

.center{
	text-align: center;
}

.phantom {opacity:0 !important;}


/* Tempstep */

.tempstep {transition:opacity 2s, width 2s, background 2s;}
.tempstep.a {opacity:0;}
.tempstep-active {opacity:1 !important;}

.Highlight-off {
	border-radius:10px;
	background-color:#FFFFFFFF;
	padding:0px 5px;
}
.tempClass-Highlight {
	background-color:#1e90ff50;
}


.tempClass-striken {
	text-decoration:line-through;
}

.tempClass-halftransparent {
	opacity:.3 !important;
}

.black {
	color:black;
	transition:all 1s;
}
.tempClass-red {
	color:red;
}
.tempClass-redEdge {
	stroke:red !important;
}
.tempClass-hl {
	color:#1e90ff;
}
.tscol {
	transition:opacity 2s, width 2s, background 2s, color 1s;
}





/* Graphs */

.nodeBig {
	stroke: black;
	stroke-width:3px;
	fill:white;	
}

.node-text {
	color:black;
	transform: translate(0px,-2px);
}
.tempClass-red.node-text {
	color:red;
}

.nodeSmall {
	stroke: black;
	stroke-width:2px;
	fill:white;	
}

.node-text-small {
	color:black;
	transform: translate(-8px,-10px);
	font-size:70%;
}

/* Flow */

.flow {
	stroke:#1e90ffa0;  /* DodgerBlue */
	transition:all 2s;
	stroke-dasharray:0,0,0,0,0,0,0,1000;
	transition-timing-function: linear;
}

.flow.tempClass-fast {
	transition:stroke-dasharray 1s;
}

.timebar {
	stroke-dasharray:0,0,0,0,3,1000;
	transition:stroke-dasharray 2s; 
	transition-timing-function: linear;
}


/* Animation on Title-Page */

.tempClass-Te1full {
	stroke-dasharray:0,0,0,0,0,0,300,1000;
}
.tempClass-Te1empty {
	stroke-dasharray:0,0,0,0,0,300,0,1000;
}
.tempClass-Tq1full {
	stroke-dasharray:0,0,0,0,0,0,80,1000;
}
.tempClass-Te3full {
	stroke-dasharray:0,0,0,0,0,0,300,1000;
}
.tempClass-Te3empty {
	stroke-dasharray:0,0,0,0,0,300,0,1000;
}

.graph {
	stroke:#1e90ff;  /* DodgerBlue */
	transition:all 2s;
	stroke-dasharray:0,0,0,0,0,0,0,1000;
	transition-timing-function: linear;
	fill:none;
}
.tempClass-Tgr1 {
	stroke-dasharray:0,0,0,0,0,0,75,1000;
}
.tempClass-Tgr2 {
	stroke-dasharray:0,0,0,0,0,0,245,1000;
}
.tempClass-Tgr3 {
	stroke-dasharray:0,0,0,0,0,0,410,1000;
}
.tempClass-Tgr4 {
	stroke-dasharray:0,0,0,0,0,0,500,1000;
}

.bridgebreak {
	stroke:black;
	transition:all 1s;
	transition-delay:1s;
	stroke-dasharray:0,0,0,0,0,0,0,1000;
	transition-timing-function: linear;
	fill:none;
}
.tempClass-Tbb {
	stroke-dasharray:0,0,0,0,0,0,100,1000;
}


/* Animation Model-Page */
.tempClass-CharUp {
	top:508px; 
}
.tempClass-CharDown {
	top:758px;
}

.tempClass-DefUp {
	top:432px; 
}
.tempClass-DefDown {
	top:758px;
}


.counterExample {
	background-color:white; 
	border:2px solid gray; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	top:-450px;
	transition:top 3s;
}
.tempClass-CEactive {
	top:100px;
}

.admEpsDev {
	background-color:white; 
	border:2px solid gray; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tempClass-Mgr1 {
	stroke-dasharray:0,0,0,0,0,0,75,1000;
}
.tempClass-Mgr2 {
	stroke-dasharray:0,0,0,0,0,0,180,1000;
}
.tempClass-Mgr3 {
	stroke-dasharray:0,0,0,0,0,0,300,1000;
}


/* Drawing Canvases */
/* Only show the drawing utilities when hovering over the canvas */ 
.HiddenCanvas div, .HiddenCanvas input {
	opacity:0;
	transition:opacity 1s;
}

.HiddenCanvas:hover div, .HiddenCanvas:hover input {
	opacity:1;
}


/* Heading */

.Heading {position:fixed; top:-70px; left:1%; width:94%; font-size:180%; border-bottom:2px solid #999999; padding:80px 30px 0px 30px;
			opacity:1; transition: opacity 4s 2s; z-index:500; background-color:white;
			text-shadow: 0 2px 2px rgba(0, 0, 0, .1); font-family: 'Open Sans', Arial, sans-serif; font-size: 22px; letter-spacing: -1px;
			opacity:0;}
			
.Heading#background {opacity:1;}
.impress-on-Title .Heading#background {opacity:0;}

			
.impress-on-Model-Chapter #Heading1, .impress-on-Model #Heading1 {opacity:1;}			
.impress-on-Existence-Chapter #Heading2, .impress-on-Existence #Heading2, .impress-on-ModelExamples #Heading2 {opacity:1;}
.impress-on-Conclusion-Chapter #Heading3,.impress-on-Conclusion #Heading3 {opacity:1;}



/* Theoremstyles */

.theoremstyle {
	margin-left:3em;
	margin-bottom:1em;
	position:relative;
}

.theoremstyle::before {
	font-variant:small-caps;
	font-weight:bold;
	color:#808080;
	text-shadow: 1px 1px 4px rgba(170,170,170,0.9);
	display:block;
	float:left;
	margin-left:-3em;
}

.theoremstyle.t::before {content:"Thm.:";}
.theoremstyle.o::before {content:"Obs.:";}
.theoremstyle.d::before {content:"Def.:";}
.theoremstyle.l::before {content:"Lem.:";}
.theoremstyle.kl::before {content:"Key-Lemma:";}
.theoremstyle.c::before {content:"Conj.:";}
.theoremstyle.cor::before {content:"Cor.:";}
.theoremstyle.open::before {content:"Open:";}
.theoremstyle.g::before {content:"Goal:";}
.theoremstyle.i::before {content:"Idea:";}
.theoremstyle.q::before {content:"Question:";}
.theoremstyle.r::before {content:"Rem.:";}


.proofstyle {
	margin-left:4em;
	margin-bottom:1em;
	position:relative;
}

.proofstyle::before {
	font-variant:small-caps;
	font-weight:bold;
	color:#808080;
	text-shadow: 1px 1px 4px rgba(170,170,170,0.9);
	display:block;
	float:left;
	margin-left:-3em;
	content:"Proof:";
	transition:opacity 1s;
}

.tempClass-noProof::before {
	opacity:0;
}

.proofstyle::after {
	position:absolute;
	right:20px;
	bottom:-5px;
	font-size:35px;
	content:"□";
	transition:opacity 1s;
}

.tempClass-noQED::after {
	opacity:0;
}


.proofstyle.t::before {content:"Proof of Thm:";}

.proofstyle.i::before {content:"Idea:";}


.theoremstyletop::before {
	font-variant:small-caps;
	font-weight:bold;
	color:#808080;
	text-shadow: 1px 1px 4px rgba(170,170,170,0.9);
	display:block;
}

.theoremstyletop.o::before {content:"Observations:";}

.tempClass-noThm::before {opacity:0;}





/* Alter Graph-Stil */

.vertex {position:absolute; border:2px solid black; border-radius:25px; width:20px; height:20px; transform:translate(-15px, -5px);  background-color:white; z-index:10;}
.vertexNamed {position:absolute; border:2px solid black; border-radius:27px; width:50px; height:50px; 
			transform:translate(-30px, -20px);  color:black; background-color:white; z-index:10; text-align:center; padding:0px;}
.edge {position:absolute; transform-origin:0 50%; background-size:100% 100%; height:16px; z-index:5; padding:0px;}

.edge {background-image:none;}


.blue {color:blue !important;}
.red {color:red !important;}
.green {color:green !important;}


.animation {letter-spacing:0px !important;}
.animation text {transform: translateX(-0.1px);}

