@import url(fonts.css);

/*
    We display a fallback message for users with browsers that don't support
    all the features required by it. All of the content will be still fully
    accessible for them, but some more advanced effects would be missing.
    When impress.js detects that browser supports all necessary CSS3 features,
    the fallback-message style is hidden.
*/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}


/*
  The body background is the bacgkround of "everything". Many
  impress.js tools call it the "surface". It could also be a
  picture or pattern, but we leave it as light gray.
*/

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;

    color: rgb(75, 75, 75);
}

/*
    Now let's style the presentation steps.
*/

.step {
    position: relative;
    width: 1600px;
	height: 900px;
    padding: 40px;
    margin: 20px auto;

    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}
/*
    Make inactive steps a little bit transparent.
*/


/*
    Speaker notes allow you to write comments within the steps, that will not
    be displayed as part of the presentation. However, they will be picked up
    and displayed by impressConsole.js when integrated.
*/

.notes {
    display: none;
}

/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css

    Note that we also use a background image, again just to facilitate a common
    feature from PowerPoint and LibreOffice worlds. In this case the background
    image is just the impress.js favicon - as if it were a company logo or something.

*/

.slide {
    display: block;

    width: 1800px;
	height: 1000px;
    padding: 0px;
	
	/*border: 1px solid red;*/

    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 24px;
    letter-spacing: -1px;
}


.slide h1,
.slide h2 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: center;
}

.slide li {
    margin: 0.2em;
}

/* Highlight.js used for coloring pre > code blocks. */
.slide pre > code {
    font-size: 14px;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.chapterTitle {
	transition:opacity 1s;
}

.chapterTitle.past {
	opacity:0;
}

/* Inline code, no Highlight.js */
code {
    font-family: "Cutive mono","Courier New", monospace;
}


a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(200,200,200,0.2);
    text-shadow: -1px 1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    border-bottom: 1px solid rgba(100,100,100,0.2);
    border-left:   1px solid rgba(100,100,100,0.2);

    transition:         0.5s;
}
a:hover,
a:focus {
    background: rgba(200,200,200,1);
    text-shadow: -1px 1px 2px rgba(100,100,100,0.5);
}

blockquote {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
}

em {
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

strong {
    text-shadow: -1px 1px 2px rgba(100,100,100,0.5);
}

q {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .3);
}

strike {
    opacity: 0.7;
}

small {
    font-size: 0.4em;
}

ul, ol {
	margin:0px;
}


.slide .right {
    float: right;
    margin-left:   40px;
    margin-right:   0px;
    margin-top:    20px;
    margin-bottom: 20px;
}
.slide .left {
    float: left;
    margin-right:  40px;
    margin-left:    0px;
    margin-top:    20px;
    margin-bottom: 20px;
}
.slide .top {
    position: absolute;
    top: 20px;
    margin-bottom:  20px;
    margin-top:      0px;
}
.slide .bottom {
    position: absolute;
    bottom: 20px;
    margin-bottom:   0px;
    margin-top:     20px;
}


.active.slide {
	z-index:10000 !important;
}


/*
 fly-in class starts from a position outside the slide, then flies into it's correct position.
*/
.future .fly-in {
    transform: translateY(-700px);
    opacity: 0.0; /* Make it invisible, just so it doesn't clutter some other slide that might be in the position where we moved it */
}
.present .fly-in {
    transform:         translateY(0px);
    opacity: 1.0;
    transition:         2s;
}
.past .fly-out {
    transform:         translateY(700px);
    opacity: 0.0;
    transition:         2s;
}

/*
   Fade-in/out is a straightforward fade. Give it enough seconds that all browsers render it clearly.
*/
.future .fade-in {
    opacity: 0.0;
}
.present .fade-in {
    opacity: 1.0;
    transition: 3s;
}
.past .fade-out {
    opacity: 0.0;
    transition: 3s;
}
/*
    Zoom-in.
*/
.future  .zoom-in {
    transform:        scale(10);
    opacity: 0.0;
}
.present .zoom-in {
    transform:         scale(1);
    opacity: 1.0;
    transition: 3s;
}
.past  .zoom-out {
    transform:        scale(10);
    opacity: 0.0;
}

/*
  This version of impress.js supports plugins, and in particular, a UI toolbar
  plugin that allows easy navigation between steps and autoplay.
*/
.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.6;
    z-index: 10;
}
.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}

/*
    With help from the mouse-timeout plugin, we can hide the toolbar and
    have it show only when you move/click/touch the mouse.
*/
body.impress-mouse-timeout div#impress-toolbar {
    display: none;
}

/*
    In fact, we can hide the mouse cursor itself too, when mouse isn't used.
*/
body.impress-mouse-timeout {
    cursor: none;
}



/* Progress bar */
.impress-progressbar {
  position: absolute;
  right: 118px;
  bottom: 1px;
  left: 118px;
  border-radius: 7px;
  border: 2px solid rgba(100, 100, 100, 0.2);
}
.impress-progressbar DIV {
  width: 0;
  height: 2px;
  border-radius: 5px;
  background: rgba(75, 75, 75, 0.4);
  transition: width 1s linear;
}
.impress-progress {
  position: absolute;
  left: 59px;
  bottom: 1px;
  text-align: left;
  font-size: 10pt;
  opacity: 0.6;
}

/* Help popup plugin */
.impress-enabled #impress-help {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    font-size: 80%;
    position: fixed;
    left: 2em;
    bottom: 2em;
    width: 24em;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    z-index: 100;
    font-family: Verdana, Arial, Sans;
}
.impress-enabled #impress-help td {
    padding-left: 1em;
    padding-right: 1em;
}

/* Substep plugin */

#impress .step .substep {
    opacity: 0;
	transition: opacity 1s;
}

#impress .step .substep.substep-visible {
    opacity: 1;
}


/*
    And as the last thing there is a workaround for quite strange bug.
    It happens a lot in Chrome. I don't remember if I've seen it in Firefox.

    Sometimes the element positioned in 3D (especially when it's moved back
    along Z axis) is not clickable, because it falls 'behind' the <body>
    element.

    To prevent this, I decided to make <body> non clickable by setting
    pointer-events property to `none` value.
    Value if this property is inherited, so to make everything else clickable
    I bring it back on the #impress element.

    If you want to know more about `pointer-events` here are some docs:
    https://developer.mozilla.org/en/CSS/pointer-events

    There is one very important thing to notice about this workaround - it makes
    everything 'unclickable' except what's in #impress element.

    So use it wisely ... or don't use at all.
*/
.impress-enabled                          { pointer-events: none }
.impress-enabled #impress                 { pointer-events: auto }
.impress-enabled #impress-toolbar         { pointer-events: auto }
.impress-enabled #impress-console-button  { pointer-events: auto }



/* Eigenes */


h1 {font-size:200%;}
h2 {font-size:300%;}
h2 > span {border-bottom:2px solid rgba(100,100,100,.6); padding:0px 30px;}
h3 {font-size:150%;}

.center{
	text-align: center;
}


/* Tempstep */

.tempstep {transition:opacity 2s, width 2s, background 2s;}
.tempstep.a {opacity:0;}
.tempstep-active {opacity:1 !important;}


.tempClass-striken {
	text-decoration:line-through;
}

.black {
	color:black;
	transition:all 1s;
}
.tempClass-red {
	color:red;
}
.tempClass-redEdge {
	stroke:red !important;
}

.tempClass-moveDown {
	transform:translate(0,120px);
}

.impress-on-NP-Hardness {
	transition: all 2000ms ease-in-out 0ms;
}

.ZoomDiv {
	transition: all 2000ms ease-in-out 0ms;
}

.tempGClass-GadgetZoom .ZoomDiv {
	transform:translate(200px,-6500px) scale(2.5);
}

.notInZoom {
	transition:opacity 2s;
}
.tempGClass-GadgetZoom .notInZoom {
	opacity:0;
}




/* Graphs */

.nodeBig {
	stroke: black;
	stroke-width:3px;
	fill:white;	
}

.node-text {
	color:black;
	transform: translate(-7px,-10px);
}
.tempClass-red.node-text {
	color:red;
}

.nodeSmall {
	stroke: black;
	stroke-width:2px;
	fill:white;	
}

.node-text-small {
	color:black;
	transform: translate(-5px,-7px);
	font-size:70%;
}

/* Flow */

.flow {
	stroke:#1e90ffa0;  /* DodgerBlue */
	transition:all 2s;
	stroke-dasharray:0,0,0,0,0,0,0,1000;
	transition-timing-function: linear;
}

.flow.tempClass-fast {
	transition:stroke-dasharray 1s;
}

.timebar {
	stroke-dasharray:0,0,0,0,3,1000;
	transition:stroke-dasharray 2s; 
	transition-timing-function: linear;
}

/* Animation on Title-Page */

.tempClass-Te1a1 {
	stroke-dasharray:0,0,0,0,0,0,200,1000;
}
.tempClass-Te2a1 {
	stroke-dasharray:0,0,0,0,0,0,100,1000;
}
.tempClass-Tqa1 {
	stroke-dasharray:0,0,0,0,0,0,40,1000;
}

.tempClass-Ttime1 {
	stroke-dasharray:0,0,0,60,3,1000;
}
.tempClass-Ttime2 {
	stroke-dasharray:0,0,0,90,3,1000;
}

/* Animation on Model-Page */
.tempClass-MeV1 {
	stroke-dasharray:0,0,0,0,0,0,200,1000;
}
.tempClass-MeV05 {
	stroke-dasharray:0,0,0,0,0,0,100,1000;
}
.tempClass-MeV05r {
	stroke-dasharray:0,0,0,0,0,100,100,1000;
}
.tempClass-MeD05 {
	stroke-dasharray:0,0,0,0,0,0,140,1000;
}
.tempClass-Mq2 {
	stroke-dasharray:0,0,0,0,0,0,60,1000;
}
.tempClass-Mq15 {
	stroke-dasharray:0,0,0,0,0,0,45,1000;
}
.tempClass-Mq05 {
	stroke-dasharray:0,0,0,0,0,0,15,1000;
}

/* Animation on Existence-Page */
.tempClass-EeV1 {
	stroke-dasharray:0,0,0,0,0,0,200,1000;
}
.tempClass-EeV05 {
	stroke-dasharray:0,0,0,0,0,0,100,1000;
}
.tempClass-EeV05r {
	stroke-dasharray:0,0,0,0,0,100,100,1000;
}
.tempClass-EeV00 {
	stroke-dasharray:0,0,0,0,0,200,00,1000;
}
.tempClass-EeD05 {
	stroke-dasharray:0,0,0,0,0,0,140,1000;
}
.tempClass-EeD05r {
	stroke-dasharray:0,0,0,0,0,140,140,1000;
}
.tempClass-Eq35 {
	stroke-dasharray:0,0,0,0,0,0,105,1000;
}
.tempClass-Eq2 {
	stroke-dasharray:0,0,0,0,0,0,60,1000;
}
.tempClass-Eq15 {
	stroke-dasharray:0,0,0,0,0,0,45,1000;
}
.tempClass-Eq1 {
	stroke-dasharray:0,0,0,0,0,0,30,1000;
}
.tempClass-Eq05 {
	stroke-dasharray:0,0,0,0,0,0,15,1000;
}

/* Animation on Algorithm-Page */
.tempClass-Ae1a1 {
	stroke-dasharray:0,0,0,0,0,0,200,1000;
}
.tempClass-Ae1a2 {
	stroke-dasharray:0,0,0,0,0,100,200,1000;
}
.tempClass-Ae1a3 {
	stroke-dasharray:0,0,0,0,0,200,200,1000;
}
.tempClass-Ae2a1 {
	stroke-dasharray:0,0,0,0,0,0,100,1000;
}
.tempClass-Ae2a2 {
	stroke-dasharray:0,0,0,0,0,0,200,1000;
}
.tempClass-Ae3a2 {
	stroke-dasharray:0,0,0,0,0,0,140,1000;
}
.tempClass-Ae3a3 {
	stroke-dasharray:0,0,0,0,0,0,280,1000;
}
.tempClass-Ae3a4 {
	stroke-dasharray:0,0,0,0,0,280,280,1000;
}
.tempClass-Ae4a1 {
	stroke-dasharray:0,0,0,0,0,0,100,1000;
}
.tempClass-Ae4a2 {
	stroke-dasharray:0,0,0,0,0,100,100,1000;
}
.tempClass-Ae4a3 {
	stroke-dasharray:0,0,0,0,0,200,100,1000;
}
.tempClass-Ae5a3 {
	stroke-dasharray:0,0,0,0,0,0,200,1000;
}

.tempClass-Aqa1 {
	stroke-dasharray:0,0,0,0,0,0,40,1000;
}
.tempClass-Aqa2 {
	stroke-dasharray:0,0,0,0,0,0,80,1000;
}
.tempClass-Aqa3 {
	stroke-dasharray:0,0,0,0,0,0,120,1000;
}

.tempClass-Atime1 {
	stroke-dasharray:0,0,0,40,3,1000;
}
.tempClass-Atime15 {
	stroke-dasharray:0,0,0,60,3,1000;
}
.tempClass-Atime25 {
	stroke-dasharray:0,0,0,100,3,1000;
}
.tempClass-Atime3 {
	stroke-dasharray:0,0,0,120,3,1000;
}

.tempClass-AtimeB1 {
	stroke-dasharray:0,0,0,20,3,1000;
}
.tempClass-AtimeB2 {
	stroke-dasharray:0,0,0,40,3,1000;
}
.tempClass-AtimeB3 {
	stroke-dasharray:0,0,0,80,3,1000;
}


/* Acyclic Networks */

.flow.g {
	stroke: #008000A0/*green*/;
}
.flow.p {
	stroke: #800080A0/*purple*/;
}
.flow.r {
	stroke: #FF0000A0/*red*/;
}
.flow.o {
	stroke: #FFA500A0/*orange*/;
}

.tempClass-ACeaf {
	stroke-dasharray:0,0,0,0,0,0,225,1000;
}
.tempClass-ACef {
	stroke-dasharray:0,0,0,0,0,0,300,1000;
}
.tempClass-ACedvf {
	stroke-dasharray:0,0,0,0,0,75,300,1000;
}
.tempClass-ACehf {
	stroke-dasharray:0,0,0,0,0,150,300,1000;
}
.tempClass-ACeevf {
	stroke-dasharray:0,0,0,0,0,225,300,1000;
}

.tempClass-ACq05 {
	stroke-dasharray:0,0,0,0,0,0,5,1000;
}
.tempClass-ACq1 {
	stroke-dasharray:0,0,0,0,0,0,10,1000;
}
.tempClass-ACq15 {
	stroke-dasharray:0,0,0,0,0,0,15,1000;
}
.tempClass-ACq2 {
	stroke-dasharray:0,0,0,0,0,0,20,1000;
}
.tempClass-ACq3 {
	stroke-dasharray:0,0,0,0,0,0,30,1000;
}
.tempClass-ACq4 {
	stroke-dasharray:0,0,0,0,0,0,40,1000;
}
.tempClass-ACq5 {
	stroke-dasharray:0,0,0,0,0,0,50,1000;
}

.ACgraph {
	stroke-dasharray:0,0,0,1000;
	transition:stroke-dasharray 2s; 
	transition-timing-function: linear;
}
.tempClass-ACgraphG1 {
	stroke-dasharray:0,0,110,1000;
}
.tempClass-ACgraphG2 {
	stroke-dasharray:0,0,220,1000;
}
.tempClass-ACgraphG3 {
	stroke-dasharray:0,0,323,1000;
}
.tempClass-ACgraphG4 {
	stroke-dasharray:0,0,385,1000;
}
.tempClass-ACgraphG5 {
	stroke-dasharray:0,0,600,1000;
}
.tempClass-ACgraphP1 {
	stroke-dasharray:0,0,100,1000;
}
.tempClass-ACgraphP2 {
	stroke-dasharray:0,0,200,1000;
}
.tempClass-ACgraphP3 {
	stroke-dasharray:0,0,322,1000;
}
.tempClass-ACgraphP4 {
	stroke-dasharray:0,0,380,1000;
}
.tempClass-ACgraphP5 {
	stroke-dasharray:0,0,600,1000;
}
.tempClass-ACgraphR1 {
	stroke-dasharray:0,0,100,1000;
}
.tempClass-ACgraphR2 {
	stroke-dasharray:0,0,200,1000;
}
.tempClass-ACgraphR3 {
	stroke-dasharray:0,0,302,1000;
}
.tempClass-ACgraphR4 {
	stroke-dasharray:0,0,355,1000;
}
.tempClass-ACgraphR5 {
	stroke-dasharray:0,0,600,1000;
}
.tempClass-ACgraphO1 {
	stroke-dasharray:0,0,110,1000;
}
.tempClass-ACgraphO2 {
	stroke-dasharray:0,0,215,1000;
}
.tempClass-ACgraphO3 {
	stroke-dasharray:0,0,320,1000;
}
.tempClass-ACgraphO4 {
	stroke-dasharray:0,0,377,1000;
}
.tempClass-ACgraphO5 {
	stroke-dasharray:0,0,600,1000;
}





/* Animation for Output Complexity */
.tempClass-OCq05 {
	stroke-dasharray:0,0,0,0,0,0,15,1000;
}
.tempClass-OCq075 {
	stroke-dasharray:0,0,0,0,0,0,27,1000;
}
.tempClass-OCq1 {
	stroke-dasharray:0,0,0,0,0,0,30,1000;
}
.tempClass-OCq15 {
	stroke-dasharray:0,0,0,0,0,0,45,1000;
}
.tempClass-OCq175 {
	stroke-dasharray:0,0,0,0,0,0,57,1000;
}
.tempClass-OCq2 {
	stroke-dasharray:0,0,0,0,0,0,60,1000;
}
.tempClass-OCq25 {
	stroke-dasharray:0,0,0,0,0,0,75,1000;
}

.tempClass-OCvf1 {
	stroke-dasharray:0,0,0,0,0,0,200,1000;
}
.tempClass-OCvf2 {
	stroke-dasharray:0,0,0,0,200,0,0,1000;
}
.tempClass-OCvhf2 {
	stroke-dasharray:0,0,0,100,200,0,0,1000;
}
.tempClass-OCdf1 {
	stroke-dasharray:0,0,0,0,0,0,224,1000;
}
.tempClass-OCdf2 {
	stroke-dasharray:0,0,0,0,224,0,224,1000;
}
.tempClass-OCve1 {
	stroke-dasharray:0,0,0,0,0,200,0,1000;
}
.tempClass-OCve2 {
	stroke-dasharray:0,0,0,200,0,200,0,1000;
}
.tempClass-OCde1 {
	stroke-dasharray:0,0,0,0,0,224,0,1000;
}
.tempClass-OCdhf1 {
	stroke-dasharray:0,0,0,0,112,224,112,1000;
}

.tempClass-OCh1 {
	stroke-dasharray:0,0,0,0,0,0,100,1000;
}
.tempClass-OCh2 {
	stroke-dasharray:0,0,0,0,0,0,300,1000;
}
.tempClass-OCh3 {
	stroke-dasharray:0,0,0,0,0,0,500,1000;
}
.tempClass-OCh4 {
	stroke-dasharray:0,0,0,0,0,100,300,1000;
}
.tempClass-OCh5 {
	stroke-dasharray:0,0,0,0,150,100,250,1000;
}

.OCgraph {
	stroke-dasharray:0,0,0,1000;
	transition:stroke-dasharray 2s; 
	transition-timing-function: linear;
}
.tempClass-OCgraph1 {
	stroke-dasharray:0,0,22,1000;
}
.tempClass-OCgraph2 {
	stroke-dasharray:0,0,57,1000;
}
.tempClass-OCgraph3 {
	stroke-dasharray:0,0,93,1000;
}
.tempClass-OCgraph4 {
	stroke-dasharray:0,0,112,1000;
}
.tempClass-OCgraph5 {
	stroke-dasharray:0,0,148,1000;
}
.tempClass-OCgraph6 {
	stroke-dasharray:0,0,184,1000;
}
.tempClass-OCgraph7 {
	stroke-dasharray:0,0,220,1000;
}
.tempClass-OCgraph8 {
	stroke-dasharray:0,0,400,1000;
}
.tempClass-OCgraphB1 {
	stroke-dasharray:0,0,21,1000;
}
.tempClass-OCgraphB2 {
	stroke-dasharray:0,0,42,1000;
}
.tempClass-OCgraphB3 {
	stroke-dasharray:0,0,63,1000;
}
.tempClass-OCgraphB4 {
	stroke-dasharray:0,0,80,1000;
}
.tempClass-OCgraphB5 {
	stroke-dasharray:0,0,115,1000;
}
.tempClass-OCgraphB6 {
	stroke-dasharray:0,0,149,1000;
}
.tempClass-OCgraphB7 {
	stroke-dasharray:0,0,180,1000;
}
.tempClass-OCgraphB8 {
	stroke-dasharray:0,0,400,1000;
}

.tempClass-OCtime1 {
	stroke-dasharray:0,0,0 10,3,1000;
}
.tempClass-OCtime2 {
	stroke-dasharray:0,0,0,25,3,1000;
}
.tempClass-OCtime3 {
	stroke-dasharray:0,0,0,40,3,1000;
}
.tempClass-OCtime4 {
	stroke-dasharray:0,0,0,60,3,1000;
}
.tempClass-OCtime5 {
	stroke-dasharray:0,0,0,45,3,1000;
}
.tempClass-OCtime6 {
	stroke-dasharray:0,0,0,55,3,1000;
}
.tempClass-OCtime7 {
	stroke-dasharray:0,0,0,65,3,1000;
}
.tempClass-OCtime8 {
	stroke-dasharray:0,0,0,400,3,1000;
}


.tempClass-OCtimeB1 {
	stroke-dasharray:0,0,0,30,3,1000;
}
.tempClass-OCtimeB2 {
	stroke-dasharray:0,0,0,60,3,1000;
}
.tempClass-OCtimeB3 {
	stroke-dasharray:0,0,0,90,3,1000;
}
.tempClass-OCtimeB35 {
	stroke-dasharray:0,0,0,105,3,1000;
}
.tempClass-OCtimeB4 {
	stroke-dasharray:0,0,0,120,3,1000;
}
.tempClass-OCtimeB45 {
	stroke-dasharray:0,0,0,135,3,1000;
}
.tempClass-OCtimeB5 {
	stroke-dasharray:0,0,0,150,3,1000;
}
.tempClass-OCtimeB55 {
	stroke-dasharray:0,0,0,165,3,1000;
}
.tempClass-OCtimeB6 {
	stroke-dasharray:0,0,0,180,3,1000;
}
.tempClass-OCtimeB65 {
	stroke-dasharray:0,0,0,195,3,1000;
}
.tempClass-OCtimeB7 {
	stroke-dasharray:0,0,0,210,3,1000;
}
.tempClass-OCtimeB725 {
	stroke-dasharray:0,0,0,217,3,1000;
}

/* NP-Hardness */

.tempClass-NPehf {
	stroke-dasharray:0,0,0,0,0,0,100,1000;
}
.tempClass-NPehhf {
	stroke-dasharray:0,0,0,0,0,0,30,1000;
}
.tempClass-NPehhhf {
	stroke-dasharray:0,0,0,0,0,0,70,1000;
}
.tempClass-NPehhhhf {
	stroke-dasharray:0,0,0,0,0,30,70,1000;
}
.tempClass-NPehe {
	stroke-dasharray:0,0,0,0,0,100,100,1000;
}

.tempClass-NPedf {
	stroke-dasharray:0,0,0,0,0,0,141,1000;
}
.tempClass-NPedhf {
	stroke-dasharray:0,0,0,0,0,0,45,1000;
}
.tempClass-NPedhhf {
	stroke-dasharray:0,0,0,0,0,0,100,1000;
}
.tempClass-NPedhhhf {
	stroke-dasharray:0,0,0,0,0,45,100,1000;
}
.tempClass-NPede {
	stroke-dasharray:0,0,0,0,0,141,141,1000;
}

.tempClass-NPqA {
	stroke-dasharray:0,0,0,0,0,0,16,1000;
}
.tempClass-NPqB {
	stroke-dasharray:0,0,0,0,0,0,24,1000;
}
.tempClass-NPqC {
	stroke-dasharray:0,0,0,0,0,0,32,1000;
}
.tempClass-NPq1 {
	stroke-dasharray:0,0,0,0,0,0,40,1000;
}
.tempClass-NPq2 {
	stroke-dasharray:0,0,0,0,0,0,80,1000;
}



/* Drawing Canvases */
/* Only show the drawing utilities when hovering over the canvas */ 
.HiddenCanvas div, .HiddenCanvas input {
	opacity:0;
	transition:opacity 1s;
}

.HiddenCanvas:hover div, .HiddenCanvas:hover input {
	opacity:1;
}


/* Heading */

.Heading {position:fixed; top:-50px; left:3%; width:94%; font-size:120%; border-bottom:2px solid #999999; padding-top:80px;
			opacity:1; transition: opacity 4s 2s; z-index:500; background-color:white;
			text-shadow: 0 2px 2px rgba(0, 0, 0, .1); font-family: 'Open Sans', Arial, sans-serif; font-size: 22px; letter-spacing: -1px;
			opacity:0;}
			
.Heading#background {opacity:1;}
.impress-on-Title .Heading#background {opacity:0;}
			
.impress-on-Model #Heading1 {opacity:1;}			
.impress-on-Algorithm #Heading2 {opacity:1;}	
.impress-on-Finiteness #Heading3 {opacity:1;}
.impress-on-NP-Hardness #Heading4 {opacity:1;}	
.impress-on-Conclusion #Heading5 {opacity:1;}

/* Code */

.code {
	font-family:monospace,Courier;
	background-color:white;
}
.maincode {
	 text-shadow: 1px 1px 2px rgba(100,100,100,0.9);
}
.AlgName {
	font-variant:small-caps;
}
.numbering {
	color:#808080; 
}	

.keyword {
	font-weight:bold;
	font-variant:small-caps;
}	

.tab {
	visibility:hidden;
}


/* Theoremstyles */

.theoremstyle {
	margin-left:3em;
	margin-bottom:1em;
}

.theoremstyle::before {
	font-variant:small-caps;
	font-weight:bold;
	color:#808080;
	text-shadow: 1px 1px 4px rgba(170,170,170,0.9);
	display:block;
	float:left;
	margin-left:-3em;
}

.theoremstyle.t::before {content:"Thm.:";}
.theoremstyle.o::before {content:"Obs.:";}
.theoremstyle.d::before {content:"Def.:";}
.theoremstyle.l::before {content:"Lem.:";}
.theoremstyle.kl::before {content:"Key-Lemma:";}
.theoremstyle.c::before {content:"Conj.:";}
.theoremstyle.cor::before {content:"Cor.:";}
.theoremstyle.open::before {content:"Open:";}
.theoremstyle.g::before {content:"Goal:";}
.theoremstyle.i::before {content:"Idea:";}


.proofstyle {
	margin-left:4em;
	margin-bottom:1em;
	position:relative;
}

.proofstyle::before {
	font-variant:small-caps;
	font-weight:bold;
	color:#808080;
	text-shadow: 1px 1px 4px rgba(170,170,170,0.9);
	display:block;
	float:left;
	margin-left:-3em;
	content:"Proof:";
	transition:opacity 1s;
}

.tempClass-noProof::before {
	opacity:0;
}

.proofstyle::after {
	position:absolute;
	right:20px;
	bottom:-5px;
	font-size:35px;
	content:"□";
	transition:opacity 1s;
}

.tempClass-noQED::after {
	opacity:0;
}


.proofstyle.t::before {content:"Proof of Thm:";}

.proofstyle.i::before {content:"Idea:";}


.theoremstyletop::before {
	font-variant:small-caps;
	font-weight:bold;
	color:#808080;
	text-shadow: 1px 1px 4px rgba(170,170,170,0.9);
	display:block;
}

.theoremstyletop.o::before {content:"Observations:";}



/* Alter Graph-Stil */

.vertex {position:absolute; border:2px solid black; border-radius:25px; width:20px; height:20px; transform:translate(-15px, -5px);  background-color:white; z-index:10;}
.vertexNamed {position:absolute; border:2px solid black; border-radius:27px; width:50px; height:50px; 
			transform:translate(-30px, -20px);  color:black; background-color:white; z-index:10; text-align:center; padding:0px;}
.edge {position:absolute; transform-origin:0 50%; background-size:100% 100%; height:16px; z-index:5; padding:0px;}

.edge {background-image:none;}


.blue {color:blue !important;}
.red {color:red !important;}
.green {color:green !important;}

#MS-Term .flow {position:absolute; transform-origin:0 50%; background-color:green; z-index:0; transition:linear width 3s, opacity 0s;}
#MS-Term .flow.r {background-color:red;}
#MS-Term .flow.b {background-color:blue;}

#MS-Term .tempClass-flowS  {width:0px !important;}
#MS-Term .tempClass-flowM  {width:105px !important;}
#MS-Term .tempClass-flowTrans  {left:225px !important; top:175px !important;}
#MS-Term .tempClass-flowTrans2  {top:175px !important;}
#MS-Term .tempClass-queueM  {width:50px !important;}

#MS-Term .Line {transition:linear left 3s;}
#MS-Term .tempClass-Line0 {left:3px; transition:left 0s !important;}
#MS-Term .tempClass-Line1 {left:22px;}
#MS-Term .tempClass-Line2 {left:41px;}
#MS-Term .tempClass-Line3 {left:60px;}
#MS-Term .tempClass-Line4 {left:79px;}
#MS-Term .tempClass-Line5 {left:98px;}