<!doctype html>

<!--
  This is a simple example / template impress.js slide show. The goal is to be
  easier to read for a first timer than the official and very feature rich
  demo by bartaz (http://bartaz.github.io/impress.js/). It's also a very
  traditional presentation that looks like slides (square screens with bullet
  points...), again to make a first timer feel more at home. From this simple
  presentation you can then go on to more powerful impress.js presentations!

  This example is hopefully helpful for people that want to create both
  simple and (eventually) awesome presentations in impress.js and comfortable
  doing that directly in HTML.

  By: @henrikingo (Still based on the HTML from bartaz' demo.)

-->

<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>Dynamic Flows with Adaptive Route Choice</title>

    <meta name="description" content="Dynamic Flows with Adaptive Route Choice" />
    <meta name="author" content="Lukas Graf" />


    <!--
        This file contains styles specific for this example presentation.
    -->
	<link href="css/Dagstuhl.css" rel="stylesheet" />

<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
		tex2jax: {
		  inlineMath: [ ['$','$'], ['\\(','\\)'] ],
		  processEscapes: true
		},
		"SVG": { fonts: ["TeX"], scale:85 }
	  });
	  MathJax.Hub.Queue(generateTeXinSVGs());
	</script>
	<!-- Internetquelle für MathJax -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_SVG-full"></script>
	<!-- Falls kein Internet verfügbar... 
	<script type="text/javascript" src="extras/MathJax/MathJax.js?config=TeX-MML-AM_SVG-full"></script>-->

</head>

<!--

    Body element is used by impress.js to set some useful class names, that will allow you to detect
    the support and state of the presentation in CSS or other scripts.

    First very useful class name is `impress-not-supported`. This class means, that browser doesn't
    support features required by impress.js, so you should apply some fallback styles in your CSS.
    It's not necessary to add it manually on this element. If the script detects that browser is not
    good enough it will add this class, but keeping it in HTML means that users without JavaScript
    will also get fallback styles.

    When impress.js script detects that browser supports all required features, this class name will
    be removed.

    Another class name on body element also depends on currently active presentation step.
-->
<body class="impress-not-supported" style="transform:scale(1,1);">
<!--
    This fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>


<!--
    This is the core element used by impress.js: the wrapper for your presentation steps.
    In this element all the impress.js magic happens.

    data-transition-duration sets the time in microseconds that is used for the
    animation when transtitioning between slides.

    data-autoplay can be used to set the time in seconds, after which presentation
    automatically moves to next slide. It can also be set individually for each
    slide, but here we just set a common duration for all slides.
-->

<div style="display:none;">
  \(
    \newcommand{\IN}{\mathbb{N}}
	\newcommand{\INs}{\mathbb{N}^\ast}
	\newcommand{\INo}{\mathbb{N}_0}
    \newcommand{\IZ}{\mathbb{Z}}
    \newcommand{\IR}{\mathbb{R}}
    \newcommand{\IC}{\mathbb{C}}
    \newcommand{\A}{\mathcal{A}}
    \newcommand{\B}{\mathcal{B}}
    \newcommand{\U}{\mathfrak{U}}
    \newcommand{\coloneqq}{:=}
    \newcommand{\Set}[1]{\left\{#1\right\}}
    \newcommand{\supp}{\mathrm{supp}}
    \newcommand{\Re}{\mathrm{Re}}
    \newcommand{\Im}{\mathrm{Im}}
    \newcommand{\clos}[1]{\overline{#1}}
    \newcommand{\inte}[1]{\mathring{#1}}
	\newcommand{\dist}[2]{\mathrm{dist}^c_{#1}(#2)}
	\newcommand{\dists}[2]{{\mathrm{dist}^c_{#1}}'(#2)}
	\newcommand{\Ind}{\unicode{x1D7D9}}
	\newcommand{\bigO}{\mathcal{O}}	
	\newcommand{\abs}[1]{\left|#1\right|}
	
	\newcommand{\rDeriv}{\partial_+}
	\newcommand{\lDeriv}{\partial_-}
	\newcommand{\queue}{z}
  \)
</div>


<div id="impress" data-transition-duration="2000" data-autoplay="0" style="z-index:0;">


	<div id="Title" class="step slide center" data-x="0" data-y="0" data-scale="1" data-tempstep-number="1">
		<h1>Computational Complexity of Constructing<br />Instantaneous Dynamic Equilibrium Flows</h1>
			<p class="tempstep a" data-tempstep-until="1">
				<strong>Lukas Graf</strong>, Tobias Harks <br />
				Augsburg University
			</p>
			
			
			
		
	</div>

	
	<div id="PhysicalModel" class="step slide" data-rel-x="0" data-rel-y="0" data-scale="1" data-tempstep-number="14" style="z-index:0;">	
	
	
		<div style="position:absolute; top:230px; left:10px; width: 600px;">
			<h3 class="tempstep a" data-tempstep-from="0" >Physical Model</h3>
			
			<ul>
				<li class="tempstep a" data-tempstep-from="2">A directed graph $G = (V,E)$</li>
				<li class="tempstep a" data-tempstep-from="3">Edge travel times $\tau_e \in \INs$ <span class="tempstep a" data-tempstep-from="4">(here $\tau_e=1$)</span></li>
				<li class="tempstep a" data-tempstep-from="3">Edge capacities $\nu_e \in \INs$ <span class="tempstep a" data-tempstep-from="4">(here, mostly, $\nu_e \in \Set{1,\infty}$)</span></li>
				<li class="tempstep a" data-tempstep-from="5">Single sink $t \in  V$</li>
				<li class="tempstep a" data-tempstep-from="6">Network inflow rates $u_v: \IR_{\geq 0} \to \IR_{\geq 0}$<br />
					(piece-wise constant, finitely lasting<br />with finitely many steps)</li>
				<li class="tempstep a" data-tempstep-from="7">Flow given by edge in- and outflow rates $f_e^+, f_e^-$</li>
				<li class="tempstep a" data-tempstep-from="8">Whenever $f_e^+(\theta) > \nu_e$ a queue $\queue_e(\theta)$<br />forms at the start of edge $e$</li>
				
			</ul>
		</div>
		
		<div style="position:absolute; right:20px; top:500px;" class="tempstep a" data-tempstep-from="6">
			&larr; sink
		</div>
		
		<div style="position:absolute; top:750px; left:0px; width:100%;">
			<h3 class="tempstep a" data-tempstep-from="10">Behavioral Model</h3>
			
			<div style="float:left; width:48%; text-align:center; margin-top:-20px; margin-left:10px;"
				class="tempstep a" data-tempstep-from="11">
				<strong>Dynamic Equilibrium/Nash Flow</strong> 
				<img src="images/Glaskugel.png" alt="Glaskugel: Symbolbild fuer in die Zukunft sehen" width="50" style="margin-bottom:-10px;" 
					class="tempstep a" data-tempstep-from="12" />
				<span class="tempstep a" data-tempstep-from="13">/<img src="images/Murmeltier.jpg" alt="Murmeltier: Symbolbild fuer Erfahrung durch Wiederholen" width="50" style="margin-bottom:-10px;" /></span></div>
			<div style="float:right; width:48%; text-align:center; margin-right:10px;" class="tempstep a" data-tempstep-from="14"><strong>Instantaneous Dynamic Equilibrium (IDE)</strong> <img src="images/Navi.jpg" alt="Navi" width="50" style="margin-bottom:-10px;" /></div>
		</div>
		
		
		<svg width="150" height="100" style="display:block; position:absolute; top:460px; left:490px;" viewbox="0 0 150 100"
			class="tempstep a" data-tempstep-from="5">
			<defs>
				<marker id='headGraph' orient='auto' markerWidth='4' markerHeight='4' refX='1.5' refY='1.5'>
					<path d='M0,0 V3 L3,1.5 Z' fill='black' />
				</marker>
			</defs>    
					
			<!-- axes -->
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l0,-85' />
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l120,0' />
				<svg class="TeXinSVG" x="130" y="75" color="black"><text>\theta</text></svg>
				
			<!-- inflow -->
				<path stroke-width='3' stroke='DodgerBlue'  d='M5,30 l90,0 m0,40 l30,0' />
				<svg class="TeXinSVG" x="40" y="50" style="color:DodgerBlue"><text>u_v</text></svg>		

			<!-- time -->
				<path stroke-width='90' stroke='Gray'  d='M5,45 l120,0' class="tempstep timebar" data-tempstep-classes="7-8:Ttime1;9-20:Ttime2"  />
		</svg>	
		
		<svg width="150" height="100" style="display:block; position:absolute; top:660px; left:490px;" viewbox="0 0 150 100"
			class="tempstep a" data-tempstep-from="5">
			<defs>
				<marker id='headGraph' orient='auto' markerWidth='4' markerHeight='4' refX='1.5' refY='1.5'>
					<path d='M0,0 V3 L3,1.5 Z' fill='black' />
				</marker>
			</defs>    
					
			<!-- axes -->
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l0,-85' />
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l120,0' />
				<svg class="TeXinSVG" x="130" y="75" color="black"><text>\theta</text></svg>
				
			<!-- inflow -->
				<path stroke-width='3' stroke='DodgerBlue'  d='M5,90 l60,0 m0,-80 l60,0' />
				<svg class="TeXinSVG" x="40" y="50" style="color:DodgerBlue"><text>u_w</text></svg>	
					
			<!-- time -->
				<path stroke-width='90' stroke='Gray'  d='M5,45 l120,0' class="tempstep timebar" data-tempstep-classes="7-8:Ttime1;9-20:Ttime2"  />
		</svg>
	
		<div style="position:absolute; width:500px; height:500px; top:270px; right:75px;"
			class="tempstep a" data-tempstep-from="2">
			<svg width="500" height="500" style="display:block;" viewbox="0 0 500 500">
				<defs>
					<marker id='headSmall' orient='auto' markerWidth='8' markerHeight='8' refX='12' refY='4'>
						<path d='M0,0 V8 L8,4 Z' fill='black' />
					</marker>
					<marker id='head' orient='auto' markerWidth='4' markerHeight='4' refX='3.5' refY='1.5'>
						<path d='M0,0 V3 L3,1.5 Z' fill='black' />
					</marker>
					<marker id='headF' orient='auto' markerWidth='2' markerHeight='2' refX='.1' refY='1'>
						<path d='M0,0 V2 L2,1 Z' fill='DodgerBlue' />
					</marker>
				</defs>    
					
				<!-- edges -->
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,250 l0,-200' />
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,50 l200,0' />  
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M250,50 l200,0' />
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M450,50 l0,200' />
					
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,250 l200,0' />  
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M250,250 l200,0' />
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,250 l200,200' />
					
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,450 l200,0' />
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M250,450 l0,-200' />
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M250,450 l200,0' />
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M450,450 l0,-200' />
					
				<!-- flow -->
					
					<path stroke-width='45' d='M50,250 l200,0' 
						class="flow tempstep a" data-tempstep-classes="7-20:Te1a1" />
					<path stroke-width='15' d='M250,250 l200,0' 
						class="flow tempstep a" data-tempstep-classes="9-20:Te2a1" />
					<path stroke-width='60' d='M50,450 l200,0' 
						class="flow tempstep a" data-tempstep-classes="9-20:Te2a1" />
					
						
				<!-- queues -->
				
					<path stroke-width='60' stroke='blue' d='M290,230 V-40' 
						class="flow tempstep a" data-tempstep-classes="9-20:Tqa1;" />

					
				<!--vertices-->
					<circle class="nodeBig" cx="50" cy="250" r="25" />
					<svg class="TeXinSVG node-text" x="45" y="240"><text>v</text></svg>
					
					<circle class="nodeBig" cx="50" cy="450" r="25" />
					<svg class="TeXinSVG node-text" x="45" y="440"><text>w</text></svg>
					
					<circle class="nodeBig" cx="450" cy="250" r="25" />
					<svg class="TeXinSVG node-text" x="445" y="240"><text>t</text></svg>
					
					<circle class="nodeBig" cx="50" cy="50" r="25" />
					<circle class="nodeBig" cx="250" cy="50" r="25" />
					<circle class="nodeBig" cx="450" cy="50" r="25" />
					<circle class="nodeBig" cx="250" cy="250" r="25" />
					<svg class="TeXinSVG node-text" x="245" y="240"><text>x</text></svg>
					<circle class="nodeBig" cx="250" cy="450" r="25" />
					<circle class="nodeBig" cx="450" cy="450" r="25" />

				<!-- Extras -->
					<svg class="TeXinSVG node-text tempstep a" data-tempstep-list="3" x="100" y="260"><text>(\tau_{vx}, \nu_{vx})</text></svg>
					<svg class="TeXinSVG node-text tempstep a" data-tempstep-list="3" x="300" y="260"><text>(\tau_{xt}, {\tiny\nu_{xt}})</text></svg>
					<svg class="TeXinSVG node-text tempstep a" data-tempstep-from="4" x="100" y="260"><text>(1, \infty)</text></svg>
					<svg class="TeXinSVG node-text tempstep a" data-tempstep-from="4" x="300" y="260"><text>(1, {\tiny 1})</text></svg>
					
					<svg class="TeXinSVG node-text tempstep a" data-tempstep-from="9" x="300" y="150" style="color:DodgerBlue;"><text>\queue_{xt}(\theta)=1</text></svg>
			</svg>	
			
			<div class="HiddenCanvas" style="position:absolute; left:0; top:0; width:100%; height:100%; pointer-events: auto !important;">
				<canvas id="can1" width="500" height="500"></canvas>

				<div style="position:absolute;bottom:0px;right:300px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:280px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:260px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:240px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:220px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:200px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:180px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:160px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
				<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(1)" style="position:absolute;bottom:0px;right:100px;">	
			</div>
		</div>			
	</div>
	
	<div id="BehavioralModel" class="step slide" data-rel-x="0" data-rel-y="330" data-scale="1" style="z-index:-10;" data-tempstep-number="10">
		
		
		<div style="float:left; width:48%; margin-top:550px; margin-left:10px; font-style:italic; text-align:center;"
			class="tempstep a" data-tempstep-from="2">
			Particles choose a path once at their source<br />which is the fastest in hindsight.
		</div>
		
		<div style="float:right; width:48%; margin-top:550px; margin-right10px; font-style:italic; text-align:center;"
			class="tempstep a" data-tempstep-from="3">
			Particles choose an edge at every node<br />which is on a currently fastest path.
		</div>
		
		<div style="position:relative; clear:both; width:100%; padding-top:20px;">
			<div class="theoremstyle d tempstep a" data-tempstep-from="4">
				The <em>instantaneous travel time</em> at time \(\theta\) on edge \(e\) is $c_e(\theta) \coloneqq \tau_e + \queue_e(\theta)/\nu_e$ 
				<p style="margin-top:0px;" class="tempstep a" data-tempstep-from="6">The <em>instantaneous distance</em> from node $v$ to sink $t$ is $\ell_v(\theta) \coloneqq \begin{cases}0, & \text{if } v=t \\ \min_{e=vw}\{\ell_w(\theta) + c_e(\theta)\}, &\text{else}\end{cases}$</p>
			</div>
			
			<div class="theoremstyle d tempstep a" data-tempstep-from="8">
				A flow over time is an <em>Instantaneous Dynamic Equilibrium (IDE)</em> if the following holds:
				<p class="tempstep a" data-tempstep-from="9" style="margin-top:0px; margin-bottom:0px; margin-left:30px;">$f^+_e(\theta) > 0 \implies \ell_v(\theta) = \ell_w(\theta) + c_e(\theta)$ for all edges  $e = vw \in E$ and times $\theta \in \IR_{\geq 0}$.</p>
				<p class="tempstep a" data-tempstep-from="10" style="margin-top:0px;">(i.e. flow may only enter <em>active edges</em>)</p>
				
			</div>
		</div>
		
		<div class="tempstep a black" data-tempstep-from="5" data-tempstep-classes="4-5:red" style="position:absolute; top:250px; left:900px;">
			$c_{xt}(\theta) = 1+1$
		</div>

		<div class="tempstep a black" data-tempstep-from="7" data-tempstep-classes="6-7:red" style="position:absolute; top:230px; left:600px;">
			$\ell_v(\theta) = 3$
		</div>
		
		<div class="HiddenCanvas" style="position:absolute; right:10px; top:0px; width:600px; height:450px; pointer-events: auto !important;">
				<canvas id="can5" width="600" height="400"></canvas>

				<div style="position:absolute;bottom:0px;right:300px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:280px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:260px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:240px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:220px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:200px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:180px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:160px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
				<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(5)" style="position:absolute;bottom:0px;right:100px;">	
			</div>
	
	</div>
	
	<div id="MainGoals" class="step slide" data-rel-x="0" data-rel-y="540" data-scale="1" style="z-index:-20;" data-tempstep-number="3">
		<h2 class="tempstep a" data-tempstep-from="0" style="margin-top:400px;" >Main Questions of the Talk</h2>
		
		<div class="tempstep a" data-tempstep-from="2" style="float:left; width:49%; margin-left:10px; text-align:left;">
			<strong>Part I: Upper Bound</strong><br />
			Can we compute an IDE flow in finite time?
		</div>
		
		<div class="tempstep a" data-tempstep-from="3" style="float:right; width:49%; margin-right:10px; text-align:right;">
			<strong>Part II: Lower Bound</strong><br />
			How hard is computing an IDE flow?
		</div>
	
	</div>
	
	<div id="Algorithm" class="step slide" data-rel-x="-1500" data-rel-y="0" data-rel-to="MainGoals" data-scale="1" data-tempstep-number="46" data-tempstep-skip="8-10;16-20;25-30;35-40">
		<h2>An Algorithm for Computing IDE Flows</h2>
		
		<div style="float:right; width:49%; margin-right:10px; text-align:left;" class="tempstep a" data-tempstep-from="2">
			<div class="code">
				<span class="keyword">Input:</span> A single-sink network $\mathcal{N} = (G,\tau,\nu,u,t)$ <br />
				<span class="keyword">Output:</span> An IDE flow $f$ in $\mathcal{N}$ <br />
				<span class="numbering">(1)</span> Let $f$ be an IDE flow up to time $\theta = 0$ <br />
				<span class="numbering">(2)</span> <span class="keyword">While</span> not all flow has reached $t$ <span class="keyword">Do</span><br />
				<p class="tempstep a" style="margin:0px;" data-tempstep-until="10" data-tempstep-classes="1-10:red"><span class="numbering">(3)</span> <span class="tab">..</span> Extend $f$</p>
				<p class="tempstep a" style="margin:-35px 0px 0px;" data-tempstep-from="12"><span class="tab">(3) ..</span> Assume all $f_e^{^-}$ constant on $[\theta,\theta+\alpha_0)$</p>
				<p class="tempstep a" style="margin:0px;" data-tempstep-from="13"><span class="numbering">(3)</span> <span class="tab">..</span> Sort nodes s.th. $\ell_{v_1}(\theta) \leq \ell_{v_2}(\theta) \leq \dots$ <br />
				<span class="numbering">(4)</span> <span class="tab">..</span> <span class="keyword">For</span> $i = 1, \dots, n$ <span class="keyword">Do</span> </p>
				<p class="tempstep a" style="margin:0px;" data-tempstep-from="14"><span class="numbering">(5)</span> <span class="tab">....</span> <span class="tempstep" data-tempstep-classes="21-40:red">Find constant IDE extension of $f$ at $v_i$</span><br />
				<span class="tab">(5) ....</span> <span class="tempstep" data-tempstep-classes="41-43:red">for some $[\theta,\theta+\alpha_i]$ with $\alpha_i \gt 0$</span></p>
				<p class="tempstep a" style="margin:0px;" data-tempstep-from="15"><span class="numbering">(6)</span> <span class="tab">..</span> Extend $f$ up to $\theta \coloneqq \theta+\min\Set{\alpha_i}$</p>
			</div>
			
		</div>

		<svg width="150" height="100" style="display:block; position:absolute; top:200px; left:-70px;" viewbox="0 0 150 100"
			class="tempstep a" data-tempstep-from="2">
			<defs>
				<marker id='headGraph' orient='auto' markerWidth='4' markerHeight='4' refX='1.5' refY='1.5'>
					<path d='M0,0 V3 L3,1.5 Z' fill='black' />
				</marker>
			</defs>    
					
			<!-- axes -->
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l0,-85' />
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l120,0' />
				<svg class="TeXinSVG" x="130" y="75" color="black"><text>\theta</text></svg>
				
			<!-- inflow -->
				<path stroke-width='3' stroke='DodgerBlue'  d='M5,30 l10,0 m0,40 l100,0' />
				<svg class="TeXinSVG" x="40" y="30" style="color:DodgerBlue"><text>u_v</text></svg>	
					
			<!-- time -->
				<path stroke-width='90' stroke='Gray'  d='M15,45 l100,0' class="tempstep timebar" data-tempstep-classes="5:AtimeB1;6:AtimeB2;7-100:AtimeB3"  />
		</svg>
		
		<svg width="150" height="100" style="display:block; position:absolute; top:350px; left:-70px;" viewbox="0 0 150 100"
			class="tempstep a" data-tempstep-from="2">
			<defs>
				<marker id='headGraph' orient='auto' markerWidth='4' markerHeight='4' refX='1.5' refY='1.5'>
					<path d='M0,0 V3 L3,1.5 Z' fill='black' />
				</marker>
			</defs>    
					
			<!-- axes -->
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l0,-85' />
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l120,0' />
				<svg class="TeXinSVG" x="130" y="75" color="black"><text>\theta</text></svg>
				
			<!-- inflow -->
				<path stroke-width='3' stroke='DodgerBlue'  d='M5,10 l10,0 m0,80 l100,0' />
				<svg class="TeXinSVG" x="40" y="50" style="color:DodgerBlue"><text>u_w</text></svg>	
					
			<!-- time -->
				<path stroke-width='90' stroke='Gray'  d='M15,45 l100,0' class="tempstep timebar" data-tempstep-classes="5:AtimeB1;6:AtimeB2;7-100:AtimeB3"  />
		</svg>
		
		<svg width="500" height="500" style="display:block; position:absolute; left:10px; top:30px; transform:scale(.8,.8);" viewbox="0 0 500 500" class="tempstep a" data-tempstep-from="2">
			<defs>
				<marker id='headSmall' orient='auto' markerWidth='8' markerHeight='8' refX='12' refY='4'>
					<path d='M0,0 V8 L8,4 Z' fill='black' />
				</marker>
				<marker id='head' orient='auto' markerWidth='4' markerHeight='4' refX='3.5' refY='1.5'>
					<path d='M0,0 V3 L3,1.5 Z' fill='black' />
				</marker>
				<marker id='headF' orient='auto' markerWidth='2' markerHeight='2' refX='.1' refY='1'>
					<path d='M0,0 V2 L2,1 Z' fill='DodgerBlue' />
				</marker>
			</defs>    
				
			<!-- edges -->
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,250 l0,-200' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,50 l200,0' />  
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M250,50 l200,0' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M450,50 l0,200' />
				
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,250 l200,0' />  
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M250,250 l200,0' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,250 l200,200' />
				
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,450 l200,0' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M250,450 l0,-200' />
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M250,450 l200,0' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M450,450 l0,-200' />
				
			<!-- flow -->
				
				<path stroke-width='45' d='M50,250 l200,0' 
					class="flow tempstep a" data-tempstep-classes="1-4:Ae1a1;5:Ae1a2;6-100:Ae1a3;" />
				<path stroke-width='15' d='M50,250 l200,0' 
					class="flow tempstep a" data-tempstep-classes="7-100:Ae1a1;" />
				<path stroke-width='15' d='M250,250 l200,0' 
					class="flow tempstep a" data-tempstep-classes="1-4:Ae2a1;5-100:Ae2a2" />
				<path stroke-width='15' d='M50,250 l200,200' 
					class="flow tempstep a" data-tempstep-classes="5:Ae3a2;6:Ae3a3;7-100:Ae3a4" />
				<path stroke-width='60' d='M50,450 l200,0' 
					class="flow tempstep a" data-tempstep-classes="1-4:Ae4a1;5:Ae4a2;6-100:Ae4a3" />
				<path stroke-width='15' d='M250,450 l200,0' 
					class="flow tempstep a" data-tempstep-classes="6-100:Ae5a3" />
				
					
			<!-- queues -->
			
				<path stroke-width='60' stroke='blue' d='M290,240 V-120' 
					class="flow tempstep a" data-tempstep-classes="1-4:Aqa1;5:Aqa2;6:Aqa3;7-100:Aqa2" />
				<path stroke-width='60' stroke='blue' d='M290,440 V-120' 
					class="flow tempstep a" data-tempstep-classes="6-100:Aqa2;" />

				
			<!--vertices-->
				<circle class="nodeBig" cx="50" cy="250" r="25" />
				<svg class="TeXinSVG node-text" x="45" y="240"><text>v</text></svg>
				
				<circle class="nodeBig" cx="50" cy="450" r="25" />
				<svg class="TeXinSVG node-text" x="45" y="440"><text>w</text></svg>
				
				<circle class="nodeBig" cx="450" cy="250" r="25" />
				<svg class="TeXinSVG node-text" x="445" y="240"><text>t</text></svg>
				
				<circle class="nodeBig" cx="50" cy="50" r="25" />
				<circle class="nodeBig" cx="250" cy="50" r="25" />
				<circle class="nodeBig" cx="450" cy="50" r="25" />
				<circle class="nodeBig" cx="250" cy="250" r="25" />
				<svg class="TeXinSVG node-text" x="245" y="240"><text>x</text></svg>
				<circle class="nodeBig" cx="250" cy="450" r="25" />
				<circle class="nodeBig" cx="450" cy="450" r="25" />
		</svg>	
		
		
		<div class="HiddenCanvas" style="float:left; position:relative; width:49%; height:370px; pointer-events: auto !important;">
			<canvas id="can2" width="500" height="350"></canvas>

			<div style="position:absolute;bottom:0px;right:300px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
			<div style="position:absolute;bottom:0px;right:280px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
			<div style="position:absolute;bottom:0px;right:260px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
			<div style="position:absolute;bottom:0px;right:240px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
			<div style="position:absolute;bottom:0px;right:220px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
			<div style="position:absolute;bottom:0px;right:200px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
			<div style="position:absolute;bottom:0px;right:180px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
			<div style="position:absolute;bottom:0px;right:160px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
			<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(2)" style="position:absolute;bottom:0px;right:100px;">	
		</div>
				
		<div class="theoremstyle l tempstep a" data-tempstep-from="22" style="clear:both; margin-top:0px; margin-bottom:10px;">
			We can compute a maximal constant extension at a single node in polynomial time.
		</div>
		
		<div class="proofstyle tempstep a" data-tempstep-from="3" data-tempstep-classes="1-22:noProof;1-43:noQED">
			<div class="tempstep a" data-tempstep-from="24" style="position:absolute; right:0px; width:500px; text-align:center;">
				&rarr; Waterfilling algorithm:
				<svg width="220" height="120" style="display:block; position:absolute; top:40px; left:0px;" viewbox="0 0 220 120"
					class="tempstep" data-tempstep-from="5">
					<defs>
						<marker id='headGraph' orient='auto' markerWidth='4' markerHeight='4' refX='1.5' refY='1.5'>
							<path d='M0,0 V3 L3,1.5 Z' fill='black' />
						</marker>
					</defs>    
							
					<!-- axes -->
						<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l0,-85' />
						<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l210,0' />
						<path stroke-width='3' stroke='black'  d='M45,85 l0,10' />
						<svg class="TeXinSVG" x="40" y="100" color="black"><text>\tiny 1</text></svg>
						<path stroke-width='3' stroke='black'  d='M85,85 l0,10' />
						<svg class="TeXinSVG" x="80" y="100" color="black"><text>\tiny 2</text></svg>
						<path stroke-width='3' stroke='black'  d='M125,85 l0,10' />
						<svg class="TeXinSVG" x="120" y="100" color="black"><text>\tiny 3</text></svg>
						<path stroke-width='3' stroke='black'  d='M165,85 l0,10' />
						<svg class="TeXinSVG" x="160" y="100" color="black"><text>\tiny 4</text></svg>
						<path stroke-width='3' stroke='black'  d='M205,85 l0,10' />
						<svg class="TeXinSVG" x="200" y="100" color="black"><text>\tiny 5</text></svg>
						
					<!-- graph -->
						<path stroke-width='3' stroke='Red' fill='none' d='M5,80 l40,0 l100,-80' />

					<!-- amount -->
						<path stroke-width='90' stroke='DodgerBlue'  d='M5,45 l220,0' class="tempstep timebar" data-tempstep-classes="32:Atime1;33-100:Atime25;"  />
				</svg>					
				
				<svg width="220" height="120" style="display:block; position:absolute; top:40px; right:0px;" viewbox="0 0 220 120"
					class="tempstep" data-tempstep-from="5">
					<defs>
						<marker id='headGraph' orient='auto' markerWidth='4' markerHeight='4' refX='1.5' refY='1.5'>
							<path d='M0,0 V3 L3,1.5 Z' fill='black' />
						</marker>
					</defs>    
							
					<!-- axes -->
						<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l0,-85' />
						<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l210,0' />
						<path stroke-width='3' stroke='black'  d='M45,85 l0,10' />
						<svg class="TeXinSVG" x="40" y="100" color="black"><text>\tiny 1</text></svg>
						<path stroke-width='3' stroke='black'  d='M85,85 l0,10' />
						<svg class="TeXinSVG" x="80" y="100" color="black"><text>\tiny 2</text></svg>
						<path stroke-width='3' stroke='black'  d='M125,85 l0,10' />
						<svg class="TeXinSVG" x="120" y="100" color="black"><text>\tiny 3</text></svg>
						<path stroke-width='3' stroke='black'  d='M165,85 l0,10' />
						<svg class="TeXinSVG" x="160" y="100" color="black"><text>\tiny 4</text></svg>
						<path stroke-width='3' stroke='black'  d='M205,85 l0,10' />
						<svg class="TeXinSVG" x="200" y="100" color="black"><text>\tiny 5</text></svg>
						
					<!-- graph -->
						<path stroke-width='3' stroke='Red' fill='none' d='M5,80 l200,-80' />

					<!-- amount -->
						<path stroke-width='90' stroke='DodgerBlue'  d='M5,45 l220,0' class="tempstep timebar" data-tempstep-classes="33-100:Atime3;"  />
				</svg>					
				
				<svg width="220" height="120" style="display:block; position:absolute; top:160px; left:0px;" viewbox="0 0 220 120"
					class="tempstep" data-tempstep-from="5">
					<defs>
						<marker id='headGraph' orient='auto' markerWidth='4' markerHeight='4' refX='1.5' refY='1.5'>
							<path d='M0,0 V3 L3,1.5 Z' fill='black' />
						</marker>
					</defs>    
							
					<!-- axes -->
						<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l0,-85' />
						<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l210,0' />
						<path stroke-width='3' stroke='black'  d='M45,85 l0,10' />
						<svg class="TeXinSVG" x="40" y="100" color="black"><text>\tiny 1</text></svg>
						<path stroke-width='3' stroke='black'  d='M85,85 l0,10' />
						<svg class="TeXinSVG" x="80" y="100" color="black"><text>\tiny 2</text></svg>
						<path stroke-width='3' stroke='black'  d='M125,85 l0,10' />
						<svg class="TeXinSVG" x="120" y="100" color="black"><text>\tiny 3</text></svg>
						<path stroke-width='3' stroke='black'  d='M165,85 l0,10' />
						<svg class="TeXinSVG" x="160" y="100" color="black"><text>\tiny 4</text></svg>
						<path stroke-width='3' stroke='black'  d='M205,85 l0,10' />
						<svg class="TeXinSVG" x="200" y="100" color="black"><text>\tiny 5</text></svg>
						
					<!-- graph -->
						<path stroke-width='3' stroke='Red' fill='none' d='M5,40 l80,0 l120,-20' />

					<!-- amount -->
						<path stroke-width='90' stroke='DodgerBlue'  d='M5,45 l220,0' class="tempstep timebar" data-tempstep-classes="34-100:Atime15;"  />
				</svg>	

				<div class="tempstep a" data-tempstep-from="31" style="position:absolute; top:160px; right:0px; width:220px;">
					Distribute outflow from $v$:
				</div>
				<div class="tempstep a" data-tempstep-list="31" style="position:absolute; top:230px; right:0px; width:220px;">
					Remaining: 7<span class="tab">.0</span>
				</div>
				<div class="tempstep a" data-tempstep-list="32" style="position:absolute; top:230px; right:0px; width:220px;">
					Remaining: 6<span class="tab">.0</span>
				</div>
				<div class="tempstep a" data-tempstep-list="33" style="position:absolute; top:230px; right:0px; width:220px;">
					Remaining: 1.5
				</div>
				<div class="tempstep a" data-tempstep-from="34" style="position:absolute; top:230px; right:0px; width:220px;">
					Remaining: 0<span class="tab">.0</span>
				</div>


			</div>
				
			Distribute to (currently) active edges $vw$ s.th.: <br />
			<div class="tempstep a" data-tempstep-until="3">
				$f^+_{vw}(\theta) > 0 \implies \phantom{\rDeriv}\ell_{v}(\theta) = \phantom{\rDeriv} c_{vw}(\theta) + \phantom{\rDeriv}\ell_{w}(\theta)$ <br />
				$f^+_{vw}(\theta) = 0 \implies \phantom{\rDeriv}\ell_{v}(\theta) \leq \phantom{\rDeriv} c_{vw}(\theta) + \phantom{\rDeriv}\ell_{w}(\theta)$
			</div>
			<div class="tempstep a" data-tempstep-from="4" style="margin-top:-72px;">
				$f^+_{vw}(\theta) > 0 \implies \rDeriv\ell_{v}(\theta) = \rDeriv c_{vw}(\theta) + \rDeriv\ell_{w}(\theta)$ <br />
				$f^+_{vw}(\theta) = 0 \implies \rDeriv\ell_{v}(\theta) \leq \rDeriv c_{vw}(\theta) + \rDeriv\ell_{w}(\theta)$
			</div>
			
			<div class="tempstep a" data-tempstep-from="41">The set of active edges may change if</div>
			<ul style="margin:0px;">
				<li class="tempstep a" data-tempstep-from="42">an edge becomes newly active or</li>
				<li class="tempstep a" data-tempstep-from="43">the queue of an active edge runs empty.</li>
			</ul>			
			<div class="tempstep a" data-tempstep-from="44">$\implies \alpha_i > 0$.</div>
		</div>		
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="45" style="margin-top:20px;">
			In single-sink networks with finitely lasting network inflow rates all IDE flows terminate within finite time.
		</div>

		
		<div class="theoremstyle g tempstep a" data-tempstep-from="46"  style="margin-top:-15px;">
			Show that a finite number of phases suffices.
		</div>
	</div>
	
	<div id="AlgorithmAcyclic" class="step slide" data-rel-x="0" data-rel-y="1000" data-scale="1" data-tempstep-number="32" data-tempstep-skip="6-10;16-20;28-30">
		<h2>Acyclic Networks</h2>


		<div class="tempstep a" data-tempstep-until="2" style="position:absolute; right:10px; top:100px; width:49%; text-align:left;">
			<div class="code">
				<span class="keyword">Input:</span> An <span class="tempstep" data-tempstep-classes="1:red">acyclic</span> single-sink network $\mathcal{N}$ <br />
				<span class="keyword">Output:</span> An IDE flow $f$ in $\mathcal{N}$ <br />
				<span class="numbering">(1)</span> Let $f$ be an IDE flow up to time $\theta = 0$ <br />
				<span class="numbering">(2)</span> <span class="keyword">While</span> not all flow has reached $t$ <span class="keyword">Do</span><br />
				<span class="numbering">(3)</span> <span class="tab">..</span> <span class="tempstep" data-tempstep-classes="2-3:red">Sort nodes s.th. $\ell_{v_1}(\theta) \leq \ell_{v_2}(\theta) \leq \dots$</span> <br />
				<span class="numbering">(4)</span> <span class="tab">..</span> <span class="keyword">For</span> $i = 1, \dots, n$ <span class="keyword">Do</span> <br />
				<span class="numbering">(5)</span> <span class="tab">....</span> Find constant IDE extension of $f$ at $v_i$<br />
				<span class="tab">(5) ....</span> for some $[\theta,\theta+\alpha_i]$ <br />
				<span class="numbering">(6)</span> <span class="tab">..</span> Extend $f$ up to $\theta \coloneqq \theta\,+\,\min\Set{\alpha_i}$<br />
			</div>
		</div>

		<div class="tempstep a" data-tempstep-list="3-4" style="position:absolute; right:10px; top:100px; width:49%; text-align:left;">
			<div class="code">
				<span class="keyword">Input:</span> An acyclic single-sink network $\mathcal{N}$ <br />
				<span class="keyword">Output:</span> An IDE flow $f$ in $\mathcal{N}$ <br />
				<span class="numbering">(1)</span> Let $f$ be an IDE flow up to time $\theta = 0$ <br />
				<span class="numbering">(2)</span> <span class="tempstep" data-tempstep-classes="2-3:red">Fix some topological order $v_1 \lt v_2 \lt \dots$</span><br />
				<span class="numbering">(3)</span> <span class="keyword">While</span> not all flow has reached $t$ <span class="keyword">Do</span><br />
				<span class="numbering">(4)</span> <span class="tab">..</span> <span class="keyword">For</span> $i = 1, \dots, n$ <span class="keyword">Do</span> <br />
				<span class="numbering">(5)</span> <span class="tab">....</span> <span class="tempstep" data-tempstep-classes="4-5:red">Find constant IDE extension of $f$ at $v_i$<br />
				<span class="tab">(5) ....</span> for some $[\theta,\theta+\alpha_i]$</span>  <br />
				<span class="numbering">(6)</span> <span class="tab">..</span> Extend $f$ up to $\theta \coloneqq \theta\,\,+$<span class="tempstep" data-tempstep-classes="4-5:red">$\,\,\min\Set{\alpha_i}$</span><br />
			</div>
		</div>

		<div class="tempstep a" data-tempstep-list="5-20" style="position:absolute; right:10px; top:100px; width:49%; text-align:left;">
			<div class="code">
				<span class="keyword">Input:</span> An acyclic single-sink network $\mathcal{N}$ <br />
				<span class="keyword">Output:</span> An IDE flow $f$ in $\mathcal{N}$ <br />
				<span class="numbering">(1)</span> Let $f$ be an IDE flow up to time $\theta = 0$ <br />
				<span class="numbering">(2)</span> Fix some topological order $v_1 \lt v_2 \lt \dots$<br />
				<span class="numbering">(3)</span> <span class="keyword">While</span> not all flow has reached $t$ <span class="keyword">Do</span><br />
				<span class="numbering">(4)</span> <span class="tab">..</span> <span class="keyword">For</span> $i = 1, \dots, n$ <span class="keyword">Do</span> <br />
				<span class="numbering">(5)</span> <span class="tab">....</span> <span class="tempstep" data-tempstep-classes="4-15:red">Find piecewise constant IDE extension<br />
				<span class="tab">(5) ....</span> of $f$ at $v_i$ for $[\theta,\theta+1]$</span> <br />
				<span class="numbering">(6)</span> <span class="tab">..</span> Extend $f$ up to $\theta \coloneqq \theta\,\,+$<span class="tempstep" data-tempstep-classes="4-5:red">$\,\,1$</span><br />
			</div>
		</div>
		
		<div class="tempstep a" data-tempstep-from="21" style="position:absolute; right:10px; top:100px; width:49%; text-align:left;">
			<svg width="600" height="360" style="display:block; position:relative; right:0px; top:0px;" viewbox="0 0 600 360">
				<defs>
					<marker id='headGraph' orient='auto' markerWidth='4' markerHeight='4' refX='1.5' refY='1.5'>
						<path d='M0,0 V3 L3,1.5 Z' fill='black' />
					</marker>
				</defs>    
				
					<path class="tempstep ACgraph" data-tempstep-classes="23:ACgraphG1;24:ACgraphG2;25:ACgraphG3;26:ACgraphG4;27-100:ACgraphG5" 
						stroke-width='5' fill='none' stroke='green' d='M10,80 l200,90 l100,25 l250,-150' />
					<path class="tempstep ACgraph" data-tempstep-classes="23:ACgraphP1;24:ACgraphP2;25:ACgraphP3;26:ACgraphP4;27-100:ACgraphP5"
						stroke-width='5' fill='none' stroke='purple' d='M10,100 l200,30 l180,-115' />
					<path class="tempstep ACgraph" data-tempstep-classes="23:ACgraphR1;24:ACgraphR2;25:ACgraphR3;26:ACgraphR4;27-100:ACgraphR5" 
						stroke-width='5' fill='none' stroke='red' d='M10,195 l100,0 l100,-25 l150,0 l200,-50' />
					<path class="tempstep ACgraph" data-tempstep-classes="23:ACgraphO1;24:ACgraphO2;25:ACgraphO3;26:ACgraphO4;27-100:ACgraphO5" 
						stroke-width='5' fill='none' stroke='orange' d='M10,250 l100,-50 l100,-25 l100,25 l50,-25 l200,-50' />
					
					<path class="tempstep a" data-tempstep-from="23" style="transition-delay:2s;" stroke-width='3' stroke='gray' stroke-dasharray='4,6' d='M110,340 l0,-330' />
					<path class="tempstep a" data-tempstep-from="24" style="transition-delay:2s;" stroke-width='3' stroke='gray' stroke-dasharray='4,6' d='M210,340 l0,-330' />
					<path class="tempstep a" data-tempstep-from="25" style="transition-delay:2s;" stroke-width='3' stroke='gray' stroke-dasharray='4,6' d='M310,340 l0,-330' />
					<path class="tempstep a" data-tempstep-from="26" style="transition-delay:2s;" stroke-width='3' stroke='gray' stroke-dasharray='4,6' d='M360,340 l0,-330' />
						
				<!-- axes -->
					<path marker-end='url(#headGraph)' stroke-width='5' stroke='black'  d='M10,310 l0,-300' />
					<path marker-end='url(#headGraph)' stroke-width='5' stroke='black'  d='M10,310 l550,0' />
			</svg>
			
			<div class="tempstep a" data-tempstep-from="22">
				$h_i: [\theta_1, \theta_2] \to \IR_{\geq 0}, \theta \mapsto \tau_{vw_i}+\frac{\queue_{vw_i}(\theta)}{\nu_{vw_i}} + \ell_{w_i}(\theta)$
			</div>
		</div>
		
		<div class="tempstep a" data-tempstep-from="11">
		<svg width="500" height="550" style="display:block; position:absolute; left:10px; top:70px;" viewbox="0 0 500 550">
			<defs>
				<marker id='headSmall' orient='auto' markerWidth='8' markerHeight='8' refX='12' refY='4'>
					<path d='M0,0 V8 L8,4 Z' fill='black' />
				</marker>
				<marker id='head' orient='auto' markerWidth='4' markerHeight='4' refX='3.5' refY='1.5'>
					<path d='M0,0 V3 L3,1.5 Z' fill='black' />
				</marker>
				<marker id='headF' orient='auto' markerWidth='2' markerHeight='2' refX='.1' refY='1'>
					<path d='M0,0 V2 L2,1 Z' fill='DodgerBlue' />
				</marker>
			</defs>    
				
			<!-- edges -->
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M25,275 l75,0' />
				
				<path marker-end='url(#head)' stroke-width='10' stroke='black'  d='M100,275 l200,-225' />
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M100,275 l200,-75' />  
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M100,275 l200,75' />  
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M100,275 l200,225' />  
				
			<!-- flow -->
				
				<path stroke-width='45' d='M05,275 l100,0' 
					class="flow tempstep a" data-tempstep-from="13" data-tempstep-classes="1-100:ACef" />
					
				<path stroke-width='50' d='M100,275 l200,-225'
					class="flow g tempstep a" data-tempstep-classes="1-22:ACeaf;23-25:ACef;26:ACedvf;27-100:ACehf" />
				<path stroke-width='5' d='M100,275 l200,-75' 
					class="flow p tempstep a" data-tempstep-classes="1-24:ACef;25:ACedvf;26:ACehf;27-100:ACeevf" />
				<path stroke-width='5' d='M100,275 l200,75' 
					class="flow r tempstep a" data-tempstep-classes="1-100:ACef" />
				<path stroke-width='10' d='M100,275 l200,225' 
					class="flow o tempstep a" data-tempstep-classes="1-100:ACef" />
				
					
			<!-- queues -->
			
				<path stroke-width='60' d='M115,220 l-45,-40' 
					class="flow g tempstep a" data-tempstep-classes="1-22:ACq5;23:ACq3;24:ACq1;" />
				<path stroke-width='60' d='M150,253 l-15,-40' 
					class="flow p tempstep a" data-tempstep-classes="1-22:ACq1;23:ACq05" />
				<path stroke-width='60' d='M155,292 l15,-40' 
					class="flow r tempstep a" data-tempstep-classes="1-22:ACq2;23:ACq1;24:ACq2;25:ACq1;26:ACq05;27-100:ACq15;" />
				<path stroke-width='60' d='M147,320 l45,-40' 
					class="flow o tempstep a" data-tempstep-classes="1-22:ACq05;23:ACq2;24:ACq3;25:ACq15;26:ACq3;27-100:ACq4;" />

				
			<!--vertices-->
				<circle class="nodeBig" cx="100" cy="275" r="25" />
				<svg class="TeXinSVG node-text" x="95" y="265"><text>v</text></svg>
				
				<circle class="nodeBig" cx="300" cy="50" r="25" />
				<svg class="TeXinSVG node-text" x="285" y="40" style="color:green;"><text>w_1</text></svg>
				<circle class="nodeBig" cx="300" cy="200" r="25" />
				<svg class="TeXinSVG node-text" x="285" y="190" style="color:purple;"><text>w_2</text></svg>
				<circle class="nodeBig" cx="300" cy="350" r="25" />
				<svg class="TeXinSVG node-text" x="285" y="340" style="color:red;"><text>w_3</text></svg>
				<circle class="nodeBig" cx="300" cy="500" r="25" />
				<svg class="TeXinSVG node-text" x="285" y="490" style="color:orange;"><text>w_4</text></svg>

		</svg>	
		
		<div class="tempstep a" data-tempstep-from="14">			
		<svg width="150" height="100" style="display:block; position:absolute; left:400px; top:100px;" viewbox="0 0 150 100">
				<path stroke-width='3' fill='none' stroke='green' d='M5,30 l100,-20' />
				<svg class="TeXinSVG" x="70" y="40" style="color:green;"><text>\ell_{w_1}</text></svg>
			<!-- axes -->
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l0,-90' />
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l140,0' />
		</svg>
		<svg width="150" height="100" style="display:block; position:absolute; left:400px; top:220px;" viewbox="0 0 150 100">
				<path stroke-width='3' fill='none' stroke='purple' d='M5,45 l80,-40' />
				<svg class="TeXinSVG" x="70" y="40" style="color:purple;"><text>\ell_{w_2}</text></svg>
			<!-- axes -->
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l0,-90' />
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l140,0' />
		</svg>
		<svg width="150" height="100" style="display:block; position:absolute; left:400px; top:380px;" viewbox="0 0 150 100">
				<path stroke-width='3' fill='none' stroke='red' d='M5,60 l130,-20' />
				<svg class="TeXinSVG" x="70" y="50" style="color:red;"><text>\ell_{w_3}</text></svg>
			<!-- axes -->
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l0,-90' />
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l140,0' />
		</svg>
		<svg width="150" height="100" style="display:block; position:absolute; left:400px; top:500px;" viewbox="0 0 150 100">
				<path stroke-width='3' fill='none' stroke='orange' d='M5,75 l130,15' />
				<svg class="TeXinSVG" x="70" y="40" style="color:orange;"><text>\ell_{w_4}</text></svg>
			<!-- axes -->
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l0,-90' />
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l140,0' />
		</svg>
		</div>
		
		<div class="HiddenCanvas" style="position:absolute; top:100px; left:0px; width:100%; height:500px; pointer-events: auto !important;">
			<canvas id="can3" width="1100" height="450"></canvas>

			<div style="position:absolute;bottom:0px;right:300px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
			<div style="position:absolute;bottom:0px;right:280px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
			<div style="position:absolute;bottom:0px;right:260px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
			<div style="position:absolute;bottom:0px;right:240px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
			<div style="position:absolute;bottom:0px;right:220px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
			<div style="position:absolute;bottom:0px;right:200px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
			<div style="position:absolute;bottom:0px;right:180px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
			<div style="position:absolute;bottom:0px;right:160px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
			<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(3)" style="position:absolute;bottom:0px;right:100px;">	
		</div>	
		</div>
		
		<div class="theoremstyle l tempstep a" data-tempstep-from="11" style="clear:both; margin-top:530px;">
			Given a node $v$ and an IDE $f$ up to $\theta_1$, <span class="tempstep a" data-tempstep-from="12">extended to an IDE up to $\theta_2 > \theta_1$ for all nodes closer to $t$ than $v$,</span> <span class="tempstep a" data-tempstep-from="13">s.th.</span>
			<ul style="margin:0px;">
				<li class="tempstep a" data-tempstep-from="13">the inflow into node $v$ is constant over $[\theta_1,\theta_2]$ and</li>
				<li class="tempstep a" data-tempstep-from="14">the labels at all nodes closer to $t$ thant $v$ are linear.</li>
			</ul>
			<div class="tempstep a" data-tempstep-from="15">
				Than we can extend $f$ at $v$ to an IDE up to time $\theta_2$ in a finite number of subphases.
			</div>
		</div>
		
<!--		<div class="proofstyle">
			Define $h_i: [\theta_1, \theta_2] \to \IR_{\geq 0}, \theta \mapsto \tau_{vw_i}+\frac{\queue_{vw_i}(\theta)}{\nu_{vw_i}} + \ell_{w_i}(\theta)$ for all edges $vw_i$.
			<ul style="margin:0px;">
				<li>$vw_i$ is active at $\theta \iff h_i(\theta) = \min\Set{h_j(\theta)}$</li>
				<li>For inactive edges, the graph of $h_i$ is convex.</li>
				<li>A new subphase starts if and only if ...</li>
				<li>Finitely many possible slopes</li>
				<li>The lowest possible slope may not appear to often</li>
				<li>During fixed slope only finitely many phases.</li>
			</ul>
		</div>-->
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="31">
			For acyclic networks the above algorithm constructs an IDE flow in finite time. 
			<p style="margin:0px;" class="tempstep a" data-tempstep-from="32">(in at most $\bigO\left(P(2(\Delta+1)^{4^\Delta+1})^{T\abs{V}}\right)$ sub-phases)</p>
		</div>
	</div>
	
	<div id="AlgorithmGeneral" class="step slide" data-rel-x="0" data-rel-y="1000" data-scale="1" data-tempstep-number="15">
		<h2>General Networks</h2>
	
	
		<div class="theoremstyle o tempstep a" data-tempstep-from="2">
			We only need the network to be acyclic for the fixed topological order. 
			<p style="margin:0px;" class="tempstep a" data-tempstep-from="3">The subgraph of active edges is always acyclic.</p>
		</div>
		
		<div class="theoremstyle g tempstep a" data-tempstep-from="4">
			For general networks: Show that we only need to change the topological order a finite number of times.
		</div>
		
		<div class="tempstep a" data-tempstep-from="5">
			Define <em>lazy set of active edges</em> $\tilde{E}$, where
			<ul style="margin:0px;">
				<li class="tempstep a" data-tempstep-from="6">we add edges whenever they become active (i.e. edge $vw$ when $\ell_v(\theta) = \ell_w(\theta) + c_{vw}(\theta)$)</li>
				<li class="tempstep a" data-tempstep-from="7">we remove edges when $\tilde{E}$ contains a cycle (remove "worst offender", i.e. edge $vw$ with maximal $\ell_w(\theta) - \ell_{v}(\theta)$)</li>
			</ul>
		</div>
		
		<div class="theoremstyle o tempstep a" style="margin-top:20px;" data-tempstep-from="8">
			$\tilde{E}$ is always acyclic and contains all active edges.
			<p class="tempstep a" data-tempstep-from="9" style="margin:0px;">&nbsp; $\implies$ Algorithm may use a topological order w.r.t. $\tilde{E}$</p>
		</div>
		
		<div class="theoremstyle l tempstep a" data-tempstep-from="10">
			For any network there exists a constant $C$: $\tilde{E}$ can change at most $\abs{E}$ time during any interval of length $C$.
		</div>
		
		<div class="proofstyle tempstep a" data-tempstep-from="11">
			There is a (flow independend!) bound $L$ on the maximum rate of change for all label functions $\ell_v$.
			<ul style="margin:0px;">
				<li class="tempstep a" data-tempstep-from="12">When $vw$ is added we have $\ell_v(\theta) = \ell_w(\theta) + c_{vw}(\theta) \geq \ell_w(\theta) + 1$</li>
				<li class="tempstep a" data-tempstep-from="13">When $vw$ is removed we have $\ell_v(\theta) \leq \ell_w(\theta)$</li>
			</ul>
		</div>
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="14">
			For general single-sink networks the extension algorithm computes an IDE flow in finite time. 
			<p style="margin:0px;"  class="tempstep a" data-tempstep-from="15">(in at most $\bigO\left(P(2(\Delta+1)^{4^\Delta+1})^{T\abs{V}\cdot \abs{E}/C}\right)$ phases)</p>
		</div>
	</div>
	
	
	<div id="MainGoals2" class="step slide" data-rel-x="0" data-rel-y="0" data-rel-to="MainGoals" data-scale="1" style="z-index:-1000" data-tempstep-number="2">
		<div class="tempstep a" data-tempstep-from="2" style="position:absolute; left:10px; top:600px;">
			<img src="images/Yes.png" width="20" /> Yes, in at most $\bigO\left(P(2(\Delta+1)^{4^\Delta+1})^{T\abs{V}\cdot \abs{E}/C}\right)$ phases.
		</div>
	</div>
	
		
	<div id="OutputComplexity" class="step slide" data-rel-x="1500" data-rel-y="0" data-rel-to="MainGoals" data-scale="1" data-tempstep-number="35" data-tempstep-skip="4-10;19-30">
		<h2>Output Complexity</h2>
		
		<div style="position:absolute; left:780px; top: 300px; width:400px;">
			<ul>
				<li class="tempstep a" data-tempstep-from="3">Instance of size $\bigO(\log U)$</li>
				<li class="tempstep a" data-tempstep-from="31">IDE has $\Omega(U)$ phases<br />
					<span  class="tempstep a" data-tempstep-from="32">(non-periodic!)</span></li>
				<li class="tempstep a" data-tempstep-from="33">Arbitrarily small extension phases</li>
		</div>
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="34" style="position:absolute; left:10px; top: 700px;">
			The number of phases of an IDE flow can be exponential in the encoding size of the network.
		</div>
		
		<div class="theoremstyle o tempstep a" data-tempstep-from="35" style="position:absolute; left:10px; top: 750px;">
			IDE flows with forever lasting network inflow rates may never reach a steady state.
		</div>
		
		<div class="tempstep a" data-tempstep-from="2" style="position:absolute; width:750px; height:600px; top:70px; left:0px;">
			<svg width="290" height="120" style="display:block; position:absolute; top:50px; left:30px;" viewbox="-15 0 290 120">
				<defs>

				</defs>    
						
				<!-- axes -->
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l0,-85' />
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l250,0' />
					<svg class="TeXinSVG" x="260" y="75" color="black"><text>\theta</text></svg>
					<path stroke-width='3' stroke='black'  d='M235,85 l0,10' />
					<svg class="TeXinSVG" x="225" y="95" color="black"><text>\small U</text></svg>
					<svg class="TeXinSVG" x="-15" y="5" color="black"><text>\small 2</text></svg>
					
				<!-- inflow -->
					<path stroke-width='3' stroke='DodgerBlue'  d='M5,20 l230,0' />
					<svg class="TeXinSVG" x="100" y="50" style="color:DodgerBlue"><text>u_s</text></svg>		

				<!-- time -->
					<path stroke-width='90' stroke='Gray'  d='M5,45 l120,0' stroke-dasharray='0,0,3,1000' class="tempstep timebar" data-tempstep-classes="11:OCtime1;12:OCtime2;13:OCtime3;14:OCtime4;15:OCtime5;16:OCtime6;17:OCtime7;18-100:OCtime8" />
			</svg>	
			
			<svg width="290" height="140" style="display:block; position:absolute; top:260px; left:460px;" viewbox="-15 -20 290 120">
				<defs>

				</defs>    
						
				<!-- axes -->
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l0,-100' />
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l250,0' />
					<svg class="TeXinSVG" x="260" y="75" color="black"><text>\theta</text></svg>
					<svg class="TeXinSVG" x="-15" y="-15" color="black"><text>\small 3</text></svg>
					<path stroke-width='2' stroke='gray' stroke-dasharray='4,6' d='M5,00 l250,0' />
					
				<!-- inflow -->
					<path stroke-width='3' stroke='DodgerBlue' fill='none' d='M5,90 l20,0 l40,-60 l30,45 l40,-60 l35,52.5 l40,-60 l20,30' 
						class="tempstep OCgraph" data-tempstep-classes="11:OCgraph1;12:OCgraph2;13:OCgraph3;14:OCgraph4;15:OCgraph5;16:OCgraph6;17:OCgraph7;18-100:OCgraph8" />
					<svg class="TeXinSVG" x="110" y="50" style="color:DodgerBlue"><text>\queue_{vt}</text></svg>		

			</svg>	
			
			<svg width="290" height="120" style="display:block; position:absolute; top:450px; left:150px;" viewbox="-15 0 290 120">
				<defs>

				</defs>    
						
				<!-- axes -->
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l0,-85' />
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l250,0' />
					<svg class="TeXinSVG" x="260" y="75" color="black"><text>\theta</text></svg>
					<svg class="TeXinSVG" x="-15" y="15" color="black"><text>\small 2</text></svg>
					<path stroke-width='2' stroke='gray' stroke-dasharray='4,6' d='M5,30 l250,0' />

					
				<!-- inflow -->
					<path stroke-width='3' stroke='DodgerBlue' fill='none' d='M5,90 l60,0 l30,-45 l30,45 l10,0 l35,-52.2 l35,52.2 l5,0 l20,-30' class="tempstep OCgraph" data-tempstep-classes="11:OCgraphB1;12:OCgraphB2;13:OCgraphB3;14:OCgraphB4;15:OCgraphB5;16:OCgraphB6;17:OCgraphB7;18-100:OCgraphB8" />
					<svg class="TeXinSVG" x="30" y="50" style="color:DodgerBlue"><text>\queue_{wx}</text></svg>		

			</svg>	
		
			<svg width="500" height="500" style="display:block; margin-top:150px;" viewbox="0 0 500 500">
				<defs>

				</defs>    
					
				<!-- edges -->
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M150,50 l200,0' />
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M350,50 l100,200' />
					
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M150,50 l-100,200' />  
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M50,250 l200,0' />
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M250,250 l200,0' />
					
					
				<!-- flow -->
					
					<path stroke-width='40' d='M150,50 l200,0' 
						class="flow tempstep" data-tempstep-classes="11-12:OCvf1;13-14:OCve1;15-16:OCvf2;17-100:OCve2" />
					<path stroke-width='20' d='M350,50 l100,200' 
						class="flow tempstep" data-tempstep-classes="12-100:OCdf1" />
					
					<path stroke-width='40' d='M150,50 l-100,200' 
						class="flow tempstep" data-tempstep-classes="13-14:OCdf1;15-16:OCde1;17-100:OCdf2" />
					<path stroke-width='20' d='M50,250 l400,0' 
						class="flow tempstep" data-tempstep-classes="14:OCh1;15:OCh2;16:OCh3;17-100:OCh4" />
					
						
				<!-- queues -->
				
					<path stroke-width='60' stroke='blue' d='M380,90 l100,-50' 
						class="flow tempstep" data-tempstep-classes="12:OCq1;13:OCq2;14:OCq15;15:OCq05;16:OCq15;17-100:OCq25" />
					<path stroke-width='60' stroke='blue' d='M95,260 v90' 
						class="flow tempstep" data-tempstep-classes="14:OCq05;15:OCq15;16:OCq05;17:fast" />

					
				<!--vertices-->
					<circle class="nodeBig" cx="150" cy="50" r="25" />
					<svg class="TeXinSVG node-text" x="140" y="40"><text>s</text></svg>
					
					<circle class="nodeBig" cx="350" cy="50" r="25" />
					<svg class="TeXinSVG node-text" x="340" y="40"><text>v</text></svg>
					<circle class="nodeBig" cx="50" cy="250" r="25" />
					<svg class="TeXinSVG node-text" x="40" y="240"><text>w</text></svg>
					<circle class="nodeBig" cx="250" cy="250" r="25" />
					<svg class="TeXinSVG node-text" x="240" y="240"><text>x</text></svg>

					<circle class="nodeBig" cx="450" cy="250" r="25" />
					<svg class="TeXinSVG node-text" x="440" y="240"><text>t</text></svg>
			</svg>	
			
			<div class="HiddenCanvas" style="position:absolute; left:0px; top:0px; width:100%; height:100%; pointer-events: auto !important;">
				<canvas id="can4" width="750" height="550"></canvas>

				<div style="position:absolute;bottom:0px;right:300px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:280px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:260px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:240px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:220px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:200px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:180px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:160px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
				<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(4)" style="position:absolute;bottom:0px;right:100px;">	
			</div>
		</div>		
	
	</div>
	
	<div class="ZoomDiv">
	<div id="NP-Hardness" class="step slide" data-rel-x="0" data-rel-y="1000" data-scale="1" data-tempstep-number="84" data-tempstep-skip="8-10;15-19;37-50;62-80" data-tempstep-global-classes="20-61:GadgetZoom">
		<h2>NP-Hardness</h2>
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="2">
			The following decision problems are NP-hard:
			<ul>
				<li class="tempstep a" data-tempstep-from="3">Given a network and a <span class="tempstep" data-tempstep-classes="13:red">specific edge</span>: Is there an IDE flow not using this edge?</li>
				<li class="tempstep a" data-tempstep-list="4-6;20-100">Given a network and a specific edge: Is there an IDE flow using this edge?</li>
				<li class="tempstep a" data-tempstep-list="5-6;20-100">Given a network and some time $T$: Is there an IDE terminating before $T$?</li>
				<li class="tempstep a" data-tempstep-list="6;20-100">Given a network and some number $k$: Is there an IDE flow with at most $k$ phases?</li>
			</ul>
		</div>
		
		<div class="tempstep a" data-tempstep-from="11" data-tempstep-classes="83-100:moveDown" style="position:absolute; left:0px; top:190px; height:700px; width:100%; background-color:white; transition:opacity 1s, transform 2s;">
			<div class="proofstyle" style="height:700px;">
				Reduction from <span style="font-variant:small-caps;">3Sat</span>: 
				<div style="position:absolute; right:120px; top:-20px;">
					\[\big(x_1 \,\,\,\vee\,\,\, \neg x_1 \,\,\,\vee\,\,\, x_2\big) \,\,\qquad\qquad\wedge\,\,\qquad\qquad \big(\neg x_1 \,\,\,\vee\,\,\, \neg x_2 \,\,\,\vee\,\,\, \neg x_3\big)\]
				</div>
				
				<div class="tempstep a" data-tempstep-from="12" style="position:absolute; right:0px; top:50px; width:1200px; height:650px;">
					<svg width="1200" height="650" style="display:block;" viewbox="0 0 1200 650">
						<defs>
							<marker id='sHeadSmall' orient='auto' markerWidth='8' markerHeight='8' refX='10' refY='4'>
								<path d='M0,0 V8 L8,4 Z' fill='black' />
							</marker>
							<marker id='sHead' orient='auto' markerWidth='4' markerHeight='4' refX='3.3' refY='1.5'>
								<path d='M0,0 V3 L3,1.5 Z' fill='black' />
							</marker>
						</defs>    
							
						<!-- edges -->
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M450,25 l-100,75' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M450,25 l0,75' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M450,25 l100,75' />
							
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M950,25 l-100,75' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M950,25 l0,75' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M950,25 l100,75' />
							
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M350,100 l-100,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M450,100 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M550,100 l50,100' />
							
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M850,100 l-400,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M950,100 l-150,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M1050,100 l100,100' />
							
							<path marker-end='url(#sHeadSmall)' stroke-width='4' stroke='black'  d='M250,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M250,200 l100,0' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M350,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M350,300 l-100,0' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M450,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M250,300 l100,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M450,300 l-100,100' />
							<path marker-end='url(#sHeadSmall)' stroke-width='4' stroke='black'  d='M350,400 l0,100' />
							
							<path marker-end='url(#sHeadSmall)' stroke-width='4' stroke='black'  d='M600,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M600,200 l100,0' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M700,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M700,300 l-100,0' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M800,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M600,300 l100,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M800,300 l-100,100' />
							<path marker-end='url(#sHeadSmall)' stroke-width='4' stroke='black'  d='M700,400 l0,100' />
							
							<path marker-end='url(#sHeadSmall)' stroke-width='4' stroke='black'  d='M950,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M950,200 l100,0' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M1050,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M1050,300 l-100,0' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M1150,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M950,300 l100,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M1150,300 l-100,100' />
							<path marker-end='url(#sHeadSmall)' stroke-width='4' stroke='black'  d='M1050,400 l0,100' />
							
							
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M250,300 l-100,0' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black' fill='none' d='M600,300 q-225,50,-450,0' class="notInZoom" />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black' fill='none' d='M950,300 q-400,100,-800,0' class="notInZoom" />
							
							<path marker-end='url(#sHeadSmall)' stroke-width='4' stroke='black'  d='M150,300 l0,100' 
								class="tempstep" data-tempstep-classes="13:redEdge"/>
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M150,400 l0,100' />
							
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M150,500 l550,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M350,500 l350,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M700,500 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M1050,500 l-350,100' />
							
							
						<!-- flow -->
						
							<path stroke-width='30' d='M350,100 l-100,100' 
								class="flow tempstep a" data-tempstep-list="24-28;50-54" data-tempstep-classes="26-27:NPedf;28-29:NPede;52-53:NPedf;54-55:NPede;" />
							<path stroke-width='10' d='M250,200 l0,100' 
								class="flow tempstep a" data-tempstep-list="24-34;52-60" data-tempstep-classes="27:NPehhf;28-32:NPehf;33:NPehhhhf;34-35:NPehe;53:NPehhf;54-58:NPehf;59:NPehhhhf;60-61:NPehe" />
							<path stroke-width='20' d='M250,200 l100,0' 
								class="flow tempstep a" data-tempstep-list="24-30;52-56" data-tempstep-classes="28:NPehhhf;29:NPehhhhf;30-31:NPehe;54:NPehhhf;55:NPehhhhf;56-57:NPehe" />
							<path stroke-width='20' d='M350,200 l0,100' 
								class="flow tempstep a" data-tempstep-list="24-32;52-58" data-tempstep-classes="30:NPehhhf;31:NPehhhhf;32-33:NPehe;56:NPehhhf;57:NPehhhhf;58-59:NPehe" />
							<path stroke-width='20' d='M350,300 l-100,0' 
								class="flow tempstep a" data-tempstep-list="24-34;52-60" data-tempstep-classes="32:NPehhhf;33:NPehhhhf;34-35:NPehe;58:NPehhhf;59:NPehhhhf;60-61:NPehe" />
							<path stroke-width='10' d='M250,300 l100,100' 
								class="flow tempstep a" data-tempstep-list="24-34;52-60" data-tempstep-classes="29:NPedhf;30-36:NPedf;55:NPedhf;56-62:NPedf" />	
							<path stroke-width='30' d='M250,300 l100,100' 
								class="flow tempstep a" data-tempstep-list="24-34" data-tempstep-classes="34-36:NPedhhf" />	
							<path stroke-width='30' d='M250,300 l-100,0' 
								class="flow tempstep a" data-tempstep-list="50-60" data-tempstep-classes="60-62:NPehhhf" />		
							<path stroke-width='10' d='M350,400 l0,100' 
								class="flow tempstep a" data-tempstep-list="24-34" data-tempstep-classes="31:NPehhf;32-36:NPehf" />
							<path stroke-width='10' d='M350,500 l350,100' 
								class="flow tempstep a" data-tempstep-list="24-34;52-60" data-tempstep-classes="33:NPedhf;34-36:NPedf;59:NPedhf;60-62:NPedf;" />
							
							<path stroke-width='30' d='M450,100 l0,100' 
								class="flow tempstep a" data-tempstep-list="20-22;50-54" data-tempstep-classes="21:NPehf;22-23:NPehe;52-53:NPehf;54-55:NPehe" />
							<path stroke-width='30' d='M450,200 l0,100' 
								class="flow tempstep a" data-tempstep-list="20-23;52-56" data-tempstep-classes="22:NPehf;23-24:NPehe;53:NPehhf;54:NPehf;55:NPehhhhf;56-57:NPehe" />
							<path stroke-width='30' d='M450,300 l-100,100' 
								class="flow tempstep a" data-tempstep-list="20-24;50-58" data-tempstep-classes="23:NPedf;24-25:NPede;55:NPedhf;56:NPedf;57:NPedhhhf;58-59:NPede" />
							<path stroke-width='10' d='M350,400 l0,100' 
								class="flow tempstep a" data-tempstep-list="20-24;52-60" data-tempstep-classes="24-25:NPehf;57:NPehhf;58-62:NPehf" />
								
						<!-- queues -->
						
							<path stroke-width='40' stroke='blue' d='M360,420 h80' 
								class="flow tempstep a" data-tempstep-list="20-24;52-60" data-tempstep-classes="24-25:NPq2;57:NPqB;58-62:NPq2" />
							<path stroke-width='40' stroke='blue' d='M240,220 h-40' 
								class="flow tempstep a" data-tempstep-list="20-34;52-60" data-tempstep-classes="27-28:NPq1;29:NPqC;30:NPqB;31:NPqA;53-54:NPq1;55:NPqC;56:NPqB;57:NPqA" />

							
						<!--vertices-->
							<circle class="nodeSmall" cx="450" cy="25" r="15" />
							<svg class="TeXinSVG node-text-small" x="445" y="20"><text>c_1</text></svg>
							<circle class="nodeSmall" cx="350" cy="100" r="15" />
							<circle class="nodeSmall" cx="450" cy="100" r="15" />
							<circle class="nodeSmall" cx="550" cy="100" r="15" />
							
							<circle class="nodeSmall" cx="950" cy="25" r="15" />
							<svg class="TeXinSVG node-text-small" x="945" y="20"><text>c_2</text></svg>
							<circle class="nodeSmall" cx="850" cy="100" r="15" />
							<circle class="nodeSmall" cx="950" cy="100" r="15" />
							<circle class="nodeSmall" cx="1050" cy="100" r="15" />					
						
							<circle class="nodeSmall" cx="250" cy="200" r="15" />
							<svg class="TeXinSVG node-text-small" x="240" y="195"><text>x_1</text></svg>
							<circle class="nodeSmall" cx="350" cy="200" r="15" />
							<circle class="nodeSmall" cx="350" cy="300" r="15" />
							<circle class="nodeSmall" cx="250" cy="300" r="15" />
							
							<circle class="nodeSmall" cx="450" cy="200" r="15" />
							<svg class="TeXinSVG node-text-small" x="430" y="195"><text>\neg x_1</text></svg>
							<circle class="nodeSmall" cx="450" cy="300" r="15" />
							
							<circle class="nodeSmall" cx="600" cy="200" r="15" />
							<svg class="TeXinSVG node-text-small" x="590" y="195"><text>x_2</text></svg>
							<circle class="nodeSmall" cx="700" cy="200" r="15" />
							<circle class="nodeSmall" cx="700" cy="300" r="15" />
							<circle class="nodeSmall" cx="600" cy="300" r="15" />
							
							<circle class="nodeSmall" cx="800" cy="200" r="15" />
							<svg class="TeXinSVG node-text-small" x="780" y="195"><text>\neg x_2</text></svg>
							<circle class="nodeSmall" cx="800" cy="300" r="15" />
							
							<circle class="nodeSmall" cx="950" cy="200" r="15" />
							<svg class="TeXinSVG node-text-small" x="940" y="195"><text>x_3</text></svg>
							<circle class="nodeSmall" cx="1050" cy="200" r="15" />
							<circle class="nodeSmall" cx="1050" cy="300" r="15" />
							<circle class="nodeSmall" cx="950" cy="300" r="15" />
							
							<circle class="nodeSmall" cx="1150" cy="200" r="15" />
							<svg class="TeXinSVG node-text-small" x="1130" y="195"><text>\neg x_3</text></svg>
							<circle class="nodeSmall" cx="1150" cy="300" r="15" />
							
							<circle class="nodeSmall" cx="150" cy="300" r="15" />
							<circle class="nodeSmall" cx="150" cy="400" r="15" />
							<circle class="nodeSmall" cx="150" cy="500" r="15" />
							
							
							<circle class="nodeSmall" cx="350" cy="400" r="15" />
							<circle class="nodeSmall" cx="350" cy="500" r="15" />
							
							<circle class="nodeSmall" cx="700" cy="400" r="15" />
							<circle class="nodeSmall" cx="700" cy="500" r="15" />
							
							<circle class="nodeSmall" cx="1050" cy="400" r="15" />
							<circle class="nodeSmall" cx="1050" cy="500" r="15" />
							
							<circle class="nodeSmall" cx="700" cy="600" r="15" />
							<svg class="TeXinSVG node-text-small" x="695" y="595"><text>t</text></svg>
							
					</svg>	
					
					<svg class="tempstep a" data-tempstep-from="82" width="1200" height="650" style="display:block; position:absolute; left:0px; top:0px;" viewbox="0 0 1200 650">
						<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M100,25 L70,295' />
						<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M100,25 L150,300' />
						<path stroke-width='12' stroke='black'  d='M70,515 L680,600' />
					
						<circle class="nodeSmall" cx="100" cy="25" r="15" />
						<svg class="TeXinSVG node-text-small" x="95" y="20"><text>s</text></svg>
						<circle class="nodeSmall" cx="150" cy="300" r="15" />
						
						<rect x="20" y="280" width="100" height="240" stroke='black' fill='white' />
						<svg class="TeXinSVG" x="50" y="380"><text>\mathcal{N}'</text></svg>
						
					</svg>
					
					<svg width="150" height="120" style="display:block; position:absolute; top:0px; left:630px;" viewbox="0 0 150 120">
						<!-- axes -->
							<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l0,-85' />
							<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l120,0' />
							<path stroke-width='3' stroke='black'  d='M90,85 l0,10' />
							<svg class="TeXinSVG" x="130" y="75" color="black"><text>\theta</text></svg>
							<svg class="TeXinSVG" x="80" y="95" color="black"><text>\small 1</text></svg>
							
						<!-- inflow -->
							<path stroke-width='3' stroke='DodgerBlue'  d='M5,20 l90,0' />
							<svg class="TeXinSVG" x="40" y="50" style="color:DodgerBlue"><text>u_{c_i}</text></svg>		

						<!-- time -->
							<path stroke-width='90' stroke='Gray'  d='M5,45 l120,0' stroke-dasharray='0,0,3,1000'
									class="tempstep" data-tempstep-classes="2-3:Ttime1" style="transition:stroke-dasharray 4s; transition-timing-function: linear;" />
					</svg>
				</div>
				
				<div class="HiddenCanvas" style="position:absolute; left:-150px; top:0px; width:100%; height:100%; pointer-events: auto !important;">
					<canvas id="can6" width="1300" height="700"></canvas>

					<div style="position:absolute;bottom:0px;right:300px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
					<div style="position:absolute;bottom:0px;right:280px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
					<div style="position:absolute;bottom:0px;right:260px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
					<div style="position:absolute;bottom:0px;right:240px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
					<div style="position:absolute;bottom:0px;right:220px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
					<div style="position:absolute;bottom:0px;right:200px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
					<div style="position:absolute;bottom:0px;right:180px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
					<div style="position:absolute;bottom:0px;right:160px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
					<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(6)" style="position:absolute;bottom:0px;right:100px;">	
				</div>
			</div>
		</div>
		</div>
	</div>	
		
	<div id="MainGoals3" class="slide step" data-rel-x="0" data-rel-y="0" data-rel-to="MainGoals" data-scale="1" style="z-index:-1000" data-tempstep-number="3">
	
		<div class="tempstep a" data-tempstep-from="2" style="position:absolute; right:10px; top:600px;">
			<span style="color:DarkRed; font-weight:bolder; font-size:130%;">!</span> Possibly exponentially many phases
		</div>
		
		<div class="tempstep a" data-tempstep-from="3" style="position:absolute; right:10px; top:650px;">
			<span style="color:DarkRed; font-weight:bolder; font-size:130%;">!</span> NP-Hardness of several natural properties
		</div>
	
	</div>
	
	<div id="Conclusion" class="step slide" data-rel-x="0" data-rel-y="400" data-rel-to="MainGoals" data-scale="1" data-tempstep-number="5">
		<h2 class="tempstep a" data-tempstep-from="1" style="margin-top:300px;">Conclusion</h2>
		
		<ul>
			<li class="tempstep a" data-tempstep-from="2">IDE can be constructed in finite time</li>
			<li class="tempstep a" data-tempstep-from="3">IDE are approachable by a local analysis</li>
			<li class="tempstep a" data-tempstep-from="4">IDE may have a complex structure</li>
			<!--<li class="tempstep a" data-tempstep-from="5">For a fixed time horizon polynomial time is still possible</li>-->
		</ul>
		
		
		<h4 class="tempstep a" data-tempstep-from="1" style="margin-top:100px;">Images:</h4>
		<ul class="tempstep a" data-tempstep-from="1">
			<li>Wikimedia: <a href="https://commons.wikimedia.org/wiki/File:Alpine_marmot_(Marmota_marmota)_in_the_mountains_at_the_entrance_to_its_burrow.JPG">Alpine Marmot</a>, <a href="https://commons.wikimedia.org/wiki/File:3DCrystal_ball.png">Crystal Ball</a>, <a href="https://de.wikipedia.org/wiki/Datei:Mobilenavigation.JPG">Navigational Tool</a></li>
		</ul>
	
	</div>
	
	
	<div id="Overview" class="step" data-rel-x="0" data-rel-y="600" data-rel-to="MainGoals" data-scale="4" style="z-index:-1000;">
		<div style="position:absolute; left:400px; top:730px; font-size:55%;">
			<strong>Paper:</strong> <a href="https://arxiv.org/abs/2007.07808">https://arxiv.org/abs/2007.07808</a> (working paper)<br />
			<strong>Slides:</strong> <a href="https://graffl.gitlab.io/ide-flow-talks/index_Dagstuhl.html">https://graffl.gitlab.io/ide-flow-talks/index_Dagstuhl.html</a> 
		</div>
	</div>

</div>



<div class="Heading" id="background">
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading1">
	<span style="float:left;">Computational Complexity of IDE - Introduction</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading2">
	<span style="float:left;">Computational Complexity of IDE - Part I: Upper Bound</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading3">
	<span style="float:left;">Computational Complexity of IDE - Part II: Lower Bound</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading4">
	<span style="float:left;">Computational Complexity of IDE - Conlusion</span>
	<span style="float:right;">Lukas Graf</span>
</div>


<div id="impress-toolbar"><form>
  <!--
	<label for="vol">Zoom:</label>
	<input type="range" id="zoom" name="zoom" value="100" min="0" max="200" onclick="document.body.style.transform='scale('+document.getElementById('zoom').value/100+','+document.getElementById('zoom').value/100+')';">
	</form>
	-->
</div>

<div id="DrawingCanvas" style="position:fixed; left:5%; top:5%; width:90%; height:90%; z-index:1000; background-color:white; border:3px solid gray;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);pointer-events: auto !important;display:none; transition:border 2s, background-color 2s;">
		<canvas id="can0" width="1100" height="700" style="margin:5px 20px; border:1px solid black;"></canvas>

		<div style="position:absolute;bottom:20px;right:600px;width:20px;height:20px;background:blue;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:580px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:560px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:540px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:520px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:500px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:480px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:460px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
		<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(0)" style="position:absolute;bottom:20px;right:300px;">
		<input type="button" value="glass" id="clr" size="23" onclick="canvas().makeTransparent(0)" style="position:absolute;bottom:20px;right:250px;">		
</div>

<!--
    To make all described above really work, you need to include impress.js in the page.
    You also need to call a `impress().init()` function to initialize impress.js presentation.
    And you should do it in the end of your document.
-->
<script type="text/javascript" src="js/impress.js"></script>
<script type="text/javascript" src="js/impress-custom.js"></script>

<script>impress().init();</script>

<!--  Drawing canvas from https://stackoverflow.com/questions/2368784/draw-on-html5-canvas-using-a-mouse -->

	
	
<script type="text/javascript">

	var canvas = window.canvas = function() {
					
		function Pen() {
			this.color = "black";
			this.size = 2;
			this.eraserMode = false;
		}
		
		function Canvas(name, pen) {
			var canvas = document.getElementById(name);
			var context = canvas.getContext("2d");
			
			this.canvas = canvas;
			this.context = context;
			this.pen = pen;
			
			this.prevX = 0;
			this.prevY = 0;
			this.currX = 0;
			this.currY = 0;
						
			this.drawing = false;
			
			var findxy = function(res, e) {
				if (res == 'down') {
					this.prevX = this.currX;
					this.prevY = this.currY;
					this.currX = e.client - canvas.getBoundingClientRect().left;
					this.currY = e.client - canvas.getBoundingClientRect().top;
					this.drawing = true;
				}
				if (res == 'up' || res == "out") {
					this.drawing = false;
				}
				if (res == 'move') {
					if (this.drawing) {
						this.prevX = this.currX;
						this.prevY = this.currY;
						this.currX = e.clientX - canvas.getBoundingClientRect().left;
						this.currY = e.clientY - canvas.getBoundingClientRect().top;
						draw();
					}
				}
			}
			
			var draw = function() {
				if(pen.eraserMode) {
					context.clearRect(this.currX-20,this.currY-20,40,40);
				} else {
					context.beginPath();
					context.moveTo(this.prevX, this.prevY);
					context.lineTo(this.currX, this.currY);
					context.strokeStyle = this.pen.color;
					context.lineWidth = this.pen.size;
					context.stroke();
					context.closePath();
				}
			}
			
			canvas.addEventListener("mousemove", function (e) {
				findxy('move', e)
			}, false);
			canvas.addEventListener("mousedown", function (e) {
				findxy('down', e)
			}, false);
			canvas.addEventListener("mouseup", function (e) {
				findxy('up', e)
			}, false);
			canvas.addEventListener("mouseout", function (e) {
				findxy('out', e)
			}, false);

			
			
		}
	
		var init = function(n) {
			pen = new Pen();
			
			canvases = [];
			
			for(var i=0;i<n;i++) {
				canvases[i] = new Canvas("can"+i,pen)
			}
		}
		
		var color = function(obj) {
			pen.color = obj.style.backgroundColor;
			pen.eraserMode = false;
		}
		
		var toggleEraser = function() {
			pen.eraserMode = !(pen.eraserMode);
		}
		
		var clear = function(i) {
			if (confirm("Clear current canvas?")) {
				canvases[i].context.clearRect(0, 0, canvases[i].canvas.width, canvases[i].canvas.height);
			}
		}
		
		var makeTransparent = function(i) {
			var pDiv = canvases[i].canvas.parentElement;
			if (pDiv.style.backgroundColor == "white") {
				pDiv.style.backgroundColor = "transparent";
				pDiv.style.border = "3px solid transparent";
			} else {
				pDiv.style.backgroundColor = "white";
				pDiv.style.border = "3px solid gray";
			}
		}
		
		return({init: init, color: color, clear: clear, toggleEraser: toggleEraser, makeTransparent: makeTransparent});	
	}

	canvas().init(7);
</script>	
	
	
<script type="text/javascript">
		// SOURCE: https://stackoverflow.com/a/52011013
		// Define a function that takes LaTeX source code
		// and places the resulting generated SVG in a target SVG element.
		mathSVG = function (latex, target) {
		  // First create a new element to hold the initial Latex code
		  // and eventual MathJax generated SVG. This element isn't added
		  // to the main document, so it's never seen.
		  let mathBuffer = document.createElement("div");
		
		  // Update the buffer with the source latex.
		  mathBuffer.textContent = latex;
		  // Get MathJax to process and typeset.
		  MathJax.Hub.Queue(["Typeset", MathJax.Hub, mathBuffer]);
		  // Queue a callback function that will execute once it's finished typesetting.
		  MathJax.Hub.Queue(function () {
			// This (svg) is the generated graphics.
			var svg = mathBuffer.childNodes[1].childNodes[0];
			// The next line is optional, play with positioning as you see fit.
			svg.setAttribute("y", "0pt");
			// Move the generated svg from the buffer to the target element.
			target.appendChild(svg);
			// Clear the buffer.
			mathBuffer.textContent = "";
		  });
		};
		
		function generateTeXinSVGs() {
			listOfSVGs = document.getElementsByClassName("TeXinSVG");
			var i;
			for (i = 0; i < listOfSVGs.length; i++) {
				svgElement = listOfSVGs[i];
				latex = svgElement.children[0].textContent;
				svgElement.innerHTML = "";
				mathSVG("$" + latex + "$", svgElement);				
			} 
		};
</script>

</body>
</html>
