<!doctype html>

<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>Dynamic Flows with Adaptive Route Choice</title>

    <meta name="description" content="Dynamic Flows with Adaptive Route Choice" />
    <meta name="author" content="Lukas Graf" />


    <!--
        This file contains styles specific for this example presentation.
    -->
	<link href="css/OS23.css" rel="stylesheet" />

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
		tex2jax: {
		  inlineMath: [ ['$','$'], ['\\(','\\)'] ],
		  processEscapes: true
		},
		"SVG": { fonts: ["TeX"], scale:85 }
	  });
	  MathJax.Hub.Queue(generateTeXinSVGs());
	</script>
	<!-- Internetquelle für MathJax -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_SVG-full"></script>
	<!-- Falls kein Internet verfügbar... 
	<script type="text/javascript" src="extras/MathJax/MathJax.js?config=TeX-MML-AM_SVG-full"></script>-->

</head>


<body class="impress-not-supported" style="">
<!--<body class="impress-not-supported" style="transform:scale(.6,.6) translate(-500px,-100px);">-->
<!--
    This fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	<!--<p><a href="./ATMOS.pdf">&rarr; static pdf-version</a></p>-->
</div>



<div style="display:none;">
  \(
    \newcommand{\IN}{\mathbb{N}}
	\newcommand{\INs}{\mathbb{N}^\ast}
	\newcommand{\INo}{\mathbb{N}_0}
    \newcommand{\IZ}{\mathbb{Z}}
    \newcommand{\IR}{\mathbb{R}}
    \newcommand{\IC}{\mathbb{C}}
    \newcommand{\A}{\mathcal{A}}
    \newcommand{\B}{\mathcal{B}}
    \newcommand{\U}{\mathfrak{U}}
    \newcommand{\coloneqq}{:=}
    \newcommand{\Set}[1]{\left\{#1\right\}}
    \newcommand{\supp}{\mathrm{supp}}
    \newcommand{\Re}{\mathrm{Re}}
    \newcommand{\Im}{\mathrm{Im}}
    \newcommand{\clos}[1]{\overline{#1}}
    \newcommand{\inte}[1]{\mathring{#1}}
	\newcommand{\dist}[2]{\mathrm{dist}^c_{#1}(#2)}
	\newcommand{\dists}[2]{{\mathrm{dist}^c_{#1}}'(#2)}
	\newcommand{\Ind}{{\small\raise{0pt}{\unicode{x1D7D9}}\,}}
	\newcommand{\bigO}{\mathcal{O}}	
	\newcommand{\abs}[1]{\left|#1\right|}
	\newcommand{\norm}[1]{\left\|#1\right\|}
	\newcommand{\scalar}[2]{\left\langle #1,#2 \right\rangle}
	
	\newcommand{\rDeriv}{\partial_+}
	\newcommand{\lDeriv}{\partial_-}
	\newcommand{\queue}{q}	
	\newcommand{\Pc}{\mathcal{P}}
	\newcommand{\Wc}{\mathcal{W}}
	\newcommand{\CharF}[1]{\Ind_{#1}}
  \)
</div>


<div id="impress" data-transition-duration="2000" data-autoplay="0" style="z-index:0;" data-width="1920" data-height="1000">


	<div id="Title" class="step slide center" data-x="0" data-y="0" data-scale="1" data-tempstep-number="6" data-tempstep-skip="">
		<h1 style="margin-top:60px;">Dynamic Network Flows with Adaptive Route Choice</h1>
			<strong>Lukas Graf</strong>, Tobias Harks, Leon Sering 
			
		<div style="position:absolute; left:10%; top:300px; height:550px; width:80%;" class="tempstep a" data-tempstep-from="2">
			<svg width="1000" height="500" style="display:block; margin:auto;" viewbox="-150 -100 1000 500">
				<defs>
					<marker id='sHeadSmall' orient='auto' markerWidth='8' markerHeight='8' refX='8' refY='3'>
						<path d='M0,0 V6 L6,3 Z' fill='black' />
					</marker>
					<marker id='sHead' orient='auto' markerWidth='4' markerHeight='4' refX='4' refY='1.5'>
						<path d='M0,0 V3 L3,1.5 Z' fill='black' />
					</marker>
				</defs>    
					
				<!-- edges -->
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none' d='M50,50 l300,0' />
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none' d='M350,50 l300,0' />
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none' d='M350,50 l-300,300' />
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none' d='M650,50 l0,300' />
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none' d='M50,350 l300,0' />
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none' d='M350,350 l300,0' />
					
						
				<!--vertices-->
					<circle class="nodeSmall" cx="50" cy="50" r="25" />
					<svg class="TeXinSVG node-text-small" x="40" y="40"><text>s_1</text></svg>
					<circle class="nodeSmall" cx="350" cy="50" r="25" />
					<svg class="TeXinSVG node-text-small" x="340" y="40"><text>v_1</text></svg>
					<circle class="nodeSmall" cx="650" cy="50" r="25" />
					<svg class="TeXinSVG node-text-small" x="640" y="40"><text>s_2</text></svg>
					<circle class="nodeSmall" cx="50" cy="350" r="25" />
					<svg class="TeXinSVG node-text-small" x="40" y="340"><text>v_2</text></svg>
					<circle class="nodeSmall" cx="350" cy="350" r="25" />
					<svg class="TeXinSVG node-text-small" x="340" y="340"><text>v_3</text></svg>
					<circle class="nodeSmall" cx="650" cy="350" r="25" />
					<svg class="TeXinSVG node-text-small" x="630" y="340"><text>t_{1/2}</text></svg>

					<image x="25" y="285" width="50" height="40" href="images/CarRedN.svg" class="car R1" />
					<image x="625" y="75" width="50" height="40" href="images/CarBlueN.svg" class="car B1" />
					<image x="625" y="255" width="50" height="40" href="images/CarBlueN.svg" class="car B2" />
					<image x="625" y="285" width="50" height="40" href="images/CarBlueN.svg" class="car B3" />
					
			</svg>	
			
			<div class="" style="position:absolute; left:0; top:0; width:100%; height:100%; pointer-events: auto !important; z-index:100;">
				<canvas id="can1" width="1200" height="500"></canvas>

				<div style="position:absolute;bottom:50px;right:400px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:50px;right:380px;width:20px;height:20px;background:#FF441F;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:50px;right:360px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:50px;right:340px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:50px;right:320px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:50px;right:300px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:50px;right:280px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:50px;right:260px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
				<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(1)" style="position:absolute;bottom:50px;right:200px;">	
			</div>			
		</div>	
		
		<div class="tempstep a" data-tempstep-from="5" style="position:absolute; bottom:50px; left:0px; width:100%; text-align:center;">
				<h2>&uarr; Discrete Model</h2>
				<p class="tempstep a" data-tempstep-from="6" style="margin-top:-20px; font-size:80%;">(atomic flow particles, discrete time steps)</p>
			</div>
	</div>
	
	
	<div id="ModelChange" class="step slide" data-x="0" data-rel-y="400" data-scale="1" data-tempstep-number="2">
		<h2 style="margin-top:540px;" class="tempstep a" data-tempstep-from="1">Continuous Model &darr;</h2>
		<p class="tempstep a" data-tempstep-from="2" style="margin-top:-150px; font-size:80%; text-align:center;">(infinitesimal flow particles, continuous time)</p>
	</div>
	
	
	<div id="Model" class="step slide" data-rel-x="0" data-rel-y="550" data-scale="1" data-tempstep-number="25" data-tempstep-skip="9-20">
		<div style="position:absolute; left:10%; top:0px; height:550px; width:80%;" class="tempstep a" data-tempstep-from="3">
			<svg width="1000" height="500" style="display:block; margin:auto;" viewbox="-150 -100 1000 500">
				<defs>
					<marker id='sHeadSmall' orient='auto' markerWidth='8' markerHeight='8' refX='8' refY='3'>
						<path d='M0,0 V6 L6,3 Z' fill='black' />
					</marker>
					<marker id='sHead' orient='auto' markerWidth='4' markerHeight='4' refX='4' refY='1.5'>
						<path d='M0,0 V3 L3,1.5 Z' fill='black' />
					</marker>
					
					<marker id='ArrowHead' orient='auto' markerUnits="strokeWidth" markerWidth='3' markerHeight='3' refX='1.5' refY='1.5' viewbox="0 0 3 3">
						<path d='M0,0 V3 L3,1.5 Z' fill='#FF441F' />
					</marker>
					<marker id='ArrowHeadB' orient='auto' markerUnits="strokeWidth" markerWidth='3' markerHeight='3' refX='1.5' refY='1.5' viewbox="0 0 3 3">
						<path d='M0,0 V3 L3,1.5 Z' fill='DodgerBlue' />
					</marker>
				</defs>    
					
				<!-- edges -->
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none' d='M50,50 l300,0' />
						<svg class="TeXinSVG node-text-small tempstep a" data-tempstep-from="4" x="150" y="65"><text>(1,1)</text></svg>
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none' d='M350,50 l300,0' />
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none' d='M350,50 l-300,300' />
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none' d='M650,50 l0,300' />
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none' d='M50,350 l300,0' />
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none' d='M350,350 l300,0' />
					
				<!-- flow -->
				
					<path stroke-width='20' fill="none" d='M50,50 l300,0' 
						class="flow R tempstep a" data-tempstep-classes="7-24:Mfull;25-100:Mempty" />
					<path stroke-width='20' fill="none" d='M350,50 l-300,300' 
						class="flow R tempstep a" data-tempstep-classes="25-100:Mdfull" />
						
					<path stroke-width='20' fill="none" d='M650,50 l0,300' 
						class="flow tempstep a" data-tempstep-classes="7-100:Mfull" />
					<path stroke-width='40' fill="none" d='M670,110 l150,0' 
						class="flow tempstep a" data-tempstep-classes="7-24:Mqfull;25-100:Mqhfull" />
						<svg class="TeXinSVG node-text-small tempstep a" data-tempstep-list="8-24" x="690" y="140"><text>\color{DodgerBlue}{q_e(\theta)=2}</text></svg>
						<svg class="TeXinSVG node-text-small tempstep a" data-tempstep-from="25" x="690" y="140"><text>\color{DodgerBlue}{q_e(\theta)=1}</text></svg>
					
						
				<!--vertices-->
					<circle class="nodeSmall" cx="50" cy="50" r="25" />
					<svg class="TeXinSVG node-text-small tempstep a" data-tempstep-until="4" x="40" y="40"><text>s_1</text></svg>
					<svg class="TeXinSVG node-text-small tempstep a" data-tempstep-from="5" x="40" y="40"><text>s_\color{#FF441F}{1}</text></svg>
					<circle class="nodeSmall" cx="350" cy="50" r="25" />
					<svg class="TeXinSVG node-text-small" x="340" y="40"><text>v_1</text></svg>
					<circle class="nodeSmall" cx="650" cy="50" r="25" />
					<svg class="TeXinSVG node-text-small tempstep a" data-tempstep-until="4" x="640" y="40"><text>s_2</text></svg>
					<svg class="TeXinSVG node-text-small tempstep a" data-tempstep-from="5" x="640" y="40"><text>s_\color{DodgerBlue}{2}</text></svg>
					<circle class="nodeSmall" cx="50" cy="350" r="25" />
					<svg class="TeXinSVG node-text-small" x="40" y="340"><text>v_2</text></svg>
					<circle class="nodeSmall" cx="350" cy="350" r="25" />
					<svg class="TeXinSVG node-text-small" x="340" y="340"><text>v_3</text></svg>
					<circle class="nodeSmall" cx="650" cy="350" r="25" />
					<svg class="TeXinSVG node-text-small tempstep a" data-tempstep-until="4" x="630" y="340"><text>t_{1/2}</text></svg>
					<svg class="TeXinSVG node-text-small tempstep a" data-tempstep-from="5" x="630" y="340"><text>t_{\color{#FF441F}{1}/\color{DodgerBlue}{2}}</text></svg>

				<!-- Inflow -->
				<g class="tempstep a" data-tempstep-from="5">
					<path stroke-width='15' stroke='#FF441F' fill='none' marker-end='url(#ArrowHead)'  d='M-50,50 l50,0'/>	
						<svg class="TeXinSVG node-text-small" x="-115" y="35"><text>\color{#FF441F}{\CharF{[0,1]}}</text></svg>
					<path stroke-width='15' stroke='DodgerBlue' fill='none' marker-end='url(#ArrowHeadB)'  d='M750,50 l-50,0'/>	
						<svg class="TeXinSVG node-text-small" x="755" y="35"><text>\color{DodgerBlue}{3\cdot\CharF{[0,1]}}</text></svg>
				</g>
			</svg>
				
			<div class="" style="position:absolute; left:0; top:0; width:100%; height:100%; pointer-events: auto !important; z-index:100;">
				<canvas id="can2" width="1200" height="500"></canvas>

				<div style="position:absolute;top:0px;right:400px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;top:0px;right:380px;width:20px;height:20px;background:#FF441F;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;top:0px;right:360px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;top:0px;right:340px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;top:0px;right:320px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;top:0px;right:300px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;top:0px;right:280px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;top:0px;right:260px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
				<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(2)" style="position:absolute;top:0px;right:200px;">	
			</div>
		</div> 
		
		<div style="position:absolute; width:50%; left:0px; top:500px;">
			<h3 class="tempstep a" data-tempstep-from="2" style="">Physical Model</h3>
			
			<ul>
				<li class="tempstep a" data-tempstep-from="3" >Directed graph \(G = (V,E)\)</li>
				<li class="tempstep a" data-tempstep-from="4" >For \(e \in E\): free flow travel time \(\tau_e \in \IR_{\geq 0}\) and service rate \(\nu_e \in \IR_{\geq 0}\)</li>
				<li class="tempstep a" data-tempstep-from="5" >Commodities \(I\) with source node \(s_i\), sink node \(t_i\)<br />
					and network inflow rate \(u_i: \IR_{\geq 0} \to \IR_{\geq 0}\)</li>
				<li class="tempstep a" data-tempstep-from="6" >(Edge)flow $(f_{e,i}^+,f_{e,i}^-) \in L^1(\IR_{\geq 0},\IR_{\geq 0})^2$</li>
				<li class="tempstep a" data-tempstep-from="8" >Inflow \(\gt\) service rate \(\implies\) queues form<br />
																&nbsp; \(f_e^+(\theta) \gt \nu_e\) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (length \(q_e(\theta)\))</li> 
			</ul>
		</div>
		
		<div style="position:absolute; width:45%; right:0px; top:500px;">
			<h3 class="tempstep a" data-tempstep-from="21" style="text-align:right;">Behavioral Model</h3>
			
			<ul>
				<li class="tempstep a" data-tempstep-from="22"><em>Current travel time</em> $c_e(\theta) \coloneqq \tau_e + q_e(\theta)/\nu_e$  </li>
				<li class="tempstep a" data-tempstep-from="23"><em>Current distance</em> $\ell_{v,i}(\theta) \coloneqq \min\Set{c_e(\theta)+\ell_{w,i}(\theta) \mid e=vw}$  </li>
			</ul>
			
			<div class="theoremstyle d tempstep a" data-tempstep-from="24">A flow is in <em>Instantaneous Dynamic Equilibrium (IDE)</em> if <br />
			\[f^+_{e,i}(\theta) \gt 0 \implies \ell_{v,i}(\theta) = c_e(\theta) + \ell_{w,i}(\theta)\]
			for all $e=vw \in E$, $i \in I$ and almost all $\theta \in \IR_{\geq0}$</div>
		</div>
	</div>
	
	
	<div id="Results" class="step slide" data-rel-x="0" data-rel-y="1100" data-scale="1" data-tempstep-number="40" data-tempstep-skip="7-10;14-20;23-30;34-40">
		<h2>Results:</h2>
		
		<ul class="widelist" style="margin-top:100px; margin-left:100px;">
			<li class="tempstep a" data-tempstep-from="2">Existence</li>
			<li class="tempstep a" data-tempstep-from="11">Computation</li>
			<li class="tempstep a" data-tempstep-from="21">Complexity</li>
			<li class="tempstep a" data-tempstep-from="31">Quality</li>
		</ul>
		
		<div style="right:200px; top:150px;" class="picture tempstep a" data-tempstep-from="3" data-tempstep-classes="10-100:PicturePast">
			<div class="theoremstyle l">
				Partial IDE can always be extended for some $\alpha \gt 0$
			</div>
			
			<div class="tempstep a" data-tempstep-from="4">
			Via...
			<ul>
				<li class="tempstep a" data-tempstep-from="4">Variational inequality</li>
				<li class="tempstep a" data-tempstep-from="5">Fixed point theorem</li>
				<li class="tempstep a" data-tempstep-from="6">Convex optimization</li>
			</ul>
			</div>
			
			<div style="width:100%; text-align:center; margin-top:50px;" class="tempstep a" data-tempstep-from="6">
				<img src="images/ThinFlowEqs.png" width="500px"/>
			</div>
		</div>
		
		<div style="right:100px; top:250px;" class="picture tempstep a" data-tempstep-from="12" data-tempstep-classes="20-100:PicturePast">
			<div>For single-commodity and piecewise constant flow rates:</div>
			<div class="theoremstyle l" style="margin-top:20px;">
				Finitely many extensions suffice...
			</div>
			
			<div class="theoremstyle l tempstep a" data-tempstep-from="13">
				...and any extension can be computed in poly time
			</div>
			
			<div style="width:100%; text-align:center; margin-top:30px;" class="tempstep a" data-tempstep-from="13">
				<img src="images/Waterfilling.png" width="350px"/>
			</div>
		</div>
		
		<div style="right:250px; top:350px; height:450px;" class="picture tempstep a" data-tempstep-from="22" data-tempstep-classes="30-100:PicturePast">
			<div class="theoremstyle t" style="margin-top:20px;">
				IDE related decision problems are NP-hard.
			</div>
			
			<div style="width:100%; text-align:center; margin-top:70px;">
				<img src="images/IDENPhard.png" width="500px"/>
			</div>
		</div>
		
		<div style="right:150px; top:450px; height:450px;" class="picture tempstep a" data-tempstep-from="32">
			<div class="theoremstyle t" style="margin-top:20px;">
				Single-commodity: PoA $\in \Omega(U\log \tau) \cap \bigO(U\tau)$
			</div>
			
			<div class="theoremstyle t tempstep a" data-tempstep-from="33" style="margin-top:20px;">
				Multi-commodity: Flow may cycle forever
			</div>
			
			<div style="width:100%; text-align:center; margin-top:50px;" class="tempstep a" data-tempstep-from="33">
				<img src="images/IDENonTermination.png" width="650px"/>
			</div>
		</div>
		
	</div>
	
	
	<div id="FutureResearch" class="step slide" data-rel-x="0" data-rel-y="1100" data-scale="1" data-tempstep-number="6" data-tempstep-skip="">
		<h2>Potential Directions for Future Research:</h2>
		
		<ul class="widelist" style="margin-top:100px; margin-left:100px;">
			<li class="tempstep a" data-tempstep-from="2">Closing gaps between bounds (Complexity/Quality)</li>
			<li class="tempstep a" data-tempstep-from="3">Improving quality (e.g. better predictions, network design)</li>
			<li class="tempstep a" data-tempstep-from="4">Different viewpoint (IDE as result from decentralized routing protocol)</li>
			<li class="tempstep a" data-tempstep-from="5">Generalizations (e.g. different flow dynamics)</li>
			<li class="tempstep a" data-tempstep-from="6">Convergence (discrete to continuous)</li>
		</ul>
	</div>
</div>




<div class="Heading" id="background">
	<span style="float:left;">Dynamic Flows with Adaptive Route Choice</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading1">
	<span style="float:left;">Dynamic Flows with Adaptive Route Choice - Model</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading2">
	<span style="float:left;">Dynamic Flows with Adaptive Route Choice - Results</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading3">
	<span style="float:left;">Dynamic Flows with Adaptive Route Choice - Future Research</span>
	<span style="float:right;">Lukas Graf</span>
</div>


<div id="impress-toolbar"></div>

<div id="DrawingCanvas" style="position:fixed; left:5%; top:5%; width:90%; height:90%; z-index:1000; background-color:white; border:3px solid gray;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);pointer-events: auto !important;display:none; transition:border 2s, background-color 2s;">
		<canvas id="can0" width="1600" height="800" style="margin:5px 20px; border:1px solid black;"></canvas>

		<div style="position:absolute;bottom:20px;right:600px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:580px;width:20px;height:20px;background:#FF441F;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:560px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:540px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:520px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:500px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:480px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:460px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
		<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(0)" style="position:absolute;bottom:20px;right:300px;">
		<input type="button" value="glass" id="clr" size="23" onclick="canvas().makeTransparent(0)" style="position:absolute;bottom:20px;right:250px;">		
</div>

<!--
    To make all described above really work, you need to include impress.js in the page.
    You also need to call a `impress().init()` function to initialize impress.js presentation.
    And you should do it in the end of your document.
-->
<script type="text/javascript" src="js/impress.js"></script>
<script type="text/javascript" src="js/impress-custom.js"></script>

<script>impress().init();</script>

<script type="text/javascript">

	var canvas = window.canvas = function() {
					
		function Pen() {
			this.color = "black";
			this.size = 4;
			this.eraserMode = false;
		}
		
		function Canvas(name, pen) {
			var canvas = document.getElementById(name);
			var context = canvas.getContext("2d");
			var zoomcorrection = document.getElementById("impress").style.transform.match(/[0-9.]+/g);
			
			this.canvas = canvas;
			this.context = context;
			this.pen = pen;
			
			this.prevX = 0;
			this.prevY = 0;
			this.currX = 0;
			this.currY = 0;
						
			this.drawing = false;
			
			var findxy = function(res, e) {
				if (res == 'down') {
					this.prevX = this.currX;
					this.prevY = this.currY;
					this.currX = (e.client - canvas.getBoundingClientRect().left)/zoomcorrection;
					this.currY = (e.client - canvas.getBoundingClientRect().top)/zoomcorrection;
					this.drawing = true;
				}
				if (res == 'up' || res == "out") {
					this.drawing = false;
				}
				if (res == 'move') {
					if (this.drawing) {
						this.prevX = this.currX;
						this.prevY = this.currY;
						this.currX = (e.clientX - canvas.getBoundingClientRect().left)/zoomcorrection;
						this.currY = (e.clientY - canvas.getBoundingClientRect().top)/zoomcorrection;
						draw();
					}
				}
			}
			
			var draw = function() {
				if(pen.eraserMode) {
					context.clearRect(this.currX-20,this.currY-20,40,40);
				} else {
					context.beginPath();
					context.moveTo(this.prevX, this.prevY);
					context.lineTo(this.currX, this.currY);
					context.strokeStyle = this.pen.color;
					context.lineWidth = this.pen.size;
					context.stroke();
					context.closePath();
				}
			}
			
			canvas.addEventListener("mousemove", function (e) {
				findxy('move', e)
			}, false);
			canvas.addEventListener("mousedown", function (e) {
				findxy('down', e)
			}, false);
			canvas.addEventListener("mouseup", function (e) {
				findxy('up', e)
			}, false);
			canvas.addEventListener("mouseout", function (e) {
				findxy('out', e)
			}, false);

			
			
		}
	
		var init = function(n) {
			pen = new Pen();
			
			canvases = [];
			
			for(var i=0;i<n;i++) {
				canvases[i] = new Canvas("can"+i,pen)
			}
		}
		
		var color = function(obj) {
			pen.color = obj.style.backgroundColor;
			pen.eraserMode = false;
		}
		
		var toggleEraser = function() {
			pen.eraserMode = !(pen.eraserMode);
		}
		
		var clear = function(i) {
			if (confirm("Clear current canvas?")) {
				canvases[i].context.clearRect(0, 0, canvases[i].canvas.width, canvases[i].canvas.height);
			}
		}
		
		var makeTransparent = function(i) {
			var pDiv = canvases[i].canvas.parentElement;
			if (pDiv.style.backgroundColor == "white") {
				pDiv.style.backgroundColor = "transparent";
				pDiv.style.border = "3px solid transparent";
			} else {
				pDiv.style.backgroundColor = "white";
				pDiv.style.border = "3px solid gray";
			}
		}
		
		return({init: init, color: color, clear: clear, toggleEraser: toggleEraser, makeTransparent: makeTransparent});	
	}

	canvas().init(3);
</script>	
	
	
<script type="text/javascript">
		// SOURCE: https://stackoverflow.com/a/52011013
		// Define a function that takes LaTeX source code
		// and places the resulting generated SVG in a target SVG element.
		mathSVG = function (latex, target) {
		  // First create a new element to hold the initial Latex code
		  // and eventual MathJax generated SVG. This element isn't added
		  // to the main document, so it's never seen.
		  let mathBuffer = document.createElement("div");
		
		  // Update the buffer with the source latex.
		  mathBuffer.textContent = latex;
		  // Get MathJax to process and typeset.
		  MathJax.Hub.Queue(["Typeset", MathJax.Hub, mathBuffer]);
		  // Queue a callback function that will execute once it's finished typesetting.
		  MathJax.Hub.Queue(function () {
			// This (svg) is the generated graphics.
			var svg = mathBuffer.childNodes[1].childNodes[0];
			// The next line is optional, play with positioning as you see fit.
			svg.setAttribute("y", "0pt");
			// Move the generated svg from the buffer to the target element.
			target.appendChild(svg);
			// Clear the buffer.
			mathBuffer.textContent = "";
		  });
		};
		
		function generateTeXinSVGs() {
			listOfSVGs = document.getElementsByClassName("TeXinSVG");
			var i;
			for (i = 0; i < listOfSVGs.length; i++) {
				svgElement = listOfSVGs[i];
				latex = svgElement.children[0].textContent;
				svgElement.innerHTML = "";
				mathSVG("$" + latex + "$", svgElement);		
			} 
		};
</script>




</body>
</html>
