<!doctype html>

<!--
  This is a simple example / template impress.js slide show. The goal is to be
  easier to read for a first timer than the official and very feature rich
  demo by bartaz (http://bartaz.github.io/impress.js/). It's also a very
  traditional presentation that looks like slides (square screens with bullet
  points...), again to make a first timer feel more at home. From this simple
  presentation you can then go on to more powerful impress.js presentations!

  This example is hopefully helpful for people that want to create both
  simple and (eventually) awesome presentations in impress.js and comfortable
  doing that directly in HTML.

  By: @henrikingo (Still based on the HTML from bartaz' demo.)

-->

<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>Dynamic Flows with Adaptive Route Choice</title>

    <meta name="description" content="Dynamic Flows with Adaptive Route Choice" />
    <meta name="author" content="Lukas Graf" />


    <!--
        This file contains styles specific for this example presentation.
    -->
	<link href="css/classic-slides-IPCO.css" rel="stylesheet" />
	<link href="css/impress-custom-IPCO.css" rel="stylesheet" />

	<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">MathJax.Hub.Config({
	"CommonHTML": { scale: 85, linebreaks: { automatic: true } }})
	</script>
	<!-- Falls kein Internet verfügbar... -->
	<script type="text/javascript" async src="extras/MathJax/MathJax.js?config=TeX-MML-AM_CHTML">MathJax.Hub.Config({
	"CommonHTML": { scale: 85, linebreaks: { automatic: true } }})
	</script>

</head>

<!--

    Body element is used by impress.js to set some useful class names, that will allow you to detect
    the support and state of the presentation in CSS or other scripts.

    First very useful class name is `impress-not-supported`. This class means, that browser doesn't
    support features required by impress.js, so you should apply some fallback styles in your CSS.
    It's not necessary to add it manually on this element. If the script detects that browser is not
    good enough it will add this class, but keeping it in HTML means that users without JavaScript
    will also get fallback styles.

    When impress.js script detects that browser supports all required features, this class name will
    be removed.

    Another class name on body element also depends on currently active presentation step.
-->
<body class="impress-not-supported" onload="init();init2();init3();init4();">
<!--
    This fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>


<!--
    This is the core element used by impress.js: the wrapper for your presentation steps.
    In this element all the impress.js magic happens.

    data-transition-duration sets the time in microseconds that is used for the
    animation when transtitioning between slides.

    data-autoplay can be used to set the time in seconds, after which presentation
    automatically moves to next slide. It can also be set individually for each
    slide, but here we just set a common duration for all slides.
-->

<div style="display:none;">
  \(
    \newcommand{\IN}{\mathbb{N}}
    \newcommand{\IZ}{\mathbb{Z}}
    \newcommand{\IR}{\mathbb{R}}
    \newcommand{\IC}{\mathbb{C}}
    \newcommand{\A}{\mathcal{A}}
    \newcommand{\B}{\mathcal{B}}
    \newcommand{\U}{\mathfrak{U}}
    \newcommand{\coloneqq}{:=}
    \newcommand{\Set}[1]{\left\{#1\right\}}
    \newcommand{\supp}{\mathrm{supp}}
    \newcommand{\Re}{\mathrm{Re}}
    \newcommand{\Im}{\mathrm{Im}}
    \newcommand{\clos}[1]{\overline{#1}}
    \newcommand{\inte}[1]{\mathring{#1}}
	\newcommand{\dist}[2]{\mathrm{dist}^c_{#1}(#2)}
	\newcommand{\dists}[2]{{\mathrm{dist}^c_{#1}}'(#2)}
	\newcommand{\Ind}{\unicode{x1D7D9}}
	
  \)
</div>


<div id="impress" data-transition-duration="2000" data-autoplay="0" style="z-index:0;">


	<div id="Title" class="step slide center" data-x="0" data-y="0" data-scale="1" data-tempstep-number="8">
		<h1>Dynamic Flows with Adaptive Route Choice</h1><br />
			<strong>Lukas Graf</strong><sup>1</sup>, Tobias Harks<sup>1</sup>, Leon Sering<sup>2</sup> <br /><br />
			
			<span style="font-size:70%;"><sup>1</sup> Augsburg University, <sup>2</sup> Technische Universität Berlin</span>
			
			<div style="position:absolute; left:0px; bottom:100px; width:100%; height:500px;">
			
				<img class="edge tempstep a" data-tempstep-list="3-6" style="left:1000px; top:100px; width:300px; transform:rotate(90deg);" src="images/RedLineShadow.svg" />
				<img class="edge tempstep a" data-tempstep-list="3-4" style="left:300px; top:100px; width:700px; transform:rotate(0deg);" src="images/BlueLineShadow.svg" />
				<img class="edge tempstep a" data-tempstep-list="3-4" style="left:1000px; top:100px; width:300px; transform:rotate(90deg);" src="images/BlueLineShadow.svg" />
				<img class="edge tempstep a" data-tempstep-list="5-6" style="left:650px; top:100px; width:430px; transform:rotate(145deg);" src="images/BlueLineShadow.svg" />
				<img class="edge tempstep a" data-tempstep-list="5-6" style="left:300px; top:350px; width:700px; transform:rotate(0deg);" src="images/BlueLineShadow.svg" />
			
				<div class="tempstep a" data-tempstep-from="2"
						style="position:absolute; left:925px; top:300px; font-weight:bold; padding:33px 40px; background-color:white; z-index:10; border:2px black solid; border-radius:20px; color:black;">
					Goal
				</div>
			
				<div class="vertex tempstep a" data-tempstep-from="2" style="left:1000px; top:100px;"></div>
				<div class="vertex tempstep a" data-tempstep-from="2" style="left:650px; top:100px;"></div>
				<div class="vertex tempstep a" data-tempstep-from="2" style="left:650px; top:350px;"></div>
				<div class="vertex tempstep a" data-tempstep-from="2" style="left:300px; top:100px;"></div>
				<div class="vertex tempstep a" data-tempstep-from="2" style="left:300px; top:350px;"></div>
				
				<img class="edge tempstep a" data-tempstep-from="2" style="left:300px; top:100px; width:350px; transform:rotate(0deg);" src="images/Line.svg" />
				<img class="edge tempstep a" data-tempstep-from="2" style="left:650px; top:100px; width:350px; transform:rotate(0deg);" src="images/Line.svg" />
				<img class="edge tempstep a" data-tempstep-from="2" style="left:300px; top:350px; width:350px; transform:rotate(0deg);" src="images/Line.svg" />
				<img class="edge tempstep a" data-tempstep-from="2" style="left:650px; top:350px; width:350px; transform:rotate(0deg);" src="images/Line.svg" />
				<img class="edge tempstep a" data-tempstep-from="2" style="left:1000px; top:100px; width:300px; transform:rotate(90deg);" src="images/Line.svg" />
				<img class="edge tempstep a" data-tempstep-from="2" style="left:650px; top:100px; width:430px; transform:rotate(145deg);" src="images/Line.svg" />
				
				<img class="car R1 tempstep a" data-tempstep-from="2" data-temp src="images/CarRed.svg" />
				<img class="car R2 tempstep a" data-tempstep-from="2" data-temp src="images/CarRed.svg" />
				<img class="car R3 tempstep a" data-tempstep-from="2" data-temp src="images/CarRed.svg" />
				<img class="car B1 tempstep a" data-tempstep-from="2" data-temp src="images/CarBlue.svg" />
			</div>
			
			<div class="tempstep a" data-tempstep-from="7" style="position:absolute; bottom:50px; left:0px; width:100%; text-align:center;">
				<h2>&uarr; Discrete Model</h2>
				<p class="tempstep a" data-tempstep-from="8" style="margin-top:-20px; font-size:80%;">(unsplittable flow particles, discrete time steps)</p>
			</div>
			
	</div>
	
	<div id="ModelChange" class="step slide" data-x="0" data-y="500" data-scale="1" data-tempstep-number="2">
		<h2 style="margin-top:400px;">Continuous Model &darr;</h2>
		<p class="tempstep a" data-tempstep-from="2" style="margin-top:-130px; font-size:80%; text-align:center;">(infinitesimal flow particles, continuous time)</p>
	</div>
	
	<div id="Model" class="step slide" data-x="0" data-y="890" data-scale="1" data-tempstep-number="14">
		
		<div style="position:absolute; width:50%; left:0px; top:100px;">
			<h3 class="tempstep a" data-tempstep-from="2" style="margin-top:-30px;">Physical Model</h3>
			
			<ul>
				<li class="tempstep a" data-tempstep-from="3" >Directed (Multi-)Graph \(G = (V,E)\)</li>
				<li class="tempstep a" data-tempstep-from="4" >For all edges \(e \in E\): length \(\tau_e \in \IN\) and capacity \(\nu_e\)</li>
				<li class="tempstep a" data-tempstep-from="5" >Commodities \(I\) with source node \(s_i\), sink node \(t_i\)<br />
					and constant inflow rate \(u_i: [a_i,b_i] \to \IR_{\geq 0}\)</li>
				<li class="tempstep a" data-tempstep-from="7" >Inflow \(\gt\) capacity \(\implies\) queues form<br />
																&nbsp; \(f_e^+(\theta) \gt \nu_e\) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (length \(q_e(\theta)\))</li> 
			</ul>
			
			<div class="tempstep a graph" data-tempstep-from="3" style="position:absolute; width:100%; height:400px; margin-top:10px;">
				<div class="vertexNamed blue" style="left:100px; top:50px;">\(s_1\)</div>
					<div class="tempstep a blue" data-tempstep-list="5-8"  style="position:absolute; left:50px; top:-20px; width:200px;">\(u_1 = \Ind_{[0,1]}\)</div>
				<div class="vertexNamed" style="left:100px; top:300px;">\(v_2\)</div>
				<div class="vertexNamed" style="left:350px; top:50px;">\(v_1\)</div>
				<div class="vertexNamed" style="left:350px; top:300px;">\(v_3\)</div>
				<div class="vertexNamed red" style="left:600px; top:50px;">\(s_2\)</div>
					<div class="tempstep a red" data-tempstep-list="5-8"  style="position:absolute; left:500px; top:-20px; width:200px;">\(u_2 = 3\cdot\Ind_{[0,1]}\)</div>
				<div class="vertexNamed" style="left:600px; top:300px;">\(t_{{\color{blue}1}/{\color{red}2}}\)</div>
				
				<!-- Edge: s1->1 -->
				<img class="edge" style="left:120px; top:50px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
					<div class="tempstep a" data-tempstep-from="4" style="position:absolute; left:180px; top:60px; width:100px;">\((\tau_e, \nu_e)\)</div>
					<div class="tempstep a flow b" data-tempstep-list="4-8" data-tempstep-classes="1-5:flowS" style="left:120px; top:50px; transform:rotate(0deg); height:15px; width:210px;"></div>
					<div class="tempstep a flow b" data-tempstep-from="8" data-tempstep-classes="11-20:flowS" style="left:330px; top:50px; transform:rotate(180deg); height:15px; width:210px;"></div>
				<!-- Edge: 1->s2 -->
				<img class="edge" style="left:370px; top:50px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<!-- Edge: 1->2 -->
				<img class="edge" style="left:350px; top:50px; width:330px; transform:rotate(135deg);" src="images/Arrow.svg" />
					<div class="tempstep a flow b" data-tempstep-from="8" data-tempstep-classes="1-10:flowS" style="left:350px; top:50px; transform:rotate(135deg); height:15px; width:330px;"></div>
				<!-- Edge: s2->t -->
				<img class="edge" style="left:595px; top:70px; width:210px; transform:rotate(90deg);" src="images/Arrow.svg" />
					<div class="tempstep a flow r" data-tempstep-from="4" data-tempstep-classes="1-5:flowS" style="left:595px; top:70px; transform:rotate(90deg); height:15px; width:210px;"></div>
					
					<img class="tempstep a" data-tempstep-list="7-9" src="images/QueueArrowR.svg" style="position:absolute; left:620px; top:40px; width:80px; height:70px;" />
					<div class="tempstep a" data-tempstep-list="7-9" style="position:absolute; left:710px; top:35px; width:150px;">\(f_e^+(\theta)=3\)</div>
					<div class="tempstep a flow r" data-tempstep-from="4" data-tempstep-classes="1-5:flowS;11-20:queueM" style="left:620px; top:100px; transform:rotate(0deg); height:40px; width:100px;"></div>
					<div class="tempstep a red" data-tempstep-list="6-10" style="position:absolute; left:730px; top:95px; width:150px; transition-delay:1s;">\(q_e(\theta) = 2\)</div>
					<div class="tempstep a red" data-tempstep-from="11" style="position:absolute; left:730px; top:95px; width:150px; transition-delay:1s;">\(q_e(\theta) = 1\)</div>
					
					<div class="tempstep a" data-tempstep-list="10" style="position:absolute; left:400px; top:150px; width:200px;">\(c_e(\theta)=1 + \frac{2}{1}\)</div>
					<div class="tempstep a" data-tempstep-from="11" style="position:absolute; left:400px; top:150px; width:200px;">\(c_e(\theta)=1 + \frac{1}{1}\)</div>

				<!-- Edge: 2->3 -->
				<img class="edge" style="left:120px; top:300px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<!-- Edge: 3->t -->
				<img class="edge" style="left:370px; top:300px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
			</div>
		</div>
		
		<div style="position:absolute; width:50%; right:0px; top:100px;">
			<h3 class="tempstep a" data-tempstep-from="8" style="margin-top:-30px;">Behavioral Model</h3>
			
			<p class="theoremstyle d tempstep a" data-tempstep-from="9">The <em>current travel time</em> at time \(\theta\) on edge \(e\) is: \[c_e(\theta) := \tau_e + q_e(\theta)/\nu_e\]  </p>
			
			<p class="theoremstyle d tempstep a" data-tempstep-from="12">A flow is in <em>Instantaneous Dynamic Equilibrium (IDE)</em> if the following holds: <br />
			<span class="tempstep a" data-tempstep-list="12">Whenever positive flow enters an edge, this edge must lie on a currently shortest path towards the respective sink (w.r.t. \(c\)).</span></p>
			<div class="tempstep a" data-tempstep-from="13" style="margin-top:-130px;">\[f^+_{vw}(\theta) > 0 \implies \dist{v,t}{\theta} = c_{vw}(\theta) + \dist{w,t}{\theta}\]
				<p class="tempstep a theoremstyle" style="margin-top:-10px;" data-tempstep-from="14">(we call such an edge \(vw\) <em>active</em>)</p>
			</div>
		</div>
	
	</div>
	
	<div id="Questions" class="step slide" data-rel-x="0" data-rel-y="325" data-scale="1" data-tempstep-number="5">
	
		<div style="position:absolute; bottom:75px;width:100%;">
			<h2 class="tempstep a" data-tempstep-from="1" style="margin:auto;">Questions:</h2>
			
		<p class="tempstep a" data-tempstep-from="2" style="width:45%; float:left; text-align:center;">
			Existence of IDEs? 
		</p>
		<p class="tempstep a" data-tempstep-from="4" style="width:45%; float:right; text-align:center;">
			Termination of IDEs? 
		</p>
		<p class="tempstep a" data-tempstep-from="3" style="width:45%; float:left; text-align:center;">
			&darr;<br />
			Construction of IDEs?
		</p>
		<p class="tempstep a" data-tempstep-from="5" style="width:45%; float:right; text-align:center;">
			&darr;<br />
			Quality of IDEs?
		</p>		
		
		</div>	
	</div>
	
	<div id="SS-Ex" class="step slide" data-rel-x="-1000" data-rel-y="1000" data-tempstep-number="10" style="z-index:0;">
		
		<h2>Existence <span class="tempstep a" data-tempstep-from="2">(Single-Sink)</span></h2>
		
			<div class="theoremstyle t tempstep a"  data-tempstep-from="3" style="width:50%;">
				In single-sink networks IDE flows always exist<br />
			</div>
			
			<div class="proofstyle i tempstep a" data-tempstep-from="4" style="width:80%; position:absolute; top:230px;">
				<ol style=" margin-top:-3px; margin-left:-20px;">
					<li class="tempstep a" data-tempstep-from="4">
						Given an IDE flow \(f\) up to some time \(\theta\),<br />extend \(f\) up to some time \(\theta+\varepsilon\).</li>
					<li class="tempstep a" data-tempstep-from="5">
						Calculate node inflows at time \(\theta\).</li>
					<li class="tempstep a" data-tempstep-from="6">
						Order nodes by their distance to sink \(t\).</li>
					<li class="tempstep a" data-tempstep-from="7">
						<span class="RedOnCons">Distribute node inflow to active edges such that:</span> <br />
							\(f_{vw}^+(\theta) > 0 \implies \dists{v,t}{\theta} = c_{vw}'(\theta) + \dists{w,t}{\theta}\)<br />
							\(f_{vw}^+(\theta) = 0 \implies \dists{v,t}{\theta} \geq c_{vw}'(\theta) + \dists{w,t}{\theta}\)
					</li>
				</ol>
				<span class="tempstep a" data-tempstep-from="8"><strong>Invariant:</strong> Flows are piecewise constant, travel times change piecewise linear.</span><br />
				<span class="tempstep a" data-tempstep-from="9">\(\implies\) Distribution stays valid for some \(\varepsilon > 0\)</span><br />
				<span class="tempstep a" data-tempstep-from="10">Extend flow for all times <span class="RedOnCons">using Zorn's Lemma</span></span>
			</div>
		
			<div class="tempstep a" data-tempstep-from="4" style="position:absolute; width:600px; height:400px; right:0px; top:150px;">
				
				<div class="graph" style="position:absolute; width:100%; height:100%; ">
					<div class="vertexNamed blue" style="left:50px; top:200px;">\(s\)</div>
						<div class="blue" style="position:absolute; left:0px; top:120px; width:200px;">\(u = 3\cdot \Ind_{[0,3]}\)</div>
					<div class="vertexNamed" style="left:425px; top:75px;">\(v\)</div>
					<div class="vertexNamed" style="left:300px; top:200px;">\(w\)</div>
					<div class="vertexNamed" style="left:175px; top:325px;">\(x\)</div>
					<div class="vertexNamed" style="left:425px; top:325px;">\(y\)</div>
					<div class="vertexNamed blue" style="left:550px; top:200px;">\(t\)</div>
					
					<!-- Edge: s->w -->
					<img class="edge" style="left:70px; top:200px; width:200px; transform:rotate(0deg);" src="images/Arrow.svg" />
					<div class="flow b" style="left:70px; top:193px; transform:rotate(0deg); height:30px; width:210px;"></div>
					<!-- Edge: w->t -->
					<img class="edge" style="left:320px; top:200px; width:200px; transform:rotate(0deg);" src="images/Arrow.svg" />
					<div class="flow b" style="left:320px; top:200px; transform:rotate(0deg); height:15px; width:210px;"></div>
					<div class="flow b" style="left:340px; top:210px; transform:rotate(90deg); height:40px; width:50px;"></div>
					<!-- Edge: w->v -->
					<img class="edge" style="left:310px; top:180px; width:130px; transform:rotate(-45deg);" src="images/Arrow.svg" />
					<!-- Edge: v->t -->
					<img class="edge" style="left:435px; top:95px; width:130px; transform:rotate(45deg);" src="images/Arrow.svg" />
					<!-- Edge: s->x -->
					<img class="edge" style="left:60px; top:220px; width:130px; transform:rotate(45deg);" src="images/Arrow.svg" />
					<!-- Edge: x->y -->
					<img class="edge" style="left:195px; top:325px; width:200px; transform:rotate(0deg);" src="images/Arrow.svg" />
					<!-- Edge: y->t -->
					<img class="edge" style="left:435px; top:315px; width:130px; transform:rotate(-45deg);" src="images/Arrow.svg" />
				</div>
				
				<div style="position:absolute; width:100%; height:100%;z-index:400;">			
					<canvas id="can" width="600" height="400" style="position:absolute;top:0px;left:0px;"></canvas>

					<div style="position:absolute;top:0px;right:0px;width:20px;height:20px;background:blue;" id="blue" onclick="color(this)"></div>
					<div style="position:absolute;top:20px;right:0px;width:20px;height:20px;background:red;" id="red" onclick="color(this)"></div>
					<div style="position:absolute;top:40px;right:0px;width:20px;height:20px;background:green;" id="green" onclick="color(this)"></div>
					<div style="position:absolute;top:60px;right:0px;width:20px;height:20px;background:black;" id="black" onclick="color(this)"></div>
					<div style="position:absolute;top:80px;right:0px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="color(this)"></div>
					<input type="button" value="clear" id="clr" size="23" onclick="erase()" style="position:absolute;bottom:0px;right:0px;">		
				</div>
			</div>	
	</div>
	
	
	<div id="MS-Ex" class="step slide" data-rel-x="-1500" data-rel-y="0" data-scale="1" data-tempstep-number="17">
		
		<h2>Existence (Multi-Sink)</h2>
		
			<div class="theoremstyle t tempstep a" data-tempstep-from="2" style="width:50%;">
				In multi-sink networks IDE flows always exist <br />
				<span class="tempstep a" data-tempstep-from="14">(even for more general inflow rate functions \(u_i\)).</span>
			</div>
			
			<div class="proofstyle i tempstep a" data-tempstep-from="3" style="width:90%; position:absolute; top:220px;">
				<ol style="margin-top:-8px;">
					<li>Given an IDE flow \(f\) up to some time \(\theta_0\), extend \(f\) up to some time \(\theta_0+\varepsilon\).</li>
					<li class="tempstep a" data-tempstep-from="4">Calculate the node-inflows at time \(\theta_0\).</li>
					<li class="tempstep a" data-tempstep-list="5-7" data-tempstep-classes="7-20:striken;7:red" style="transition:color 2s, opacity 2s;">Order nodes by their distance to sink \(t\).</li>
				</ol><ol start="3" style="margin-top:-20px; margin-bottom:80px;">
					<li class="tempstep a" data-tempstep-from="8" >Let \(K := \{g\,|\,g\) extension of \(f\) on \([\theta_0, \theta_0+\tau_{\min})\) (not necessarily IDE)\(\}\).</li>
					<li class="tempstep a" data-tempstep-from="9" >Consider the mapping \(\mathcal{A}: K \to L^2([\theta_0,\theta_0+\tau_{\min}))^{I \times E}, g=(g_{i,e}) \mapsto h = (h_{i,e}),\)<br />
						where \(h_{i,vw}(\theta) := \dist{w,t_i}{\theta} + c_{vw}(\theta) - \dist{v,t_i}{\theta}\) <span class="tempstep a" data-tempstep-from="10">\(= 0 \iff vw\) is active</span></li>
				</ol>
				<div class="tempstep a graph" data-tempstep-from="9" style="position:absolute; width:100%; height:70px; left:0px; top:250px;">
					<div class="vertexNamed" style="left:550px; top:50px;">\(v\)</div>
					<div class="vertexNamed" style="left:300px; top:50px;">\(w\)</div>
					<div class="vertexNamed" style="left:0px; top:50px;">\(t_i\)</div>
					<img class="edge" style="left:550px; top:50px; width:230px; transform:rotate(180deg);" src="images/Arrow.svg" />
					<img class="edge" style="left:300px; top:50px; width:280px; transform:rotate(180deg);" src="images/Arrow-dashed.svg" />
				</div>
				<p class="tempstep a" data-tempstep-from="11" style="text-align:center;"><strong>Then:</strong> \(g \in K\) is IDE extension \(\iff \langle g, \mathcal{A}(g)\rangle = 0\) <span class="tempstep a" data-tempstep-from="12">\(\iff \langle \mathcal{A}(g),g'-g\rangle \geq 0\) f.a. \(g' \in K\)</span></p>
				<ol start="5" style="margin-top:-5px; margin-bottom:-10px;">
					<li class="tempstep a" data-tempstep-from="13" >Such a \(g\) always exists (\(\mathcal{A}\) weak-strong-cont., \(K\) non-empty, closed, convex, bounded).</li>
				</ol>
			</div>
			
			<div class="tempstep a theoremstyle o" data-tempstep-from="15" style="position:absolute; bottom:50px; left:0px;">
				This extension proof is non-constructive! <br />
				<span class="tempstep a" data-tempstep-from="16"><em>However</em>, there is also an constructive extension proof using MIP</span> <br />
				<span class="tempstep a" data-tempstep-from="17"><em>However</em>, solving an MIP is hard!</span> <br />
			</div>
		
			<div class="tempstep a graph" data-tempstep-from="6" style="position:absolute; width:50%; height:400px; right:0px; top:100px;">
				<div class="vertexNamed blue" style="left:200px; top:50px;">\(s_1\)</div>
				<div class="vertexNamed red" style="left:500px; top:50px;">\(s_2\)</div>
				<div class="vertexNamed red" style="left:100px; top:75px;">\(t_2\)</div>
				<div class="vertexNamed blue" style="left:650px; top:25px;">\(t_1\)</div>
			</div>
	
	</div>
	
	<div id="SS-Cons-Prev" class="step" data-rel-x="1500" data-rel-y="0" data-scale="1" data-tempstep-number="1" style="z-index:-10;">
		
	</div>	
	
	<div id="SS-Cons" class="slide step" data-rel-x="0" data-rel-y="750" data-scale="1" data-tempstep-number="7">
		<h2 style="text-align:center;">Construction (Single-Sink)</h2>
		
		<div class="theoremstyle l tempstep a" data-tempstep-from="2">
			A distribution of the node inflow to active edges satisfying</span> <br />
				\(f_{vw}^+(\theta) > 0 \implies \dists{v,t}{\theta} = c_{vw}'(\theta) + \dists{w,t}{\theta}\)<br />
				\(f_{vw}^+(\theta) = 0 \implies \dists{v,t}{\theta} \geq c_{vw}'(\theta) + \dists{w,t}{\theta}\)<br />
			can be found in polynomial time.
		</div>
		
		<div class="proofstyle tempstep a" data-tempstep-from="3" style="position:relative;">
			Define \(h_{vw}\big(f_{vw}^+(\theta)\big) := c'_{vw}(\theta) + \dists{w,t}{\theta}\).<br />
			<img src="images/FlowDistributionExample.png" class="tempstep a" data-tempstep-from="4" style="margin:auto; width:90%;" />
		</div>
		
		<img src="images/ConstructionSign.svg" style="width:20%; float:right;" class="tempstep a" data-tempstep-from="5"/> 
		
		<div class="theoremstyle c tempstep a" data-tempstep-from="6" style="width:75%;">
			For acyclic graphs the above algorithm computes an IDE with a finite number of phases within \([0,T]\) for every time horizon \(T \geq 0\).
		</div>
		
		<div class="theoremstyle c tempstep a" data-tempstep-from="7" style="width:75%;">
			Computing an IDE flow is NP-hard (even for acyclic graphs).
		</div>
	</div>		
	
	<div id="QuestionsSd" class="step" data-rel-to="Questions" data-rel-x="0" data-rel-y="0" data-scale="1">
	
	</div>
	
	
	
	
	<div id="SS-Term" class="step slide" data-rel-x="1000" data-rel-y="1000" data-scale="1" data-tempstep-number="12">		
		
		<h2>Termination <span class="tempstep a" data-tempstep-from="2">(Single-Sink)</span></h2>
		
			<div class="theoremstyle t tempstep a" data-tempstep-from="3" style="width:50%;">
				In single-sink networks \(G\) all IDE flows terminate <br />
				within <span class="RedOnPoA">at most \(4U\tau_G\)</span>.
			</div>
			
			<div class="theoremstyle o tempstep a" data-tempstep-from="4" style="width:50%;">
				In an acyclic graph the termination time is \(\tau_{\max}+U\).
			</div>
			
			<div class="theoremstyle o tempstep a"  data-tempstep-list="5" style="width:50%;">
				Without queues the active edges form a static acyclic graph.
			</div>
			
			<div class="theoremstyle o tempstep a"  data-tempstep-from="6" style="width:50%; margin-top:-110px; background-color:white;">
				With only small queues the active edges form a static acyclic graph.
			</div>
			
			<div class="proofstyle t tempstep a" data-tempstep-from="8" style="position:absolute; top:450px;">
				&nbsp;A subgraph \(H \subseteq G\) containing the sink \(t\) as well as all its shortest paths towards the sink<br />is <em> sink-like</em> for some interval \([a,b]\) if the sum of
				<ul style="margin:0px;">
					<li>current flow volume within \(H\) and</li>
					<li>the cummulative inflow into \(H\) over \([a,b]\)</li>
				</ul>
				is at most \(\frac{1}{2}\).<br />
				<span class="tempstep a" data-tempstep-from="9">Let \(v \in G\setminus H\) be closest to \(t\).</span> <span class="tempstep a" data-tempstep-from="10">Then \(H+v\) is sink-like for 
					\(\left[a,b-\sum_{e \text{ edge between } v \text{ and } H}(\tau_e + \frac{1}{\nu_e})\right]\).</span><br />
				<span  class="tempstep a" data-tempstep-from="11">\(\implies\) If \(H := \{t\}\) is sink-like for \(\tau_G+|E|\), the flow terminates.</span> <br />
				<span class="tempstep a" data-tempstep-from="12">\(\implies\) The sink has inflow of at least \(\frac{1}{2}\)	all \(2\tau_G\) time steps.</span>			
			</div>
			
			

			<div class="tempstep a" data-tempstep-from="3" style="position:absolute; width:600px; height:400px; right:-30px; top:100px;">
				<div class="graph" style="position:absolute; width:100%; height:100%; left:0px; top:0px;">
					<div class="vertexNamed blue" style="left:100px; top:50px;">\(s_1\)</div>
					<div class="vertexNamed" style="left:100px; top:300px;">\(v_2\)</div>
					<div class="vertexNamed" style="left:350px; top:50px;">\(v_1\)</div>
					<div class="vertexNamed green" style="left:350px; top:300px;">\(s_3\)</div>
					<div class="vertexNamed red" style="left:600px; top:50px;">\(s_2\)</div>
					<div class="vertexNamed" style="left:600px; top:300px;">\(t\)</div>
					
					
					<!-- Edge: s1->1 -->
					<img class="edge" style="left:120px; top:50px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
					<!-- Edge: 1->s2 -->
					<img class="edge" style="left:370px; top:50px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
					<!-- Edge: 1->2 -->
					<img class="edge" style="left:350px; top:50px; width:330px; transform:rotate(135deg);" src="images/Arrow.svg" />
					<!-- Edge: 2->s1 -->
					<img class="edge" style="left:100px; top:280px; width:210px; transform:rotate(-90deg);" src="images/Arrow.svg" />
					<!-- Edge: s2->t -->
					<img class="edge" style="left:595px; top:70px; width:210px; transform:rotate(90deg);" src="images/Arrow.svg" />
					<!-- Edge: 2->s3 -->
					<img class="edge" style="left:120px; top:300px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
					<!-- Edge: s3->t -->
					<img class="edge" style="left:370px; top:300px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
				</div>		
		
				<div style="position:absolute; width:100%; height:100%;z-index:400;">			
					<canvas id="can2" width="600" height="400" style="position:absolute;top:0px;left:0px;"></canvas>

					<div style="position:absolute;top:150px;right:200px;width:20px;height:20px;background:blue;" id="blue" onclick="color2(this)"></div>
					<div style="position:absolute;top:150px;right:180px;width:20px;height:20px;background:red;" id="red" onclick="color2(this)"></div>
					<div style="position:absolute;top:150px;right:160px;width:20px;height:20px;background:green;" id="green" onclick="color2(this)"></div>
					<div style="position:absolute;top:150px;right:140px;width:20px;height:20px;background:black;" id="black" onclick="color2(this)"></div>
					<div style="position:absolute;top:150px;right:120px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="color2(this)"></div>
					<input type="button" value="clear" id="clr" size="23" onclick="erase2()" style="position:absolute;top:190px;right:150px;">		
				</div>
			</div>
	
	</div>
	

	<div id="MS-Term" class="step slide" data-rel-x="1500" data-rel-y="0" data-scale="1" data-tempstep-number="23">
		
		<h2>Termination (Multi-Sink)</h2>
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="22" style="position:absolute; left:50px; bottom:100px;">There exists a multi-sink network where all IDE flows cycle forever.</div>
		
		<div class="theoremstyle cor tempstep a" data-tempstep-from="23" style="position:absolute; left:50px; bottom:50px;">
			For IDEs in multi-sink-networks the Price of Anarchy is \(\infty\).
		</div>
		
		<div class="tempstep a graph" data-tempstep-from="2" style="position:absolute; width:100%; height:600px; left:0px; top:100px;">
			<div class="vertexNamed blue" style="left:750px; top:500px;">\(s_1\)</div> 					<!--s1-->
			<div class="vertex" style="left:750px; top:350px;"></div>									<!--1 -->
			<div class="vertex" style="left:900px; top:350px;"></div>									<!--2 -->
			<div class="vertex" style="left:900px; top:500px;"></div>									<!--3 -->
			<div class="vertex tempstep a" data-tempstep-from="9" style="left:600px; top:350px;"></div>	<!--4 -->
			<div class="vertex tempstep a" data-tempstep-from="9" style="left:500px; top:425px;"></div>	<!--5 -->
			<div class="vertex tempstep a" data-tempstep-from="9" style="left:600px; top:500px;"></div>	<!--6 -->
			
			
			<div class="vertex tempstep a" data-tempstep-from="3" style="left:1000px; top:250px;"></div> <!--1' -->
			<div class="vertex tempstep a" data-tempstep-from="3" style="left:1050px; top:350px;"></div> <!--3' -->
			<div class="vertex tempstep a" data-tempstep-list="9-20" style="left:750px; top:250px;"></div>  <!--6' -->
			
			<div class="vertexNamed blue" style="left:1200px; top:200px;">\(t_1\)</div>					<!--t1-->
			
			
			
			<!-- s1->1 -->
			<img class="edge" style="left:750px; top:500px; width:140px; transform:rotate(-90deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="5;10;15-30" data-tempstep-classes="3-4:flowS;8-9:flowS;13-14:flowS" 
							  style="left:750px; top:500px; transform:rotate(-90deg); height:15px; width:140px; margin-top:-10px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="6;11-12" data-tempstep-classes="6-7:flowS;12-13:flowS;16-17:flowS" 
							  style="left:750px; top:350px; transform:rotate(90deg); height:15px; width:140px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="9-11;14-30" data-tempstep-classes="8-9:flowS;11-12:flowS;13-14:flowS" 
							  style="left:770px; top:440px; transform:rotate(0deg); height:40px; width:40px;"></div>
			<!-- 1->2 -->
			<img class="edge" style="left:750px; top:350px; width:140px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="6;12" data-tempstep-classes="4-5:flowS;10-11:flowS;14-15:flowS" 
							  style="left:750px; top:350px; transform:rotate(0deg); height:15px; width:140px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="7;13" data-tempstep-classes="7-8:flowS;13-14:flowS;17-18:flowS" 
							  style="left:900px; top:350px; transform:rotate(180deg); height:15px; width:140px;"></div>
			<!-- 2->3 -->
			<img class="edge" style="left:900px; top:350px; width:140px; transform:rotate(90deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="7;13" data-tempstep-classes="5-6:flowS;11-12:flowS;15-16:flowS" 
							  style="left:900px; top:350px; transform:rotate(90deg); height:15px; width:140px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="8;14" data-tempstep-classes="8-9:flowS;14-15:flowS;17-18:flowS" 
							  style="left:900px; top:500px; transform:rotate(-90deg); height:15px; width:140px;"></div>
			<!-- 3->s1 -->
			<img class="edge" style="left:900px; top:500px; width:130px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="8;14" data-tempstep-classes="6-7:flowS;12-13:flowS;16-17:flowS" 
							  style="left:900px; top:500px; transform:rotate(180deg); height:15px; width:140px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="9;15" data-tempstep-classes="9-10:flowS;15-16:flowS;19-20:flowS" 
							  style="left:750px; top:500px; transform:rotate(0deg); height:15px; width:140px;"></div>
			<!-- 1->4 -->
			<img class="edge tempstep a" data-tempstep-from="9" style="left:750px; top:350px; width:140px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="11" data-tempstep-classes="9-10:flowS;14-15:flowS" 
							  style="left:750px; top:350px; transform:rotate(180deg); height:15px; width:140px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="12" data-tempstep-classes="12-13:flowS;17-18:flowS" 
							  style="left:600px; top:350px; transform:rotate(0deg); height:15px; width:140px;"></div>
			<!-- 4->5 -->
			<img class="edge tempstep a" data-tempstep-from="9" style="left:600px; top:350px; width:120px; transform:rotate(145deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="12" data-tempstep-classes="10-11:flowS;15-16:flowS" 
							  style="left:600px; top:350px; transform:rotate(145deg); height:15px; width:120px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="13" data-tempstep-classes="13-14:flowS;18-19:flowS" 
							  style="left:500px; top:425px; transform:rotate(-35deg); height:15px; width:140px;"></div>
			<!-- 5->6 -->
			<img class="edge tempstep a" data-tempstep-from="9" style="left:500px; top:425px; width:120px; transform:rotate(35deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="13" data-tempstep-classes="11-12:flowS;16-17:flowS" 
							  style="left:500px; top:425px; transform:rotate(35deg); height:15px; width:120px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="14" data-tempstep-classes="14-15:flowS;19-20:flowS" 
							  style="left:600px; top:500px; transform:rotate(-145deg); height:15px; width:120px;"></div>
			<!-- 6->s1 -->
			<img class="edge tempstep a" data-tempstep-from="9" style="left:600px; top:500px; width:120px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="14" data-tempstep-classes="12-13:flowS;17-18:flowS" 
							  style="left:600px; top:500px; transform:rotate(0deg); height:15px; width:120px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="15" data-tempstep-classes="15-16:flowS;20-21:flowS" 
							  style="left:750px; top:500px; transform:rotate(180deg); height:15px; width:120px;"></div>
			
			
			<!-- 1->1' -->
			<img class="edge tempstep a" data-tempstep-from="3" style="left:750px; top:350px; width:260px; transform:rotate(-22deg);" src="images/Arrow.svg" />
			<!-- 1'->t1 -->
			<img class="edge tempstep a" data-tempstep-from="3" style="left:1000px; top:250px; width:180px; transform:rotate(-15deg);" src="images/Arrow.svg" />
			<!-- 3->3' -->
			<img class="edge tempstep a" data-tempstep-from="3" style="left:900px; top:500px; width:200px; transform:rotate(-45deg);" src="images/Arrow.svg" />
			<!-- 3'->t1 -->
			<img class="edge tempstep a" data-tempstep-from="3" style="left:1050px; top:350px; width:190px; transform:rotate(-45deg);" src="images/Arrow.svg" />
			<!-- 6->6' -->
			<img class="edge tempstep a" data-tempstep-list="9-19" style="left:600px; top:500px; width:290px; transform:rotate(-60deg);" src="images/Arrow.svg" />
			<!-- 6'->t1 -->
			<img class="edge tempstep a" data-tempstep-list="9-20" style="left:750px; top:250px; width:430px; transform:rotate(-8deg);" src="images/Arrow.svg" />
			
			
			<div class="tempstep a" data-tempstep-from="4" style="position:absolute; left:1000px; top:135px; width:180px; height:80px; z-index:200; transform:rotate(-15deg);">
				<img src="images/graphQueues2.svg" height="100%" style="background-color:#FFFFFFDD;" />	
				<img class="tempstep Line" data-tempstep-classes="0-4:Line1;5:Line2;6:Line3;7:Line4;8:Line5;9:Line0;10:Line1;11:Line2;12:Line3;13:Line4;14:Line0;15-30:Line1"
					src="images/graphQueuesLine.svg" style="position:absolute; bottom:0px; height:100%;" />
			</div>
			
			<div class="tempstep a" data-tempstep-from="4" style="position:absolute; left:1090px; top:270px; width:180px; height:80px; z-index:200; transform:rotate(-45deg);">
				<img src="images/graphQueues7.svg" height="100%" style="background-color:#FFFFFFDD;" />	
				<img class="tempstep Line" data-tempstep-classes="0-4:Line1;5:Line2;6:Line3;7:Line4;8:Line5;9:Line0;10:Line1;11:Line2;12:Line3;13:Line4;14:Line0;15-30:Line1"
					src="images/graphQueuesLine.svg" style="position:absolute; bottom:0px; height:100%;" />
			</div>
			
			<div class="tempstep a" data-tempstep-list="9-20" style="position:absolute; left:800px; top:140px; width:180px; height:80px; z-index:200; transform:rotate(-8deg);">
				<img src="images/graphQueues5.svg" height="100%" style="background-color:#FFFFFFDD;" />	
				<img class="tempstep Line" data-tempstep-classes="0-4:Line1;5:Line2;6:Line3;7:Line4;8:Line5;9:Line0;10:Line1;11:Line2;12:Line3;13:Line4;14:Line0;15-30:Line1"
					src="images/graphQueuesLine.svg" style="position:absolute; bottom:0px; height:100%;" />
			</div>
			
			<div class="tempstep a" data-tempstep-from="10" style="position:absolute; left:600px; top:360px; width:180px; height:80px; z-index:200; transform:rotate(-90deg);">
				<img src="images/graphQueuesBlue.svg" height="100%" style="background-color:#FFFFFFDD;" />	
				<img class="tempstep Line" data-tempstep-classes="0-4:Line1;5:Line2;6:Line3;7:Line4;8:Line5;9:Line0;10:Line1;11:Line2;12:Line3;13:Line4;14:Line0;15-30:Line1"
					src="images/graphQueuesLine.svg" style="position:absolute; bottom:0px; height:100%;" />
			</div>

			<div  class="tempstep a" data-tempstep-from="16" style="position:absolute; left:-100px; top:250px; transform:scale(.5,.5);">
				<div class="vertexNamed red" style="left:750px; top:500px;">\(s\)</div> 					<!--s1-->
				<div class="vertex" style="left:750px; top:350px;"></div>									<!--1 -->
				<div class="vertex" style="left:900px; top:350px;"></div>									<!--2 -->
				<div class="vertex" style="left:900px; top:500px;"></div>									<!--3 -->
				<div class="vertex" style="left:600px; top:350px;"></div>	<!--4 -->
				<div class="vertex" style="left:500px; top:425px;"></div>	<!--5 -->
				<div class="vertex" style="left:600px; top:500px;"></div>	<!--6 -->
				
				
				<!-- s1->1 -->
				<img class="edge" style="left:750px; top:500px; width:140px; transform:rotate(-90deg);" src="images/Arrow.svg" />
				<!-- 1->2 -->
				<img class="edge" style="left:750px; top:350px; width:140px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<!-- 2->3 -->
				<img class="edge" style="left:900px; top:350px; width:140px; transform:rotate(90deg);" src="images/Arrow.svg" />
				<!-- 3->s1 -->
				<img class="edge" style="left:900px; top:500px; width:130px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<!-- 1->4 -->
				<img class="edge" style="left:750px; top:350px; width:140px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<!-- 4->5 -->
				<img class="edge" style="left:600px; top:350px; width:120px; transform:rotate(145deg);" src="images/Arrow.svg" />
				<!-- 5->6 -->
				<img class="edge" style="left:500px; top:425px; width:120px; transform:rotate(35deg);" src="images/Arrow.svg" />
				<!-- 6->s1 -->
				<img class="edge" style="left:600px; top:500px; width:120px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<!-- 1->? -->
				<img class="edge tempstep a" data-tempstep-from="17" style="left:750px; top:350px; width:120px; transform:rotate(-90deg);" src="images/Arrow.svg" />
				
				
				<div style="position:absolute; left:600px; top:360px; width:180px; height:80px; z-index:200; transform:rotate(-90deg);">
					<img src="images/graphQueuesRedB.svg" height="100%" style="background-color:#FFFFFFDD;" />	
				</div>
			</div>

			<div  class="tempstep a" data-tempstep-from="17" style="position:absolute; left:-100px; top:100px; transform:scale(.5,.5);">
				<div class="vertexNamed red" style="left:750px; top:500px;">\(s\)</div> 					<!--s1-->
				<div class="vertex" style="left:750px; top:350px;"></div>									<!--1 -->
				<div class="vertex" style="left:900px; top:350px;"></div>									<!--2 -->
				<div class="vertex" style="left:900px; top:500px;"></div>									<!--3 -->
				<div class="vertex" style="left:600px; top:350px;"></div>	<!--4 -->
				<div class="vertex" style="left:500px; top:425px;"></div>	<!--5 -->
				<div class="vertex" style="left:600px; top:500px;"></div>	<!--6 -->
				
				
				<!-- s1->1 -->
				<img class="edge" style="left:750px; top:500px; width:140px; transform:rotate(-90deg);" src="images/Arrow.svg" />
				<!-- 1->2 -->
				<img class="edge" style="left:750px; top:350px; width:140px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<!-- 2->3 -->
				<img class="edge" style="left:900px; top:350px; width:140px; transform:rotate(90deg);" src="images/Arrow.svg" />
				<!-- 3->s1 -->
				<img class="edge" style="left:900px; top:500px; width:130px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<!-- 1->4 -->
				<img class="edge" style="left:750px; top:350px; width:140px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<!-- 4->5 -->
				<img class="edge" style="left:600px; top:350px; width:120px; transform:rotate(145deg);" src="images/Arrow.svg" />
				<!-- 5->6 -->
				<img class="edge" style="left:500px; top:425px; width:120px; transform:rotate(35deg);" src="images/Arrow.svg" />
				<!-- 6->s1 -->
				<img class="edge" style="left:600px; top:500px; width:120px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<!-- 1->? -->
				<img class="edge tempstep a" data-tempstep-from="18" style="left:750px; top:350px; width:230px; transform:rotate(-90deg);" src="images/Arrow-dashed.svg" />
				
				
				<div style="position:absolute; left:600px; top:360px; width:180px; height:80px; z-index:200; transform:rotate(-90deg);">
					<img src="images/graphQueuesRedB.svg" height="100%" style="background-color:#FFFFFFDD;" />	
				</div>
			</div>

			<div  class="tempstep a" data-tempstep-from="18" style="position:absolute; left:-100px; top:-100px; transform:scale(.5,.5);">
				<div class="vertexNamed red" style="left:750px; top:500px;">\(s\)</div> 					<!--s1-->
				<div class="vertex" style="left:750px; top:350px;"></div>									<!--1 -->
				<div class="vertex" style="left:900px; top:350px;"></div>									<!--2 -->
				<div class="vertex" style="left:900px; top:500px;"></div>									<!--3 -->
				<div class="vertex" style="left:600px; top:350px;"></div>	<!--4 -->
				<div class="vertex" style="left:500px; top:425px;"></div>	<!--5 -->
				<div class="vertex" style="left:600px; top:500px;"></div>	<!--6 -->
				
				
				<!-- s1->1 -->
				<img class="edge" style="left:750px; top:500px; width:140px; transform:rotate(-90deg);" src="images/Arrow.svg" />
				<!-- 1->2 -->
				<img class="edge" style="left:750px; top:350px; width:140px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<!-- 2->3 -->
				<img class="edge" style="left:900px; top:350px; width:140px; transform:rotate(90deg);" src="images/Arrow.svg" />
				<!-- 3->s1 -->
				<img class="edge" style="left:900px; top:500px; width:130px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<!-- 1->4 -->
				<img class="edge" style="left:750px; top:350px; width:140px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<!-- 4->5 -->
				<img class="edge" style="left:600px; top:350px; width:120px; transform:rotate(145deg);" src="images/Arrow.svg" />
				<!-- 5->6 -->
				<img class="edge" style="left:500px; top:425px; width:120px; transform:rotate(35deg);" src="images/Arrow.svg" />
				<!-- 6->s1 -->
				<img class="edge" style="left:600px; top:500px; width:120px; transform:rotate(0deg);" src="images/Arrow.svg" />
				
				
				<div style="position:absolute; left:600px; top:360px; width:180px; height:80px; z-index:200; transform:rotate(-90deg);">
					<img src="images/graphQueuesRedA.svg" height="100%" style="background-color:#FFFFFFDD;" />	
				</div>
			</div>

			<div class="tempstep a" data-tempstep-from="19" style="position:absolute; left:-100px; top:250px; width:300px; height:100px; z-index:200; transform:rotate(-90deg);">
				<img src="images/graphQueues5Big.svg" height="100%" style="background-color:#FFFFFFDD;" />	
			</div>
			
			<img class="edge tempstep a" data-tempstep-from="20" style="left:590px; top:510px; width:300px; transform:rotate(181deg);" src="images/Arrow.svg" />
			<img class="edge tempstep a" data-tempstep-from="21" style="left:280px; top:70px; width:900px; transform:rotate(8deg);" src="images/Arrow.svg" />

		</div>
	</div>
	
	<div id="SS-PoA-Prev" class="step" data-rel-x="-1500" data-rel-y="0" data-scale="1">
	
	</div>
	
	<div id="SS-PoA" class="slide step" data-rel-x="0" data-rel-y="800" data-scale="1" data-tempstep-number="4" style="z-index:0;">
		<h2 style="text-align:center;">Quality (Single-Sink)</h2>
		
		<div class="theoremstyle l tempstep a" data-tempstep-from="2">
			For single-sink instances with parameters \(U\) and \(\tau_G\) the Price of Anarchy (PoA) is in \(\mathcal{O}(U\tau_G)\).
		</div>
		
		<div class="theoremstyle l tempstep a" data-tempstep-from="3">
			For single-sink instances with parameters \(U\) and \(\tau_G\) the Price of Anarchy (PoA) is in \(\Omega(U\log\tau_G)\).
		</div>
		
		<div class="proofstyle tempstep a" data-tempstep-from="4" style="position:relative; width:1100px; height:600px;">
			<img src="images/SlowTerminationExample.png" style="width:100%;z-index:0px;" />
			
			<div style="position:absolute; left:0px; top:0px; width:100%; height:100%;z-index:400;">			
				<canvas id="can3" width="1100" height="600" style="position:absolute;top:0px;left:0px;"></canvas>

				<div style="position:absolute;top:50px;right:300px;width:20px;height:20px;background:blue;" id="blue" onclick="color3(this)"></div>
				<div style="position:absolute;top:50px;right:280px;width:20px;height:20px;background:red;" id="red" onclick="color3(this)"></div>
				<div style="position:absolute;top:50px;right:260px;width:20px;height:20px;background:green;" id="green" onclick="color3(this)"></div>
				<div style="position:absolute;top:50px;right:240px;width:20px;height:20px;background:black;" id="black" onclick="color3(this)"></div>
				<div style="position:absolute;top:50px;right:220px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="color3(this)"></div>
				<input type="button" value="clear" id="clr" size="23" onclick="erase3()" style="position:absolute;top:90px;right:250px;">		
			</div>
		</div>
	</div>

	<div id="SS-PoA2" class="slide step" data-rel-x="0" data-rel-y="100" data-scale="1" data-tempstep-number="2" style="z-index:-10;">
	
		<div style="position:absolute; top:760px; width:100%;">
			<img src="images/ConstructionSign.svg" style="width:10%; float:left;" class="tempstep a" data-tempstep-from="1" /> 
			<br />			
			<div class="theoremstyle open tempstep a" data-tempstep-from="1" style="width:60%; float:left; margin-left:150px;">
				Close the gap between the bounds for the PoA!
			</div>
		</div>
	</div>
	
	<div id="Convergence" class="step slide" data-rel-to="ModelChange"  data-rel-x="0" data-rel-y="0" data-scale="1" data-tempstep-number="3" style="z-index:-10;">		
		<h2 class="tempstep a" data-tempstep-from="2" style="text-align:left; margin-top:300px;">Connection?</h2>
		
		<img src="images/PfeilGebogen.svg" style="width:24px; position:absolute; left:350px; top:260px;" class="tempstep a" data-tempstep-from="2" />
		<img src="images/PfeilGebogen.svg" style="width:24px; position:absolute; left:900px; top:260px; transform:scale(-1,-1);" class="tempstep a" data-tempstep-from="2" />
		
		<img src="images/ConstructionSign.svg" style="width:200px; position:absolute; left:1000px; top:270px;" class="tempstep a" data-tempstep-from="3" />
		
    </div>

    <div id="Overview" class="step center" data-rel-to="Questions"  data-rel-x="0" data-rel-y="0" data-scale="5" data-tempstep-number="10"
			data-goto-key-list="1 Digit2 3 4 5" data-goto-next-list="Model SS-Ex SS-Term MS-Ex MS-Term">		
    </div>
	
	<div id="Links" class="center step skip slide"  data-rel-x="0" data-rel-y="-2000" data-scale="5" style="height:50px; opacity:0;">
	
		<br />
		<strong>Paper:</strong> <a href="https://arxiv.org/abs/1811.07381">arxiv.org/abs/1811.07381</a> | <strong>Presentation:</strong> <a href="https://graffl.gitlab.io/ide-flow-talks/index_AS.html">graffl.gitlab.io/ide-flow-talks/index_AS.html</a>
	</div>
</div>




<div id="Heading">
	<span style="float:left;">Dynamic Flows with Adaptive Route Choice</span>
	<span style="float:right;">Lukas Graf</span>
</div>


<div id="impress-toolbar"></div>

<div id="DrawingCanvas" style="position:fixed; left:5%; top:5%; width:90%; height:90%; z-index:1000; display:none; background-color:white; border:3px solid gray;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);pointer-events: auto !important;">
		<canvas id="can4" width="1200" height="800" style="margin:5px 20px; border:1px solid black;"></canvas>

		<div style="position:absolute;bottom:20px;right:600px;width:20px;height:20px;background:blue;" id="blue" onclick="color4(this)"></div>
		<div style="position:absolute;bottom:20px;right:580px;width:20px;height:20px;background:red;" id="red" onclick="color4(this)"></div>
		<div style="position:absolute;bottom:20px;right:560px;width:20px;height:20px;background:green;" id="green" onclick="color4(this)"></div>
		<div style="position:absolute;bottom:20px;right:540px;width:20px;height:20px;background:black;" id="black" onclick="color4(this)"></div>
		<div style="position:absolute;bottom:20px;right:520px;width:20px;height:20px;background:orange;" id="orange" onclick="color4(this)"></div>
		<div style="position:absolute;bottom:20px;right:500px;width:20px;height:20px;background:yellow;" id="yellow" onclick="color4(this)"></div>
		<div style="position:absolute;bottom:20px;right:480px;width:20px;height:20px;background:purple;" id="purple" onclick="color4(this)"></div>
		<div style="position:absolute;bottom:20px;right:460px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="color4()"></div>
		<input type="button" value="clear" id="clr" size="23" onclick="erase4()" style="position:absolute;bottom:20px;right:300px;">		
</div>

<!--
    To make all described above really work, you need to include impress.js in the page.
    You also need to call a `impress().init()` function to initialize impress.js presentation.
    And you should do it in the end of your document.
-->
<script type="text/javascript" src="js/impress.js"></script>
<script type="text/javascript" src="js/impress-custom.js"></script>

<script>impress().init();</script>

<!--  Drawing canvas from https://stackoverflow.com/questions/2368784/draw-on-html5-canvas-using-a-mouse -->

<!-- Canvas 1 -->
    <script type="text/javascript">
    var canvas, ctx, flag = false,
        prevX = 0,
        currX = 0,
        prevY = 0,
        currY = 0,
        dot_flag = false;

    var x = "black",
        y = 3;
    
    function init() {
        canvas = document.getElementById('can');
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;
    
        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);
    }
    
    function color(obj) {
        switch (obj.id) {
            case "green":
                x = "green";
                break;
            case "blue":
                x = "blue";
                break;
            case "red":
                x = "red";
                break;
            case "yellow":
                x = "yellow";
                break;
            case "orange":
                x = "orange";
                break;
            case "black":
                x = "black";
                break;
            case "white":
                x = "white";
                break;
        }
        if (x == "white") y = 14;
        else y = 3;    
    }
    
    function draw() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();
    }
    
    function erase() {
        var m = confirm("Want to clear");
        if (m) {
            ctx.clearRect(0, 0, w, h);
            document.getElementById("canvasimg").style.display = "none";
        }
    }
    
    function findxy(res, e) {
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.getBoundingClientRect().left;
            currY = e.clientY - canvas.getBoundingClientRect().top;
    
            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.fillStyle = x;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.getBoundingClientRect().left;
                currY = e.clientY - canvas.getBoundingClientRect().top;
                draw();
            }
        }
    }
    </script>
	
<!-- Canvas 2 -->
    <script type="text/javascript">
    var canvas2, ctx2, flag2 = false,
        prevX2 = 0,
        currX2 = 0,
        prevY2 = 0,
        currY2 = 0,
        dot_flag2 = false;

    var x2 = "black",
        y2 = 3;
    
    function init2() {
        canvas2 = document.getElementById('can2');
        ctx2 = canvas2.getContext("2d");
        w2 = canvas2.width;
        h2 = canvas2.height;
    
        canvas2.addEventListener("mousemove", function (e) {
            findxy2('move', e)
        }, false);
        canvas2.addEventListener("mousedown", function (e) {
            findxy2('down', e)
        }, false);
        canvas2.addEventListener("mouseup", function (e) {
            findxy2('up', e)
        }, false);
        canvas2.addEventListener("mouseout", function (e) {
            findxy2('out', e)
        }, false);
    }
    
    function color2(obj) {
        switch (obj.id) {
            case "green":
                x2 = "green";
                break;
            case "blue":
                x2 = "blue";
                break;
            case "red":
                x2 = "red";
                break;
            case "yellow":
                x2 = "yellow";
                break;
            case "orange":
                x2 = "orange";
                break;
            case "black":
                x2 = "black";
                break;
            case "white":
                x2 = "white";
                break;
        }
        if (x2 == "white") y2 = 14;
        else y2 = 3;    
    }
    
    function draw2() {
        ctx2.beginPath();
        ctx2.moveTo(prevX2, prevY2);
        ctx2.lineTo(currX2, currY2);
        ctx2.strokeStyle = x2;
        ctx2.lineWidth = y2;
        ctx2.stroke();
        ctx2.closePath();
    }
    
    function erase2() {
        var m = confirm("Want to clear");
        if (m) {
            ctx2.clearRect(0, 0, w2, h2);
            document.getElementById("canvasimg").style.display = "none";
        }
    }
    
    function findxy2(res, e) {
        if (res == 'down') {
            prevX2 = currX2;
            prevY2 = currY2;
            currX2 = e.clientX - canvas2.getBoundingClientRect().left;
            currY2 = e.clientY - canvas2.getBoundingClientRect().top;
    
            flag2 = true;
            dot_flag2 = true;
            if (dot_flag2) {
                ctx2.beginPath();
                ctx2.fillStyle = x2;
                ctx2.fillRect(currX2, currY2, 2, 2);
                ctx2.closePath();
                dot_flag2 = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag2 = false;
        }
        if (res == 'move') {
            if (flag2) {
                prevX2 = currX2;
                prevY2 = currY2;
                currX2 = e.clientX - canvas2.getBoundingClientRect().left;
                currY2 = e.clientY - canvas2.getBoundingClientRect().top;
                draw2();
            }
        }
    }
    </script>	


<!-- Canvas 3 -->
    <script type="text/javascript">
    var canvas3, ctx3, flag3 = false,
        prevX3 = 0,
        currX3 = 0,
        prevY3 = 0,
        currY3 = 0,
        dot_flag3 = false;

    var x3 = "black",
        y3 = 3;
    
    function init3() {
        canvas3 = document.getElementById('can3');
        ctx3 = canvas3.getContext("2d");
        w3 = canvas3.width;
        h3 = canvas3.height;
    
        canvas3.addEventListener("mousemove", function (e) {
            findxy3('move', e)
        }, false);
        canvas3.addEventListener("mousedown", function (e) {
            findxy3('down', e)
        }, false);
        canvas3.addEventListener("mouseup", function (e) {
            findxy3('up', e)
        }, false);
        canvas3.addEventListener("mouseout", function (e) {
            findxy3('out', e)
        }, false);
    }
    
    function color3(obj) {
        switch (obj.id) {
            case "green":
                x3 = "green";
                break;
            case "blue":
                x3 = "blue";
                break;
            case "red":
                x3 = "red";
                break;
            case "yellow":
                x3 = "yellow";
                break;
            case "orange":
                x3 = "orange";
                break;
            case "black":
                x3 = "black";
                break;
            case "white":
                x3 = "white";
                break;
        }
        if (x3 == "white") y3 = 14;
        else y3 = 3;    
    }
    
    function draw3() {
        ctx3.beginPath();
        ctx3.moveTo(prevX3, prevY3);
        ctx3.lineTo(currX3, currY3);
        ctx3.strokeStyle = x3;
        ctx3.lineWidth = y3;
        ctx3.stroke();
        ctx3.closePath();
    }
    
    function erase3() {
        var m = confirm("Want to clear");
        if (m) {
            ctx3.clearRect(0, 0, w3, h3);
            document.getElementById("canvasimg").style.display = "none";
        }
    }
    
    function findxy3(res, e) {
        if (res == 'down') {
            prevX3 = currX3;
            prevY3 = currY3;
            currX3 = e.clientX - canvas3.getBoundingClientRect().left;
            currY3 = e.clientY - canvas3.getBoundingClientRect().top;
    
            flag3 = true;
            dot_flag3 = true;
            if (dot_flag3) {
                ctx3.beginPath();
                ctx3.fillStyle = x3;
                ctx3.fillRect(currX3, currY3, 2, 2);
                ctx3.closePath();
                dot_flag3 = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag3 = false;
        }
        if (res == 'move') {
            if (flag3) {
                prevX3 = currX3;
                prevY3 = currY3;
                currX3 = e.clientX - canvas3.getBoundingClientRect().left;
                currY3 = e.clientY - canvas3.getBoundingClientRect().top;
                draw3();
            }
        }
    }
    </script>	


<!-- Canvas 4 -->
    <script type="text/javascript">
    var canvas4, ctx4, flag4 = false,
        prevX4 = 0,
        currX4 = 0,
        prevY4 = 0,
        currY4 = 0,
        dot_flag4 = false;

    var x4 = "black",
        y4 = 3;
    
    function init4() {
        canvas4 = document.getElementById('can4');
        ctx4 = canvas4.getContext("2d");
        w4 = canvas4.width;
        h4 = canvas4.height;
    
        canvas4.addEventListener("mousemove", function (e) {
            findxy4('move', e)
        }, false);
        canvas4.addEventListener("mousedown", function (e) {
            findxy4('down', e)
        }, false);
        canvas4.addEventListener("mouseup", function (e) {
            findxy4('up', e)
        }, false);
        canvas4.addEventListener("mouseout", function (e) {
            findxy4('out', e)
        }, false);
    }
    
    function color4(obj) {
        switch (obj.id) {
            case "green":
                x4 = "green";
                break;
            case "blue":
                x4 = "blue";
                break;
            case "red":
                x4 = "red";
                break;
            case "yellow":
                x4 = "yellow";
                break;
            case "orange":
                x4 = "orange";
                break;
			case "purple":
                x4 = "purple";
                break;
            case "black":
                x4 = "black";
                break;
            case "white":
                x4 = "white";
                break;
        }
        if (x4 == "white") y4 = 14;
        else y4 = 3;    
    }
    
    function draw4() {
        ctx4.beginPath();
        ctx4.moveTo(prevX4, prevY4);
        ctx4.lineTo(currX4, currY4);
        ctx4.strokeStyle = x4;
        ctx4.lineWidth = y4;
        ctx4.stroke();
        ctx4.closePath();
    }
    
    function erase4() {
        var m = confirm("Want to clear");
        if (m) {
            ctx4.clearRect(0, 0, w4, h4);
            document.getElementById("canvasimg").style.display = "none";
        }
    }
    
    function findxy4(res, e) {
        if (res == 'down') {
            prevX4 = currX4;
            prevY4 = currY4;
            currX4 = e.clientX - canvas4.getBoundingClientRect().left;
            currY4 = e.clientY - canvas4.getBoundingClientRect().top;
    
            flag4 = true;
            dot_flag4 = true;
            if (dot_flag4) {
                ctx4.beginPath();
                ctx4.fillStyle = x4;
                ctx4.fillRect(currX4, currY4, 2, 2);
                ctx4.closePath();
                dot_flag4 = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag4 = false;
        }
        if (res == 'move') {
            if (flag4) {
                prevX4 = currX4;
                prevY4 = currY4;
                currX4 = e.clientX - canvas4.getBoundingClientRect().left;
                currY4 = e.clientY - canvas4.getBoundingClientRect().top;
                draw4();
            }
        }
    }
    </script>	
	

</body>
</html>
