<!doctype html>

<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>Dynamic Traffic Assignment for Electric Vehicles</title>

    <meta name="description" content="Dynamic Traffic Assignment for Electric Vehicles" />
    <meta name="author" content="Lukas Graf" />


    <!--
        This file contains styles specific for this example presentation.
    -->
	<link href="css/Dagstuhl22.css" rel="stylesheet" />

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
		tex2jax: {
		  inlineMath: [ ['$','$'], ['\\(','\\)'] ],
		  processEscapes: true
		},
		"SVG": { fonts: ["TeX"], scale:85 }
	  });
	  MathJax.Hub.Queue(generateTeXinSVGs());
	</script>
	<!-- Internetquelle für MathJax -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_SVG-full"></script>
	<!-- Falls kein Internet verfügbar... 
	<script type="text/javascript" src="extras/MathJax/MathJax.js?config=TeX-MML-AM_SVG-full"></script>-->

</head>


<body class="impress-not-supported" style="transform:scale(1,1) translate(0px,0px);">
<!--<body class="impress-not-supported" style="transform:scale(.6,.6) translate(-500px,-100px);">-->
<!--
    This fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	<p><a href="./Dagstuhl22.pdf">&rarr; static pdf-version</a></p>
</div>



<div style="display:none;">
  \(
    \newcommand{\IN}{\mathbb{N}}
	\newcommand{\INs}{\mathbb{N}^\ast}
	\newcommand{\INo}{\mathbb{N}_0}
    \newcommand{\IZ}{\mathbb{Z}}
    \newcommand{\IR}{\mathbb{R}}
    \newcommand{\IC}{\mathbb{C}}
    \newcommand{\A}{\mathcal{A}}
    \newcommand{\B}{\mathcal{B}}
    \newcommand{\U}{\mathfrak{U}}
    \newcommand{\coloneqq}{:=}
    \newcommand{\Set}[1]{\left\{#1\right\}}
    \newcommand{\supp}{\mathrm{supp}}
    \newcommand{\Re}{\mathrm{Re}}
    \newcommand{\Im}{\mathrm{Im}}
    \newcommand{\clos}[1]{\overline{#1}}
    \newcommand{\inte}[1]{\mathring{#1}}
	\newcommand{\dist}[2]{\mathrm{dist}^c_{#1}(#2)}
	\newcommand{\dists}[2]{{\mathrm{dist}^c_{#1}}'(#2)}
	\newcommand{\Ind}{{\Large\raise{0pt}{\unicode{x1D7D9}}\,}}
	\newcommand{\bigO}{\mathcal{O}}	
	\newcommand{\abs}[1]{\left|#1\right|}
	\newcommand{\norm}[1]{\left\|#1\right\|}
	\newcommand{\scalar}[2]{\left\langle #1,#2 \right\rangle}
	
	\newcommand{\rDeriv}{\partial_+}
	\newcommand{\lDeriv}{\partial_-}
	\newcommand{\queue}{q}	
	\newcommand{\Pc}{\mathcal{P}}
	\newcommand{\Wc}{\mathcal{W}}
  \)
</div>


<div id="impress" data-transition-duration="2000" data-autoplay="0" style="z-index:0;">


	<div id="Title" class="step slide center" data-x="0" data-y="0" data-scale="1" data-tempstep-number="1">
		<h1 style="margin-top:60px;">Dynamic Traffic Assignment for Electric Vehicles</h1>
			<strong>Lukas Graf</strong>, Tobias Harks, Prashant Palkar <br />
			
			<span style="font-size:70%;">Augsburg University</span>
			
		<br /><br /><br /><br /><span style="font-size:500%;">⚡</span><br /><br />
		
		<a href="./Dagstuhl22.pdf">&rarr; static pdf-version</a>
		
		<!--
		Animated version at <a href="https://graffl.gitlab.io/ide-flow-talks/index_Dagstuhl22.html#/Title">https://graffl.gitlab.io/ide-flow-talks/index_Dagstuhl22.html</a> (navigate with &rarr; and &larr; keys)-->
			
		<p style="position:absolute; bottom:0px; right:0px;">
			Seminar &ldquo;Dynamic Traffic Models in Transportation Science&rdquo; at Schloss Dagstuhl
		</p>
			

	</div>
	
	<div id="Model-Chapter" class="step slide chapterTitle" data-rel-x="0" data-rel-y="1100" data-scale="1" data-tempstep-number="1" data-tempstep-skip="8-10;13-20;23-30">
		<h2 style="margin-top:10px;"><span>I. Model</span></h2>
		
	</div>
	
	<div id="Model" class="step slide" data-rel-x="0" data-rel-y="200" data-scale="1" data-tempstep-number="25" data-tempstep-skip="12-20">
		<div style="width:45%; position:absolute; left:0px;">
			<h3 class="tempstep a" data-tempstep-from="0">Base Model</h3>
			
			<ul>
				<li class="tempstep a" data-tempstep-from="2">
					directed graph $G=(V,E)$ with edge travel times $\tau_e \in \IR_{>0}$ and capacities $\nu_e \in \IR_{>0}$</li>
				<li class="tempstep a" data-tempstep-from="3">
					commodities $i \in I$ with source and sink nodes $s_i, t_i \in V$ and bounded network inflow rate $u_i: [0,T] \to \IR_{\geq 0}$</li>
				<li class="tempstep a" data-tempstep-from="4">
					route choices of all (infinitesimal small) agents:
					\[(h_{i,P})_{i,P} \in \left(L^2_+([0,T])\right)^{\sum_{i \in I}\Pc_i}\]
					where $\Pc_i$ is the set of all (simple) $s_i$,$t_i$-paths.</li>
				<li class="tempstep a" data-tempstep-from="5">
					path inflows $h$ $\mapsto$ edge flow $(f_e)_e$ <span class="tempstep a" data-tempstep-from="7">$\mapsto$ path arrival times $\mu_{i,P}$</span><br />
					<span class="tempstep a" data-tempstep-from="6">&nbsp; &nbsp; &nbsp; (here: Vickrey queuing model)</span> </li>
				<li class="tempstep a" data-tempstep-from="8">
					For almost all times $\theta \in [0,T]$: 
						\[h_{i,P}(\theta)>0 \implies \mu_{i,P}(\theta) \leq \mu_{i,P'}(\theta) \text{ f.a. } P' \in \Pc_i\]
					<span class="tempstep a" data-tempstep-from="9">Then $h$ is a <em>Dynamic Equilibrium</em></span></li>
			</ul>
			
			<div class="theoremstyle t tempstep a" data-tempstep-from="11" style="margin-top:50px;">
				Dynamic Equilibria are guaranteed to exist.
			</div>
			
			<p class="tempstep a" data-tempstep-from="11">by [Han, Friesz, Yao 2013], [Cominetti, Correa, Larré, 2015].</p>
		</div>
		
		<div class="tempstep a" data-tempstep-from="21" style="left:48%; position:absolute; width:4%;">
			<h3>+</h3>
		</div>
	
		<div style="width:45%; position:absolute; right:0px;">
			<h3 class="tempstep a" data-tempstep-from="21" style="text-align:right;">Electric Vehicles</h3>
			
			<ul>
				<li class="tempstep a" data-tempstep-from="22">
					battery consumption $b_{i,e} \in \IR_{\geq 0}$</li>
				<li class="tempstep a" data-tempstep-from="23">
					initial battery state $b_i \in \IR_{>0}$ and batt. capacity $b_{i,\max} \in \IR_{>0}$</li>
				<li class="tempstep a" data-tempstep-from="24">
					recharging stations with different recharging modes <br />
					<span class="tempstep a" data-tempstep-from="25">(duration, amount, price, capacity)</span></li>
			</ul>
		</div>	
	
		<div  class="tempstep a" data-tempstep-from="2" data-tempstep-until="9"
			style="position:absolute; right:0px; bottom:0px; width:1000px; height:550px; transition:width 2s, height 2s, opacity 2s;" id="fig-initialExample1"></div>	
		<div  class="tempstep a" data-tempstep-from="10" data-tempstep-until="20"
			style="position:absolute; right:0px; bottom:0px; width:1000px; height:550px; transition:width 2s, height 2s, opacity 2s; display:none;" id="fig-initialExample2"></div>
			
		<img class="tempstep a" data-tempstep-list="22"
			style="position:absolute; right:0px; bottom:0px; width:900px; height:550px; z-index:-100;" src="Dagstuhl22-animation/EV-Example1.svg" />
		<img class="tempstep a" data-tempstep-list="23"
			style="position:absolute; right:0px; bottom:0px; width:900px; height:550px; z-index:-100;" src="Dagstuhl22-animation/EV-Example2.svg" />
		<img class="tempstep a" data-tempstep-list="24"
			style="position:absolute; right:0px; bottom:0px; width:900px; height:550px; z-index:-100;" src="Dagstuhl22-animation/EV-Example3.svg" />
		<img class="tempstep a" data-tempstep-from="25"
			style="position:absolute; right:0px; bottom:0px; width:900px; height:550px; z-index:-100;" src="Dagstuhl22-animation/EV-Example4.svg" />
	</div>

	<div id="Model-Reduction" class="step slide" data-rel-x="1000" data-rel-y="0" data-scale="1" data-tempstep-number="19" data-tempstep-skip="4-11;14">
		<div style="width:45%; position:absolute; right:0px; transition:transform 2s, opacity 2s;" class="RedCont">
			<h3 style="color:white;">&nbsp;</h3>
			
			<ul style="background:white;">
				<li class="tempstep a" data-tempstep-from="2">
					<span class="tempstep a" data-tempstep-from="19">...and</span> battery consumption $b_{i,e} \in \IR$ and prices $p_{i,e} \in \IR_{\geq 0}$<br />&nbsp;</li>
				<li class="tempstep a" data-tempstep-from="12">
					<span class="tempstep a" data-tempstep-from="19">...and</span> initial batt. state $b_i \in \IR_{>0}$, batt. capacity $b_{i,\max} \in \IR_{>0}$ <span class="tempstep a" data-tempstep-from="13">and function converting travel time + price to costs $c_{i,W}$</span></li>
				<li class="tempstep a" data-tempstep-from="3">
					route choices of all (infinitesimal small) agents:
					 \[(h_{i,W})_{i,W} \in \left(L^2_+([0,T])\right)^{\sum_{i \in I}\Wc_i}\]
					where $\Wc_i$ is the set of all (!) energy-feasible $s_i$,$t_i$-walks.</li>
				<li class="tempstep a" data-tempstep-from="15">
					walk inflows $h$ $\mapsto$ edge flow $(f_e)_e$ $\mapsto$ walk arrival times $\mu_{i,W}$  <br />
					<span class="tempstep a" data-tempstep-from="16"><span style="color:white; text-shadow:none;">walk inflows $h$ $\mapsto$ edge flow $(f_e)_e$</span> $\mapsto$ walk costs $c_{i,W}$</span><br /></li>
				<li class="tempstep a" data-tempstep-from="17">
					For almost all times $\theta \in [0,T]$:
						\[h_{i,W}(\theta)>0 \implies c_{i,W}(\theta) \leq c_{i,W'}(\theta) \text{ f.a. } W' \in \Wc_i\]
					<span class="tempstep a" data-tempstep-from="18">Then $h$ is an <em>Energy-Feasible Dynamic Equilibrium</em></span>
					<br /><br /><br /><br />
					</li>
			</ul>

		</div>
		
		<img class="tempstep a" data-tempstep-from="2"
			style="position:absolute; left:-21px; bottom:0px; width:900px; height:550px; z-index:-100; background-color:white;" src="Dagstuhl22-animation/EV-ExampleRed1.svg" />
		<img class="tempstep a" data-tempstep-from="3"
			style="position:absolute; left:-21px; bottom:0px; width:900px; height:550px; z-index:-100; background-color:white;" src="Dagstuhl22-animation/EV-ExampleRed2.svg" />
	</div>
	
	<div id="Model-EV" class="step slide" data-rel-x="-1000" data-rel-y="0" data-scale="1" data-tempstep-number="1" data-tempstep-skip="">
	


	</div>
	
	<div id="Existence-Chapter" class="step slide center chapterTitle" data-rel-x="0" data-rel-y="1300" data-scale="1" data-tempstep-number="1">
		<h2 style="margin-top:10px;"><span>II. Existence</span></h2>
			

	</div>
	
	<div id="Existence" class="step slide" data-rel-x="0" data-rel-y="200" data-scale="1" data-tempstep-number="25" data-tempstep-skip="4-10">
		<div class="tempstep a theoremstyle i" data-tempstep-from="2">
			Use a variational inequality (similiar to [Han, Friesz, Yao 2013] and [Cominetti, Correa, Larré, 2015]):
		</div>
		
		<div class="tempstep a theoremstyle t" data-tempstep-from="3">
			Given 
			<ul>
				<li class="tempstep a" data-tempstep-list="0-15;19-100">$K \subseteq \left(L^2([a,b])\right)^d$ <span class="tempstep" data-tempstep-classes="15:red">non-empty, closed, convex and bounded</span></li>
				<li class="tempstep a" data-tempstep-list="16-18" value="1" style="margin-top:-54px;">$K \subseteq \left(L^2([a,b])\right)^{\color{red}d}$ non-empty, closed, convex and bounded</li>
				<li>$\A: K \to \left(L^2([a,b])\right)^d$ <span class="tempstep" data-tempstep-classes="24-25:red">sequentially weak-strong continuous</span></li>
			</ul>
			then there exists some $h^* \in K$ such that 
				$\scalar{\A(h^*)}{h-h^*} \geq 0 \text{ for all } h \in K$.
		</div>
		
		<div class="theoremstyle t">
			For <span title="where any commodity has at least one energy-feasible source-sink walk">any*</span> multi-commodity network there exists an energy-feasible dynamic equilibrium <br />
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (i.e. $h_{i,W}(\theta)>0 \implies c_{i,W}(\theta) \leq c_{i,W'}(\theta) \text{ f.a. } W' \in \Wc_i$).
		</div>
		
		<div class="proofstyle tempstep a" data-tempstep-from="11">
			<ol start="0">
				<li class="tempstep a" data-tempstep-from="17">Find <span class="tempstep" data-tempstep-classes="17-22:red">finite</span> set $\Wc' \subseteq \Wc$ of dominating walks <span class="tempstep a" data-tempstep-list="17-22">(f.a. $h \in K, (i,W) \in \Wc, \theta \geq 0$ there exists $(i,W') \in \Wc'$ s.th. $c_{i,W'}(\theta) \leq c_{i,W}(\theta)$)</span></li>
				<li class="tempstep a" data-tempstep-from="12" data-tempstep-until="15">Define $K \coloneqq \Set{h \in \left(L^2([a,b])\right)^\Wc | \sum_{W \in \Wc_i}h_{i,W} = u_i \text{ for all } i \in I}$.</li>
				<li class="tempstep a" data-tempstep-list="16-17" value="1" style="margin-top:-66px;">Define $K \coloneqq \Set{h \in \left(L^2([a,b])\right)^{\color{red}{\Wc}} | \sum_{W \in \Wc_i}h_{i,W} = u_i \text{ for all } i \in I}$.</li>
				<li class="tempstep a" data-tempstep-list="18" value="1" style="margin-top:-66px;">Define $K \coloneqq \Set{h \in \left(L^2([a,b])\right)^{\color{red}{\Wc'}} | \sum_{W \in \Wc_i}h_{i,W} = u_i \text{ for all } i \in I}$.</li>
				<li class="tempstep a" data-tempstep-from="19" value="1" style="margin-top:-66px;">Define $K \coloneqq \Set{h \in \left(L^2([a,b])\right)^{\Wc'} | \sum_{W \in \Wc_i}h_{i,W} = u_i \text{ for all } i \in I}$.</li>
				<li class="tempstep a" data-tempstep-from="13">Define $\A(h)_{i,W}(\theta) \coloneqq c_{i,W}(\theta) - \min\Set{c_{i,W'}(\theta) | W' \in \Wc_i} \geq 0$.<br />
				<span class="tempstep a" data-tempstep-from="14">Then: $\scalar{\A(h^*)}{h-h^*} \geq 0 \text{ for all } h \in K \implies h^*$ is energy-feasible DE.</span> </li>
				<li class="tempstep a" data-tempstep-from="25">Show that $\A$ is sequentially weak-strong continuous: <br />
					<img class="tempstep a" data-tempstep-from="25" src="Dagstuhl22-animation/WSContProof.png" width="700" style="margin:-left:550px; margin-top:0px;"/>
				</li>
			</ol>
			
			<div class="theoremstyle l tempstep a" data-tempstep-from="19" style="position:absolute; right:10px; top:80px;">
				$\exists$ a finite set $\Wc' \subseteq \Wc$ of dominating walks.
			</div>
			
			<div class="proofstyle tempstep a" data-tempstep-from="22" style="position:absolute; right:10px; top:130px; width:500px;">
				Only visit a node again with increased battery state.</div>
				
				
			<img class="tempstep a" data-tempstep-list="20"
			style="position:absolute; right:60px; top:200px; width:400px; height:300px;" src="Dagstuhl22-animation/DominatedWalk1.svg" />
			<img class="tempstep a" data-tempstep-from="21"
			style="position:absolute; right:60px; top:200px; width:400px; height:300px;" src="Dagstuhl22-animation/DominatedWalk2.svg" />		
		</div>
	</div>
	
	<div id="Structure-Chapter" class="step slide center chapterTitle" data-rel-x="0" data-rel-y="1300" data-scale="1" data-tempstep-number="1">
		<h2 style="margin-top:10px;"><span>III. Structure and Computation</span></h2>
			

	</div>
	
	<div id="Structure" class="step slide" data-rel-x="0" data-rel-y="200" data-scale="1" data-tempstep-number="12">
	
		<div class="tempstep a" data-tempstep-from="1" style="position:absolute; left:0px; top:0px; width:800px; height:450px; transition:width 2s, height 2s, opacity 2s;" id="fig-structureExample1"></div>	
		<div class="tempstep a" data-tempstep-from="2"  style="position:absolute; left:0px; top:500px; width:800px; height:450px; transition:width 2s, height 2s, opacity 2s;" id="fig-structureExample2"></div>
		
		<div class="tempstep a" data-tempstep-from="3" style="position:absolute; width:950px; right:0px; top:20px;">
		
			A numerical algorithm for computing energy-feasible dynamic equilibria: <br />
			&nbsp; &nbsp; &nbsp; (cf. [Han, Eve, Friesz 2019])<br />
			<br />
			
			<div class="code tempstep a" data-tempstep-from="4">
				<span class="keyword">Input:</span> A network $\mathcal{N} = (G,(\tau_e),(\nu_e),(b_{i,e}),(p_{i,e}),(u_i),(s_i),(t_i))$, $\varepsilon > 0$ <br />
				<span class="keyword">Output:</span> An (approximate) energy-feasible DE $f$ in $\mathcal{N}$ <br />
				<p class="tempstep a" data-tempstep-from="5"><span class="numbering">(1)</span> Compute a finite dominating walk set $\Wc'$ </p>
				<p class="tempstep a" data-tempstep-from="6"><span class="numbering">(2)</span> Choose any initial flow $h^0 \in C$, $k \leftarrow 0$ </p>
				<p class="tempstep a" data-tempstep-from="7"><span class="numbering">(3)</span> <span class="keyword">Repeat</span></p>
				<p class="tempstep a" data-tempstep-from="8"><span class="numbering">(4)</span> <span class="tab">..</span> Calculate network loading for $h^k$ and costs $c$ </p>
				<p class="tempstep a" data-tempstep-from="9"><span class="numbering">(5)</span> <span class="tab">..</span> Find functions $v_i: [0,T] \to \IR$ s.th. f.a. $i \in I, \theta \in [0,T]$: <br />
				<span class="tab">(0) .. ..</span> $\sum_{(i,W) \in \Wc'} \left[h^k_{i,W}(\theta) - \alpha c_{i,W}(\theta) + v_i(\theta)\right]_+ = u_i(\theta)$  </p>
				<p class="tempstep a" data-tempstep-from="10"><span class="numbering">(6)</span> <span class="tab">..</span> Set $h^{k+1}_{i,W} \leftarrow \left[h^k_{i,W}(\theta) - \alpha c_{i,W}(\theta) + v_i(\theta)\right]_+$ and increment $k$ </p>
				<p class="tempstep a" data-tempstep-from="11"><span class="numbering">(7)</span> <span class="keyword">Until</span> $\frac{\norm{h^k-h^{k-1}}}{h^k} \leq \varepsilon$</p>
			</div>
			
			
			<div class="theoremstyle o tempstep a" data-tempstep-from="12" style="margin-top:100px;">
				$h^k = h^{k-1}$ <br />
				$\iff \frac{1}{\alpha}v_i(\theta) = \min\Set{c_{i,W}(\theta) | (i,W) \in \Wc'}$ <br />
				$\iff$ $h^k$ is an energy-feasible dynamic equilibrium
			</div>
		</div>
	</div>


	<div id="Conclusion-Chapter" class="step slide center" data-rel-x="0" data-rel-y="1150" data-scale="1" data-tempstep-number="1">
		<h2 style="margin-top:10px;"><span>IV. Conclusion</span></h2>
			

	</div>
	
	
	<div id="Conclusion" class="step slide" data-rel-x="0" data-rel-y="0" data-scale="1" data-tempstep-number="6" data-goto="Title">
		<div style="margin-top:200px;">
			<ul>
				<li class="tempstep a" data-tempstep-from="1">Classical model can be augmented with energy-consumption and recharging (incl. different modes/prices)</li>
				<li class="tempstep a" data-tempstep-from="2">Existence proofs for dynamic equilibria carry over with some adjustments</li>
				<li class="tempstep a" data-tempstep-from="3">In fact: The same is true for an even more general model with $h \in S$ for some convex restriction set $S \subseteq \left(L^2([a,b])\right)^\Wc$</li>
				<li class="tempstep a" data-tempstep-from="4">We can (numerically) compute energy-feasible equilibria</li>
			</ul>
			
			<ul style="margin-top:80px;">
				<li class="tempstep a" data-tempstep-from="5"><strong>However</strong>, runtime explodes with increased network size</li>
				<li class="tempstep a" data-tempstep-from="6">No structural insights in equilibria (yet)</li>
			</ul>
		</div>
		
		<img style="position:absolute; right:0px; bottom:0px; width:600px; height:430px; opacity:.5 !important;" src="Dagstuhl22-animation/EV-ExampleRed2.svg" />
	</div>
	
	<div id="Generalization" class="step slide" data-rel-to="Existence" data-rel-x="2000" data-rel-y="0" data-scale="1" data-tempstep-number="14" data-tempstep-skip="" data-goto="Existence">
		<h3 style="text-align:center; margin-bottom:30px;">General Convex Restriction Set</h3>
		
		Given some convex set $S \subseteq \left(L^2([a,b])\right)^\Wc$, is there an equilibrium $h^* \in S \cap K$?
		
		<div class="theoremstyle d tempstep a" data-tempstep-from="2">
			$h^* \in S \cap K$ is a <em>Capacitated Dynamic Equilibrium</em> if for all $(i,W) \in \Wc$ and almost all $\theta \in [0,T]$ we have:
				\[h^*_{i,W}(\theta) > 0  \implies c_{i,W}(\theta) \leq c_{i,W'}(\theta)\]
			<p class="tempstep a" data-tempstep-from="3">for all unsaturated alternative walks $W'$ <span class="tempstep a" data-tempstep-from="9">$\in D_{i,W}(h^*,\theta)$.</span></p>
		</div>
		
		<!--
		<p class="tempstep a" data-tempstep-from="4">
			A walk $W'$ is an unsaturated alternative for walk $W$ at time $\theta$ if we can shift "a small volume of flow" from $W$ to $W'$ "at" $\theta$ and stay in $S$.
		</p>
		-->
		
		<div class="theoremstyle d tempstep a" data-tempstep-from="5" style="width:60%;">
			The set of <em>unsaturated alternatives for $W$ at time $\theta$</em> is defined as
				\[D_{i,W}(h,\theta) \coloneqq \Set{W' \in \Wc_i | \forall \delta' > 0 \exists \delta \in (0,\delta'], \varepsilon > 0: H_{i,W \to W'}(h,\theta,\varepsilon,\delta) \in S\ }\]
			<p class="tempstep a" data-tempstep-from="6">where $H_{i,W \to W'}(h,\theta,\varepsilon,\delta) \coloneqq (h'_{j,Q})$ with</p>
				<ul>
					<li class="tempstep a" data-tempstep-from="7">$h'_{i,W} \coloneqq \left[h_{i,W} - \varepsilon\Ind_{[\theta,\theta+\delta]}\right]_+$</li>
					<li class="tempstep a" data-tempstep-from="8">$h'_{i,W'} \coloneqq h_{i,W'} + h_{i,W} - \left[h_{i,W} - \varepsilon\Ind_{[\theta,\theta+\delta]}\right]_+$</li>
					<li class="tempstep a" data-tempstep-from="9">$h'_{j,Q} \coloneqq h_{j,Q}$ for all $(i,Q) \in \Wc \backslash \Set{(i,W),(i,W')}$</li>
				</ul>
		</div>
		
		<img class="tempstep a" data-tempstep-list="10" style="position:absolute; right:0px; top:300px; width:600px; height:400px;" src="Dagstuhl22-animation/HExample1.svg" />
		<img class="tempstep a" data-tempstep-list="11" style="position:absolute; right:0px; top:300px; width:600px; height:400px;" src="Dagstuhl22-animation/HExample2.svg" />
		<img class="tempstep a" data-tempstep-from="12" style="position:absolute; right:0px; top:300px; width:600px; height:400px;" src="Dagstuhl22-animation/HExample3.svg" />
		
		<div class="theoremstyle d tempstep a" data-tempstep-from="13">
			A set $\Wc' \subseteq \Wc$ is a dominating set with respect to $S$ if for any $h \in S \cap K$, $(i,W) \in \Wc$, $\theta \in [0,T]$ we have $c_{i,W'}(\theta) \leq c_{i,W}(\theta)$ and $W \in D_{i,Q}(h,\theta)$ implies $W' \in D_{i,Q}(h,\theta)$.
		</div>	
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="14">
			For any convex, closed restriction set $S \subseteq \left(L^2([a,b])\right)^\Wc$ with non-empty intersection with $K$ and finite dominating set $\Wc' \subseteq \Wc$ w.r.t. $S$ there exists a capacitated dynamic equilibrium.
		</div>
	</div>	
	

</div>




<div class="Heading" id="background">
	<span style="float:left;">Dynamic Traffic Assignment for Electric Vehicles</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading1">
	<span style="float:left;">Dynamic Traffic Assignment for Electric Vehicles - I. Model</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading2">
	<span style="float:left;">Dynamic Traffic Assignment for Electric Vehicles - II. Existence</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading3">
	<span style="float:left;">Dynamic Traffic Assignment for Electric Vehicles - III. Structure</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading4">
	<span style="float:left;">Dynamic Traffic Assignment for Electric Vehicles - IV. Conclusion</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading5">
	<span style="float:left;">Dynamic Traffic Assignment for Electric Vehicles - V. Generalization</span>
	<span style="float:right;">Lukas Graf</span>
</div>

<div id="impress-toolbar"></div>

<div id="DrawingCanvas" style="position:fixed; left:5%; top:5%; width:90%; height:90%; z-index:1000; background-color:white; border:3px solid gray;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);pointer-events: auto !important;display:none; transition:border 2s, background-color 2s;">
		<canvas id="can0" width="1600" height="800" style="margin:5px 20px; border:1px solid black;"></canvas>

		<div style="position:absolute;bottom:20px;right:600px;width:20px;height:20px;background:blue;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:580px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:560px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:540px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:520px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:500px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:480px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:460px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
		<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(0)" style="position:absolute;bottom:20px;right:300px;">
		<input type="button" value="glass" id="clr" size="23" onclick="canvas().makeTransparent(0)" style="position:absolute;bottom:20px;right:250px;">		
</div>

<!--
    To make all described above really work, you need to include impress.js in the page.
    You also need to call a `impress().init()` function to initialize impress.js presentation.
    And you should do it in the end of your document.
-->
<script type="text/javascript" src="js/impress.js"></script>
<script type="text/javascript" src="js/impress-custom.js"></script>

<script>impress().init();</script>

<script type="text/javascript">

	var canvas = window.canvas = function() {
					
		function Pen() {
			this.color = "black";
			this.size = 2;
			this.eraserMode = false;
		}
		
		function Canvas(name, pen) {
			var canvas = document.getElementById(name);
			var context = canvas.getContext("2d");
			
			this.canvas = canvas;
			this.context = context;
			this.pen = pen;
			
			this.prevX = 0;
			this.prevY = 0;
			this.currX = 0;
			this.currY = 0;
						
			this.drawing = false;
			
			var findxy = function(res, e) {
				if (res == 'down') {
					this.prevX = this.currX;
					this.prevY = this.currY;
					this.currX = (e.client - canvas.getBoundingClientRect().left)/.9;
					this.currY = (e.client - canvas.getBoundingClientRect().top)/.9;
					this.drawing = true;
				}
				if (res == 'up' || res == "out") {
					this.drawing = false;
				}
				if (res == 'move') {
					if (this.drawing) {
						this.prevX = this.currX;
						this.prevY = this.currY;
						this.currX = (e.clientX - canvas.getBoundingClientRect().left)/.9;
						this.currY = (e.clientY - canvas.getBoundingClientRect().top)/.9;
						draw();
					}
				}
			}
			
			var draw = function() {
				if(pen.eraserMode) {
					context.clearRect(this.currX-20,this.currY-20,40,40);
				} else {
					context.beginPath();
					context.moveTo(this.prevX, this.prevY);
					context.lineTo(this.currX, this.currY);
					context.strokeStyle = this.pen.color;
					context.lineWidth = this.pen.size;
					context.stroke();
					context.closePath();
				}
			}
			
			canvas.addEventListener("mousemove", function (e) {
				findxy('move', e)
			}, false);
			canvas.addEventListener("mousedown", function (e) {
				findxy('down', e)
			}, false);
			canvas.addEventListener("mouseup", function (e) {
				findxy('up', e)
			}, false);
			canvas.addEventListener("mouseout", function (e) {
				findxy('out', e)
			}, false);

			
			
		}
	
		var init = function(n) {
			pen = new Pen();
			
			canvases = [];
			
			for(var i=0;i<n;i++) {
				canvases[i] = new Canvas("can"+i,pen)
			}
		}
		
		var color = function(obj) {
			pen.color = obj.style.backgroundColor;
			pen.eraserMode = false;
		}
		
		var toggleEraser = function() {
			pen.eraserMode = !(pen.eraserMode);
		}
		
		var clear = function(i) {
			if (confirm("Clear current canvas?")) {
				canvases[i].context.clearRect(0, 0, canvases[i].canvas.width, canvases[i].canvas.height);
			}
		}
		
		var makeTransparent = function(i) {
			var pDiv = canvases[i].canvas.parentElement;
			if (pDiv.style.backgroundColor == "white") {
				pDiv.style.backgroundColor = "transparent";
				pDiv.style.border = "3px solid transparent";
			} else {
				pDiv.style.backgroundColor = "white";
				pDiv.style.border = "3px solid gray";
			}
		}
		
		return({init: init, color: color, clear: clear, toggleEraser: toggleEraser, makeTransparent: makeTransparent});	
	}

	canvas().init(3);
</script>	
	
	
<script type="text/javascript">
		// SOURCE: https://stackoverflow.com/a/52011013
		// Define a function that takes LaTeX source code
		// and places the resulting generated SVG in a target SVG element.
		mathSVG = function (latex, target) {
		  // First create a new element to hold the initial Latex code
		  // and eventual MathJax generated SVG. This element isn't added
		  // to the main document, so it's never seen.
		  let mathBuffer = document.createElement("div");
		
		  // Update the buffer with the source latex.
		  mathBuffer.textContent = latex;
		  // Get MathJax to process and typeset.
		  MathJax.Hub.Queue(["Typeset", MathJax.Hub, mathBuffer]);
		  // Queue a callback function that will execute once it's finished typesetting.
		  MathJax.Hub.Queue(function () {
			// This (svg) is the generated graphics.
			var svg = mathBuffer.childNodes[1].childNodes[0];
			// The next line is optional, play with positioning as you see fit.
			svg.setAttribute("y", "0pt");
			// Move the generated svg from the buffer to the target element.
			target.appendChild(svg);
			// Clear the buffer.
			mathBuffer.textContent = "";
		  });
		};
		
		function generateTeXinSVGs() {
			listOfSVGs = document.getElementsByClassName("TeXinSVG");
			var i;
			for (i = 0; i < listOfSVGs.length; i++) {
				svgElement = listOfSVGs[i];
				latex = svgElement.children[0].textContent;
				svgElement.innerHTML = "";
				mathSVG("$" + latex + "$", svgElement);				
			} 
		};
</script>

<!-- Animations -->
<script defer="defer" src="Dagstuhl22-animation/initialExample1.js"></script>
<script defer="defer" src="Dagstuhl22-animation/initialExample2.js"></script>
<script defer="defer" src="Dagstuhl22-animation/structureExample1.js"></script>
<script defer="defer" src="Dagstuhl22-animation/structureExample2.js"></script>



</body>
</html>
