<!doctype html>

<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>Side-Constrained Dynamic Traffic Equilibria</title>

    <meta name="description" content="Side-Constrained Dynamic Traffic Equilibria" />
    <meta name="author" content="Lukas Graf" />


    <!--
        This file contains styles specific for this example presentation.
    -->
	<link href="css/DCGT23.css" rel="stylesheet" />

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
		tex2jax: {
		  inlineMath: [ ['$','$'], ['\\(','\\)'] ],
		  processEscapes: true
		},
		"SVG": { fonts: ["TeX"], scale:85 }
	  });
	  MathJax.Hub.Queue(generateTeXinSVGs());
	</script>
	<!-- Internetquelle für MathJax -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_SVG-full"></script>
	<!-- Falls kein Internet verfügbar... 
	<script type="text/javascript" src="extras/MathJax/MathJax.js?config=TeX-MML-AM_SVG-full"></script>-->

</head>


<body class="impress-not-supported" style="">
<!--<body class="impress-not-supported" style="transform:scale(.6,.6) translate(-500px,-100px);">-->
<!--
    This fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	<!--<p><a href="./ATMOS.pdf">&rarr; static pdf-version</a></p>-->
</div>



<div style="display:none;">
  \(
    \newcommand{\IN}{\mathbb{N}}
	\newcommand{\INs}{\mathbb{N}^\ast}
	\newcommand{\INo}{\mathbb{N}_0}
    \newcommand{\IZ}{\mathbb{Z}}
    \newcommand{\IR}{\mathbb{R}}
    \newcommand{\IC}{\mathbb{C}}
    \newcommand{\A}{\mathcal{A}}
    \newcommand{\B}{\mathcal{B}}
    \newcommand{\U}{\mathfrak{U}}
    \newcommand{\coloneqq}{:=}
    \newcommand{\Set}[1]{\left\{#1\right\}}
    \newcommand{\supp}{\mathrm{supp}}
    \newcommand{\Re}{\mathrm{Re}}
    \newcommand{\Im}{\mathrm{Im}}
    \newcommand{\clos}[1]{\overline{#1}}
    \newcommand{\inte}[1]{\mathring{#1}}
	\newcommand{\dist}[2]{\mathrm{dist}^c_{#1}(#2)}
	\newcommand{\dists}[2]{{\mathrm{dist}^c_{#1}}'(#2)}
	\newcommand{\Ind}{{\Large\raise{0pt}{\unicode{x1D7D9}}\,}}
	\newcommand{\bigO}{\mathcal{O}}	
	\newcommand{\abs}[1]{\left|#1\right|}
	\newcommand{\norm}[1]{\left\|#1\right\|}
	\newcommand{\scalar}[2]{\left\langle #1,#2 \right\rangle}
	
	\newcommand{\rDeriv}{\partial_+}
	\newcommand{\lDeriv}{\partial_-}
	\newcommand{\queue}{q}	
	\newcommand{\Pc}{\mathcal{P}}
	\newcommand{\Wc}{\mathcal{W}}
  \)
</div>


<div id="impress" data-transition-duration="2000" data-autoplay="0" style="z-index:0;">


	<div id="Title" class="step slide center" data-x="0" data-y="0" data-scale="1" data-tempstep-number="40" data-tempstep-skip="2-10;16-20;25-30;36-40">
		<h1 style="margin-top:60px;"><span class="tempstep tscol" data-tempstep-classes="31-40:red">Side-Constrained</span> <span class="tempstep tscol" data-tempstep-classes="11-20:hl">Dynamic Traffic</span> <span class="tempstep tscol" data-tempstep-classes="21-30:hl">Equilibria</span></h1>
			<strong>Lukas Graf</strong>, Tobias Harks <br />
			
			<span style="font-size:70%;">University of Passau</span>
			
		<div style="position:absolute; left:10%; top:400px; height:700px; width:70%;">
			<svg width="800" height="400" style="display:block; margin:auto;" viewbox="-100 -100 800 400">
				<defs>
					<marker id='sHeadSmall' orient='auto' markerWidth='8' markerHeight='8' refX='8' refY='3'>
						<path d='M0,0 V6 L6,3 Z' fill='black' />
					</marker>
					<marker id='sHead' orient='auto' markerWidth='4' markerHeight='4' refX='4' refY='1.5'>
						<path d='M0,0 V3 L3,1.5 Z' fill='black' />
					</marker>
					<marker id='sHeadR' orient='auto' markerWidth='4' markerHeight='4' refX='4' refY='1.5'>
						<path d='M0,0 V3 L3,1.5 Z' fill='red' />
					</marker>
					
					<marker id='ArrowHead' orient='auto' markerUnits="strokeWidth" markerWidth='3' markerHeight='3' refX='1.5' refY='1.5' viewbox="0 0 3 3">
						<path d='M0,0 V3 L3,1.5 Z' fill='DodgerBlue' />
					</marker>
					<marker id='headGraph' orient='auto' markerWidth='4' markerHeight='4' refX='1.5' refY='1.5'>
						<path d='M0,0 V3 L3,1.5 Z' fill='black' />
					</marker>
				</defs>    
					
				<!-- edges -->
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none' d='M50,200 q150,-100 300,0' />
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none'  d='M50,200 q150,100 300,0' />
					<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M350,200 l300,0' />
					<path marker-end='url(#sHeadR)' stroke-width='12' stroke='red' d='M350,200 l300,0' 
						class="tempstep a" data-tempstep-from="32" />
								
					
				<!-- flow -->
				
					<path stroke-width='20' fill="none" d='M50,200 q150,-100 300,0' 
						class="flow tempstep a" data-tempstep-classes="12-13:Te1full;14:Te1empty;22:Te1full;23:Te1empty;33:Te1full;34:Te1empty" />
						
					<path stroke-width='20' fill="none" d='M75,165 l-40,-80' 
						class="flow tempstep a" data-tempstep-classes="12:Tq1full" />
						
					<path stroke-width='20' fill="none" d='M50,200 q150,100 300,0' 
						class="flow tempstep a" data-tempstep-classes="22:Te1full;23:Te1empty;33:Te1full;34:Te1empty" />
					
					<path stroke-width='20' fill="none" d='M350,200 l300,0' 
						class="flow tempstep a" data-tempstep-classes="13-14:Te3full;15:Te3empty" />
					<path stroke-width='40' fill="none" d='M350,200 l300,0' 
						class="flow tempstep a" data-tempstep-classes="23:Te3full;24:Te3empty;34:Te3full;35:Te3empty" />

					
				<!--vertices-->
					<circle class="nodeSmall" cx="50" cy="200" r="25" />
					<svg class="TeXinSVG node-text" x="40" y="190"><text>s</text></svg>
					<circle class="nodeSmall" cx="350" cy="200" r="25" />
					<svg class="TeXinSVG node-text" x="340" y="190"><text>v</text></svg>
					<circle class="nodeSmall" cx="650" cy="200" r="25" />
					<svg class="TeXinSVG node-text" x="642" y="185"><text>t</text></svg>
					
				<!-- Inflow -->
					<path stroke-width='20' stroke='DodgerBlue' fill='none' marker-end='url(#ArrowHead)'  d='M-50,200 l50,0'/>
					
					
				<g class="tempstep a" data-tempstep-from="32">
				<!-- axes -->
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M370,90 l0,-100' />
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M370,90 l250,0' />
					<text x="630" y="100" color="black" font-size="75%">time</text>
					<text x="325" y="-25" color="black" font-size="75%">volume</text>
						
				<!-- graphs -->
					<path stroke-width='3' d='M370,90 l75,0 l75,-150 l75,150, l25,0' 
						class="tempstep graph" data-tempstep-classes="33:Tgr1;34:Tgr2;35:Tgr3;36-100:Tgr4" />
					<path stroke-width='2' stroke='red'  d='M370,20 l250,0' />
					
				<!-- Bridge -->
					<path stroke-width='3' stroke='red' fill='none' d='M500,160 l-70,0 q20,-10 30,-40 l0,60 0,-60 q40,80 80,0 l0,60 0,-60 q20,40 30,40 l-70,0'  />
					
					<path stroke-width='2' d='M500,120 l-7,35 14,-10 -7,35' 
						class="tempstep bridgebreak" data-tempstep-classes="34-100:Tbb" />
				</g>
			</svg>	
			
			<div class="HiddenCanvas" style="position:absolute; left:0; top:0; width:100%; height:100%; pointer-events: auto !important;">
				<canvas id="can1" width="1200" height="400"></canvas>

				<div style="position:absolute;top:0px;right:400px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;top:0px;right:380px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;top:0px;right:360px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;top:0px;right:340px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;top:0px;right:320px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;top:0px;right:300px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;top:0px;right:280px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;top:0px;right:260px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
				<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(1)" style="position:absolute;top:0px;right:200px;">	
			</div>			
		</div>	
			
			
		<p style="position:absolute; bottom:0px; right:0px;">
			13th Day on Computational Game Theory (Amsterdam)
		</p>
			

	</div>
	
<!--	<div id="Model-Chapter" class="step slide chapterTitle" data-rel-x="0" data-rel-y="1100" data-scale="1" data-tempstep-number="1" data-tempstep-skip="8-10;13-20;23-30">
		<h2 style="margin-top:10px;"><span>I. Model</span></h2>
		
	</div>-->
	
	<div id="Model" class="step slide" data-rel-x="0" data-rel-y="1100" data-scale="1" data-tempstep-number="64" data-tempstep-skip="6-10;17-20;29-30;43-50">
		<h3 class="tempstep a" data-tempstep-from="0">Base Model&nbsp; ...</h3>
			
		<ul>
			<li class="tempstep a" data-tempstep-from="2">
				directed graph $G=(V,E)$</li>
			<li class="tempstep a" data-tempstep-from="3">
				commodities $i \in I$ with fixed network inflow rate $r_i: [0,T] \to \IR_{\geq 0}$ and (finite) set $\Pc_i$ of source,sink-paths</li>
			<li class="tempstep a" data-tempstep-from="4">
				route choices of all (infinitesimally small) agents described by path inflow rates
				\[(h_{p})_{p} \in \Lambda(r) \coloneqq \Big\{h \in \left(L^2_+([0,T])\right)^{\sum_{i \in I}\Pc_i} \,\Big|\, \sum_{p \in \Pc_i}h_{p}=r_i \text{ for all } i \in I\Big\} \subseteq \left(L^2_+([0,T])\right)^{\sum_{i \in I}\Pc_i}.\]
			</li>
			<li class="tempstep a" data-tempstep-from="5" style="position:relative; margin-top:40px;">
				(effective) path delay operator $\Psi: \Lambda(r) \to C([0,T])^{\sum_{i \in I}\Pc_i}$
				<div style="position:absolute; left:130px; top:-75px;" class="tempstep a" data-tempstep-from="13">
					<span class="tempstep a" data-tempstep-from="15" data-tempstep-classes="15:red">compact,</span> <span class="tempstep" data-tempstep-classes="13:red;15:red">convex</span> <svg width="70" height="45" style="display:inline;" viewbox="0 -5 70 45">
							<defs>
								<marker id='pointerHead' orient='auto' markerWidth='4.5' markerHeight='6' refX='4' refY='3'>
									<path d='M0,0 l4,3 l-4,3' fill='none' stroke='rgb(75, 75, 75)' stroke-linejoin="miter" />
								</marker>
							</defs>  
							<path marker-end='url(#pointerHead)' stroke-width='2' stroke='rgb(75, 75, 75)' fill='none' d='M0,35 q65,0 60,-34 l0,-3' />
							</svg>
				</div>
				<div style="position:absolute; left:520px; top:-60px; vertical-align:top;" class="tempstep a" data-tempstep-from="16">
					<svg width="70" height="70" style="display:inline;" viewbox="0 -17 70 70">
							<defs>
								<marker id='pointerHead' orient='auto' markerWidth='4.5' markerHeight='6' refX='4' refY='3'>
									<path d='M0,0 l4,3 l-4,3' fill='none' stroke='rgb(75, 75, 75)' stroke-linejoin="miter" />
								</marker>
							</defs>  
							<path marker-end='url(#pointerHead)' stroke-width='2' stroke='rgb(75, 75, 75)' fill='none' d='M70,5 q-65,0 -60,40 l0,7' />
							</svg> <span style="vertical-align:top;" class="tempstep" data-tempstep-classes="16:red">continuous</span>
				</div>
			</li>
		</ul>
		
		<div class="theoremstyle d tempstep a" data-tempstep-from="11">
			$h^\ast \in \Lambda(r)$ a <em>dynamic equilibrium</em> if<span class="phantom">f</span> &nbsp; $h^\ast_{p}(t)>0 \implies \Psi_{p}(h^\ast,t) \leq \Psi_{q}(h^\ast,t)$ &nbsp; f.a. $p,q \in \Pc_i$ and $t \in [0,T]$.
		</div>

		<div class="theoremstyle t tempstep a" data-tempstep-from="12">
			$h^\ast \in \Lambda(r)$ a <em>dynamic equilibrium</em> iff &nbsp; $\langle \Psi(h^\ast),h-h^\ast\rangle \geq 0$ &nbsp; f.a. $h \in \Lambda(r)$.
			
			<div class="theoremstyle t tempstep a" style="float:right; width:150px;" data-tempstep-from="14">
				DE exist.<span style="margin-left:-300px;">$\implies$</span>
			</div>
		</div>
		
		<h3 class="tempstep a" data-tempstep-from="21">... &nbsp;+&nbsp; Side-Constraints</h3>
		
		<ul>
			<li class="tempstep a" data-tempstep-from="22" style="position:relative;">
				constraint set $S \subseteq \Lambda(r)$
				<div style="position:absolute; left:180px; top:40px;" class="tempstep a" data-tempstep-list="28-39">
					<svg width="70" height="45" style="display:inline;" viewbox="0 -5 70 45">
							<defs>
								<marker id='pointerHead' orient='auto' markerWidth='4.5' markerHeight='6' refX='4' refY='3'>
									<path d='M0,0 l4,3 l-4,3' fill='none' stroke='rgb(75, 75, 75)' stroke-linejoin="miter" />
								</marker>
							</defs>  
							<path marker-end='url(#pointerHead)' stroke-width='2' stroke='rgb(75, 75, 75)' fill='none' d='M70,35 q-65,0 -60,-34 l0,-3' />
							</svg> <span style="color:red">convex?</span>
				</div></li>
			<li class="tempstep a" data-tempstep-from="56">
				admissible $\varepsilon$-deviations $A_p: S \rightrightarrows \Pc_i \times \mathcal{M}([0,T]) \times \IR_{\geq 0}$</li>
		</ul>
		
		<div class="theoremstyle t tempstep a" data-tempstep-list="23-25" data-tempstep-classes="1-23:CharUp;24-50:CharDown" style="position:absolute; left:20px; transition:opacity 1s, top 2s;">
			$h^\ast \in\;$<span class="tempstep" data-tempstep-classes="25:red">$\Lambda(r)$</span> a <em>dynamic equilibrium</em> iff &nbsp; $\langle \Psi(h^\ast),h-h^\ast\rangle \geq 0$ &nbsp; f.a. $h \in\;$<span class="tempstep" data-tempstep-classes="25:red">$\Lambda(r)$</span>.
		</div>
		
		<div class="theoremstyle d tempstep a" data-tempstep-list="26-41">
			$h^\ast \in\;$<span class="tempstep" data-tempstep-classes="26:red">$S$</span> a <em>side-constrained dynamic equilibrium</em> if &nbsp; $\langle \Psi(h^\ast),h-h^\ast\rangle \geq 0$ &nbsp; f.a. $h \in\;$<span class="tempstep" data-tempstep-classes="26:red">$S$</span>.
			
			<div class="theoremstyle t tempstep a" style="float:right; width:150px;" data-tempstep-list="27-40">
				SCDE exist.<span style="margin-left:-330px;">$\implies$</span>
			</div>
		</div>
		
		<div class="theoremstyle d tempstep a" data-tempstep-list="51-54" data-tempstep-classes="1-51:DefUp;52-60:DefDown" style="position:absolute; left:20px; transition:opacity 1s, top 2s;">
			$h^\ast \in\;$<span class="tempstep" data-tempstep-classes="53-54:red">$\Lambda(r)$</span> a <em>dynamic equilibrium</em> if<span class="phantom">f</span> &nbsp; $h^\ast_{p}(t)>0 \implies \Psi_{p}(h^\ast,t) \leq \Psi_{q}(h^\ast,t)$ &nbsp; f.a. $p,$ <span class="tempstep" data-tempstep-classes="54:red">$q\;$</span>$\in \Pc_i$ and $t \in [0,T]$.
		</div>
		
		<div class="theoremstyle d tempstep a" data-tempstep-from="55" style="position:relative; top:-76px; margin-bottom:-56px;">
			$h^\ast \in\;$<span class="tempstep" data-tempstep-classes="55:red">$S$</span> a <em>side-constrained dynamic equilibrium</em> if &nbsp; $h^\ast_{p}(t)>0 \implies \Psi_{p}(h^\ast,t) \leq \Psi_{q}(h^\ast,t)$ &nbsp; f.a. $p \in \Pc_i$, <span class="tempstep" data-tempstep-classes="55-61:red">$q \in U_p(h^\ast,t)$</span> $\;\subseteq \Pc_i$, $t \in [0,T]$. <br />
			<span class="tempstep a" data-tempstep-from="61">&nbsp; &nbsp; &nbsp; where $U_p(h,t) \coloneqq \Set{q \in \Pc_i \,|\, \forall \delta > 0, \varepsilon > 0: \exists J \subseteq [t-\delta,t+\delta], \varepsilon' \leq \varepsilon: (q,J,\varepsilon') \in A_p(h)}$</span>
		</div>
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="63">
			If $S$ is convex and $A_p$ are sufficiently nice, SCDE are characterized by VI.
		</div>
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="64">
			If $A_p$ are sufficiently nice, SCDE are characterized by QVI.
		</div>
		
		<div style="position:absolute; left:20%; height:400px; width:60%;" class="tempstep a counterExample" data-tempstep-list="5-55" data-tempstep-classes="31-42:CEactive">
			<svg width="800" height="400" style="display:block; margin:auto;" viewbox="-100 -100 800 400">
				<defs>
					<marker id='sHeadSmall' orient='auto' markerWidth='8' markerHeight='8' refX='8' refY='3'>
						<path d='M0,0 V6 L6,3 Z' fill='black' />
					</marker>
					<marker id='sHead' orient='auto' markerWidth='4' markerHeight='4' refX='4' refY='1.5'>
						<path d='M0,0 V3 L3,1.5 Z' fill='black' />
					</marker>
					<marker id='sHeadR' orient='auto' markerWidth='4' markerHeight='4' refX='4' refY='1.5'>
						<path d='M0,0 V3 L3,1.5 Z' fill='red' />
					</marker>
					
					<marker id='ArrowHead' orient='auto' markerUnits="strokeWidth" markerWidth='3' markerHeight='3' refX='1.5' refY='1.5' viewbox="0 0 3 3">
						<path d='M0,0 V3 L3,1.5 Z' fill='DodgerBlue' />
					</marker>
					<marker id='headGraph' orient='auto' markerWidth='4' markerHeight='4' refX='1.5' refY='1.5'>
						<path d='M0,0 V3 L3,1.5 Z' fill='black' />
					</marker>
				</defs>    
					
				<!-- edges -->
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none' d='M50,200 q150,-100 300,0' />
					<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black' fill='none'  d='M50,200 q150,100 300,0' />
					<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M350,200 l300,0' />
								
					
				<!-- flow -->
				
					<path stroke-width='20' fill="none" d='M50,200 q150,-100 300,0' 
						class="flow tempstep a" data-tempstep-classes="32-33:Te1full;34:Te1empty;36:Te1full;37:Te1empty" />
						
					<path stroke-width='20' fill="none" d='M75,165 l-40,-80' 
						class="flow tempstep a" data-tempstep-classes="32:Tq1full" />
						
					<path stroke-width='20' fill="none" d='M50,200 q150,100 300,0' 
						class="flow tempstep a" data-tempstep-classes="36:Te1full;37:Te1empty" />
					
					<path stroke-width='20' fill="none" d='M350,200 l300,0' 
						class="flow tempstep a" data-tempstep-classes="33-34:Te3full;35:Te3empty" />
					<path stroke-width='40' fill="none" d='M350,200 l300,0' 
						class="flow tempstep a" data-tempstep-classes="37:Te3full;38:Te3empty" />

					
				<!--vertices-->
					<circle class="nodeSmall" cx="50" cy="200" r="25" />
					<svg class="TeXinSVG node-text" x="40" y="190"><text>s</text></svg>
					<circle class="nodeSmall" cx="350" cy="200" r="25" />
					<svg class="TeXinSVG node-text" x="340" y="190"><text>v</text></svg>
					<circle class="nodeSmall" cx="650" cy="200" r="25" />
					<svg class="TeXinSVG node-text" x="642" y="185"><text>t</text></svg>
					
				<!-- Inflow -->
					<path stroke-width='20' stroke='DodgerBlue' fill='none' marker-end='url(#ArrowHead)'  d='M-50,200 l50,0'/>
					
				<!-- axes -->
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M370,90 l0,-100' />
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M370,90 l250,0' />
					<text x="630" y="100" color="black" font-size="75%">time</text>
					<text x="325" y="-25" color="black" font-size="75%">volume</text>
						
				<!-- graphs -->
					<path stroke-width='3' d='M370,90 l75,0 l75,-70 l100,0' 
						class="tempstep a graph" data-tempstep-classes="32:Mgr1;33:Mgr2;34-35:Mgr3" data-tempstep-until="34"/>
					<path stroke-width='3' d='M370,90 l75,0 l75,-150 l75,150, l25,0' 
						class="tempstep graph" data-tempstep-classes="36:Tgr1;37:Tgr2;38:Tgr3;39-100:Tgr4" />
					<path stroke-width='2' stroke='red'  d='M370,20 l250,0' />
					
				<!-- Bridge -->
					<path stroke-width='3' stroke='red' fill='none' d='M500,160 l-70,0 q20,-10 30,-40 l0,60 0,-60 q40,80 80,0 l0,60 0,-60 q20,40 30,40 l-70,0'  />
					
					<path stroke-width='2' d='M500,120 l-7,35 14,-10 -7,35' 
						class="tempstep bridgebreak" data-tempstep-classes="37-100:Tbb" />
			</svg>
		</div>
		
		<div style="position:absolute; top:50px; left:25%; height:600px; width:50%;" class="tempstep a admEpsDev" data-tempstep-list="57-61">
			<svg width="750" height="600" style="display:block; margin:auto;" viewbox="-20 -60 850 520">
				<!-- axes -->
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M10,190 l0,-100' />
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M10,190 l250,0' />
					<text x="270" y="195" color="black" font-size="75%">time</text>
					<text x="-20" y="75" color="black" font-size="75%">inflow</text>
						
				<!-- graphs -->
					<g class="tempstep a" data-tempstep-from="58">
					<path stroke-width='3' d='M50,170 l0,20 l40,0 l40,-10 l0,-30' stroke='red' fill='#ff000030' />
						<svg class="TeXinSVG node-text-small" x="135" y="155"><text>\color{red}{\varepsilon}</text></svg>
						<svg class="TeXinSVG node-text-small" x="80" y="200"><text>\color{red}{J}</text></svg>
					</g>
					<path stroke-width='3' d='M10,180 l240,-60' stroke='DodgerBlue' />
						<svg class="TeXinSVG node-text-small" x="120" y="110"><text>\color{DodgerBlue}{h_p}</text></svg>
						
				<!-- axes -->
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M10,390 l0,-100' />
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M10,390 l250,0' />
					<text x="270" y="395" color="black" font-size="75%">time</text>
					<text x="-20" y="275" color="black" font-size="75%">inflow</text>
						
				<!-- graphs -->
					<path stroke-width='3' d='M10,300 l240,60' stroke='DodgerBlue' />
						<svg class="TeXinSVG node-text-small" x="120" y="340"><text>\color{DodgerBlue}{h_q}</text></svg>
					
				
				<g class="tempstep a" data-tempstep-from="59">
				<!-- axes -->
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M510,190 l0,-100' />
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M510,190 l250,0' />
					<text x="770" y="195" color="black" font-size="75%">time</text>
					<text x="480" y="75" color="black" font-size="75%">inflow</text>
						
				<!-- graphs -->
					<path stroke-width='3' d='M510,180 l40,-10 l0,20 l40,0 l40,-10 l0,-30 l120,-30' stroke='DodgerBlue' fill='None' />
						<svg class="TeXinSVG node-text-small" x="620" y="110"><text>\color{DodgerBlue}{h'_p}</text></svg>
						
				<!-- axes -->
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M510,390 l0,-100' />
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M510,390 l250,0' />
					<text x="770" y="395" color="black" font-size="75%">time</text>
					<text x="480" y="275" color="black" font-size="75%">inflow</text>
						
				<!-- graphs -->
					<path stroke-width='3' d='M510,300 l40,10 l0,-20 l40,0 l40,10 l0,30 l120,30' stroke='DodgerBlue' fill='None' />
						<svg class="TeXinSVG node-text-small" x="620" y="340"><text>\color{DodgerBlue}{h'_q}</text></svg>
				</g>		
						
				<svg class="TeXinSVG node-text" x="120" y="430"><text>\color{DodgerBlue}{h}</text></svg>
				
				<svg class="TeXinSVG node-text tempstep a" x="500" y="430" data-tempstep-from="60"><text>\color{DodgerBlue}{h' \coloneqq H_{p \to q}(h,J,\varepsilon)}</text></svg>
				
				<svg class="TeXinSVG node-text" x="260" y="-50"><text>(q,J,\varepsilon) \in A_p(h):</text></svg>
				<path marker-end='url(#pointerHead)' stroke-width='2' stroke='black' fill='none' d='M250,30 q150,-50 300,0' class="tempstep a" data-tempstep-from="59" />
				
			</svg>			
		</div>	
	</div>
	
	<div id="ModelExamples" class="step slide" data-rel-x="0" data-rel-y="580" data-scale="1" data-tempstep-number="11">
		<div style="margin-top:450px;">
			<h3>Volume Constraints</h3>
			
			<ul>
				<li class="tempstep a" data-tempstep-from="2">volume constraints $c_e: \IR_{\geq 0} \to \IR_{\geq 0}$ for every edge $e \in E$</li>
			</ul>
			
			<div class="tempstep a" data-tempstep-from="3" style="margin-top:40px; position:relative;">
				Define $S \coloneqq \Set{h \in \Lambda(r) \,|\, x_e(h,\theta) \leq c_e(\theta) \text{ f.a. } \theta \in \IR_{\geq 0}, e \in E}$
				<div style="position:absolute; left:330px; top:40px;" class="tempstep a" data-tempstep-from="4">
					<svg width="70" height="45" style="display:inline;" viewbox="0 -5 70 45">
							<defs>
								<marker id='pointerHead' orient='auto' markerWidth='4.5' markerHeight='6' refX='4' refY='3'>
									<path d='M0,0 l4,3 l-4,3' fill='none' stroke='rgb(75, 75, 75)' stroke-linejoin="miter" />
								</marker>
							</defs>  
							<path marker-end='url(#pointerHead)' stroke-width='2' stroke='rgb(75, 75, 75)' fill='none' d='M70,35 q-65,0 -60,-34 l0,-3' />
							</svg> flow volume on edge $e$
				</div>
			</div>
			
			<div class="tempstep a" data-tempstep-from="5" style="margin-top:110px; position:relative;">
				Define $A_p(h) \coloneqq \Set{(q,J,\varepsilon) \,|\, x_e(h',\tau^e(h',t)) \leq c_e(\tau^e(h',t)) \text{ f.a. } t \in J, e \in q, h' \coloneqq H_{p \to q}(h,J,\varepsilon)}$ <br />
				<span class="phantom">Define </span><span class="tempstep a" data-tempstep-from="7">&rarr; <em>dynamic Bernstein-Smith equilibrium</em></span>
				<div style="position:absolute; left:655px; top:-60px; vertical-align:top;" class="tempstep a" data-tempstep-from="6">
					<svg width="70" height="70" style="display:inline;" viewbox="0 -17 70 70">
							<defs>
								<marker id='pointerHead' orient='auto' markerWidth='4.5' markerHeight='6' refX='4' refY='3'>
									<path d='M0,0 l4,3 l-4,3' fill='none' stroke='rgb(75, 75, 75)' stroke-linejoin="miter" />
								</marker>
							</defs>  
							<path marker-end='url(#pointerHead)' stroke-width='2' stroke='rgb(75, 75, 75)' fill='none' d='M70,5 q-65,0 -60,40 l0,7' />
							</svg> <span style="display:block; margin-top:-85px; margin-left:90px;">arrival time at edge $e$</span>
				</div>
			</div>
			 <div class="tempstep a" data-tempstep-from="8" style="margin-top:20px; position:relative;"> 
				&nbsp; &nbsp; <span class="tempstep a" data-tempstep-from="8">or &nbsp; &nbsp; $A_p(h) \coloneqq \Set{(q,J,\varepsilon) \,|\, x_e(h,\tau^e(h,t)) + \varepsilon \leq c_e(\tau^e(h,t)) \text{ f.a. } t \in J, e \in q}$</span> <br />
				<span class="phantom">Define </span><span class="tempstep a" data-tempstep-from="9">&rarr; <span class="tempstep" data-tempstep-classes="11-100:hl"><em>dynamic Larsson-Patriksson equilibrium</em></span></span><br />
				&nbsp; &nbsp; <span class="tempstep a" data-tempstep-from="10">or &nbsp; ...</span>
			</div>
			
			<!--Define $A_p(h) \coloneqq \Set{(q,J,\varepsilon) \,|\, x_e(h,\tau^e(h,t)) + \varepsilon \leq c_e(\tau^e(h,t)) \text{ f.a. } t \in [0,T], e \in q \text{ after common prefix}}$ <br />
			
			&rarr; <em>dynamic Marcotte-Nguyen-Schoeb equilibrium</em> <br />-->
		</div>
	</div>
	
<!--	<div id="Existence-Chapter" class="step slide center chapterTitle" data-rel-x="0" data-rel-y="1000" data-scale="1" data-tempstep-number="1">
		<h2 style="margin-top:10px;"><span>II. Existence</span></h2>
	</div>-->
	
	<div id="Existence" class="step slide" data-rel-x="0" data-rel-y="540" data-scale="1" data-tempstep-number="10">
		<div style="margin-top:480px;">
			<h3>Existence</h3>
			
			<div class="theoremstyle t tempstep a" data-tempstep-from="2">
				Under the following assumptions there exists a dynamic Larsson-Patricksson equilibrium:
				<ul>
					<li class="tempstep a" data-tempstep-from="3">flow dynamics described by deterministic queuing or linear edge delays</li>
					<li class="tempstep a" data-tempstep-from="4">side-constraints are non-decreasing edge volume-constraints</li>
					<li class="tempstep a" data-tempstep-from="5">there is always at least one unsaturated path</li>
				</ul>
			</div>	
			
			<div class="proofstyle tempstep a" data-tempstep-from="6" style="width:60%;">
				<ul>
					<li>Define penalty function $\xi_e(h,\theta) \coloneqq \max\Set{0,x_e(h,\theta)-c_e(\theta)}$</li>
					<li class="tempstep a" data-tempstep-from="7">Define new path delay $\Psi_p^\lambda(h,t) \coloneqq \Psi_p(h,t) + \lambda\sum_{e \in p}\xi_e(h,\tau^e(h,t))$</li>
					<li class="tempstep a" data-tempstep-from="8">$\implies$ DE wrt. $\Psi^\lambda$ exist (f.a. $\lambda$) <span class="tempstep a" data-tempstep-from="9">and converge to LPDE wrt. $\Psi$</span></li>
				</ul>
			</div>
		</div>
		
		<div class="theoremstyle r tempstep a" data-tempstep-from="10">
			Also works with departure time choice, other flow dynamics, stronger equilibria, ...
		</div>
	</div>
	

	<div id="Conclusion-Chapter" class="step slide center skip" data-rel-x="0" data-rel-y="1100" data-scale="1" data-tempstep-number="1">
		<h2 style="margin-top:10px;"><span>Conclusion</span></h2>
	</div>
	
	
	<div id="Conclusion" class="step slide" data-rel-x="0" data-rel-y="0" data-scale="1" data-tempstep-number="5">
		<div style="margin-top:200px;">
			<ul>
				<li class="tempstep a" data-tempstep-from="1">Previous definition/existence result for side-constrained dynamic equilibria is flawed</li>
				<li class="tempstep a" data-tempstep-from="1">New general framework for side-constrained dynamic equilibria</li>
				<li class="tempstep a" data-tempstep-from="1">Characterization via (quasi) variational inequalities</li>
				<li class="tempstep a" data-tempstep-from="1">Existence for volume constraints (under certain assumptions)</li>
				<li class="tempstep a" data-tempstep-from="1">But no structural insights (yet)</li>
			</ul>
		</div>
		
	</div>
</div>




<div class="Heading" id="background">
	<span style="float:left;">Side-Constrained Dynamic Traffic Equilibria</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading1">
	<span style="float:left;">Side-Constrained Dynamic Traffic Equilibria - Model</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading2">
	<span style="float:left;">Side-Constrained Dynamic Traffic Equilibria - Existence</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading3">
	<span style="float:left;">Side-Constrained Dynamic Traffic Equilibria - Conclusion</span>
	<span style="float:right;">Lukas Graf</span>
</div>


<div id="impress-toolbar"></div>

<div id="DrawingCanvas" style="position:fixed; left:5%; top:5%; width:90%; height:90%; z-index:1000; background-color:white; border:3px solid gray;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);pointer-events: auto !important;display:none; transition:border 2s, background-color 2s;">
		<canvas id="can0" width="1600" height="800" style="margin:5px 20px; border:1px solid black;"></canvas>

		<div style="position:absolute;bottom:20px;right:600px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:580px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:560px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:540px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:520px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:500px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:480px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:460px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
		<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(0)" style="position:absolute;bottom:20px;right:300px;">
		<input type="button" value="glass" id="clr" size="23" onclick="canvas().makeTransparent(0)" style="position:absolute;bottom:20px;right:250px;">		
</div>

<!--
    To make all described above really work, you need to include impress.js in the page.
    You also need to call a `impress().init()` function to initialize impress.js presentation.
    And you should do it in the end of your document.
-->
<script type="text/javascript" src="js/impress.js"></script>
<script type="text/javascript" src="js/impress-custom.js"></script>

<script>impress().init();</script>

<script type="text/javascript">

	var canvas = window.canvas = function() {
					
		function Pen() {
			this.color = "black";
			this.size = 2;
			this.eraserMode = false;
		}
		
		function Canvas(name, pen) {
			var canvas = document.getElementById(name);
			var context = canvas.getContext("2d");
			var zoomcorrection = 1;
			
			this.canvas = canvas;
			this.context = context;
			this.pen = pen;
			
			this.prevX = 0;
			this.prevY = 0;
			this.currX = 0;
			this.currY = 0;
						
			this.drawing = false;
			
			var findxy = function(res, e) {
				if (res == 'down') {
					this.prevX = this.currX;
					this.prevY = this.currY;
					this.currX = (e.client - canvas.getBoundingClientRect().left)/zoomcorrection;
					this.currY = (e.client - canvas.getBoundingClientRect().top)/zoomcorrection;
					this.drawing = true;
				}
				if (res == 'up' || res == "out") {
					this.drawing = false;
				}
				if (res == 'move') {
					if (this.drawing) {
						this.prevX = this.currX;
						this.prevY = this.currY;
						this.currX = (e.clientX - canvas.getBoundingClientRect().left)/zoomcorrection;
						this.currY = (e.clientY - canvas.getBoundingClientRect().top)/zoomcorrection;
						draw();
					}
				}
			}
			
			var draw = function() {
				if(pen.eraserMode) {
					context.clearRect(this.currX-20,this.currY-20,40,40);
				} else {
					context.beginPath();
					context.moveTo(this.prevX, this.prevY);
					context.lineTo(this.currX, this.currY);
					context.strokeStyle = this.pen.color;
					context.lineWidth = this.pen.size;
					context.stroke();
					context.closePath();
				}
			}
			
			canvas.addEventListener("mousemove", function (e) {
				findxy('move', e)
			}, false);
			canvas.addEventListener("mousedown", function (e) {
				findxy('down', e)
			}, false);
			canvas.addEventListener("mouseup", function (e) {
				findxy('up', e)
			}, false);
			canvas.addEventListener("mouseout", function (e) {
				findxy('out', e)
			}, false);

			
			
		}
	
		var init = function(n) {
			pen = new Pen();
			
			canvases = [];
			
			for(var i=0;i<n;i++) {
				canvases[i] = new Canvas("can"+i,pen)
			}
		}
		
		var color = function(obj) {
			pen.color = obj.style.backgroundColor;
			pen.eraserMode = false;
		}
		
		var toggleEraser = function() {
			pen.eraserMode = !(pen.eraserMode);
		}
		
		var clear = function(i) {
			if (confirm("Clear current canvas?")) {
				canvases[i].context.clearRect(0, 0, canvases[i].canvas.width, canvases[i].canvas.height);
			}
		}
		
		var makeTransparent = function(i) {
			var pDiv = canvases[i].canvas.parentElement;
			if (pDiv.style.backgroundColor == "white") {
				pDiv.style.backgroundColor = "transparent";
				pDiv.style.border = "3px solid transparent";
			} else {
				pDiv.style.backgroundColor = "white";
				pDiv.style.border = "3px solid gray";
			}
		}
		
		return({init: init, color: color, clear: clear, toggleEraser: toggleEraser, makeTransparent: makeTransparent});	
	}

	canvas().init(2);
</script>	
	
	
<script type="text/javascript">
		// SOURCE: https://stackoverflow.com/a/52011013
		// Define a function that takes LaTeX source code
		// and places the resulting generated SVG in a target SVG element.
		mathSVG = function (latex, target) {
		  // First create a new element to hold the initial Latex code
		  // and eventual MathJax generated SVG. This element isn't added
		  // to the main document, so it's never seen.
		  let mathBuffer = document.createElement("div");
		
		  // Update the buffer with the source latex.
		  mathBuffer.textContent = latex;
		  // Get MathJax to process and typeset.
		  MathJax.Hub.Queue(["Typeset", MathJax.Hub, mathBuffer]);
		  // Queue a callback function that will execute once it's finished typesetting.
		  MathJax.Hub.Queue(function () {
			// This (svg) is the generated graphics.
			var svg = mathBuffer.childNodes[1].childNodes[0];
			// The next line is optional, play with positioning as you see fit.
			svg.setAttribute("y", "0pt");
			// Move the generated svg from the buffer to the target element.
			target.appendChild(svg);
			// Clear the buffer.
			mathBuffer.textContent = "";
		  });
		};
		
		function generateTeXinSVGs() {
			listOfSVGs = document.getElementsByClassName("TeXinSVG");
			var i;
			for (i = 0; i < listOfSVGs.length; i++) {
				svgElement = listOfSVGs[i];
				latex = svgElement.children[0].textContent;
				svgElement.innerHTML = "";
				mathSVG("$" + latex + "$", svgElement);				
			} 
		};
</script>




</body>
</html>
