<!doctype html>

<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>A Decomposition Theorem for Dynamic Flows</title>

    <meta name="description" content="A Decomposition Theorem for Dynamic Flows" />
    <meta name="author" content="Lukas Graf" />


    <!--
        This file contains styles specific for this example presentation.
    -->
	<link href="css/Dagstuhl24.css" rel="stylesheet" />
	
	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
		tex2jax: {
		  inlineMath: [ ['$','$'], ['\\(','\\)'] ],
		  processEscapes: true
		},
		"SVG": { fonts: ["TeX"], scale:85 }
	  });
	  MathJax.Hub.Queue(generateTeXinSVGs());
	</script>
	<!-- Internetquelle für MathJax -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_SVG-full"></script>
	<!-- Falls kein Internet verfügbar...
	<script type="text/javascript" src="extras/MathJax/MathJax.js?config=TeX-MML-AM_SVG-full"></script>-->

</head>


<body class="impress-not-supported" style="">
<!--<body class="impress-not-supported" style="transform:scale(.6,.6) translate(-500px,-100px);">-->
<!--
    This fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	<!--<p><a href="./ATMOS.pdf">&rarr; static pdf-version</a></p>-->
</div>



<div style="display:none;">
  \(
    \newcommand{\IN}{\mathbb{N}}
	\newcommand{\INs}{\mathbb{N}^\ast}
	\newcommand{\INo}{\mathbb{N}_0}
    \newcommand{\IZ}{\mathbb{Z}}
    \newcommand{\IRnn}{\IR_{\geq 0}}
	\newcommand{\IRsp}{\IR_{\gt 0}}
	\newcommand{\IR}{\mathbb{R}}
    \newcommand{\IC}{\mathbb{C}}
    \newcommand{\A}{\mathcal{A}}
    \newcommand{\B}{\mathcal{B}}
    \newcommand{\U}{\mathfrak{U}}
    \newcommand{\coloneqq}{:=}
    \newcommand{\Set}[1]{\left\{#1\right\}}
	
	\newcommand{\PSet}[1]{2^{#1}}
	
	\newcommand{\Mid}{\,\middle|\,}
    \newcommand{\supp}{\mathrm{supp}}
    \newcommand{\Re}{\mathrm{Re}}
    \newcommand{\Im}{\mathrm{Im}}
    \newcommand{\clos}[1]{\overline{#1}}
    \newcommand{\inte}[1]{\mathring{#1}}
	\newcommand{\dist}[2]{\mathrm{dist}^c_{#1}(#2)}
	\newcommand{\dists}[2]{{\mathrm{dist}^c_{#1}}'(#2)}
	\newcommand{\Ind}{{\Large\raise{0pt}{\unicode{x1D7D9}}\,}}
	\newcommand{\Indn}{{\raise{-1pt}{\unicode{x1D7D9}}\,}}
	\newcommand{\bigO}{\mathcal{O}}	
	\newcommand{\abs}[1]{\left|#1\right|}
	\newcommand{\norm}[1]{\left\|#1\right\|}
	\newcommand{\scalar}[2]{\left\langle #1,#2 \right\rangle}
	
	\newcommand{\rDeriv}{\partial_+}
	\newcommand{\lDeriv}{\partial_-}
	\newcommand{\queue}{q}	
	\newcommand{\Pc}{\mathcal{P}}
	\newcommand{\Cc}{\mathcal{C}}
	\newcommand{\Wc}{\mathcal{W}}
	
	\newcommand{\diff}{\mathrm{d}}
	\newcommand{\eps}{\varepsilon}
	
	\newcommand{\ql}[1][e]{Q_{#1}}
	
	\newcommand{\hori}{\IRnn}
	
	\newcommand{\edgesFrom}[1]{\delta^+(#1)}
	\newcommand{\edgesTo}[1]{\delta^-(#1)}
  \)
</div>


<div id="impress" data-transition-duration="2000" data-autoplay="0" style="z-index:0;" data-width="1920" data-height="1080">


	<div id="Title" class="step slide center" data-x="0" data-y="0" data-scale="1" data-tempstep-number="1">
		<h1 style="margin-top:20px;">A Decomposition Theorem for Dynamic Flows</h1>
		
		<span>Lukas Graf, Julian Schwarz, <strong>Tobias Harks</strong></span>
		
		<div style="position:absolute; left:0px; width:100%; bottom:150px; text-align:center;" class="tempstep a" data-tempstep-until="1">
			<!--<a href="./Dagstuhl24.pdf">&rarr; PDF-Version (static)</a> &nbsp; &nbsp;-->
			<!--<a href="https://graffl.gitlab.io/ide-flow-talks/index_Dagstuhl24.html#/Title">&rarr; Dynamic Version</a> &nbsp; &nbsp;-->
		</div>
		
		<div style="position:absolute; right:0px; bottom:20px;" class="tempstep a" data-tempstep-until="1">
			<strong>Aussois Combinatorial Optimization Workshop</strong>
		</div>
	</div>
	
	<div id="Introduction" class="step slide" data-rel-x="0" data-rel-y="300" data-tempstep-number="87" data-tempstep-skip="1-11;13;15-20;26-30;38-50;55-59;69-80">
	
		<div class="tempstep a" data-tempstep-list="12" style="position:absolute; left:175px; top:150px;">
			<span class="flowCol">$y_{p_3}=4$</span><br />
			<span class="flowCol2">$y_{p_4}=2$</span><br />
			<span class="flowCol3">$y_{p_2}=3$</span>
		</div>
		
		<div class="tempstep a" data-tempstep-list="24-40" style="position:absolute; left:175px; top:100px;">
			<span class="tempstep" data-tempstep-classes="31-32:red">$y_{p_1}\,$<span class="tempstep a" data-tempstep-from="32">$=2$</span></span><br />
			<span class="tempstep" data-tempstep-classes="33-34:red">$y_{p_2}\,$<span class="tempstep a" data-tempstep-from="34">$=5$</span></span><br />
			<span class="tempstep" data-tempstep-classes="35-36:red">$y_{p_3}\,$<span class="tempstep a" data-tempstep-from="36">$=2$</span></span><br />
			<span>$y_{p_4}\,$<span class="tempstep a" data-tempstep-from="37">$=0$</span></span>
		</div>
		
		<div class="tempstep a" data-tempstep-list="52" style="position:absolute; left:175px; top:160px;">
			<span class="flowCol">$h_{p_1}=4\cdot\Ind_{[0,7]}$</span><br />
			<span class="flowCol3">$h_{p_4}=3\cdot\Ind_{[0,5]}$</span>
		</div>
		
		<svg style="position:absolute; left:375px; top:30px; width:1000px; height:400px;" viewbox="200 0 1000 400">
			<defs>
				<marker id='sHeadSmall' orient='auto' markerWidth='8' markerHeight='8' refX='9' refY='3'>
					<path d='M0,0 V6 L6,3 Z' fill='black' />
				</marker>
			</defs>
			
			<!-- edges -->
				<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black'  d='M250,200 l450,-150' />
				<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black'  d='M700,50 l450,150' />
				<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black'  d='M250,200 l250,150' />
				<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black'  d='M500,350 l400,0' />
				<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black'  d='M900,350 l250,-150' />
				<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black'  d='M700,50 l-200,300' />
				<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black'  d='M900,350 l-200,-300' />
				
			<!-- flow -->
			<g class="tempstep titleflow" data-tempstep-classes="14-100:notf">
				<path stroke-width='20' fill="none" d='M250,200 l450,-150' 
						class="flow sflow tempstep" data-tempstep-classes="" />
				<path stroke-width='20' fill="none" d='M700,50 l-200,300' 
						class="flow sflow tempstep" data-tempstep-classes="" />
				<path stroke-width='20' fill="none" d='M500,350 l400,0' 
						class="flow sflow tempstep" data-tempstep-classes="" />
				<path stroke-width='20' fill="none" d='M900,340 l250,-150' 
						class="flow sflow tempstep" data-tempstep-classes="" />
						
				<path stroke-width='10' fill="none" d='M250,192 l250,150' 
						class="flow2 sflow tempstep" data-tempstep-classes="2:flow1" />
				<path stroke-width='10' fill="none" d='M500,335 l400,0' 
						class="flow2 sflow tempstep" data-tempstep-classes="" />
				<path stroke-width='10' fill="none" d='M900,350 l-200,-300' 
						class="flow2 sflow tempstep" data-tempstep-classes="" />
				<path stroke-width='10' fill="none" d='M700,50 l450,150' 
						class="flow2 sflow tempstep" data-tempstep-classes="" />
						
				<path stroke-width='16' fill="none" d='M250,205 l250,150' 
						class="flow3 sflow tempstep" data-tempstep-classes="" />
				<path stroke-width='16' fill="none" d='M500,367 l400,0' 
						class="flow3 sflow tempstep" data-tempstep-classes="" />
				<path stroke-width='16' fill="none" d='M900,358 l250,-150' 
						class="flow3 sflow tempstep" data-tempstep-classes="" />
			</g>
			
			<g class="tempstep a" data-tempstep-list="14-40">
				<path stroke-width='10' fill="none" d='M250,195 l450,-150' 
					class="flow sflow tempstep a" data-tempstep-classes="31:flow2" data-tempstep-until="31" />
				<path stroke-width='10' fill="none" d='M700,50 l450,150' 
					class="flow sflow tempstep a" data-tempstep-classes="31:flow2" data-tempstep-until="31" />
						
				<path stroke-width='26' fill="none" d='M250,200 l250,150' 
					class="flow sflow tempstep a" data-tempstep-classes="33:flow2" data-tempstep-until="33" />
				<path stroke-width='26' fill="none" d='M500,342 l400,0' 
					class="flow sflow tempstep a" data-tempstep-classes="33:flow2" data-tempstep-until="33" />
				<path stroke-width='26' fill="none" d='M900,343 l250,-150' 
					class="flow sflow tempstep a" data-tempstep-classes="33:flow2" data-tempstep-until="33" />
				
				<path stroke-width='10' fill="none" d='M250,205 l450,-150' 
					class="flow sflow tempstep a" data-tempstep-classes="35:flow2" data-tempstep-until="35" />
				<path stroke-width='10' fill="none" d='M700,45 l-200,300' 
					class="flow sflow tempstep a" data-tempstep-classes="35:flow2" data-tempstep-until="35" />
				<path stroke-width='10' fill="none" d='M500,360 l400,0' 
					class="flow sflow tempstep a" data-tempstep-classes="35:flow2" data-tempstep-until="35" />
				<path stroke-width='10' fill="none" d='M900,363 l250,-150' 
					class="flow sflow tempstep a" data-tempstep-classes="35:flow2" data-tempstep-until="35" />
						
				<path stroke-width='10' fill="none" d='M700,55 l-200,300' 
						class="flow sflow tempstep" data-tempstep-classes="" />
				<path stroke-width='10' fill="none" d='M500,370 l400,0' 
						class="flow sflow tempstep" data-tempstep-classes="" />
				<path stroke-width='10' fill="none" d='M900,350 l-200,-300' 
						class="flow sflow tempstep" data-tempstep-classes="" />
			</g>
			
			<g class="tempstep a" data-tempstep-list="51-66">
				<path stroke-width='20' fill="none" d='M250,200 l450,-150' 
						class="flow tempstep" data-tempstep-classes="52-100:e11" />
				<path stroke-width='20' fill="none" d='M700,41 l450,150' 
						class="flow tempstep" data-tempstep-classes="52-100:e21" />
						
				<path stroke-width='16' fill="none" d='M250,200 l250,150' 
						class="flow3 tempstep" data-tempstep-classes="52-100:e33;53-100:flow1" />
				<path stroke-width='16' fill="none" d='M500,350 l400,0' 
						class="flow3 tempstep" data-tempstep-classes="52-100:e43;53-100:flow1" />
				<path stroke-width='16' fill="none" d='M900,350 l-200,-300' 
						class="flow3 tempstep" data-tempstep-classes="52-100:e73;53-100:flow1" />
				<path stroke-width='16' fill="none" d='M700,60 l450,150' 
						class="flow3 tempstep" data-tempstep-classes="52-100:e23;53-100:flow1" />
						
				<path stroke-width='20' fill="none" d='M290,170 l-30,-90' 
						class="flow tempstep" data-tempstep-classes="60-100:q11" />
				<path stroke-width='36' fill="none" d='M750,40 l8,-22' 
						class="flow tempstep" data-tempstep-classes="60-100:q21" />
			
			</g>
			
			<g class="tempstep a" data-tempstep-list="65-69">
				<path stroke-width='16' fill="none" d='M250,200 l250,150' 
						class="flow2 tempstep" data-tempstep-classes="68-100:e32" />
				<path stroke-width='16' fill="none" d='M500,350 l400,0' 
						class="flow2 tempstep" data-tempstep-classes="68-100:e42" />
				<path stroke-width='16' fill="none" d='M900,350 l-200,-300' 
						class="flow2 tempstep" data-tempstep-classes="68-100:e72" />
				<path stroke-width='16' fill="none" d='M700,50 l-200,300' 
						class="flow2 tempstep" data-tempstep-classes="68-100:e62" />
				<path stroke-width='16' fill="none" d='M900,350 l250,-150' 
						class="flow2 tempstep" data-tempstep-classes="68-100:e52" />			
			</g>
			
			<!-- labels -->
			<g class="tempstep a" data-tempstep-from="14">
				<g transform="rotate(-20,440,80)">
				<svg class="TeXinSVG edge-text flowCol tempstep a" data-tempstep-until="31" x="440" y="80"><text>4</text></svg>
				<svg class="TeXinSVG edge-text flowCol tempstep a" data-tempstep-list="32-35" x="440" y="80"><text>2</text></svg>
				</g>
				
				<g transform="rotate(20,920,80)">
				<svg class="TeXinSVG edge-text flowCol tempstep a" data-tempstep-until="31" x="920" y="80"><text>2</text></svg>
				</g>				
				<g transform="rotate(20,850,20)">
				<svg class="TeXinSVG edge-text flowCol tempstep a" data-tempstep-list="53-66" x="850" y="20"><text>4{\scriptsize\Indn}_{[2,4]}+7{\scriptsize\Indn}_{[4,9]}</text></svg>
				</g>
				
				<g transform="rotate(40,390,230)">
				<svg class="TeXinSVG edge-text flowCol tempstep a" data-tempstep-until="33" x="390" y="230"><text>5</text></svg>
				</g>
				
				<g>
				<svg class="TeXinSVG edge-text flowCol tempstep a" data-tempstep-until="33" x="700" y="300"><text>9</text></svg>
				<svg class="TeXinSVG edge-text flowCol tempstep a" data-tempstep-list="34-35" x="700" y="300"><text>4</text></svg>
				<svg class="TeXinSVG edge-text flowCol tempstep a" data-tempstep-list="36-40" x="700" y="300"><text>2</text></svg>
				</g>
				
				<g transform="rotate(-40,980,245)">
				<svg class="TeXinSVG edge-text flowCol tempstep a" data-tempstep-until="33" x="980" y="245"><text>7</text></svg>
				<svg class="TeXinSVG edge-text flowCol tempstep a" data-tempstep-list="34-35" x="980" y="245"><text>2</text></svg>
				</g>
				
				<g transform="rotate(-60,550,200)">
				<svg class="TeXinSVG edge-text flowCol tempstep a" data-tempstep-until="35" x="550" y="200"><text>4</text></svg>
				<svg class="TeXinSVG edge-text flowCol tempstep a" data-tempstep-list="36-40" x="550" y="200"><text>2</text></svg>
				</g>
				
				<g transform="rotate(60,850,200)">
				<svg class="TeXinSVG edge-text flowCol tempstep a" data-tempstep-until="40" x="850" y="200"><text>2</text></svg>
				</g>
			</g>
						
			<!-- nodes -->
				<circle class="nodeSmall" cx="250" cy="200" r="25" />
				<svg class="TeXinSVG node-text" x="237" y="188" ><text>s</text></svg>
				
				<circle class="nodeSmall" cx="1150" cy="200" r="25" />
				<svg class="TeXinSVG node-text" x="1137" y="184" ><text>d</text></svg>
				
				<circle class="nodeSmall" cx="700" cy="50" r="25" />
				<circle class="nodeSmall" cx="500" cy="350" r="25" />
				<circle class="nodeSmall" cx="900" cy="350" r="25" />
				
			
			
		</svg>
		
		<div style="position:absolute; left:0px; width:100%; top:470px;">
			<div class="tempstep a" data-tempstep-list="12-40" style="position:absolute; left:50px; top:50px;">
				path flow <br />
				$(y_p) \in \IRnn^{\Pc}$
			</div>
			<div class="tempstep a" data-tempstep-list="22-40" style="position:absolute; left:50px; top:50px; background-color:white;">
				path/<span class="tempstep" data-tempstep-classes="22:hl">cycle</span> flow <br />
				$(y_p) \in \IRnn^{\Pc\cup\Cc}$
			</div>
			<div class="tempstep a" data-tempstep-from="51" style="position:absolute; left:50px; top:50px; background-color:white;">
				path inflow <br />
				$(h_p) \in L_+(\hori)^{\Pc}$
			</div>
			<div class="tempstep a" data-tempstep-from="67" style="position:absolute; left:50px; top:50px; background-color:white;">
				<span class="tempstep" data-tempstep-classes="67-68:hl">walk/cycle</span> inflow <br />
				$(h_p) \in L_+(\hori)^{\Wc\cup\Cc}$
			</div>
			
			<div class="tempstep a" data-tempstep-from="14" style="position:absolute; right:50px; top:50px; text-align:right;">
				edge flow <br />
				$(x_e) \in \IRnn^{E}$ 
			</div>			
			<div class="tempstep a" data-tempstep-from="22" style="position:absolute; right:50px; top:50px; text-align:right; background-color:white;">
				edge <span class="tempstep" data-tempstep-classes="22:hl">$s$,$d$-</span>flow <br />
				$(x_e) \in \IRnn^{E}$ <br />
				satisfying flow cons.: <br />
				$\sum_{e \in \edgesTo{v}}x_e = \sum_{e \in \edgesFrom{v}}x_e$
			</div>
			<div class="tempstep a" data-tempstep-from="53" style="position:absolute; right:50px; top:50px; text-align:right; background-color:white;">
				<span class="tempstep a" data-tempstep-classes="86:hl" data-tempstep-from="86">autonomous</span> edge flow <br />
				$(g_e) \in L_+(\hori)^{E}$ <br />
				satisfying flow cons.: <br />
				$\sum_{e \in \edgesTo{v}}g_e(\_-\tau_e) = \sum_{e \in \edgesFrom{v}}g_e$
			</div>
			<div class="tempstep a" data-tempstep-from="61" style="position:absolute; right:50px; top:50px; text-align:right; background-color:white;">
				<span class="tempstep a" data-tempstep-classes="86:hl" data-tempstep-from="86">autonomous</span> edge flow <br />
				$(g_e) \in L_+(\hori)^{E}$ <br />
				satisfying flow cons.: <br />
				$\sum_{e \in \edgesTo{v}}\int_{T_e(g,.)^{-1}([0,t])} g_e = \sum_{e \in \edgesFrom{v}}\int_0^t g_e$
			</div>
			<div class="tempstep a" data-tempstep-from="85" style="position:absolute; right:50px; top:50px; text-align:right; background-color:white;">
				<span class="tempstep a" data-tempstep-classes="86:hl" data-tempstep-from="86">autonomous</span> edge flow <br />
				$(g_e) \in L_+(\hori)^{E}$ <br />
				satisfying flow cons.: <br />
				$\sum_{e \in \edgesTo{v}}\int_{\color{red}{T_e(\phantom{g,}.)^{-1}([0,t])}} g_e = \sum_{e \in \edgesFrom{v}}\int_0^t g_e$
			</div>
			<div class="tempstep a" data-tempstep-from="87" style="position:absolute; right:50px; top:50px; text-align:right; background-color:white;">
				<span class="tempstep a" data-tempstep-classes="86:hl" data-tempstep-from="86">autonomous</span> edge flow <br />
				$(g_e) \in L_+(\hori)^{E}$ <br />
				satisfying flow cons.: <br />
				$\sum_{e \in \edgesTo{v}}\int_{T_e(\phantom{g,}.)^{-1}([0,t])} g_e = \sum_{e \in \edgesFrom{v}}\int_0^t g_e$
			</div>
			
			<div class="tempstep a" data-tempstep-from="61" style="position:absolute; right:0px; top:270px; width:400px; text-align:center;">
				w.r.t.
				traversal times <br />
				$D_e(g,.): \IR \to \IRnn$ <br />
				<svg class="tempstep a" data-tempstep-from="62" width="20" height="30" style="" viewbox="0 0 20 30">
					<defs>
						<marker id='ArrowHead' orient='auto' markerUnits="strokeWidth" markerWidth='6' markerHeight='6' refX='5' refY='3' viewbox="0 0 6 6">
							<path d='M0,0 V6 L6,3 Z' fill='rgb(75, 75, 75)' />
						</marker>
					</defs>
					
					<path marker-end='url(#ArrowHead)' stroke-width='3' stroke='rgb(75, 75, 75)' fill='None' d='M10,0 v27' />
				</svg><br />
				<span class="tempstep a" data-tempstep-from="62">arrival times <br />
				$A_{p,j}(g,.): \IR \to \IRnn$</span>
			</div>
			<div class="tempstep a" data-tempstep-from="85" style="position:absolute; right:0px; top:270px; width:400px; text-align:center; background-color:white;">
				w.r.t.
				traversal times <br />
				${\color{red}{D_e(\phantom{g,}.)}}: \IR \to \IRnn$ <br />
				<svg class="tempstep a" data-tempstep-from="62" width="20" height="30" style="" viewbox="0 0 20 30">
					<defs>
						<marker id='ArrowHead' orient='auto' markerUnits="strokeWidth" markerWidth='6' markerHeight='6' refX='5' refY='3' viewbox="0 0 6 6">
							<path d='M0,0 V6 L6,3 Z' fill='rgb(75, 75, 75)' />
						</marker>
					</defs>
					
					<path marker-end='url(#ArrowHead)' stroke-width='3' stroke='rgb(75, 75, 75)' fill='None' d='M10,0 v27' />
				</svg><br />
				<span class="tempstep a" data-tempstep-from="62">arrival times <br />
				${\color{red}{A_{p,j}(\phantom{g,}.)}}: \IR \to \IRnn$</span>
			</div>
			<div class="tempstep a" data-tempstep-from="87" style="position:absolute; right:0px; top:270px; width:400px; text-align:center; background-color:white;">
				w.r.t.
				traversal times <br />
				$D_e(\phantom{g,}.): \IR \to \IRnn$ <br />
				<svg class="tempstep a" data-tempstep-from="62" width="20" height="30" style="" viewbox="0 0 20 30">
					<defs>
						<marker id='ArrowHead' orient='auto' markerUnits="strokeWidth" markerWidth='6' markerHeight='6' refX='5' refY='3' viewbox="0 0 6 6">
							<path d='M0,0 V6 L6,3 Z' fill='rgb(75, 75, 75)' />
						</marker>
					</defs>
					
					<path marker-end='url(#ArrowHead)' stroke-width='3' stroke='rgb(75, 75, 75)' fill='None' d='M10,0 v27' />
				</svg><br />
				<span class="tempstep a" data-tempstep-from="62">arrival times <br />
				$A_{p,j}(\phantom{g,}.): \IR \to \IRnn$</span>
			</div>
			
			<div class="tempstep a" data-tempstep-from="21" style="position:absolute; left:350px; width:1000px; top:0px; text-align:center;">
				<svg width="1000" height="250" style="position:absolute; left:0px; top:0px;" viewbox="0 0 1000 250">
					<defs>
						<marker id='ArrowHead' orient='auto' markerUnits="strokeWidth" markerWidth='6' markerHeight='6' refX='5' refY='3' viewbox="0 0 6 6">
							<path d='M0,0 V6 L6,3 Z' fill='rgb(75, 75, 75)' />
						</marker>
					</defs>
					
					<path marker-end='url(#ArrowHead)' stroke-width='6' stroke='rgb(75, 75, 75)' fill='None' d='M50,100 q450,-100 900,0' />
			
					<path marker-end='url(#ArrowHead)' stroke-width='6' stroke='rgb(75, 75, 75)' fill='None' d='M950,150 q-450,100 -900,0' 
						 class="tempstep a" data-tempstep-from="22" />
				</svg>
				
				<div class="tempstep a" data-tempstep-until="53" style="position:absolute; top:100px; text-align:center; width:100%;">
					$\sum_{p \ni e}y_p = x_e$
				</div>
				<div class="tempstep a" data-tempstep-list="54-62" style="position:absolute; top:100px; text-align:center; width:100%;">
					$\sum_{p \ni e}h_p(\_ - \tau_{p|_{\lt e}}) = g_e$
				</div>
				<div class="tempstep a" data-tempstep-list="63;65-66" style="position:absolute; top:100px; text-align:center; width:100%;">
					$\sum_{p\,,j:p[j]\,=e}\int_{A_{p\,,j}(g,.)^{-1}([0,t])}h_p\,(\theta)\diff\theta = \int_0^t {g}_e(\theta)\diff\theta$
				</div>
				<div class="tempstep a" data-tempstep-list="64" style="position:absolute; top:100px; text-align:center; width:100%;">
					$\sum_{p\,,j:p[j]\,=e}\int_{A_{p\,,j}({\color{red}g},.)^{-1}([0,t])}h_p\,(\theta)\diff\theta = \int_0^t {\color{red}g}_e(\theta)\diff\theta$
				</div>
				<div class="tempstep a" data-tempstep-list="67-85" style="position:absolute; top:100px; text-align:center; width:100%;">
					$\sum_{w,j:w[j]=e}\int_{A_{w,j}({g},.)^{-1}([0,t])}h_w(\theta)\diff\theta = \int_0^t {g}_e(\theta)\diff\theta$
				</div>
				<div class="tempstep a" data-tempstep-list="86" style="position:absolute; top:100px; text-align:center; width:100%;">
					$\sum_{w,j:w[j]=e}\int_{\color{red}{A_{w,j}(\phantom{g,}.)^{-1}([0,t])}}h_w(\theta)\diff\theta = \int_0^t {g}_e(\theta)\diff\theta$
				</div>
				<div class="tempstep a" data-tempstep-from="87" style="position:absolute; top:100px; text-align:center; width:100%;">
					$\sum_{w,j:w[j]=e}\int_{A_{w,j}(\phantom{g,}.)^{-1}([0,t])}h_w(\theta)\diff\theta = \int_0^t {g}_e(\theta)\diff\theta$
				</div>
				
				<div class="tempstep a" data-tempstep-list="65-85"  style="position:absolute; top:-20px; text-align:center; width:100%;">
					network-loading
				</div>				
				<div class="tempstep a" data-tempstep-from="86"  style="position:absolute; top:-20px; text-align:center; width:100%;">
					<span class="tempstep" data-tempstep-classes="86:hl">autonomous</span> network-loading <span class="tempstep" data-tempstep-classes="86:hl">$\ell$</span>
				</div>
				<div class="tempstep a" data-tempstep-list="66-85"  style="position:absolute; top:-20px; right:-500px;">
					(c.f. e.g. [<abbr title="Zhu, Marcotte (2000):&#013;On the Existence of Solutions to the Dynamic User Equilibrium Problem">ZM00</abbr>], [<abbr title="Han, Friesz, Yao (2013):&#013;Existence of Simultaneous Route and Departure Choice Dynamic User Equilibrium ">HFY13</abbr>], [<abbr title="Cominetti, Correa, Larré (2015):&#013;Dynamic Equilibria in Fluid Queueing Networks">CCL15</abbr>], [<abbr title="Xu, Wu, Florian, Marcotte, Zhu (1999):&#013;Advances in the continuous dynamic network loading problem">XWFMZ99</abbr>], [<abbr title="Ronald Koch, Thesis (2012):&#013;Routing Games over Time">Koc12</abbr>], ...)
				</div>
				
				<div class="tempstep a" data-tempstep-list="22-85" style="position:absolute; top:220px; text-align:center; width:100%;">
					flow-decomposition
				</div>
				<div class="tempstep a" data-tempstep-from="86" style="position:absolute; top:220px; text-align:center; width:100%;">
					<span class="tempstep" data-tempstep-classes="86:hl">autonomous</span> flow-decomposition
				</div>
			</div>
		</div>
			
		<div class="code tempstep a" data-tempstep-list="23-68" data-tempstep-classes="50-100:halfactive" style="position:absolute; bottom:0px; left:300px; line-height:1.2;">
			<span class="keyword">Input:</span> edge based $s$,$d$-flow $(x_e)$<br />
			<div class="tempstep a" data-tempstep-from="37"><span class="keyword">Output:</span> path-decomposition $(y_p)$ s.th. "$x-y$" is circulation</div>
			<hr style="margin:7px 0px;" />
			<div class="tempstep a" data-tempstep-from="24">
				<span class="numbering">(1)</span> Fix some order on $\Pc = \Set{p_1, \dots, p_K}$
			</div>
			<div class="tempstep a" data-tempstep-from="25">
				<span class="numbering">(2)</span> <span class="keyword">For</span> $k = 1, \dots, K$ <span class="keyword">Do</span><br />
				<span class="numbering">(3)</span> <span class="tab">..</span> Remove maximal amount of flow $y_{p_k}$ on $p_k$ from $x$
			</div>
		</div>
		<div class="code tempstep a" data-tempstep-from="81" style="position:absolute; bottom:0px; left:300px; line-height:1.2;">
			<span class="keyword">Input:</span> edge based $s$,$d$-flow $(g_e)$<br />
			<div class="tempstep" data-tempstep-classes="82:hl"><span class="keyword">Output:</span> walk-decomposition $(h_w)$ s.th. "$g-h$" is circulation</div>
			<hr style="margin:7px 0px;" />
			<span class="numbering">(1)</span> Fix some order on $\Wc = \Set{w_1, w_2, \dots}$ <br />
			<span class="numbering">(2)</span> <span class="keyword">For</span> $k = 1, 2, \dots$ <span class="keyword">Do</span><br />
			<span class="numbering">(3)</span> <span class="tab">..</span>&nbsp;<span class="tempstep" data-tempstep-classes="84:hl">Remove</span>&nbsp;<span class="tempstep" data-tempstep-classes="83:hl">maximal amount of flow $h_{w_k}$ on $w_k$</span>&nbsp;<span class="tempstep" data-tempstep-classes="84:hl">from $g$</span>
		</div>
		
	
	</div>
	
	<div id="Problems" class="step slide" data-rel-x="0" data-rel-y="500" data-tempstep-number="2">
		
		<div class="theoremstyletop chal" style="position:absolute; top:650px; left:100px;">
			<ul>
				<li>Definition &amp; Existence of "maximal flow on $w_k$"</li>
				<li>Correctness (Invariant and Consequences)</li>
			</ul>
		</div>
		
		<div class="theoremstyletop t MainThmInf tempstep a" data-tempstep-from="2" style="position:absolute; top:850px; left:100px;">
			The above algorithm is correct / Every dynamic (autonomous) $s$,$d$-flow has a walk-cycle decomposition.
		</div>
	
	</div>
	
	<div id="OptProblem" class="step slide" data-rel-x="0" data-rel-y="1070" data-tempstep-number="9">
	
		<h2>Definition &amp; Existence of Maximal Walk-Inflow</h2>
		
		<div class="tempstep a" data-tempstep-from="3" style="position:absolute; right:0px; top:50px;">
			<svg width="800px" height="400px" viewbox="0 0 800 400">
				<defs>
					<marker id='ArrowHeadB' orient='auto' markerUnits="strokeWidth" markerWidth='6' markerHeight='6' refX='5' refY='3' viewbox="0 0 6 6">
						<path d='M0,0 V6 L6,3 Z' fill='black' />
					</marker>
					<marker id='sHeadSmall' orient='auto' markerWidth='8' markerHeight='8' refX='9' refY='3'>
						<path d='M0,0 V6 L6,3 Z' fill='black' />
					</marker>
					
					<linearGradient id="fadein">
						<stop offset="0%" stop-color="#FFFFFF" />
						<stop offset="100%" stop-color="#FFFFFF00" />
					</linearGradient>
					<linearGradient id="fadeout">
						<stop offset="0%" stop-color="#FFFFFF00" />
						<stop offset="100%" stop-color="#FFFFFF" />
					</linearGradient>
				</defs>
				
				<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke='black'  d='M200,350 l400,0' />
				<path marker-end='url(#sHeadSmall)' stroke-width='6' stroke="black"  d='M100,350 l100,0' />
				<rect fill="url(#fadein)" x="100" y="330" height="40" width="60" />
				<path stroke-width='6' stroke="black"  d='M600,350 l100,0' />
				<rect fill="url(#fadeout)" x="640" y="330" height="40" width="60" />
				  				
				<circle class="nodeSmall" cx="200" cy="350" r="25" />
				<circle class="nodeSmall" cx="600" cy="350" r="25" />
				
				<path marker-end='url(#ArrowHeadB)' stroke-width='3' stroke='black'  d='M250,300 l300,0' />
				<path marker-end='url(#ArrowHeadB)' stroke-width='3' stroke='black'  d='M250,300 l0,-200' />
				
				<path stroke-width='3' fill='None' stroke='#3333FF' d='M250,300 l50,-60 l40,0 l20,-20 l30,-10 l10,0 l60,-40 l30,0 l60,-40' />
				
				<g class="tempstep a" data-tempstep-from="4">
					<path stroke-width='4' fill='None' stroke='#FF6666' d='M250,300 m50,-60 l40,0' />
					<path stroke-width='4' fill='None' stroke='#FF6666' d='M300,300 l40,0' />
					
					<circle class="tempstep a" data-tempstep-from="4" stroke-width='0' fill='#FF6666' cx='250' cy='240' r='3' />
					<circle class="tempstep a" data-tempstep-from="4" stroke-width='0' fill='#FF6666' cx='250' cy='170' r='3' />
				</g>
				
				<g class="tempstep a" data-tempstep-from="4">
					<path stroke-width='4' fill='None' stroke='#FF6666' d='M250,300 m50,-60 l40,0 m20,-20 m30,-10 m10,0 m60,-40 l30,0 m60,-40' />
					<path stroke-width='4' fill='None' stroke='#FF6666' d='M300,300 l40,0 m120,0 l30,0' />
					
					<circle class="tempstep a" data-tempstep-from="8" stroke-width='0' fill='#FF6666' cx='250' cy='170' r='3' />
					
					<svg class="TeXinSVG edge-text flowCol2" x="290" y="305"><text>A_{w,j}(.)^{-1}(N)</text></svg>
					<svg class="TeXinSVG edge-text flowCol2" x="200" y="190"><text>N</text></svg>
				</g>
			</svg>
		</div>
		
		<div style="width:50%; position:absolute; left:100px; top:120px;">
			\begin{align}
				\max 			&&\quad\quad\!\!\!\!\phantom{\int_0^T}\vartheta(h) \tag{P}\\
				\text{s.t. }	&&\ell(h) &\leq g \notag\\
								&&h &\in \mathcal{M} \notag
			\end{align}
		</div>		
		<div class="tempstep a" data-tempstep-list="2-4" style="width:50%; position:absolute; left:100px; top:120px; background-color:white;">
			\begin{align*}
				\max 			&&\int_0^T h_w(\theta)\diff\theta \\
				\text{s.t. }	&&\ell(h) &\leq g \\
								&&h_w &\in \mathcal{D}_w 
			\end{align*}
		</div>
		
		<div class="theoremstyle l tempstep a" data-tempstep-from="6" style="margin-top:220px;">
			The set of feasible solutions for P is sequentially weakly closed.
		</div>
		
		<div class="proofstyle tempClass-noQED tempstep a" data-tempstep-from="7">
			&nbsp;Use:<span class="phantom">mmm</span> $\ell(h)$ exists $\iff h_w = 0$ on $A_{w,j}^{-1}(N)$ for any null set $N$ and all $w, j$ <br />
			&nbsp;<span class="tempstep a" data-tempstep-from="8">And:<span class="phantom">mmm</span> $\ell$ is sequentially weakly lower semicontinuous</span>
		</div>
		
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="9">
			$\vartheta$ seq. weakly upper semicont., $\mathcal{M} \subseteq \mathcal{D}$ non-empty, seq. weakly closed $\implies$ (P) has optimal solution.
		</div>
	
	</div>
	
	<div id="Correctness" class="step slide" data-rel-x="0" data-rel-y="0" data-tempstep-number="8">
	
		<h2 style="margin-top:630px;" class="tempstep a" data-tempstep-from="1">Correctness</h2>
		
		<div class="theoremstyle l tempstep a" data-tempstep-from="2">
			autonomous $s$,$d$-flow $g$ $\implies$ $g-\ell(h_w)$ a autonomous $s$,$d$-flow. <span class="phantom">mmmm</span><span class="tempstep a" data-tempstep-from="3">(Invariant)</span>
		</div>
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="4">
			Any autonomous $s$,$d$-flow satisfies
			<ol>
				<li class="tempstep a" data-tempstep-from="5">Either: There exists a flow carrying $s$,$d$-walk <span class="phantom">mmmm</span><span class="tempstep a" data-tempstep-from="7">(if source has net-outflow)</span></li>
				<li class="tempstep a" data-tempstep-from="6">Or: The flow is a dynamic circulation <span class="phantom">mmmmmmmi</span><span class="tempstep a" data-tempstep-from="8">(if source has no net-outflow)</span></li>
			</ol>
		</div>
	
	</div>
	
	<div id="MainThm" class="step slide" data-rel-to="Problems" data-rel-x="0" data-rel-y="-30" data-tempstep-number="5" style="z-index:-100; display:none;">
	
		<div style="position:absolute; left:0px; width:80%; top:300px; bottom:0px; background-color:white;">
			<div class="code" style="position:absolute; left:50px; line-height:1.2;">
				<span class="keyword">Input:</span> edge-based $s$,$d$-flow $(g_e) \in L_+(\hori)^E$<br />
				<span class="keyword">Output:</span> walk-decomposition $(h_w)$ s.th. $g-\ell(h)$ is a dynamic circulation <br />
				<hr style="margin:7px 0px;" />
				<span class="numbering">(1)</span> Fix some order on $\Wc = \Set{w_1, w_2, \dots}$ <span class="tempstep" data-tempstep-classes="2:hl">and fix travel times induced by $(g_e)$</span><br />
				<span class="numbering">(2)</span> <span class="keyword">For</span> $k = 1, 2, \dots$ <span class="keyword">Do</span><br />
				<span class="numbering">(3)</span> <span class="tab">..</span> Define $h_{w_k}$ as maximal solution to
					<div class="tempstep" data-tempstep-classes="3:hl">\begin{align*}
						\max 			&&\int_H h_{w_k}(t) \diff t\\
						\text{s.t. }	&&\ell(h_{w_k}) &\leq g \\
										&&h_{w_k} &\leq \text{network in-/outflow} \\
										&&h_{w_k} &\in \mathcal{D}_{w_k}
						
					\end{align*}</div>
				<span class="numbering">(4)</span> <span class="tab">..</span> Set <span class="tempstep" data-tempstep-classes="4:hl">$g \coloneqq g - \ell_{w_k}(h_{w_k})$</span><br />
				<span class="numbering">(5)</span> <span class="keyword">Return</span> $(h_{w_k})_{k \in \IN}$			
			</div>
		
			<div class="theoremstyle t tempstep a" data-tempstep-from="5" style="position:absolute; bottom:0px; left:200px; width:120%;">
				The above algorithm is correct / Every dynamic $s$,$d$-flow has a walk-cycle decomposition.
			</div>
		</div>
	
	</div>
	
	<div id="Conclusion" class="step slide" data-rel-x="2000" data-rel-y="0" data-tempstep-number="5" data-tempstep-skip="4">
	
		<h2>Further results<span class="phantom">mmmmmmmmmmmm</span></h2>
		
		<ul class="widelist">
			<li>Characterization of edge-flows having a <em>pure</em> walk-decomposition</li>
			<li class="tempstep a" data-tempstep-from="2">Finite walk-decomposition if edge-traversal times are lower bounded and flow has finite support</li>
		</ul>
		
		<h2 class="tempstep a" data-tempstep-from="3" style="margin-top:100px;">Open Questions<span class="phantom">mmmmmmmmmmmm</span></h2>
		
		<ul class="widelist">
			<li class="tempstep a" data-tempstep-from="3">Computational Complexity</li>
			<!--<li class="tempstep a" data-tempstep-from="4">"Nice" Decompositions</li>-->
			<li class="tempstep a" data-tempstep-from="5">Existence of Path-Decomposition</li>
		</ul>
	
	</div>
	
	
	<div id="Overview" class="step" data-rel-to="Problems" data-rel-x="800" data-rel-y="100" data-scale="2.75" data-tempstep-number="5" data-transition-duration="2000">
	</div>
</div>




<div class="Heading" id="background">
	<span style="float:left;">A Decomposition Theorem for Dynamic Flows</span>
	<span style="float:right;">Tobias Harks</span>
</div>
<div class="Heading" id="Heading1">
	<span style="float:left;">A Decomposition Theorem for Dynamic Flows - Problem Statement</span>
	<span style="float:right;">Tobias Harks</span>
</div>
<div class="Heading" id="Heading2">
	<span style="float:left;">A Decomposition Theorem for Dynamic Flows - Algorithm: Well-definedness &amp; Correctness</span>
	<span style="float:right;">Tobias Harks</span>
</div>
<div class="Heading" id="Heading3">
	<span style="float:left;">A Decomposition Theorem for Dynamic Flows - Conclusion</span>
	<span style="float:right;">Tobias Harks</span>
</div>



<div id="impress-toolbar"></div>

<div id="DrawingCanvas" style="position:fixed; left:5%; top:5%; width:90%; height:90%; z-index:1000; background-color:white; border:3px solid gray;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);pointer-events: auto !important;display:none; transition:border 2s, background-color 2s;">
		<canvas id="can0" width="1400" height="750" style="margin:5px 20px; border:1px solid black;"></canvas>

		<div style="position:absolute;bottom:20px;right:600px;width:20px;height:20px;background:#3333FF;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:580px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:560px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:540px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:520px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:500px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:480px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:460px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
		<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(0)" style="position:absolute;bottom:20px;right:300px;">
		<input type="button" value="glass" id="clr" size="23" onclick="canvas().makeTransparent(0)" style="position:absolute;bottom:20px;right:250px;">	
		<!-- test to see if all mathjax is rendered correctly -->
		<div style="position:absolute;bottom:20px;left:50px;"><svg width="10" height="10">
		<svg class="TeXinSVG" style="color:DodgerBlue"><text>\pi</text></svg></svg></div>
</div>

<!--
    To make all described above really work, you need to include impress.js in the page.
    You also need to call a `impress().init()` function to initialize impress.js presentation.
    And you should do it in the end of your document.
-->
<script type="text/javascript" src="js/impress.js"></script>
<script type="text/javascript" src="js/impress-custom.js"></script>

<script>impress().init();</script>

<script type="text/javascript">

	var canvas = window.canvas = function() {
					
		function Pen() {
			this.color = "black";
			this.size = 2;
			this.eraserMode = false;
		}
		
		function Canvas(name, pen) {
			var canvas = document.getElementById(name);
			var context = canvas.getContext("2d");
			if (name == "can0") {
				var zoomcorrection = 1;
			} else {
				var zoomcorrection = document.getElementById("impress").style.transform.match(/[0-9.]+/g);
			}
			
			this.canvas = canvas;
			this.context = context;
			this.pen = pen;
			
			this.prevX = 0;
			this.prevY = 0;
			this.currX = 0;
			this.currY = 0;
						
			this.drawing = false;
			
			var findxy = function(res, e) {
				if (res == 'down') {
					this.prevX = this.currX;
					this.prevY = this.currY;
					this.currX = (e.client - canvas.getBoundingClientRect().left)/zoomcorrection;
					this.currY = (e.client - canvas.getBoundingClientRect().top)/zoomcorrection;
					this.drawing = true;
				}
				if (res == 'up' || res == "out") {
					this.drawing = false;
				}
				if (res == 'move') {
					if (this.drawing) {
						this.prevX = this.currX;
						this.prevY = this.currY;
						this.currX = (e.clientX - canvas.getBoundingClientRect().left)/zoomcorrection;
						this.currY = (e.clientY - canvas.getBoundingClientRect().top)/zoomcorrection;
						draw();
					}
				}
			}
			
			var draw = function() {
				if(pen.eraserMode) {
					context.clearRect(this.currX-20,this.currY-20,40,40);
				} else {
					context.beginPath();
					context.moveTo(this.prevX, this.prevY);
					context.lineTo(this.currX, this.currY);
					context.strokeStyle = this.pen.color;
					context.lineWidth = this.pen.size;
					context.stroke();
					context.closePath();
				}
			}
			
			canvas.addEventListener("mousemove", function (e) {
				findxy('move', e)
			}, false);
			canvas.addEventListener("mousedown", function (e) {
				findxy('down', e)
			}, false);
			canvas.addEventListener("mouseup", function (e) {
				findxy('up', e)
			}, false);
			canvas.addEventListener("mouseout", function (e) {
				findxy('out', e)
			}, false);

			
			
		}
	
		var init = function(n) {
			pen = new Pen();
			
			canvases = [];
			
			for(var i=0;i<n;i++) {
				canvases[i] = new Canvas("can"+i,pen)
			}
		}
		
		var color = function(obj) {
			pen.color = obj.style.backgroundColor;
			pen.eraserMode = false;
		}
		
		var toggleEraser = function() {
			pen.eraserMode = !(pen.eraserMode);
		}
		
		var clear = function(i) {
			if (confirm("Clear current canvas?")) {
				canvases[i].context.clearRect(0, 0, canvases[i].canvas.width, canvases[i].canvas.height);
			}
		}
		
		var makeTransparent = function(i) {
			var pDiv = canvases[i].canvas.parentElement;
			if (pDiv.style.backgroundColor == "white") {
				pDiv.style.backgroundColor = "transparent";
				pDiv.style.border = "3px solid transparent";
			} else {
				pDiv.style.backgroundColor = "white";
				pDiv.style.border = "3px solid gray";
			}
		}
		
		return({init: init, color: color, clear: clear, toggleEraser: toggleEraser, makeTransparent: makeTransparent});	
	}

	canvas().init(1);
</script>	
	
	
<script type="text/javascript">
		// SOURCE: https://stackoverflow.com/a/52011013
		// Define a function that takes LaTeX source code
		// and places the resulting generated SVG in a target SVG element.
		mathSVG = function (latex, target) {
		  // First create a new element to hold the initial Latex code
		  // and eventual MathJax generated SVG. This element isn't added
		  // to the main document, so it's never seen.
		  let mathBuffer = document.createElement("div");
		
		  // Update the buffer with the source latex.
		  mathBuffer.textContent = latex;
		  // Get MathJax to process and typeset.
		  MathJax.Hub.Queue(["Typeset", MathJax.Hub, mathBuffer]);
		  // Queue a callback function that will execute once it's finished typesetting.
		  MathJax.Hub.Queue(function () {
			// This (svg) is the generated graphics.
			var svg = mathBuffer.childNodes[1].childNodes[0];
			// The next line is optional, play with positioning as you see fit.
			svg.setAttribute("y", "0pt");
			// Move the generated svg from the buffer to the target element.
			target.appendChild(svg);
			// Clear the buffer.
			mathBuffer.textContent = "";
		  });
		};
		
		function generateTeXinSVGs() {
			listOfSVGs = document.getElementsByClassName("TeXinSVG");
			var i;
			for (i = 0; i < listOfSVGs.length; i++) {
				svgElement = listOfSVGs[i];
				latex = svgElement.children[0].textContent;
				svgElement.innerHTML = "";
				mathSVG("$" + latex + "$", svgElement);				
			} 
		};
</script>




</body>
</html>
