<!doctype html>

<!--
  This is a simple example / template impress.js slide show. The goal is to be
  easier to read for a first timer than the official and very feature rich
  demo by bartaz (http://bartaz.github.io/impress.js/). It's also a very
  traditional presentation that looks like slides (square screens with bullet
  points...), again to make a first timer feel more at home. From this simple
  presentation you can then go on to more powerful impress.js presentations!

  This example is hopefully helpful for people that want to create both
  simple and (eventually) awesome presentations in impress.js and comfortable
  doing that directly in HTML.

  By: @henrikingo (Still based on the HTML from bartaz' demo.)

-->

<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>A Finite Time Combinatorial Algorithm for Instantaneous Dynamic Equilibrium Flows</title>

    <meta name="description" content="A Finite Time Combinatorial Algorithm for Instantaneous Dynamic Equilibrium Flows" />
    <meta name="author" content="Lukas Graf" />


    <!--
        This file contains styles specific for this example presentation.
    -->
	<link href="css/IPCO-video.css" rel="stylesheet" />

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
		tex2jax: {
		  inlineMath: [ ['$','$'], ['\\(','\\)'] ],
		  processEscapes: true
		},
		"SVG": { fonts: ["TeX"], scale:85 }
	  });
	  MathJax.Hub.Queue(generateTeXinSVGs());
	</script>
	<!-- Internetquelle für MathJax -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_SVG-full"></script>
	<!-- Falls kein Internet verfügbar... 
	<script type="text/javascript" src="extras/MathJax/MathJax.js?config=TeX-MML-AM_SVG-full"></script>-->

</head>

<!--

    Body element is used by impress.js to set some useful class names, that will allow you to detect
    the support and state of the presentation in CSS or other scripts.

    First very useful class name is `impress-not-supported`. This class means, that browser doesn't
    support features required by impress.js, so you should apply some fallback styles in your CSS.
    It's not necessary to add it manually on this element. If the script detects that browser is not
    good enough it will add this class, but keeping it in HTML means that users without JavaScript
    will also get fallback styles.

    When impress.js script detects that browser supports all required features, this class name will
    be removed.

    Another class name on body element also depends on currently active presentation step.
-->
<body class="impress-not-supported">
<!--
    This fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>


<!--
    This is the core element used by impress.js: the wrapper for your presentation steps.
    In this element all the impress.js magic happens.

    data-transition-duration sets the time in microseconds that is used for the
    animation when transtitioning between slides.

    data-autoplay can be used to set the time in seconds, after which presentation
    automatically moves to next slide. It can also be set individually for each
    slide, but here we just set a common duration for all slides.
-->

<div style="display:none;">
  \(
    \newcommand{\IN}{\mathbb{N}}
	\newcommand{\INs}{\mathbb{N}^\ast}
	\newcommand{\INo}{\mathbb{N}_0}
    \newcommand{\IZ}{\mathbb{Z}}
    \newcommand{\IR}{\mathbb{R}}
    \newcommand{\IC}{\mathbb{C}}
    \newcommand{\A}{\mathcal{A}}
    \newcommand{\B}{\mathcal{B}}
    \newcommand{\U}{\mathfrak{U}}
    \newcommand{\coloneqq}{:=}
    \newcommand{\Set}[1]{\left\{#1\right\}}
    \newcommand{\supp}{\mathrm{supp}}
    \newcommand{\Re}{\mathrm{Re}}
    \newcommand{\Im}{\mathrm{Im}}
    \newcommand{\clos}[1]{\overline{#1}}
    \newcommand{\inte}[1]{\mathring{#1}}
	\newcommand{\dist}[2]{\mathrm{dist}^c_{#1}(#2)}
	\newcommand{\dists}[2]{{\mathrm{dist}^c_{#1}}'(#2)}
	\newcommand{\Ind}{{\small\raise{-1pt}{\unicode{x1D7D9}}\,}}
	\newcommand{\bigO}{\mathcal{O}}	
	\newcommand{\abs}[1]{\left|#1\right|}
	
	\newcommand{\rDeriv}{\partial_+}
	\newcommand{\lDeriv}{\partial_-}
	\newcommand{\queue}{q}	
  \)
</div>


<div id="impress" data-transition-duration="2000" data-autoplay="0" style="z-index:0;">


	<div id="Title" class="step slide center" data-x="0" data-y="0" data-scale="1" data-tempstep-number="1">
		<h1 style="margin-top:60px;">A Finite Time Combinatorial Algorithm<br />for Instantaneous Dynamic Equilibrium Flows</h1><br />
			<strong>Lukas Graf</strong>, Tobias Harks <br />
			
			<span style="font-size:70%;">Augsburg University</span>
			
		<br /><br /><br /><br /><br />
			
		<img src="images/FlowExampleTitle.png" width="600px" />
			

	</div>
	
	<div id="Chapter-Model" class="step slide center chapterTitle" data-x="0" data-rel-y="1200" data-scale="1" data-tempstep-number="1">
		<h2 style="margin-top:400px;"><span>I. Model</span></h2>
			

	</div>
	
	<div id="Model" class="step slide" data-x="0" data-rel-y="0" data-scale="1" data-tempstep-number="39" data-tempstep-skip="8-10;13-20;23-30">
		
		<div style="position:absolute; width:50%; left:0px; top:100px;">
			<h3 class="tempstep a" data-tempstep-from="1" style="margin-top:-30px; margin-left:100px;">Physical Model</h3>
			
			<ul>
				<li class="tempstep a" data-tempstep-from="1">A directed graph $G = (V,E)$</li>
				<li class="tempstep a" data-tempstep-from="2">Edge travel times $\tau_e \in \INs$ <span class="tempstep a" data-tempstep-from="3">(here $\tau_e=1$)</span></li>
				<li class="tempstep a" data-tempstep-from="2">Edge capacities $\nu_e \in \INs$ <span class="tempstep a" data-tempstep-from="3">(here, mostly, $\nu_e \in \Set{1,\infty}$)</span></li>
				<li class="tempstep a" data-tempstep-from="4">Single sink $t \in  V$</li>
				<li class="tempstep a" data-tempstep-from="5">Network inflow rates $u_v: \IR_{\geq 0} \to \IR_{\geq 0}$ for all nodes $v \neq t$ <br />
				<span class="tempstep a" data-tempstep-from="6">(piece-wise constant, finitely lasting with finitely many steps)</span></li>
				<li class="tempstep a" data-tempstep-from="12" >Inflow $f_e^+(\theta)$ \(\gt\) capacity $\nu_e$ \(\implies\) queues form at the start (with length \(q_e(\theta)\))</li> 
			</ul>


			<h3 class="tempstep a" data-tempstep-from="21" style="margin-left:100px;">Behavioral Model</h3>
			
			<div class="theoremstyle d tempstep a" data-tempstep-from="31">The <em>current travel time</em> at time \(\theta\) on edge \(e\) is: \[c_e(\theta) := \tau_e + q_e(\theta)/\nu_e\]  </div>
			
			<p class="theoremstyle d tempstep a" data-tempstep-from="33">A flow is in <em>Instantaneous Dynamic Equilibrium (IDE)</em> if the following holds: <br />
			<span class="tempstep a" data-tempstep-list="34-36">Whenever positive flow enters an edge, this edge must lie on a currently shortest path towards the respective sink (w.r.t. \(c\)).</span></p>
			<div class="tempstep a" data-tempstep-from="37" style="margin-top:-80px;">\[f^+_{vw}(\theta) > 0 \implies \ell_v(\theta) = c_{vw}(\theta) + \ell_w(\theta)\]</div>
			<p class="tempstep a theoremstyle" style="margin-top:60px;" data-tempstep-from="35"><span class="tempstep a" data-tempstep-from="37">where</span> $\ell_v(\theta) \coloneqq \begin{cases}0, & \text{if } v=t \\ \min_{e=vw}\{\ell_w(\theta) + c_e(\theta)\}, &\text{else}\end{cases}$</p>
			<p class="tempstep a theoremstyle" style="margin-top:-140px;" data-tempstep-from="38">(we then call edge $vw$ <em>active at time $\theta$</em>)</p>
			
		</div>
		
		<div class="center tempstep a" data-tempstep-from="39" style="position:absolute; bottom:30px; width:100%; font-size:125%;"><span style="font-variant:small-caps; font-weight:bold; color:#808080; text-shadow: 1px 1px 4px rgba(170,170,170,0.9);">Question:</span> Can we compute an IDE?</div>
		
		
		<div style="position:absolute; top:150px; right:0px; width:43%; height:450px;" class="tempstep a" data-tempstep-from="1">
			<svg width="350" height="140" style="display:block; position:absolute; top:50px; left:0px;" viewbox="-15 0 350 140" class="tempstep a" data-tempstep-from="5">
				<defs>
					<marker id='ArrowHead' orient='auto' markerUnits="strokeWidth" markerWidth='3' markerHeight='3' refX='1.5' refY='1.5' viewbox="0 0 3 3">
							<path d='M0,0 V3 L3,1.5 Z' fill='DodgerBlue' />
						</marker>
				</defs>    
						
				<!-- axes -->
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l0,-85' />
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l250,0' />
					<svg class="TeXinSVG" x="260" y="75" color="black"><text>\text{time}</text></svg>
					<path stroke-width='3' stroke='black'  d='M235,85 l0,10' />
					<svg class="TeXinSVG" x="225" y="95" color="black"><text>\small U</text></svg>
					<svg class="TeXinSVG" x="-15" y="5" color="black"><text>\small 2</text></svg>
					
				<!-- inflow -->
					<path stroke-width='3' stroke='DodgerBlue'  d='M5,20 l230,0' />
					<svg class="TeXinSVG" x="100" y="50" style="color:DodgerBlue"><text>u_s</text></svg>		

				<!-- time -->
					<path stroke-width='90' stroke='Gray'  d='M5,45 l120,0' stroke-dasharray='0,0,3,1000' class="tempstep timebar" data-tempstep-classes="7-10:OCtime2;11-21:OCtime3;22-100:OCtime4" />
					
				<!-- arrow -->
					<path stroke-width='10' stroke='DodgerBlue' fill='none' marker-end='url(#ArrowHead)'  d='M110,70 q-10,30 10,55'/>
			</svg>	
			
			<svg width="340" height="140" style="display:block; position:absolute; top:140px; left:460px;" viewbox="-15 -20 340 120" class="tempstep a" data-tempstep-from="12">
				<defs>

				</defs>    
						
				<!-- axes -->
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l0,-100' />
					<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l250,0' />
					<svg class="TeXinSVG" x="260" y="75" color="black"><text>\text{time}</text></svg>
					<svg class="TeXinSVG" x="-15" y="45" color="black"><text>\small 1</text></svg>
					<path stroke-width='2' stroke='gray' stroke-dasharray='4,6' d='M5,60 l250,0' />
					
				<!-- inflow -->
					<path stroke-width='3' stroke='DodgerBlue' fill='none' d='M5,90 l20,0 l40,-60 l30,45 l40,-60 l35,52.5 l40,-60 l20,30' 
						class="tempstep OCgraph" data-tempstep-classes="1-21:OCgraph2;22-100:OCgraph3" />
					<svg class="TeXinSVG" x="20" y="30" style="color:DodgerBlue"><text>\queue_{vt}</text></svg>	

				<!-- time -->
					<path stroke-width='90' stroke='Gray'  d='M5,45 l120,0' stroke-dasharray='0,0,3,1000' class="tempstep timebar" data-tempstep-classes="1-21:OCtime3;22-100:OCtime4" />

			</svg>	

		
			<svg width="700" height="500" style="display:block; margin-top:150px;" viewbox="0 0 700 500">
				<defs>
					<marker id='ArrowHeadA' orient='auto' markerUnits="strokeWidth" markerWidth='3' markerHeight='3' refX='1.5' refY='1.5' viewbox="0 0 3 3">
							<path d='M0,0 V3 L3,1.5 Z' fill='#1e90ffa0' />
						</marker>
				</defs>    
					
				<!-- edges -->
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M150,50 l200,0' />
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M350,50 l100,200' />
					
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M150,50 l-100,200' />  
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M50,250 l200,0' />
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M250,250 l200,0' />
					
					
				<!-- flow -->
					
					<path stroke-width='40' d='M150,50 l200,0' 
						class="flow tempstep" data-tempstep-classes="7-21:OCvf1;22-100:OCve1" />
					<path stroke-width='20' d='M350,50 l100,200' 
						class="flow tempstep" data-tempstep-classes="11-100:OCdf1" />
					
					<path stroke-width='40' d='M150,50 l-100,200' 
						class="flow tempstep" data-tempstep-classes="22-100:OCdf1" />
										
						
				<!-- queues -->
				
					<path stroke-width='60' d='M380,90 l100,-50' 
						class="flow tempstep" data-tempstep-classes="11-21:OCq1;22-100:OCq2;" />


					
				<!--vertices-->
					<circle class="nodeBig" cx="150" cy="50" r="25" />
					<svg class="TeXinSVG node-text" x="140" y="40"><text>s</text></svg>
					
					<circle class="nodeBig" cx="350" cy="50" r="25" />
					<svg class="TeXinSVG node-text" x="340" y="40"><text>v</text></svg>
					<circle class="nodeBig" cx="50" cy="250" r="25" />
					<svg class="TeXinSVG node-text" x="40" y="240"><text>w</text></svg>
					<circle class="nodeBig" cx="250" cy="250" r="25" />
					<svg class="TeXinSVG node-text" x="240" y="240"><text>x</text></svg>

					<circle class="nodeBig" cx="450" cy="250" r="25" />
					<svg class="TeXinSVG node-text tempstep" data-tempstep-classes="4:red" x="440" y="240"><text>t</text></svg>
					
				<!-- Labels -->
					<svg class="TeXinSVG tempstep a" data-tempstep-list="2" x="180" y="70" data-tempstep-list="2"><text>(\tau_{sx},\nu_{sx})</text></svg>
					<svg class="TeXinSVG tempstep a" data-tempstep-from="3" x="180" y="70"><text>(\,\,1\,\,\,\,,\infty)</text></svg>
					<g transform="rotate(60,355,100)">
					<svg class="TeXinSVG tempstep a" data-tempstep-list="2" x="355" y="100"><text>(\tau_{vt},{\tiny\nu_{vt}})</text></svg>
					<svg class="TeXinSVG tempstep a" data-tempstep-from="3" x="355" y="100"><text>(\,1\,\,\,,\,{\tiny 1}\,\,)</text></svg>
					</g>
					
					<svg class="TeXinSVG tempstep a" data-tempstep-from="32" x="440" y="140"><text>c_{vt}(\theta) = 1+2 = 3</text></svg>
					
					<svg class="TeXinSVG tempstep a" data-tempstep-from="36" x="470" y="270"><text>\small 0</text></svg>
					<svg class="TeXinSVG tempstep a" data-tempstep-from="36" x="270" y="270"><text>\small 1</text></svg>
					<svg class="TeXinSVG tempstep a" data-tempstep-from="36" x="70" y="270"><text>\small 2</text></svg>
					<svg class="TeXinSVG tempstep a" data-tempstep-from="36" x="370" y="10"><text>\small 3</text></svg>
					<svg class="TeXinSVG tempstep a" data-tempstep-from="36" x="170" y="10"><text>\small 3</text></svg>
					
				<!-- arrow -->
					<path stroke-width='10' stroke='#1e90ffa0' fill='none' marker-end='url(#ArrowHeadA)'  d='M370,30 q50,-30 40,30' class="tempstep a" data-tempstep-list="11-21" />
			</svg>	
		</div>
		
	
	</div>
	
	<div id="Chapter-Algorithm" class="step slide center chapterTitle" data-x="0" data-rel-y="1000" data-scale="1">
		<h2 style="margin-top:400px;"><span>II. Algorithm</span></h2>
			

	</div>
	
	<div id="Algorithm" class="step slide" data-rel-x="0" data-rel-y="0" data-tempstep-number="54" data-tempstep-skip="3-10;15-20;30;32-40;50">
		
		<div style="float:left; width:49%; margin-left:10px; margin-top:10px; text-align:left;" class="tempstep a" data-tempstep-from="0">
			<h3 style="margin-left:100px;">An Algorithm for Computing IDEs:</h3>
		
			<div class="code">
				<span class="keyword">Input:</span> A single-sink network $\mathcal{N} = (G,\tau,\nu,u,t)$ <br />
				<span class="keyword">Output:</span> An IDE flow $f$ in $\mathcal{N}$ <br />
				<span class="numbering">(1)</span> Let $f$ be an IDE flow up to time $\theta = 0$ <br />
				<p class="tempstep" style="margin:0px;" data-tempstep-classes="45-46:red"><span class="numbering">(2)</span> <span class="keyword">While</span> not all flow has reached $t$ <span class="keyword">Do</span></p>
				<p class="tempstep a" style="margin:0px;" data-tempstep-until="21" data-tempstep-classes="21:red"><span class="numbering">(3)</span> <span class="tab">..</span> Extend $f$</p>
				<p class="tempstep a" style="margin:-35px 0px 0px;" data-tempstep-from="22"><span class="tab">(3) ..</span> Assume all $f_e^{^-}$ constant on $[\theta,\theta+\alpha_0)$</p>
				<p class="tempstep a" style="margin:0px;" data-tempstep-from="23"><span class="numbering">(3)</span> <span class="tab">..</span> Sort nodes s.th. $\ell_{v_1}(\theta) \leq \ell_{v_2}(\theta) \leq \dots$ <br />
				<span class="numbering">(4)</span> <span class="tab">..</span> <span class="keyword">For</span> $i = 1, \dots, n$ <span class="keyword">Do</span> </p>
				<p class="tempstep a" style="margin:0px;" data-tempstep-from="24"><span class="numbering">(5)</span> <span class="tab">....</span> <span class="tempstep" data-tempstep-classes="25-30:red">Find constant IDE extension of $f$ at $v_i$</span><br />
				<span class="tab">(5) ....</span> <span class="tempstep" data-tempstep-classes="47-48:red">for some $[\theta,\theta+\alpha_i]$ with $\alpha_i \gt 0$</span></p>
				<p class="tempstep a" style="margin:0px;" data-tempstep-from="29"><span class="numbering">(6)</span> <span class="tab">..</span> Extend $f$ up to $\theta \coloneqq \theta+\min\Set{\alpha_i}$</p>
			</div>
			
		</div>

		<svg width="350" height="140" style="display:block; position:absolute; top:150px; right:270px;" viewbox="-15 0 350 140" class="tempstep a" data-tempstep-from="0">
			<defs>
				<marker id='ArrowHead' orient='auto' markerUnits="strokeWidth" markerWidth='3' markerHeight='3' refX='1.5' refY='1.5' viewbox="0 0 3 3">
						<path d='M0,0 V3 L3,1.5 Z' fill='DodgerBlue' />
					</marker>
			</defs>    
					
			<!-- axes -->
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l0,-85' />
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l250,0' />
				<svg class="TeXinSVG" x="260" y="75" color="black"><text>\text{time}</text></svg>
				<path stroke-width='3' stroke='black'  d='M235,85 l0,10' />
				<svg class="TeXinSVG" x="225" y="95" color="black"><text>\small U</text></svg>
				<svg class="TeXinSVG" x="-15" y="5" color="black"><text>\small 2</text></svg>
				
			<!-- inflow -->
				<path stroke-width='3' stroke='DodgerBlue'  d='M5,20 l230,0' />
				<svg class="TeXinSVG" x="100" y="50" style="color:DodgerBlue"><text>u_s</text></svg>		

			<!-- time -->
				<path stroke-width='90' stroke='LightGray'  d='M5,45 l300,0' stroke-dasharray='0,0,3,1000' class="tempstep a timebar" data-tempstep-classes="1-100:OCtimeB1" data-tempstep-from="12" />
				<path stroke-width='90' stroke='LightGray'  d='M5,45 l300,0' stroke-dasharray='0,0,3,1000' class="tempstep a timebar" data-tempstep-classes="1-100:OCtimeB2" data-tempstep-from="13" />
				<path stroke-width='90' stroke='LightGray'  d='M5,45 l300,0' stroke-dasharray='0,0,3,1000' class="tempstep a timebar" data-tempstep-classes="1-100:OCtimeB3" data-tempstep-from="14" />
				<path stroke-width='90' stroke='LightGray'  d='M5,45 l300,0' stroke-dasharray='0,0,3,1000' class="tempstep a timebar" data-tempstep-classes="1-100:OCtimeB35" data-tempstep-from="15" />
				<path stroke-width='90' stroke='LightGray'  d='M5,45 l300,0' stroke-dasharray='0,0,3,1000' class="tempstep a timebar" data-tempstep-classes="1-100:OCtimeB4" data-tempstep-from="31" style="transition:opacity 1s linear 1s !important;" />		
				<path stroke-width='90' stroke='LightGray'  d='M5,45 l300,0' stroke-dasharray='0,0,3,1000' class="tempstep a timebar" data-tempstep-classes="1-100:OCtimeB45" data-tempstep-from="32" />
				<path stroke-width='90' stroke='LightGray'  d='M5,45 l300,0' stroke-dasharray='0,0,3,1000' class="tempstep a timebar" data-tempstep-classes="1-100:OCtimeB55" data-tempstep-from="52" />
				<path stroke-width='90' stroke='LightGray'  d='M5,45 l300,0' stroke-dasharray='0,0,3,1000' class="tempstep a timebar" data-tempstep-classes="1-100:OCtimeB6" data-tempstep-from="53" />
				<path stroke-width='90' stroke='LightGray'  d='M5,45 l300,0' stroke-dasharray='0,0,3,1000' class="tempstep a timebar" data-tempstep-classes="1-100:OCtimeB65" data-tempstep-from="54" />
				<path stroke-width='90' stroke='LightGray'  d='M5,45 l300,0' stroke-dasharray='0,0,3,1000' class="tempstep a timebar" data-tempstep-classes="1-100:OCtimeB7" data-tempstep-from="54" style="transition:opacity 1s linear 1s !important;" />
			
				<path stroke-width='90' stroke='Gray'  d='M5,45 l300,0' stroke-dasharray='0,0,3,1000' class="tempstep timebar" data-tempstep-classes="11:OCtimeB1;12:OCtimeB2;13:OCtimeB3;14-30:OCtimeB35;31-50:OCtimeB45;51:OCtimeB55;52:OCtimeB6;53:OCtimeB65;54-100:OCtimeB725;" />
			
				
			<!-- arrow -->
				<path stroke-width='10' stroke='DodgerBlue' fill='none' marker-end='url(#ArrowHead)'  d='M110,70 q-10,30 10,55'/>
		</svg>	

		<svg width="600" height="400" style="display:block; position:absolute; right:10px; top:200px;" viewbox="0 -40 600 360" class="tempstep a" data-tempstep-from="0">
			<!-- edges -->
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M150,50 l200,0' />
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M350,50 l100,200' />
				
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M150,50 l-100,200' />  
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M50,250 l200,0' />
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M250,250 l200,0' />
				
				
			<!-- flow -->
				
				<path stroke-width='40' d='M150,50 l200,0' 
					class="flow tempstep" data-tempstep-classes="11-12:OCvf1;13-30:OCve1;31-51:OCvf2;52:OCvhf2;53-100:OCve2" />
				<path stroke-width='20' d='M350,50 l100,200' 
					class="flow tempstep" data-tempstep-classes="12-100:OCdf1" />
				
				<path stroke-width='40' d='M150,50 l-100,200' 
					class="flow tempstep" data-tempstep-classes="13-30:OCdf1;31-51:OCde1;52:OCdhf1;53-100:OCdf2" />
				<path stroke-width='20' d='M50,250 l400,0' 
					class="flow tempstep" data-tempstep-classes="14-30:OCh1;31-50:OCh2;51-52:OCh3;53:OCh4;54-100:OCh5" />
				
					
			<!-- queues -->
			
				<path stroke-width='60' stroke='blue' d='M380,90 l100,-50' 
					class="flow tempstep" data-tempstep-classes="12:OCq1;13:OCq2;14-30:OCq15;31-50:OCq05;51:OCq15;52:OCq2;53:OCq25;54-100:OCq175" />
				<path stroke-width='60' stroke='blue' d='M95,260 v90' 
					class="flow tempstep" data-tempstep-classes="14-30:OCq05;31-50:OCq15;51:OCq05;52:fast;52-53:OCq0;54-100:OCq075" />

				
			<!--vertices-->
				<circle class="nodeBig" cx="150" cy="50" r="25" />
				<svg class="TeXinSVG node-text" x="140" y="40"><text>s</text></svg>
				
				<circle class="nodeBig" cx="350" cy="50" r="25" />
				<svg class="TeXinSVG node-text" x="340" y="40"><text>v</text></svg>
				<circle class="nodeBig" cx="50" cy="250" r="25" />
				<svg class="TeXinSVG node-text" x="40" y="240"><text>w</text></svg>
				<circle class="nodeBig" cx="250" cy="250" r="25" />
				<svg class="TeXinSVG node-text" x="240" y="240"><text>x</text></svg>

				<circle class="nodeBig" cx="450" cy="250" r="25" />
				<svg class="TeXinSVG node-text" x="440" y="240"><text>t</text></svg>
		</svg>	
		
		<div class="tempstep a" data-tempstep-from="2" style="position:absolute; top:260px; left:600px; border:2px solid #808080; padding:3px 20px 7px;">			
			Distribute to (currently) active edges $vw$ <span class="tempstep a" data-tempstep-from="26">s.th.:</span> <br />
			<div class="tempstep a" data-tempstep-list="26">
				$f^+_{vw}(\theta) > 0 \implies \phantom{\rDeriv}\ell_{v}(\theta) = \phantom{\rDeriv} c_{vw}(\theta) + \phantom{\rDeriv}\ell_{w}(\theta)$ <br />
				$f^+_{vw}(\theta) = 0 \implies \phantom{\rDeriv}\ell_{v}(\theta) \leq \phantom{\rDeriv} c_{vw}(\theta) + \phantom{\rDeriv}\ell_{w}(\theta)$
			</div>
			<div class="tempstep a" data-tempstep-from="27" style="margin-top:-72px;">
				$f^+_{vw}(\theta) > 0 \implies \rDeriv\ell_{v}(\theta) = \rDeriv c_{vw}(\theta) + \rDeriv\ell_{w}(\theta)$ <br />
				$f^+_{vw}(\theta) = 0 \implies \rDeriv\ell_{v}(\theta) \leq \rDeriv c_{vw}(\theta) + \rDeriv\ell_{w}(\theta)$
			</div>
			
			<svg width="300" height="110" style="display:block; position:absolute; left:-300px; top:30px;" viewbox="0 0 300 110" class="tempstep a" data-tempstep-from="0">
				<defs>
					<marker id='ArrowHeadG' orient='auto' markerUnits="strokeWidth" markerWidth='3' markerHeight='3' refX='1.5' refY='1.5' viewbox="0 0 3 3">
							<path d='M0,0 V3 L3,1.5 Z' fill='#808080' />
						</marker>
				</defs>
			
				<path class="tempstep a" data-tempstep-until="21" stroke="#808080" stroke-width="5" d="M300,10 h-290" marker-end='url(#ArrowHeadG)' />
				<path class="tempstep a" data-tempstep-from="26" stroke="#808080" stroke-width="5" d="M300,10 l-220,90" marker-end='url(#ArrowHeadG)' />
			</svg>
		</div>
		
		<div class="theoremstyle l tempstep a" data-tempstep-from="28" style="position:absolute; left:650px; top:400px;">
			Can be computed in polynomial time.
		</div>
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="41" style="margin-top:600px; clear:both;">
			The algorithm is correct. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="tempstep a" data-tempstep-from="42" style="font-size:130%; line-height:100%;">□</span>
		</div>
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="43" style="margin-top:20px;">
			The algorithm is finite. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="tempstep a" data-tempstep-from="44" style="font-size:130%; line-height:100%;">?</span>
		</div>
		
		<div class="proofstyle tempstep a" data-tempstep-from="44" style="margin-top:20px; width:50%;">
			<ul>
				<li class="tempstep a" data-tempstep-from="46">IDE flows in single-sink networks terminate. [GHS, IPCO2019]</li>
				<li class="tempstep a" data-tempstep-from="48" data-tempstep-classes="49-100:red">Only a finite number of extension phases is necessary...</li>
			</ul>
		</div>
	</div>
	

	<div id="Chapter-Finiteness" class="step slide center chapterTitle" data-x="0" data-rel-y="1000" data-scale="1" data-tempstep-number="1">
		<h2 style="margin-top:400px;"><span>III. Finiteness</span></h2>

	</div>

	
	<div id="Finiteness" class="step slide" data-rel-x="0" data-rel-y="0" data-scale="1" data-tempstep-number="36" data-tempstep-skip="7-10;16-20;28-30">

		<div style="float:left; width:59%; margin-left:10px; margin-top:10px; text-align:left;" class="tempstep a" data-tempstep-from="0">
			<h3 style="margin-left:100px;">An Algorithm for Computing IDEs <span class="tempstep a" data-tempstep-from="2">(in acyclic networks)</span>:</h3>
			
			<div class="code">
				<span class="keyword">Input:</span> An <span class="tempstep" data-tempstep-classes="2:red">acyclic</span> single-sink network $\mathcal{N}$ <br />
				<span class="keyword">Output:</span> An IDE flow $f$ in $\mathcal{N}$ <br />
				<span class="numbering">(1)</span> Let $f$ be an IDE flow up to time $\theta = 0$ <br />
				<span class="numbering">(2)</span> <span class="keyword">While</span> not all flow has reached $t$ <span class="keyword">Do</span><br />
				<span class="numbering">(3)</span> <span class="tab">..</span> <span class="tempstep" data-tempstep-classes="3-4:red">Sort nodes s.th. $\ell_{v_1}(\theta) \leq \ell_{v_2}(\theta) \leq \dots$</span> <br />
				<span class="numbering">(4)</span> <span class="tab">..</span> <span class="keyword">For</span> $i = 1, \dots, n$ <span class="keyword">Do</span> <br />
				<span class="numbering">(5)</span> <span class="tab">....</span> Find constant IDE extension of $f$ at $v_i$<br />
				<span class="tab">(5) ....</span> for some $[\theta,\theta+\alpha_i]$ <br />
				<span class="numbering">(6)</span> <span class="tab">..</span> Extend $f$ up to $\theta \coloneqq \theta\,+\,\min\Set{\alpha_i}$<br />
			</div>
		</div>

		<div class="tempstep a" data-tempstep-list="4-5" style="position:absolute; left:10px; top:137px; width:49%; text-align:left;">
			<div class="code">
				<span class="keyword">Input:</span> An acyclic single-sink network $\mathcal{N}$ <br />
				<span class="keyword">Output:</span> An IDE flow $f$ in $\mathcal{N}$ <br />
				<span class="numbering">(1)</span> Let $f$ be an IDE flow up to time $\theta = 0$ <br />
				<span class="numbering">(2)</span> <span class="tempstep" data-tempstep-classes="3-4:red">Fix some topological order $v_1 \lt v_2 \lt \dots$</span><br />
				<span class="numbering">(3)</span> <span class="keyword">While</span> not all flow has reached $t$ <span class="keyword">Do</span><br />
				<span class="numbering">(4)</span> <span class="tab">..</span> <span class="keyword">For</span> $i = 1, \dots, n$ <span class="keyword">Do</span> <br />
				<span class="numbering">(5)</span> <span class="tab">....</span> <span class="tempstep" data-tempstep-classes="5-6:red">Find constant IDE extension of $f$ at $v_i$<br />
				<span class="tab">(5) ....</span> for some $[\theta,\theta+\alpha_i]$</span>  <br />
				<span class="numbering">(6)</span> <span class="tab">..</span> Extend $f$ up to $\theta \coloneqq \theta\,\,+$<span class="tempstep" data-tempstep-classes="5-6:red">$\,\,\min\Set{\alpha_i}$</span><br />
			</div>
		</div>

		<div class="tempstep a" data-tempstep-list="6-100" style="position:absolute; left:10px; top:137px; width:49%; text-align:left;">
			<div class="code">
				<span class="keyword">Input:</span> An acyclic single-sink network $\mathcal{N}$ <br />
				<span class="keyword">Output:</span> An IDE flow $f$ in $\mathcal{N}$ <br />
				<span class="numbering">(1)</span> Let $f$ be an IDE flow up to time $\theta = 0$ <br />
				<span class="numbering">(2)</span> Fix some topological order $v_1 \lt v_2 \lt \dots$<br />
				<span class="numbering">(3)</span> <span class="keyword">While</span> not all flow has reached $t$ <span class="keyword">Do</span><br />
				<span class="numbering">(4)</span> <span class="tab">..</span> <span class="keyword">For</span> $i = 1, \dots, n$ <span class="keyword">Do</span> <br />
				<span class="numbering">(5)</span> <span class="tab">....</span> <span class="tempstep" data-tempstep-classes="5-15:red">Find piecewise constant IDE extension<br />
				<span class="tab">(5) ....</span> of $f$ at $v_i$ for $[\theta,\theta+1]$</span> <br />
				<span class="numbering">(6)</span> <span class="tab">..</span> Extend $f$ up to $\theta \coloneqq \theta\,\,+$<span class="tempstep" data-tempstep-classes="5-6:red">$\,\,1$</span><br />
			</div>
		</div>
		
		<div class="tempstep a" data-tempstep-from="21" style="position:absolute; right:-250px; bottom:10px; width:49%; text-align:left;">
			<svg width="600" height="360" style="display:block; position:relative; right:0px; top:0px;" viewbox="0 0 600 360">
				<defs>
					<marker id='headGraph' orient='auto' markerWidth='4' markerHeight='4' refX='1.5' refY='1.5'>
						<path d='M0,0 V3 L3,1.5 Z' fill='black' />
					</marker>
				</defs>    
				
					<path class="tempstep ACgraph" data-tempstep-classes="23:ACgraphG1;24:ACgraphG2;25:ACgraphG3;26:ACgraphG4;27-100:ACgraphG5" 
						stroke-width='5' fill='none' stroke='green' d='M10,80 l200,90 l100,25 l250,-150' />
					<path class="tempstep ACgraph" data-tempstep-classes="23:ACgraphP1;24:ACgraphP2;25:ACgraphP3;26:ACgraphP4;27-100:ACgraphP5"
						stroke-width='5' fill='none' stroke='purple' d='M10,100 l200,30 l180,-115' />
					<path class="tempstep ACgraph" data-tempstep-classes="23:ACgraphR1;24:ACgraphR2;25:ACgraphR3;26:ACgraphR4;27-100:ACgraphR5" 
						stroke-width='5' fill='none' stroke='red' d='M10,195 l100,0 l100,-25 l150,0 l200,-50' />
					<path class="tempstep ACgraph" data-tempstep-classes="23:ACgraphO1;24:ACgraphO2;25:ACgraphO3;26:ACgraphO4;27-100:ACgraphO5" 
						stroke-width='5' fill='none' stroke='orange' d='M10,250 l100,-50 l100,-25 l100,25 l50,-25 l200,-50' />
					
					<path class="tempstep a" data-tempstep-from="23" style="transition-delay:2s;" stroke-width='3' stroke='gray' stroke-dasharray='4,6' d='M110,340 l0,-330' />
					<path class="tempstep a" data-tempstep-from="24" style="transition-delay:2s;" stroke-width='3' stroke='gray' stroke-dasharray='4,6' d='M210,340 l0,-330' />
					<path class="tempstep a" data-tempstep-from="25" style="transition-delay:2s;" stroke-width='3' stroke='gray' stroke-dasharray='4,6' d='M310,340 l0,-330' />
					<path class="tempstep a" data-tempstep-from="26" style="transition-delay:2s;" stroke-width='3' stroke='gray' stroke-dasharray='4,6' d='M360,340 l0,-330' />
						
				<!-- axes -->
					<path marker-end='url(#headGraph)' stroke-width='5' stroke='black'  d='M10,310 l0,-300' />
					<path marker-end='url(#headGraph)' stroke-width='5' stroke='black'  d='M10,310 l550,0' />
			</svg>
			
			<div class="tempstep a" data-tempstep-from="22">
				$h_i: [\theta_1, \theta_2] \to \IR_{\geq 0}, \theta \mapsto \tau_{vw_i}+\frac{\queue_{vw_i}(\theta)}{\nu_{vw_i}} + \ell_{w_i}(\theta)$
			</div>
		</div>
		
		<div class="tempstep a" data-tempstep-from="11">
		<svg width="500" height="550" style="display:block; position:absolute; right:100px; top:50px;" viewbox="0 0 500 550">
			<defs>
				<marker id='headSmall' orient='auto' markerWidth='8' markerHeight='8' refX='12' refY='4'>
					<path d='M0,0 V8 L8,4 Z' fill='black' />
				</marker>
				<marker id='head' orient='auto' markerWidth='4' markerHeight='4' refX='3.5' refY='1.5'>
					<path d='M0,0 V3 L3,1.5 Z' fill='black' />
				</marker>
				<marker id='headF' orient='auto' markerWidth='2' markerHeight='2' refX='.1' refY='1'>
					<path d='M0,0 V2 L2,1 Z' fill='DodgerBlue' />
				</marker>
			</defs>    
				
			<!-- edges -->
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M25,275 l75,0' />
				
				<path marker-end='url(#head)' stroke-width='10' stroke='black'  d='M100,275 l200,-225' />
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M100,275 l200,-75' />  
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M100,275 l200,75' />  
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M100,275 l200,225' />  
				
			<!-- flow -->
				
				<path stroke-width='45' d='M05,275 l100,0' 
					class="flow tempstep a" data-tempstep-from="13" data-tempstep-classes="1-100:ACef" />
					
				<path stroke-width='50' d='M100,275 l200,-225'
					class="flow g tempstep a" data-tempstep-classes="1-22:ACeaf;23-25:ACef;26:ACedvf;27-100:ACehf" />
				<path stroke-width='5' d='M100,275 l200,-75' 
					class="flow p tempstep a" data-tempstep-classes="1-24:ACef;25:ACedvf;26:ACehf;27-100:ACeevf" />
				<path stroke-width='5' d='M100,275 l200,75' 
					class="flow r tempstep a" data-tempstep-classes="1-100:ACef" />
				<path stroke-width='10' d='M100,275 l200,225' 
					class="flow o tempstep a" data-tempstep-classes="1-100:ACef" />
				
					
			<!-- queues -->
			
				<path stroke-width='60' d='M115,220 l-45,-40' 
					class="flow g tempstep a" data-tempstep-classes="1-22:ACq5;23:ACq3;24:ACq1;" />
				<path stroke-width='60' d='M150,253 l-15,-40' 
					class="flow p tempstep a" data-tempstep-classes="1-22:ACq1;23:ACq05" />
				<path stroke-width='60' d='M155,292 l15,-40' 
					class="flow r tempstep a" data-tempstep-classes="1-22:ACq2;23:ACq1;24:ACq2;25:ACq1;26:ACq05;27-100:ACq15;" />
				<path stroke-width='60' d='M147,320 l45,-40' 
					class="flow o tempstep a" data-tempstep-classes="1-22:ACq05;23:ACq2;24:ACq3;25:ACq15;26:ACq3;27-100:ACq4;" />

				
			<!--vertices-->
				<circle class="nodeBig" cx="100" cy="275" r="25" />
				<svg class="TeXinSVG node-text" x="95" y="265"><text>v</text></svg>
				
				<circle class="nodeBig" cx="300" cy="50" r="25" />
				<svg class="TeXinSVG node-text" x="285" y="40" style="color:green;"><text>w_1</text></svg>
				<circle class="nodeBig" cx="300" cy="200" r="25" />
				<svg class="TeXinSVG node-text" x="285" y="190" style="color:purple;"><text>w_2</text></svg>
				<circle class="nodeBig" cx="300" cy="350" r="25" />
				<svg class="TeXinSVG node-text" x="285" y="340" style="color:red;"><text>w_3</text></svg>
				<circle class="nodeBig" cx="300" cy="500" r="25" />
				<svg class="TeXinSVG node-text" x="285" y="490" style="color:orange;"><text>w_4</text></svg>

		</svg>	
		
		<svg class="tempstep a" data-tempstep-from="13" width="150" height="100" style="display:block; position:absolute; right:600px; top:260px;" viewbox="0 0 150 100">
				<path stroke-width='3' fill='none' stroke='DodgerBlue' d='M5,35 l130,0' />
				<svg class="TeXinSVG" x="70" y="40" style="color:DodgerBlue;"><text>f^-_e</text></svg>
			<!-- axes -->
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l0,-90' />
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l140,0' />
		</svg>
		
		<div class="tempstep a" data-tempstep-from="14">			
		<svg width="150" height="100" style="display:block; position:absolute; right:50px; top:80px;" viewbox="0 0 150 100">
				<path stroke-width='3' fill='none' stroke='green' d='M5,30 l100,-20' />
				<svg class="TeXinSVG" x="70" y="40" style="color:green;"><text>\ell_{w_1}</text></svg>
			<!-- axes -->
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l0,-90' />
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l140,0' />
		</svg>
		<svg width="150" height="100" style="display:block; position:absolute; right:50px; top:200px;" viewbox="0 0 150 100">
				<path stroke-width='3' fill='none' stroke='purple' d='M5,45 l80,-40' />
				<svg class="TeXinSVG" x="70" y="40" style="color:purple;"><text>\ell_{w_2}</text></svg>
			<!-- axes -->
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l0,-90' />
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l140,0' />
		</svg>
		<svg width="150" height="100" style="display:block; position:absolute; right:50px; top:360px;" viewbox="0 0 150 100">
				<path stroke-width='3' fill='none' stroke='red' d='M5,60 l130,-20' />
				<svg class="TeXinSVG" x="70" y="50" style="color:red;"><text>\ell_{w_3}</text></svg>
			<!-- axes -->
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l0,-90' />
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l140,0' />
		</svg>
		<svg width="150" height="100" style="display:block; position:absolute; right:50px; top:480px;" viewbox="0 0 150 100">
				<path stroke-width='3' fill='none' stroke='orange' d='M5,75 l130,15' />
				<svg class="TeXinSVG" x="70" y="40" style="color:orange;"><text>\ell_{w_4}</text></svg>
			<!-- axes -->
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l0,-90' />
				<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,95 l140,0' />
		</svg>
		</div>
		
		</div>
		
		<div class="theoremstyle l tempstep a" data-tempstep-from="11" style="clear:both; margin-top:500px;">
			Given a node $v$ and an IDE $f$ up to $\theta_1$, <span class="tempstep a" data-tempstep-from="12">extended to an IDE up to $\theta_2 > \theta_1$ for all nodes closer to $t$ than $v$,</span> <span class="tempstep a" data-tempstep-from="13">s.th.</span>
			<ul style="margin:0px;">
				<li class="tempstep a" data-tempstep-from="13">the inflow into node $v$ is constant over $[\theta_1,\theta_2]$ and</li>
				<li class="tempstep a" data-tempstep-from="14">the labels at all nodes closer to $t$ thant $v$ are linear.</li>
			</ul>
			<div class="tempstep a" data-tempstep-from="15">
				Then we can extend $f$ at $v$ to an IDE up to time $\theta_2$ in a finite number of subphases.
			</div>
		</div>
		
<!--		<div class="proofstyle">
			Define $h_i: [\theta_1, \theta_2] \to \IR_{\geq 0}, \theta \mapsto \tau_{vw_i}+\frac{\queue_{vw_i}(\theta)}{\nu_{vw_i}} + \ell_{w_i}(\theta)$ for all edges $vw_i$.
			<ul style="margin:0px;">
				<li>$vw_i$ is active at $\theta \iff h_i(\theta) = \min\Set{h_j(\theta)}$</li>
				<li>For inactive edges, the graph of $h_i$ is convex.</li>
				<li>A new subphase starts if and only if ...</li>
				<li>Finitely many possible slopes</li>
				<li>The lowest possible slope may not appear to often</li>
				<li>During fixed slope only finitely many phases.</li>
			</ul>
		</div>-->
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="31">
			For acyclic networks the above algorithm constructs an IDE flow in finite time. 
		</div>
		
		<div class="theoremstyle o tempstep a" data-tempstep-from="32">
			We only need the network to be acyclic for the fixed topological order. 
			<p style="margin:0px;" class="tempstep a" data-tempstep-from="33">The subgraph of active edges is always acyclic.</p>
		</div>
		
		<div class="theoremstyle i tempstep a" data-tempstep-from="34">
			For general networks: Show that we only need to change the topological order a finite number of times.
		</div>
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="35">
			For general single-sink networks the extension algorithm computes an IDE flow in finite time. 
			<p style="margin:0px;"  class="tempstep a" data-tempstep-from="36">(in at most $\bigO\left(P(2(\Delta+1)^{4^\Delta+1})^{T\abs{V}\cdot \abs{E}/C}\right)$ phases)</p>
		</div>
	</div>
	

	<div id="Chapter-Complexity" class="step slide center chapterTitle" data-x="0" data-rel-y="1000" data-scale="1" data-tempstep-number="1">
		<h2 style="margin-top:400px;"><span>IV. Complexity</span></h2>
			

	</div>

	<div class="ZoomDiv">
	<div id="NP-Hardness" class="step slide" data-rel-x="0" data-rel-y="0" data-scale="1" data-tempstep-number="84" data-tempstep-skip="8-10;15-19;37-50;62-80" data-tempstep-global-classes="20-61:GadgetZoom">
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="0" style="margin-top:100px;">
			The following decision problems are NP-hard:
			<ul>
				<li class="tempstep a" data-tempstep-from="3">Given a network and a <span class="tempstep" data-tempstep-classes="13:red">specific edge</span>: Is there an IDE flow not using this edge?</li>
				<li class="tempstep a" data-tempstep-list="4-6;20-100">Given a network and a specific edge: Is there an IDE flow using this edge?</li>
				<li class="tempstep a" data-tempstep-list="5-6;20-100">Given a network and some time $T$: Is there an IDE terminating before $T$?</li>
				<li class="tempstep a" data-tempstep-list="6;20-100">Given a network and some number $k$: Is there an IDE flow with at most $k$ phases?</li>
			</ul>
		</div>
		
		<div class="tempstep a" data-tempstep-from="11" data-tempstep-classes="83-100:moveDown" style="position:absolute; left:0px; top:190px; height:700px; width:100%; background-color:white; transition:opacity 1s, transform 2s;">
			<div class="proofstyle" style="height:700px;">
				Reduction from <span style="font-variant:small-caps;">3Sat</span>: 
				<div style="position:absolute; right:120px; top:-20px;">
					\[\big(x_1 \,\,\,\vee\,\,\, \neg x_1 \,\,\,\vee\,\,\, x_2\big) \,\,\qquad\qquad\wedge\,\,\qquad\qquad \big(\neg x_1 \,\,\,\vee\,\,\, \neg x_2 \,\,\,\vee\,\,\, \neg x_3\big)\]
				</div>
				
				<div class="tempstep a" data-tempstep-from="12" style="position:absolute; right:0px; top:50px; width:1200px; height:650px;">
					<svg width="1200" height="650" style="display:block;" viewbox="0 0 1200 650">
						<defs>
							<marker id='sHeadSmall' orient='auto' markerWidth='8' markerHeight='8' refX='10' refY='4'>
								<path d='M0,0 V8 L8,4 Z' fill='black' />
							</marker>
							<marker id='sHeadSmallr' orient='auto' markerWidth='8' markerHeight='8' refX='10' refY='4'>
								<path d='M0,0 V8 L8,4 Z' fill='red' />
							</marker>
							<marker id='sHead' orient='auto' markerWidth='4' markerHeight='4' refX='3.3' refY='1.5'>
								<path d='M0,0 V3 L3,1.5 Z' fill='black' />
							</marker>
						</defs>    
							
						<!-- edges -->
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M450,25 l-100,75' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M450,25 l0,75' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M450,25 l100,75' />
							
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M950,25 l-100,75' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M950,25 l0,75' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M950,25 l100,75' />
							
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M350,100 l-100,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M450,100 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M550,100 l50,100' />
							
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M850,100 l-400,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M950,100 l-150,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M1050,100 l100,100' />
							
							<path marker-end='url(#sHeadSmall)' stroke-width='4' stroke='black'  d='M250,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M250,200 l100,0' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M350,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M350,300 l-100,0' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M450,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M250,300 l100,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M450,300 l-100,100' />
							<path marker-end='url(#sHeadSmall)' stroke-width='4' stroke='black'  d='M350,400 l0,100' />
							
							<path marker-end='url(#sHeadSmall)' stroke-width='4' stroke='black'  d='M600,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M600,200 l100,0' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M700,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M700,300 l-100,0' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M800,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M600,300 l100,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M800,300 l-100,100' />
							<path marker-end='url(#sHeadSmall)' stroke-width='4' stroke='black'  d='M700,400 l0,100' />
							
							<path marker-end='url(#sHeadSmall)' stroke-width='4' stroke='black'  d='M950,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M950,200 l100,0' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M1050,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M1050,300 l-100,0' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M1150,200 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M950,300 l100,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M1150,300 l-100,100' />
							<path marker-end='url(#sHeadSmall)' stroke-width='4' stroke='black'  d='M1050,400 l0,100' />
							
							
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M250,300 l-100,0' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black' fill='none' d='M600,300 q-225,50,-450,0' class="notInZoom" />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black' fill='none' d='M950,300 q-400,100,-800,0' class="notInZoom" />
							
							<path marker-end='url(#sHeadSmall)' stroke-width='4' stroke='black'  d='M150,300 l0,100' />
							<path marker-end='url(#sHeadSmallr)' stroke-width='4' stroke='red'  d='M150,300 l0,100' 
								class="tempstep a" data-tempstep-list="13-100"/>
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M150,400 l0,100' />
							
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M150,500 l550,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M350,500 l350,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M700,500 l0,100' />
							<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M1050,500 l-350,100' />
							
							
						<!-- flow -->
						
							<path stroke-width='30' d='M350,100 l-100,100' 
								class="flow tempstep a" data-tempstep-list="24-28;50-54" data-tempstep-classes="26-27:NPedf;28-29:NPede;52-53:NPedf;54-55:NPede;" />
							<path stroke-width='10' d='M250,200 l0,100' 
								class="flow tempstep a" data-tempstep-list="24-34;52-60" data-tempstep-classes="27:NPehhf;28-32:NPehf;33:NPehhhhf;34-35:NPehe;53:NPehhf;54-58:NPehf;59:NPehhhhf;60-61:NPehe" />
							<path stroke-width='20' d='M250,200 l100,0' 
								class="flow tempstep a" data-tempstep-list="24-30;52-56" data-tempstep-classes="28:NPehhhf;29:NPehhhhf;30-31:NPehe;54:NPehhhf;55:NPehhhhf;56-57:NPehe" />
							<path stroke-width='20' d='M350,200 l0,100' 
								class="flow tempstep a" data-tempstep-list="24-32;52-58" data-tempstep-classes="30:NPehhhf;31:NPehhhhf;32-33:NPehe;56:NPehhhf;57:NPehhhhf;58-59:NPehe" />
							<path stroke-width='20' d='M350,300 l-100,0' 
								class="flow tempstep a" data-tempstep-list="24-34;52-60" data-tempstep-classes="32:NPehhhf;33:NPehhhhf;34-35:NPehe;58:NPehhhf;59:NPehhhhf;60-61:NPehe" />
							<path stroke-width='10' d='M250,300 l100,100' 
								class="flow tempstep a" data-tempstep-list="24-34;52-60" data-tempstep-classes="29:NPedhf;30-36:NPedf;55:NPedhf;56-62:NPedf" />	
							<path stroke-width='30' d='M250,300 l100,100' 
								class="flow tempstep a" data-tempstep-list="24-34" data-tempstep-classes="34-36:NPedhhf" />	
							<path stroke-width='30' d='M250,300 l-100,0' 
								class="flow tempstep a" data-tempstep-list="50-60" data-tempstep-classes="60-62:NPehhhf" />		
							<path stroke-width='10' d='M350,400 l0,100' 
								class="flow tempstep a" data-tempstep-list="24-34" data-tempstep-classes="31:NPehhf;32-36:NPehf" />
							<path stroke-width='10' d='M350,500 l350,100' 
								class="flow tempstep a" data-tempstep-list="24-34;52-60" data-tempstep-classes="33:NPedhf;34-36:NPedf;59:NPedhf;60-62:NPedf;" />
							
							<path stroke-width='30' d='M450,100 l0,100' 
								class="flow tempstep a" data-tempstep-list="20-22;50-54" data-tempstep-classes="21:NPehf;22-23:NPehe;52-53:NPehf;54-55:NPehe" />
							<path stroke-width='30' d='M450,200 l0,100' 
								class="flow tempstep a" data-tempstep-list="20-23;52-56" data-tempstep-classes="22:NPehf;23-24:NPehe;53:NPehhf;54:NPehf;55:NPehhhhf;56-57:NPehe" />
							<path stroke-width='30' d='M450,300 l-100,100' 
								class="flow tempstep a" data-tempstep-list="20-24;50-58" data-tempstep-classes="23:NPedf;24-25:NPede;55:NPedhf;56:NPedf;57:NPedhhhf;58-59:NPede" />
							<path stroke-width='10' d='M350,400 l0,100' 
								class="flow tempstep a" data-tempstep-list="20-24;52-60" data-tempstep-classes="24-25:NPehf;57:NPehhf;58-62:NPehf" />
								
						<!-- queues -->
						
							<path stroke-width='40' stroke='blue' d='M360,420 h80' 
								class="flow tempstep a" data-tempstep-list="20-24;52-60" data-tempstep-classes="24-25:NPq2;57:NPqB;58-62:NPq2" />
							<path stroke-width='40' stroke='blue' d='M240,220 h-40' 
								class="flow tempstep a" data-tempstep-list="20-34;52-60" data-tempstep-classes="27-28:NPq1;29:NPqC;30:NPqB;31:NPqA;53-54:NPq1;55:NPqC;56:NPqB;57:NPqA" />

							
						<!--vertices-->
							<circle class="nodeSmall" cx="450" cy="25" r="15" />
							<svg class="TeXinSVG node-text-small" x="445" y="20"><text>c_1</text></svg>
							<circle class="nodeSmall" cx="350" cy="100" r="15" />
							<circle class="nodeSmall" cx="450" cy="100" r="15" />
							<circle class="nodeSmall" cx="550" cy="100" r="15" />
							
							<circle class="nodeSmall" cx="950" cy="25" r="15" />
							<svg class="TeXinSVG node-text-small" x="945" y="20"><text>c_2</text></svg>
							<circle class="nodeSmall" cx="850" cy="100" r="15" />
							<circle class="nodeSmall" cx="950" cy="100" r="15" />
							<circle class="nodeSmall" cx="1050" cy="100" r="15" />					
						
							<circle class="nodeSmall" cx="250" cy="200" r="15" />
							<svg class="TeXinSVG node-text-small" x="240" y="195"><text>x_1</text></svg>
							<circle class="nodeSmall" cx="350" cy="200" r="15" />
							<circle class="nodeSmall" cx="350" cy="300" r="15" />
							<circle class="nodeSmall" cx="250" cy="300" r="15" />
							
							<circle class="nodeSmall" cx="450" cy="200" r="15" />
							<svg class="TeXinSVG node-text-small" x="430" y="195"><text>\neg x_1</text></svg>
							<circle class="nodeSmall" cx="450" cy="300" r="15" />
							
							<circle class="nodeSmall" cx="600" cy="200" r="15" />
							<svg class="TeXinSVG node-text-small" x="590" y="195"><text>x_2</text></svg>
							<circle class="nodeSmall" cx="700" cy="200" r="15" />
							<circle class="nodeSmall" cx="700" cy="300" r="15" />
							<circle class="nodeSmall" cx="600" cy="300" r="15" />
							
							<circle class="nodeSmall" cx="800" cy="200" r="15" />
							<svg class="TeXinSVG node-text-small" x="780" y="195"><text>\neg x_2</text></svg>
							<circle class="nodeSmall" cx="800" cy="300" r="15" />
							
							<circle class="nodeSmall" cx="950" cy="200" r="15" />
							<svg class="TeXinSVG node-text-small" x="940" y="195"><text>x_3</text></svg>
							<circle class="nodeSmall" cx="1050" cy="200" r="15" />
							<circle class="nodeSmall" cx="1050" cy="300" r="15" />
							<circle class="nodeSmall" cx="950" cy="300" r="15" />
							
							<circle class="nodeSmall" cx="1150" cy="200" r="15" />
							<svg class="TeXinSVG node-text-small" x="1130" y="195"><text>\neg x_3</text></svg>
							<circle class="nodeSmall" cx="1150" cy="300" r="15" />
							
							<circle class="nodeSmall" cx="150" cy="300" r="15" />
							<circle class="nodeSmall" cx="150" cy="400" r="15" />
							<circle class="nodeSmall" cx="150" cy="500" r="15" />
							
							
							<circle class="nodeSmall" cx="350" cy="400" r="15" />
							<circle class="nodeSmall" cx="350" cy="500" r="15" />
							
							<circle class="nodeSmall" cx="700" cy="400" r="15" />
							<circle class="nodeSmall" cx="700" cy="500" r="15" />
							
							<circle class="nodeSmall" cx="1050" cy="400" r="15" />
							<circle class="nodeSmall" cx="1050" cy="500" r="15" />
							
							<circle class="nodeSmall" cx="700" cy="600" r="15" />
							<svg class="TeXinSVG node-text-small" x="695" y="595"><text>t</text></svg>
							
					</svg>	
					
					<svg class="tempstep a" data-tempstep-from="82" width="1200" height="650" style="display:block; position:absolute; left:0px; top:0px;" viewbox="0 0 1200 650">
						<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M100,25 L70,295' />
						<path marker-end='url(#sHead)' stroke-width='12' stroke='black'  d='M100,25 L150,300' />
						<path stroke-width='12' stroke='black'  d='M70,515 L680,600' />
					
						<circle class="nodeSmall" cx="100" cy="25" r="15" />
						<svg class="TeXinSVG node-text-small" x="95" y="20"><text>s</text></svg>
						<circle class="nodeSmall" cx="150" cy="300" r="15" />
						
						<rect x="20" y="280" width="100" height="240" stroke='black' fill='white' />
						<svg class="TeXinSVG" x="50" y="380"><text>\mathcal{N}'</text></svg>
						
					</svg>
					
					<svg width="150" height="120" style="display:block; position:absolute; top:0px; left:630px;" viewbox="0 0 150 120">
						<!-- axes -->
							<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l0,-85' />
							<path marker-end='url(#headGraph)' stroke-width='3' stroke='black'  d='M5,90 l120,0' />
							<path stroke-width='3' stroke='black'  d='M90,85 l0,10' />
							<svg class="TeXinSVG" x="130" y="75" color="black"><text>\theta</text></svg>
							<svg class="TeXinSVG" x="80" y="95" color="black"><text>\small 1</text></svg>
							
						<!-- inflow -->
							<path stroke-width='3' stroke='DodgerBlue'  d='M5,20 l90,0' />
							<svg class="TeXinSVG" x="40" y="50" style="color:DodgerBlue"><text>u_{c_i}</text></svg>		

						<!-- time -->
							<path stroke-width='90' stroke='Gray'  d='M5,45 l120,0' stroke-dasharray='0,0,3,1000'
									class="tempstep" data-tempstep-classes="2-3:Ttime1" style="transition:stroke-dasharray 4s; transition-timing-function: linear;" />
					</svg>
				</div>
				
				<!--<div class="HiddenCanvas" style="position:absolute; left:-150px; top:0px; width:100%; height:100%; pointer-events: auto !important;">
					<canvas id="can7" width="1300" height="700"></canvas>

					<div style="position:absolute;bottom:0px;right:300px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
					<div style="position:absolute;bottom:0px;right:280px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
					<div style="position:absolute;bottom:0px;right:260px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
					<div style="position:absolute;bottom:0px;right:240px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
					<div style="position:absolute;bottom:0px;right:220px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
					<div style="position:absolute;bottom:0px;right:200px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
					<div style="position:absolute;bottom:0px;right:180px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
					<div style="position:absolute;bottom:0px;right:160px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
					<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(7)" style="position:absolute;bottom:0px;right:100px;">	
				</div>-->
			</div>
		</div>
		</div>
	</div>	

	<div id="Chapter-Conclusion" class="step slide center chapterTitle" data-x="0" data-rel-y="1000" data-scale="1" data-tempstep-number="1">
		<h2 style="margin-top:400px;"><span>V. Conclusion</span></h2>
			

	</div>
	
	
	<div id="Conclusion" class="step slide" data-x="0" data-rel-y="0" data-scale="1" data-tempstep-number="7">
		<div style="margin-top:70px; float:left; width:49%;">
			<h3 class="tempstep a" data-tempstep-from="1">What we learned:</h3>
			<ul>
				<li class="tempstep a" data-tempstep-from="2">IDEs can be computed in finite time.</li>
				<li class="tempstep a" data-tempstep-from="3">Existence of IDEs with natural properties is hard.</li>
			</ul>
		</div>
		
		<div style="margin-top:70px; float:right; width:49%;">
			<h3 class="tempstep a" data-tempstep-from="4">What's still to learn:</h3>
			<ul>
				<li class="tempstep a" data-tempstep-from="5">Can we improve the bound on the number of extension phases?</li>
				<li class="tempstep a" data-tempstep-from="6">Can we allow zero-travel-time edges? (i.e. $\tau_e=0$)</li>
				<li class="tempstep a" data-tempstep-from="7">What happens with multiple sinks? (i.e. different commodities)</li>
			</ul>	
		</div>
		
		<div style="position:absolute; bottom:100px; width:100%; text-align:center;">
			<img class="tempstep a" data-tempstep-from="1" src="images/FlowExample.png" width="400px" />
		</div>

	</div>
	

</div>




<div class="Heading" id="background">
	<span style="float:left;">A Finite Time Combinatorial Algorithm for IDE Flows</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading1">
	<span style="float:left;">A Finite Time Combinatorial Algorithm for IDE Flows - I. Model</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading2">
	<span style="float:left;">A Finite Time Combinatorial Algorithm for IDE Flows - II. Algorithm</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading3">
	<span style="float:left;">A Finite Time Combinatorial Algorithm for IDE Flows - III. Finiteness</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading4">
	<span style="float:left;">A Finite Time Combinatorial Algorithm for IDE Flows - IV. Complexity</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading5">
	<span style="float:left;">A Finite Time Combinatorial Algorithm for IDE Flows - V. Conclusion</span>
	<span style="float:right;">Lukas Graf</span>
</div>

<div id="impress-toolbar"></div>

<div id="DrawingCanvas" style="position:fixed; left:5%; top:5%; width:90%; height:90%; z-index:1000; background-color:white; border:3px solid gray;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);pointer-events: auto !important;display:none; transition:border 2s, background-color 2s;">
		<canvas id="can0" width="1200" height="700" style="margin:5px 20px; border:1px solid black;"></canvas>

		<div style="position:absolute;bottom:20px;right:600px;width:20px;height:20px;background:blue;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:580px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:560px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:540px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:520px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:500px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:480px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:460px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
		<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(0)" style="position:absolute;bottom:20px;right:300px;">
		<input type="button" value="glass" id="clr" size="23" onclick="canvas().makeTransparent(0)" style="position:absolute;bottom:20px;right:250px;">		
</div>

<!--
    To make all described above really work, you need to include impress.js in the page.
    You also need to call a `impress().init()` function to initialize impress.js presentation.
    And you should do it in the end of your document.
-->
<script type="text/javascript" src="js/impress.js"></script>
<script type="text/javascript" src="js/impress-custom.js"></script>

<script>impress().init();</script>

<script type="text/javascript">

	var canvas = window.canvas = function() {
					
		function Pen() {
			this.color = "black";
			this.size = 2;
			this.eraserMode = false;
		}
		
		function Canvas(name, pen) {
			var canvas = document.getElementById(name);
			var context = canvas.getContext("2d");
			
			this.canvas = canvas;
			this.context = context;
			this.pen = pen;
			
			this.prevX = 0;
			this.prevY = 0;
			this.currX = 0;
			this.currY = 0;
						
			this.drawing = false;
			
			var findxy = function(res, e) {
				if (res == 'down') {
					this.prevX = this.currX;
					this.prevY = this.currY;
					this.currX = e.client - canvas.getBoundingClientRect().left;
					this.currY = e.client - canvas.getBoundingClientRect().top;
					this.drawing = true;
				}
				if (res == 'up' || res == "out") {
					this.drawing = false;
				}
				if (res == 'move') {
					if (this.drawing) {
						this.prevX = this.currX;
						this.prevY = this.currY;
						this.currX = e.clientX - canvas.getBoundingClientRect().left;
						this.currY = e.clientY - canvas.getBoundingClientRect().top;
						draw();
					}
				}
			}
			
			var draw = function() {
				if(pen.eraserMode) {
					context.clearRect(this.currX-20,this.currY-20,40,40);
				} else {
					context.beginPath();
					context.moveTo(this.prevX, this.prevY);
					context.lineTo(this.currX, this.currY);
					context.strokeStyle = this.pen.color;
					context.lineWidth = this.pen.size;
					context.stroke();
					context.closePath();
				}
			}
			
			canvas.addEventListener("mousemove", function (e) {
				findxy('move', e)
			}, false);
			canvas.addEventListener("mousedown", function (e) {
				findxy('down', e)
			}, false);
			canvas.addEventListener("mouseup", function (e) {
				findxy('up', e)
			}, false);
			canvas.addEventListener("mouseout", function (e) {
				findxy('out', e)
			}, false);

			
			
		}
	
		var init = function(n) {
			pen = new Pen();
			
			canvases = [];
			
			for(var i=0;i<n;i++) {
				canvases[i] = new Canvas("can"+i,pen)
			}
		}
		
		var color = function(obj) {
			pen.color = obj.style.backgroundColor;
			pen.eraserMode = false;
		}
		
		var toggleEraser = function() {
			pen.eraserMode = !(pen.eraserMode);
		}
		
		var clear = function(i) {
			if (confirm("Clear current canvas?")) {
				canvases[i].context.clearRect(0, 0, canvases[i].canvas.width, canvases[i].canvas.height);
			}
		}
		
		var makeTransparent = function(i) {
			var pDiv = canvases[i].canvas.parentElement;
			if (pDiv.style.backgroundColor == "white") {
				pDiv.style.backgroundColor = "transparent";
				pDiv.style.border = "3px solid transparent";
			} else {
				pDiv.style.backgroundColor = "white";
				pDiv.style.border = "3px solid gray";
			}
		}
		
		return({init: init, color: color, clear: clear, toggleEraser: toggleEraser, makeTransparent: makeTransparent});	
	}

	canvas().init(8);
</script>	
	
	
<script type="text/javascript">
		// SOURCE: https://stackoverflow.com/a/52011013
		// Define a function that takes LaTeX source code
		// and places the resulting generated SVG in a target SVG element.
		mathSVG = function (latex, target) {
		  // First create a new element to hold the initial Latex code
		  // and eventual MathJax generated SVG. This element isn't added
		  // to the main document, so it's never seen.
		  let mathBuffer = document.createElement("div");
		
		  // Update the buffer with the source latex.
		  mathBuffer.textContent = latex;
		  // Get MathJax to process and typeset.
		  MathJax.Hub.Queue(["Typeset", MathJax.Hub, mathBuffer]);
		  // Queue a callback function that will execute once it's finished typesetting.
		  MathJax.Hub.Queue(function () {
			// This (svg) is the generated graphics.
			var svg = mathBuffer.childNodes[1].childNodes[0];
			// The next line is optional, play with positioning as you see fit.
			svg.setAttribute("y", "0pt");
			// Move the generated svg from the buffer to the target element.
			target.appendChild(svg);
			// Clear the buffer.
			mathBuffer.textContent = "";
		  });
		};
		
		function generateTeXinSVGs() {
			listOfSVGs = document.getElementsByClassName("TeXinSVG");
			var i;
			for (i = 0; i < listOfSVGs.length; i++) {
				svgElement = listOfSVGs[i];
				latex = svgElement.children[0].textContent;
				svgElement.innerHTML = "";
				mathSVG("$" + latex + "$", svgElement);				
			} 
		};
</script>

</body>
</html>
