<!doctype html>

<!--
  This is a simple example / template impress.js slide show. The goal is to be
  easier to read for a first timer than the official and very feature rich
  demo by bartaz (http://bartaz.github.io/impress.js/). It's also a very
  traditional presentation that looks like slides (square screens with bullet
  points...), again to make a first timer feel more at home. From this simple
  presentation you can then go on to more powerful impress.js presentations!

  This example is hopefully helpful for people that want to create both
  simple and (eventually) awesome presentations in impress.js and comfortable
  doing that directly in HTML.

  By: @henrikingo (Still based on the HTML from bartaz' demo.)

-->

<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>Dynamic Flows with Adaptive Route Choice</title>

    <meta name="description" content="Dynamic Flows with Adaptive Route Choice" />
    <meta name="author" content="Lukas Graf" />


    <!--
        This file contains styles specific for this example presentation.
    -->
	<link href="css/WINE.css" rel="stylesheet" />

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
		tex2jax: {
		  inlineMath: [ ['$','$'], ['\\(','\\)'] ],
		  processEscapes: true
		},
		"SVG": { fonts: ["TeX"], scale:85 }
	  });
	  MathJax.Hub.Queue(generateTeXinSVGs());
	</script>
	<!-- Internetquelle für MathJax -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_SVG-full"></script>
	<!-- Falls kein Internet verfügbar... 
	<script type="text/javascript" src="extras/MathJax/MathJax.js?config=TeX-MML-AM_SVG-full"></script>-->

</head>

<!--

    Body element is used by impress.js to set some useful class names, that will allow you to detect
    the support and state of the presentation in CSS or other scripts.

    First very useful class name is `impress-not-supported`. This class means, that browser doesn't
    support features required by impress.js, so you should apply some fallback styles in your CSS.
    It's not necessary to add it manually on this element. If the script detects that browser is not
    good enough it will add this class, but keeping it in HTML means that users without JavaScript
    will also get fallback styles.

    When impress.js script detects that browser supports all required features, this class name will
    be removed.

    Another class name on body element also depends on currently active presentation step.
-->
<body class="impress-not-supported">
<!--
    This fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>


<!--
    This is the core element used by impress.js: the wrapper for your presentation steps.
    In this element all the impress.js magic happens.

    data-transition-duration sets the time in microseconds that is used for the
    animation when transtitioning between slides.

    data-autoplay can be used to set the time in seconds, after which presentation
    automatically moves to next slide. It can also be set individually for each
    slide, but here we just set a common duration for all slides.
-->

<div style="display:none;">
  \(
    \newcommand{\IN}{\mathbb{N}}
	\newcommand{\INs}{\mathbb{N}^\ast}
	\newcommand{\INo}{\mathbb{N}_0}
    \newcommand{\IZ}{\mathbb{Z}}
    \newcommand{\IR}{\mathbb{R}}
    \newcommand{\IC}{\mathbb{C}}
    \newcommand{\A}{\mathcal{A}}
    \newcommand{\B}{\mathcal{B}}
    \newcommand{\U}{\mathfrak{U}}
    \newcommand{\coloneqq}{:=}
    \newcommand{\Set}[1]{\left\{#1\right\}}
    \newcommand{\supp}{\mathrm{supp}}
    \newcommand{\Re}{\mathrm{Re}}
    \newcommand{\Im}{\mathrm{Im}}
    \newcommand{\clos}[1]{\overline{#1}}
    \newcommand{\inte}[1]{\mathring{#1}}
	\newcommand{\dist}[2]{\mathrm{dist}^c_{#1}(#2)}
	\newcommand{\dists}[2]{{\mathrm{dist}^c_{#1}}'(#2)}
	\newcommand{\Ind}{{\small\raise{-1pt}{\unicode{x1D7D9}}\,}}
	\newcommand{\bigO}{\mathcal{O}}	
	\newcommand{\abs}[1]{\left|#1\right|}
	
	\newcommand{\rDeriv}{\partial_+}
	\newcommand{\lDeriv}{\partial_-}
	\newcommand{\queue}{q}	
	\newcommand{\tPmax}{\tau(P_{\max})}
	\newcommand{\PoA}{\mathrm{PoA}}
  \)
</div>


<div id="impress" data-transition-duration="2000" data-autoplay="0" style="z-index:0;">


	<div id="Title" class="step slide center" data-x="0" data-y="0" data-scale="1" data-tempstep-number="9">
		<span style="font-size:150%;"><strong>~WINE 2020~</strong></span>
	
		<h1>The Price of Anarchy for Instantaneous Dynamic Equilibria</h1><br />
			<strong>Lukas Graf</strong><sup>1</sup>, Tobias Harks<sup>1</sup><br />
			
			<span style="font-size:70%;"><sup>1</sup> Augsburg University</span>
			
			<div style="position:absolute; left:450px; bottom:50px; width:700px; height:500px;" class="tempstep a" data-tempstep-from="2">
				
			<svg width="700" height="500" style="display:block; position:absolute; left:0px; top:0px;" viewbox="0 0 700 500">
			<defs>
				<marker id='headSmall' orient='auto' markerWidth='8' markerHeight='8' refX='12' refY='4'>
					<path d='M0,0 V8 L8,4 Z' fill='black' />
				</marker>
				<marker id='head' orient='auto' markerWidth='4' markerHeight='4' refX='3.5' refY='1.5'>
					<path d='M0,0 V3 L3,1.5 Z' fill='black' />
				</marker>
				<marker id='headF' orient='auto' markerWidth='2' markerHeight='2' refX='.1' refY='1'>
					<path d='M0,0 V2 L2,1 Z' fill='DodgerBlue' />
				</marker>
			</defs>    
				
			<!-- edges -->
				<path stroke-width='16' stroke='#0000FF40'  d='M50,50 l600,0 l0,300' fill='none' class="tempstep a" data-tempstep-list="3-5" />
				<path stroke-width='22' stroke='#0000FF40'  d='M50,50 l600,0 l0,300' fill='none' class="tempstep a" data-tempstep-list="3-5" />
				<path stroke-width='28' stroke='#0000FF40'  d='M50,50 l600,0 l0,300' fill='none' class="tempstep a" data-tempstep-list="3-5" />
				
				<path stroke-width='16' stroke='#0000FF40'  d='M350,50 l-300,300 l600,0' fill='none' class="tempstep a" data-tempstep-list="6-7" />
				<path stroke-width='22' stroke='#0000FF40'  d='M350,50 l-300,300 l600,0' fill='none' class="tempstep a" data-tempstep-list="6-7" />
				<path stroke-width='28' stroke='#0000FF40'  d='M350,50 l-300,300 l600,0' fill='none' class="tempstep a" data-tempstep-list="6-7" />
			
				<path marker-end='url(#head)' stroke-width='10' stroke='black'  d='M50,50 l300,0' />
				<path marker-end='url(#head)' stroke-width='10' stroke='black'  d='M350,50 l300,0' />
				<path marker-end='url(#head)' stroke-width='10' stroke='black'  d='M650,50 l0,300' />
				<path marker-end='url(#head)' stroke-width='10' stroke='black'  d='M350,50 l-300,300' />
				<path marker-end='url(#head)' stroke-width='10' stroke='black'  d='M50,350 l300,0' />
				<path marker-end='url(#head)' stroke-width='10' stroke='black'  d='M350,350 l300,0' />
				
			<!--vertices-->
				<circle class="nodeBig" cx="50" cy="50" r="25" />
				<svg class="TeXinSVG node-text" x="45" y="40"><text>v</text></svg>
				<circle class="nodeBig" cx="350" cy="50" r="25" />
				<svg class="TeXinSVG node-text" x="345" y="40"><text>w</text></svg>
				<circle class="nodeBig" cx="650" cy="50" r="25" />
				<svg class="TeXinSVG node-text" x="645" y="40"><text>x</text></svg>
				<circle class="nodeBig" cx="50" cy="350" r="25" />
				<svg class="TeXinSVG node-text" x="45" y="340"><text>y</text></svg>
				<circle class="nodeBig" cx="350" cy="350" r="25" />
				<svg class="TeXinSVG node-text" x="345" y="340"><text>z</text></svg>
				<circle class="nodeBig" cx="650" cy="350" r="25" />
				<svg class="TeXinSVG node-text" x="645" y="340"><text>t</text></svg>
			</svg>	
				
				<img class="car R1 tempstep a" data-tempstep-list="2-7" src="images/CarRed.svg" />
				<img class="car R2 tempstep a" data-tempstep-list="2-7" src="images/CarRed.svg" />
				<img class="car R3 tempstep a" data-tempstep-list="2-7" src="images/CarRed.svg" />
				<img class="car B1 tempstep a" data-tempstep-list="2-7" src="images/CarBlue.svg" />
				
				<img class="tempstep a" data-tempstep-list="5-6" style="position:absolute; left:670px; top:50px;" src="images/Congestion.svg" width="100px" />
			</div>
			
			<div class="tempstep a" data-tempstep-from="8" style="position:absolute; bottom:-50px; left:0px; width:100%; text-align:center;">
				<h2>&uarr; Discrete Model</h2>
				<p class="tempstep a" data-tempstep-from="9" style="margin-top:-20px; font-size:80%;">(unsplittable flow particles, discrete time steps)</p>
			</div>
			
	</div>
	
	<div id="ModelChange" class="step slide" data-x="0" data-y="600" data-scale="1" data-tempstep-number="2">
		<h2 style="margin-top:400px;">Continuous Model &darr;</h2>
		<p class="tempstep a" data-tempstep-from="2" style="margin-top:-130px; font-size:80%; text-align:center;">(infinitesimal flow particles, continuous time)</p>
	</div>
	
	<div id="Model" class="step slide" data-x="0" data-y="990" data-scale="1" data-tempstep-number="44" data-tempstep-skip="11-22;28-30;32-40;">
		
		<div style="position:absolute; width:50%; left:0px; top:100px;">
			<h3 class="tempstep a" data-tempstep-from="2" style="margin-top:-30px;">Physical Model</h3>
			
			<ul>
				<li class="tempstep a" data-tempstep-from="2">A directed graph $G = (V,E)$</li>
				<li class="tempstep a" data-tempstep-from="3">Edge travel times $\tau_e \in \INs$ <span class="tempstep a" data-tempstep-from="4">(here, mostly, $\tau_e=1$)</span><br />
					<span class="tempstep a" data-tempstep-from="5">&rarr; define $\tau \coloneqq \sum_{e \in E}\tau_e$</span></li>
				<li class="tempstep a" data-tempstep-from="3">Edge capacities $\nu_e \in \INs$ <span class="tempstep a" data-tempstep-from="4">(here $\nu_e \in \Set{1,\infty}$)</span></li>
				<li class="tempstep a" data-tempstep-from="6">Single sink $t \in  V$</li>
				<li class="tempstep a" data-tempstep-from="7">Network inflow rates $u_v: \IR \to \IR_{\geq 0}$ <br />
				(finitely lasting, wlog last inflow at time $\theta = 0$)<br />
					<span class="tempstep a" data-tempstep-from="8">&rarr; define $U \coloneqq \sum_{v \in V}\int_{-\infty}^0 u_v(\theta) d\theta$</span></li>
				<li class="tempstep a" data-tempstep-from="10" >Inflow \(\gt\) capacity \(\implies\) queues form<br />
																&nbsp; \(f_e^+(\theta) \gt \nu_e\) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (length \(q_e(\theta)\))</li> 
			</ul>
		</div>
		
		<div style="position:absolute; width:50%; right:0px; top:100px;">
			<h3 class="tempstep a" data-tempstep-from="24" style="margin-top:-30px;">Behavioral Model</h3>
			
			<div class="theoremstyle d tempstep a" data-tempstep-from="25">The <em>current travel time</em> at time \(\theta\) on edge \(e\) is: \[c_e(\theta) := \tau_e + q_e(\theta)/\nu_e\]  </div>
			
			<p class="theoremstyle d tempstep a" data-tempstep-from="26">A flow is in <em>Instantaneous Dynamic Equilibrium (IDE)</em> if the following holds: <br />
			<span class="tempstep a" data-tempstep-from="27">Whenever positive flow enters an edge, this edge must lie on a currently shortest path towards the respective sink (w.r.t. \(c\)).</span></p>			
		</div>
		
		<div style="position:absolute; width:50%; right:0px; top:450px;">
			<h3 class="tempstep a" data-tempstep-from="41">Price of Anarchy (PoA)</h3>
			
			<div class="theoremstyle d tempstep a" data-tempstep-from="42">The <em>termination time</em> of a flow $f$ is defined as 
				\[\Theta(f) \coloneqq \inf\Set{\theta \geq 0 \,|\, \style{font-family:inherit;font-size:130%;}{\text{total flow volume in }}G\style{font-family:inherit;font-size:130%;}{\text{ is }}0}.\]  </div>	
			
			<div class="theoremstyle d tempstep a" data-tempstep-from="43">For given $U, \tau \in \IN$ we define the <em>Price of Anarchy (PoA)</em> by
				\[\PoA(U,\tau) \coloneqq \sup\Set{\frac{\Theta(f)}{\Theta(f^{\mathrm{OPT}})}},\]
			<p class="tempstep a" data-tempstep-from="44">where the supremum is over all networks with total flow volume $U$, total edge travel time $\tau$ and all IDE $f$.</p> </div>	
		</div>
		
		
		<div style="position:absolute; bottom:0px; left:0px; width:50%; height:450px;" class="tempstep a" data-tempstep-from="2">
			<svg width="630" height="400" style="display:block; position:absolute; left:100px; top:60px;" viewbox="0 -40 630 360">
			<defs>
				<marker id='headSmall' orient='auto' markerWidth='8' markerHeight='8' refX='12' refY='4'>
					<path d='M0,0 V8 L8,4 Z' fill='black' />
				</marker>
				<marker id='head' orient='auto' markerWidth='4' markerHeight='4' refX='3.5' refY='1.5'>
					<path d='M0,0 V3 L3,1.5 Z' fill='black' />
				</marker>
				<marker id='headF' orient='auto' markerWidth='2' markerHeight='2' refX='.1' refY='1'>
					<path d='M0,0 V2 L2,1 Z' fill='DodgerBlue' />
				</marker>
			</defs>    
				
			<!-- edges -->
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,50 l200,0' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M250,50 l200,0' />
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M450,50 l0,200' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M250,50 l-200,200' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,250 l200,0' />
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M250,250 l200,0' />

				
			<!-- flow -->
				
				<path stroke-width='15' d='M50,50 l200,0' 
					class="flow tempstep a" data-tempstep-classes="9-22:MeV1;23-30:MeV05r;31-50:MeV0"  />
				<path stroke-width='15' d='M250,50 l200,0' 
					class="flow tempstep a" data-tempstep-classes="31-50:MeV05"  />
				<path stroke-width='15' d='M450,50 l0,200' 
					class="flow tempstep a" data-tempstep-classes="9-50:MeV1"  />
				<path stroke-width='15' d='M250,50 l-200,200' 
					class="flow tempstep a" data-tempstep-classes="23-30:MeD05;31-50:MeD05r"  />
				<path stroke-width='15' d='M250,250 l200,0' 
					class="flow tempstep a" data-tempstep-classes="23-30:MeV05;31-50:MeV1"  />
				
				
					
			<!-- queues -->
			
				<path stroke-width='60' stroke='blue' d='M460,90 h120' 
					class="flow tempstep a" data-tempstep-classes="9-22:Mq2;23-30:Mq15;31-50:Mq1" />
				<path stroke-width='60' stroke='blue' d='M290,240 v-120' 
					class="flow tempstep a" data-tempstep-classes="23-30:Mq05;31-50:Mq35" />
				

				
			<!--vertices-->
				<circle class="nodeBig" cx="50" cy="50" r="25" />
				<svg class="TeXinSVG node-text" x="45" y="40"><text>v</text></svg>
				<circle class="nodeBig" cx="250" cy="50" r="25" />
				<svg class="TeXinSVG node-text" x="245" y="40"><text>w</text></svg>
				<circle class="nodeBig" cx="450" cy="50" r="25" />
				<svg class="TeXinSVG node-text" x="445" y="40"><text>x</text></svg>
				<circle class="nodeBig" cx="50" cy="250" r="25" />
				<svg class="TeXinSVG node-text" x="45" y="240"><text>y</text></svg>
				<circle class="nodeBig" cx="250" cy="250" r="25" />
				<svg class="TeXinSVG node-text" x="245" y="240"><text>z</text></svg>
				<circle class="nodeBig" cx="450" cy="250" r="25" />
				<svg class="TeXinSVG node-text tempstep" x="445" y="240" data-tempstep-classes="6:red"><text>t</text></svg>
				
			<!-- Text -->
				<svg class="TeXinSVG node-text tempstep a" data-tempstep-from="7" x="0" y="-10" style="color:DodgerBlue;"><text>u_v = \Ind_{[-2,-1]}</text></svg>
				<svg class="TeXinSVG node-text tempstep a" data-tempstep-from="7" x="400" y="-10" style="color:DodgerBlue;"><text>u_x = 3\cdot \Ind_{[-2,-1]}</text></svg>
				<svg class="TeXinSVG node-text tempstep a" data-tempstep-from="7" x="150" y="280" style="color:DodgerBlue;"><text>u_z = 2\cdot \Ind_{[-1,-0.5]}+7\cdot \Ind_{[-0.5,0]}</text></svg>
				<svg class="TeXinSVG node-text tempstep a" data-tempstep-list="10-22" x="470" y="140" style="color:DodgerBlue;"><text>q_{xt}(\theta)=2</text></svg>
				<svg class="TeXinSVG node-text tempstep a" data-tempstep-list="23-30" x="470" y="140" style="color:DodgerBlue;"><text>q_{xt}(\theta)=1.5</text></svg>
			</svg>	
		
			<div class="HiddenCanvas" style="position:absolute; left:0; top:0; width:100%; height:100%; pointer-events: auto !important;">
				<canvas id="can1" width="1200" height="400"></canvas>

				<div style="position:absolute;bottom:0px;right:600px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:580px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:560px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:540px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:520px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:500px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:480px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:460px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
				<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(1)" style="position:absolute;bottom:0px;right:400px;">	
			</div>
		</div>
		
	
	</div>
	
	<div id="Questions" class="step slide" data-rel-x="0" data-rel-y="300" data-scale="1" data-tempstep-number="3">
	
		<div style="position:absolute; bottom:15px;width:100%; height:200px; left:0px; text-align:center;">
			<span style="font-size:160%"><strong>Question:</strong> What is the termination time/PoA of IDE in single-sink networks?</span><br />
			
		<p class="tempstep a" data-tempstep-from="2" style="width:45%; float:left; font-weight:bold; text-align:center; font-size:120%;">
			Upper Bound
		</p>
		<p class="tempstep a" data-tempstep-from="3" style="width:45%; float:right; font-weight:bold; text-align:center; font-size:120%;">
			Lower Bound
		</p>
		
		
		</div>	
	</div>
	
	<div id="SS-UB-Acyclic" class="step slide" data-rel-to="Questions" data-rel-x="-900" data-rel-y="950" data-scale="1" data-tempstep-number="19" data-tempstep-skip="6-10;15-18">
		<h2>Upper Bound <span class="tempstep a" data-tempstep-from="2">(Acyclic Networks)</span></h2>
		
		<div class="theoremstyle l tempstep a" data-tempstep-from="3" >
			Any IDE in an acyclic network $G$ terminates <span class="tempstep a" data-tempstep-from="4">before $\color{red}\tPmax$</span> <span class="tempstep a" data-tempstep-from="5">$+\,\,\color{DodgerBlue}U$,</span><br />
			<span class="tempstep a" data-tempstep-from="4">where $\tPmax \coloneqq \max\Set{\sum_{e \in P}\tau_e \,\Big|\, P \style{font-family:inherit;font-size:130%;}{\text{ a source-sink path}}}$</span> <span class="tempstep a" data-tempstep-from="5">and $U \coloneqq \sum_{v \in V}\int_{-\infty}^0 u_v(\theta) d\theta$.</span>
		</div>
		
		<div class="proofstyle tempstep a" data-tempstep-from="11">
			<p class="tempstep a" data-tempstep-from="12">For any $k = \tPmax, \tPmax -1, \dots, 1, 0$ and any time $\theta$ define</p>
			<p class="tempstep a" data-tempstep-from="12" style="text-align:center;">$F_{\leq k}(\theta) \coloneqq$ total volume of all flow particles with pessimistic distance at most $k$ to $t$ at time $\theta$</p>
			<div class="theoremstyle c tempstep a" data-tempstep-from="13" >Then $F_{\leq k}(\theta) \geq \min\Set{U,\theta-(\tPmax-k)}$ <span class="tempstep a" data-tempstep-from="14">(by induction)</span>
			<!--	<ul style="margin-top:5px;">
					<li class="tempstep a" data-tempstep-from="14" >$k = \tPmax$: clear</li>
					<li class="tempstep a" data-tempstep-from="15" >$k \to k-1$: w.l.o.g. $F_{\leq k}(\theta) = \min\Set{U,\theta-(\tPmax-k)}$<br />
						<span class="tempstep a" data-tempstep-from="16">$\quad \implies$ flow arrives at rate $1$ at level $k$</span> <span class="tempstep a" data-tempstep-from="17">$\quad \implies$ no queues form at level $k$</span><br />
						<span class="tempstep a" data-tempstep-from="18">$\quad \implies F_{\leq k-1}(\theta+1) = \min\Set{U,\theta-(\tPmax-k)}$</span></li>
				</ul>-->
			</div>
			<p class="tempstep a" data-tempstep-from="19">$\implies k=0,\theta=\tPmax+U$ yields: &nbsp; &nbsp; $F_{\leq 0}(\tPmax+U) \geq U$.</p>
		</div>
			
		<div class="tempstep a" data-tempstep-from="2" style="display:block; position:relative; margin: 20px auto; width:1200px; height:250px;">
	
			<svg width="1000" height="280" viewbox="0 -30 1000 250" style="position:relative; left:100px; top:0px;">
				<marker id='headSmall2' orient='auto' markerWidth='6' markerHeight='6' refX='10' refY='3'>
					<path d='M0,0 V6 L6,3 Z' fill='black' />
				</marker>
		
				<g class="tempstep a" data-tempstep-from="11">
					<svg class="TeXinSVG node-text" style="color:lightgrey;" x="50" y="200"><text>k=</text></svg>
					<path stroke-width='3' stroke='lightgrey' stroke-dasharray='5' d='M150,0 V190' />
					<svg class="TeXinSVG node-text" style="color:lightgrey;" x="140" y="200"><text>5</text></svg>
					<path stroke-width='3' stroke='lightgrey' stroke-dasharray='5' d='M300,0 V190' />
					<svg class="TeXinSVG node-text" style="color:lightgrey;" x="290" y="200"><text>4</text></svg>
					<path stroke-width='3' stroke='lightgrey' stroke-dasharray='5' d='M450,0 V190' />
					<svg class="TeXinSVG node-text" style="color:lightgrey;" x="440" y="200"><text>3</text></svg>
					<path stroke-width='3' stroke='lightgrey' stroke-dasharray='5' d='M600,0 V190' />
					<svg class="TeXinSVG node-text" style="color:lightgrey;" x="590" y="200"><text>2</text></svg>
					<path stroke-width='3' stroke='lightgrey' stroke-dasharray='5' d='M750,0 V190' />
					<svg class="TeXinSVG node-text" style="color:lightgrey;" x="740" y="200"><text>1</text></svg>
					<path stroke-width='3' stroke='lightgrey' stroke-dasharray='5' d='M900,0 V190' />
					<svg class="TeXinSVG node-text" style="color:lightgrey;" x="890" y="200"><text>0</text></svg>
				</g>
				
				<path class="tempstep a" data-tempstep-from="4" stroke-width="10" stroke="#FF000040" fill="none" d="M150,100 L300,30 L450,100 L600,100 L750,160 L900,100" />
				<path class="tempstep a" data-tempstep-from="4" stroke-width="14" stroke="#FF000040" fill="none" d="M150,100 L300,30 L450,100 L600,100 L750,160 L900,100" />
				<path class="tempstep a" data-tempstep-from="4" stroke-width="18" stroke="#FF000040" fill="none" d="M150,100 L300,30 L450,100 L600,100 L750,160 L900,100" />
				<svg class="TeXinSVG node-text tempstep a" data-tempstep-from="4" style="color:red;" x="500" y="40"><text>P_{\max}</text></svg>
				
			<!-- Queues -->
			
				<path class="tempstep a" data-tempstep-from="5" stroke-width='40' stroke='DodgerBlue' d='M200,70 l-50,-100' />
				<svg class="TeXinSVG node-text tempstep a" data-tempstep-from="5" style="color:DodgerBlue;" x="200" y="-40"><text>q_e(\theta) = U</text></svg>
		
			<!-- edges -->
			
				<path marker-end='url(#headSmall2)' stroke-width='5' stroke='black'  d='M750,30 L900,100' />  
				<path marker-end='url(#headSmall2)' stroke-width='5' stroke='black'  d='M750,160 L900,100' />
				<path marker-end='url(#headSmall2)' stroke-width='5' stroke='black'  d='M600,100 L900,100' />
				<path marker-end='url(#headSmall2)' stroke-width='5' stroke='black'  d='M600,100 L750,160' />
				<path marker-end='url(#headSmall2)' stroke-width='5' stroke='black'  d='M450,100 L600,100' />
				<path marker-end='url(#headSmall2)' stroke-width='5' stroke='black'  d='M300,30 L450,100' />
				<path marker-end='url(#headSmall2)' stroke-width='5' stroke='black'  d='M300,160 L450,100' />
				<path marker-end='url(#headSmall2)' stroke-width='5' stroke='black'  d='M300,160 L750,160' />
				<path marker-end='url(#headSmall2)' stroke-width='5' stroke='black'  d='M150,100 L300,30' />
				<path marker-end='url(#headSmall2)' stroke-width='5' stroke='black'  d='M150,100 L300,160' />
		
			<!-- vertices -->
				<circle class="nodeBig" cx="900" cy="100" r="20" />
				<svg class="TeXinSVG node-text" x="895" y="90"><text>t</text></svg>
				
				<circle class="nodeBig" cx="750" cy="30" r="25" />
				<circle class="nodeBig" cx="750" cy="160" r="25" />
				<circle class="nodeBig" cx="600" cy="100" r="25" />
				<circle class="nodeBig" cx="450" cy="100" r="25" />
				<circle class="nodeBig" cx="300" cy="30" r="25" />
				<circle class="nodeBig" cx="300" cy="160" r="25" />
				<circle class="nodeBig" cx="150" cy="100" r="25" />
			</svg>	

			<div class="HiddenCanvas" style="position:absolute; margin:auto; top:0px; width:1200px; height:300px; pointer-events: auto !important;">
				<canvas id="can2" width="1200" height="300"></canvas>

				<div style="position:absolute;bottom:0px;right:600px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:580px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:560px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:540px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:520px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:500px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:480px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:460px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
				<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(2)" style="position:absolute;bottom:0px;right:400px;">	
			</div>
		</div>
	</div>
	
	<div id="SS-UB-General" class="step slide" data-rel-x="0" data-rel-y="1000" data-scale="1" data-tempstep-number="56" data-tempstep-skip="4-10;24-30;36-40;49-50;">		
		
		<h2>Upper Bound (General Networks)</h2>
		
		<div class="theoremstyle l" style="width:50%;">
			Any IDE in an acyclic network $G$ terminates before \(\tau_{\max}+U\).
		</div>
		
		<div class="theoremstyle o tempstep a"  data-tempstep-list="2" style="width:50%;">
			Without queues IDE flows only use a static acyclic subgraph.
		</div>
		
		<div class="theoremstyle o tempstep a"  data-tempstep-from="3" style="width:55%; margin-top:-60px; background-color:white;">
			<span class="tempstep" data-tempstep-classes="3:red">With only small</span> queues IDE flows only use a static acyclic subgraph.
		</div>
		
		<div class="tempstep a" data-tempstep-from="31">
			A subgraph \(H \subseteq G\) containing the sink \(t\) as well as all its shortest paths towards $t$<br />
			is a <em>sink-like subgraph</em> for some interval \([a,b]\) <span class="tempstep a" data-tempstep-from="32">if the sum of</span>
			<ul style="margin:0px;">
				<li class="tempstep a" data-tempstep-from="33">current flow volume within \(H\) at time $a$ and</li>
				<li class="tempstep a" data-tempstep-from="34">the cummulative inflow into \(H\) over \([a,b]\)</li>
			</ul>
			<span class="tempstep a" data-tempstep-from="35">is at most \(\frac{1}{2}\).</span>
		</div>
		
		<div class="theoremstyle l tempstep a" data-tempstep-from="41" style="margin-top:20px;">
			Let $H$ bis sink-like on $[a,b]$ and \(v \in G\setminus H\) be closest to \(t\).
			<p style="margin-top:10px;" class="tempstep a" data-tempstep-from="42">
				Then \(H+v\) is sink-like for $\Big[a,b-\,$<span class="tempstep" data-tempstep-classes="47:orange">$\sum_{e \text{ edge between } v \text{ and } H}(\tau_e + \frac{1}{\nu_e})$</span>$\Big]$.
			</p>
		</div>
		
		<div class="proofstyle tempstep a" data-tempstep-from="43" style="position:absolute; width:700px; height:330px; left:0px; bottom:0px;">
			<svg width="600" height="300" style="display:block; position:absolute; left:100px; top:10px;" viewbox="0 0 600 300">
				<defs>
					<marker id='headSmall' orient='auto' markerWidth='8' markerHeight='8' refX='12' refY='4'>
						<path d='M0,0 V8 L8,4 Z' fill='black' />
					</marker>
					<marker id='headSmallRed' orient='auto' markerWidth='8' markerHeight='8' refX='12' refY='4'>
						<path d='M0,0 V8 L8,4 Z' fill='red' />
					<marker id='headSmallOrange' orient='auto' markerWidth='8' markerHeight='8' refX='12' refY='4'>
						<path d='M0,0 V8 L8,4 Z' fill='orange' />
					</marker>
				</defs>    
					
				<!-- edges -->
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M100,150 l200,-100' />
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M300,250 l-200,-100' />
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M0,100 l100,50' />
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M0,200 l100,-50' />
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M100,50 l200,0' />
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M100,250 l200,0' />
					
					<path marker-end='url(#headSmallOrange)' class="tempstep a" data-tempstep-from="44" stroke-width='5' stroke='Orange'  d='M100,150 l200,-100' />
					<path marker-end='url(#headSmallOrange)' class="tempstep a" data-tempstep-from="44" stroke-width='5' stroke='Orange'  d='M300,250 l-200,-100' />
					<path marker-end='url(#headSmallOrange)' class="tempstep a" data-tempstep-from="45" stroke-width='5' stroke='Orange'  d='M0,100 l100,50' />
					<path marker-end='url(#headSmallOrange)' class="tempstep a" data-tempstep-from="45" stroke-width='5' stroke='Orange'  d='M0,200 l100,-50' />
					<path marker-end='url(#headSmallRed)' class="tempstep a" data-tempstep-from="46" stroke-width='5' stroke='red'  d='M100,150 l200,-100' />
					
				<!--vertices-->
					<circle class="nodeBig" cx="100" cy="150" r="25" />
					<svg class="TeXinSVG node-text" x="95" y="140"><text>v</text></svg>
					<circle class="nodeBig" cx="300" cy="50" r="25" />
					<circle class="nodeBig" cx="300" cy="250" r="25" />
					<circle class="nodeBig" cx="500" cy="150" r="25" />
					<svg class="TeXinSVG node-text" x="495" y="140"><text>t</text></svg>
					
					
					<path stroke-width='8' stroke='DarkGreen' fill='none' stroke-dasharray="10,10" d='M260,10 l260,0 a20,20 0 0 1 20,20 l0,240 a20,20 0 0 1 -20,20 l-260,0 a20,20 0 0 1 -20,-20 l0,-240 a20,20 0 0 1 20,-20' />
					<svg class="TeXinSVG node-text" style="color:DarkGreen; font-size:130%;" x="380" y="130"><text>H</text></svg>
					
					<svg class="TeXinSVG node-text" style="font-size:130%;" x="0" y="130"><text>G</text></svg>
			</svg>	
			
			<div class="HiddenCanvas" style="float:left; position:relative; width:700px; height:350px; pointer-events: auto !important;">	
				<canvas id="can4" width="700" height="330"></canvas>

				<div style="position:absolute;bottom:0px;right:600px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:580px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:560px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:540px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:520px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:500px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:480px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:460px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
				<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(4)" style="position:absolute;bottom:0px;right:400px;">	
			</div>				
		</div>
		

		<div class="theoremstyle t tempstep a" data-tempstep-from="23" style="position:absolute; width:40%; right:0px; top:600px;">
			In single-sink networks any IDE terminates <span class="tempstep a" data-tempstep-from="51" data-tempstep-classes="51-55:red;">before $4U\tau$.</span>
		</div>
		
		<div class="proofstyle tempstep a" data-tempstep-from="52" style="position:absolute; width:40%; right:0px; top:650px;">
			If \(H := \{t\}\) is sink-like for \([\theta,\theta +\tau+|E|]\)<br />
			<span class="tempstep a" data-tempstep-from="53">then $H \coloneqq G$ is sink-like for $[\theta,\theta]$</span>
			<span class="tempstep a" data-tempstep-from="54">and the flow terminates.</span><br />
			<span class="tempstep a" data-tempstep-from="55">\(\implies\) The sink has inflow of at least \(\frac{1}{2}\)	all \(2\tau\) time steps.</span>
		</div>
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="56" style="position:absolute; width:40%; right:0px; top:780px;">
			In single-sink networks \(G\) the PoA for IDE flows is in \(\bigO\left(U\tau\right)\).
		</div>

		<div style="position:absolute; width:700px; height:450px; right:-30px; top:50px;" class="tempstep a" data-tempstep-from="11">
			<svg width="630" height="400" style="display:block; position:absolute; left:100px; top:60px;" viewbox="0 -40 630 360">
			<defs>
				<marker id='headSmall' orient='auto' markerWidth='8' markerHeight='8' refX='12' refY='4'>
					<path d='M0,0 V8 L8,4 Z' fill='black' />
				</marker>
				<marker id='head' orient='auto' markerWidth='4' markerHeight='4' refX='3.5' refY='1.5'>
					<path d='M0,0 V3 L3,1.5 Z' fill='black' />
				</marker>
				<marker id='headF' orient='auto' markerWidth='2' markerHeight='2' refX='.1' refY='1'>
					<path d='M0,0 V2 L2,1 Z' fill='DodgerBlue' />
				</marker>
			</defs>    
				
			<!-- edges -->
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,50 l200,0' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M250,50 l200,0' />
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M450,50 l0,200' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M250,50 l-200,200' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,250 l200,0' />
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M250,250 l200,0' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,250 l0,-200' class="tempstep a" data-tempstep-from="12" />

				
			<!-- flow -->
				
				<path stroke-width='15' d='M50,50 l200,0' 
					class="flow tempstep a" data-tempstep-classes="15:MeV05;16:MeV05r;17:MeV0;21:MeV05;22-100:MeV05r"  />
				<path stroke-width='15' d='M250,50 l200,0' 
					class="flow tempstep a" data-tempstep-classes="0-12:MeV05;13:MeV05r;14:MeV0;"  />
				<path stroke-width='15' d='M450,50 l0,200' 
					class="flow tempstep a" data-tempstep-classes="0-100:MeV1"  />
				<path stroke-width='15' d='M250,50 l-200,200' 
					class="flow tempstep a" data-tempstep-classes="0-12:MeD05r;13:MeD0;17:MeD05;18:MeD05r;19:MeD0;"  />
				<path stroke-width='15' d='M250,250 l200,0' 
					class="flow tempstep a" data-tempstep-classes="0-100:MeV1"  />
				<path stroke-width='15' d='M50,250 l0,-200' 
					class="flow tempstep a" data-tempstep-classes="13:MeV05;14:MeV05r;15:MeV0;19:MeV05;20:MeV05r;21:MeV0;"  />
				
				
					
			<!-- queues -->
			
				<path stroke-width='60' stroke='blue' d='M460,90 h120' 
					class="flow tempstep a" data-tempstep-classes="0-12:Mq1;13:Mq05;14:Mq15;15:Mq2;16-17:Mq25;18:Mq15;19:Mq05;20:Mq15;21:Mq1;22-100:Mq05" />
				<path stroke-width='60' stroke='blue' d='M290,240 v-120' 
					class="flow tempstep a" data-tempstep-classes="0-12:Mq3;13:Mq2;14:Mq1;18-19:Mq3;20:Mq25;21:Mq15;22-100:Mq05" />
				

				
			<!--vertices-->
				<circle class="nodeBig" cx="50" cy="50" r="25" />
				<circle class="nodeBig" cx="250" cy="50" r="25" />
				<circle class="nodeBig" cx="450" cy="50" r="25" />
				<circle class="nodeBig" cx="50" cy="250" r="25" />
				<circle class="nodeBig" cx="250" cy="250" r="25" />
				<circle class="nodeBig" cx="450" cy="250" r="25" />
				<svg class="TeXinSVG node-text" x="445" y="240"><text>t</text></svg>
			</svg>	
			
			<div class="HiddenCanvas" style="float:left; position:relative; width:700px; height:450px; pointer-events: auto !important;">	
				<canvas id="can3" width="700" height="430"></canvas>

				<div style="position:absolute;bottom:0px;right:300px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:280px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:260px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:240px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:220px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:200px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:180px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:160px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
				<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(3)" style="position:absolute;bottom:0px;right:100px;">	
			</div>				
		</div>		
	</div>
	
	<div id="Questions2" class="step slide" data-rel-to="Questions"  data-rel-x="0" data-rel-y="0" data-scale="1" style="z-index:-100;" data-tempstep-number="2">
		<p class="tempstep a" data-tempstep-from="2" style="width:45%; position:absolute;bottom:15px; left:0px; text-align:center; font-size:120%;">
			$\bigO(U \tau)$
		</p>		
	</div>
	
	<div id="SS-LB-Idea" class="slide step" data-rel-to="Questions" data-rel-x="900" data-rel-y="950" data-scale="1" data-tempstep-number="32" data-tempstep-skip="5-10;22-30" style="z-index:0;">
		<h2 style="text-align:center;">Lower Bound (Idea)</h2>
		
		<div style="position:absolute; width:700px; height:500px; right:-30px; top:50px;" class="tempstep a" data-tempstep-from="2">
			<svg width="630" height="400" style="display:block; position:absolute; left:100px; top:60px;" viewbox="0 -40 630 360">
			<defs>
				<marker id='headSmall' orient='auto' markerWidth='8' markerHeight='8' refX='12' refY='4'>
					<path d='M0,0 V8 L8,4 Z' fill='black' />
				</marker>
				<marker id='head' orient='auto' markerWidth='4' markerHeight='4' refX='3.5' refY='1.5'>
					<path d='M0,0 V3 L3,1.5 Z' fill='black' />
				</marker>
			</defs>    
				
			<!-- edges -->
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,50 l200,0' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M250,50 l200,0' />
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M450,50 l0,200' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M250,50 l-200,200' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,250 l200,0' />
				<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M250,250 l200,0' />
				<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M50,250 l0,-200' />

				
			<!--vertices-->
				<circle class="nodeBig" cx="50" cy="50" r="25" />
				<circle class="nodeBig" cx="250" cy="50" r="25" />
				<circle class="nodeBig" cx="450" cy="50" r="25" />
				<circle class="nodeBig" cx="50" cy="250" r="25" />
				<circle class="nodeBig" cx="250" cy="250" r="25" />
				<circle class="nodeBig" cx="450" cy="250" r="25" />
				<svg class="TeXinSVG node-text" x="445" y="240"><text>t</text></svg>
				
				<g class="tempstep a" data-tempstep-from="3">
					<text fill="DarkGreen" font-size="larger" x="100" y="-15">cycling</text>
					<path stroke-width='6' stroke='DarkGreen' fill='None' stroke-dasharray='10,10' d='M25,5 l250,0 a20,20, 0 0 1 20,20 l0,50 a20,20 0 0 1 -10,10 l-200,200 a20,20 0 0 1 -10,10 l-50,0 a20,20 0 0 1 -20,-20 l0,-250 a20,20 0 0 1 20,-20' />
				</g>
				
				<g class="tempstep a" data-tempstep-from="4">
					<text fill="red" font-size="larger" x="300" y="330">blocking</text>
					<path stroke-width='6' stroke='red' fill='None' stroke-dasharray='10,10' d='M495,25 l0,250 a20,20, 0 0 1 -20,20 l-250,0 a20,20 0 0 1 -20,-20 l0,-50 a20,20 0 0 1 10,-10 l200,-200 a20,20 0 0 1 10,-10 l50,0 a20,20 0 0 1 20,20' />
				</g>
			</svg>	
			
			<div class="HiddenCanvas" style="float:left; position:relative; width:700px; height:500px; pointer-events: auto !important;">	
				<canvas id="can5" width="700" height="430"></canvas>

				<div style="position:absolute;bottom:0px;right:300px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:280px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:260px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:240px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:220px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:200px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:180px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:160px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
				<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(5)" style="position:absolute;bottom:0px;right:100px;">	
			</div>				
		</div>		

		<div style="position:absolute; width:900px; height:850px; left:-30px; top:100px;" class="tempstep a" data-tempstep-from="11">
			<svg width="850" height="800" style="display:block; position:absolute; left:30px; top:60px;" viewbox="-20 0 830 800">
			<defs>
				<marker id='headSmall' orient='auto' markerWidth='8' markerHeight='8' refX='12' refY='4'>
					<path d='M0,0 V8 L8,4 Z' fill='black' />
				</marker>
				<marker id='head' orient='auto' markerWidth='4' markerHeight='4' refX='3.5' refY='1.5'>
					<path d='M0,0 V3 L3,1.5 Z' fill='black' />
				</marker>
			</defs> 				
				
			<!-- edges -->
				<g class="tempstep a" data-tempstep-from="12">
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M75,150 l650,0' />
					<path marker-end='url(#head)' stroke-width='15' stroke='black' fill='None' d='M725,150 q-325,-260 -650,0' />
				</g>
				
				<g class="tempstep a" data-tempstep-from="13">
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M75,150 l0,150' />
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M725,150 l0,150' />
				</g>
				<g class="tempstep a" data-tempstep-from="13" data-tempstep-until="31">
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M75,300 l325,350' />
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M725,300 l-325,350' />
				</g>
				
				<g class="tempstep a" data-tempstep-from="31">
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M75,150 l200,0' />
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M275,150 l250,0' />
				</g>	
				
				<g class="tempstep a" data-tempstep-from="32">	
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M275,150 l0,150' />
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M525,150 l0,150' />
					
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M75,300 l100,100' />
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M275,300 l-100,100' />
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M525,300 l100,100' />
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M725,300 l-100,100' />
					
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M175,400 l0,150' />
					<path marker-end='url(#headSmall)' stroke-width='5' stroke='black'  d='M625,400 l0,150' />
					
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M175,550 l225,100' />
					<path marker-end='url(#head)' stroke-width='15' stroke='black'  d='M625,550 l-225,100' />
				</g>
				
				
			<!-- flow -->
				
				
				<path stroke-width='50' d='M75,150 l650,0' 
					class="flow tempstep a" data-tempstep-classes="15:IeV1;16:IeV2;17:IeV3;18:IeV4;19:IeV0"  />
				<path stroke-width='45' fill='None' d='M725,150 q-325,-260 -650,0'
					class="flow tempstep a" data-tempstep-classes="19:IeQ1;20:IeQ2;21-100:IeQ3"  />
				
				<g class="tempstep a" data-tempstep-until="21">
					<path stroke-width='5' d='M75,150 l0,150' 
						class="flow tempstep a" data-tempstep-classes="14:IeSeps;15-17:IeS1;18:IeS1eps;19-20:IeS0"  />
					<path stroke-width='5' d='M725,150 l0,150' 
						class="flow tempstep a" data-tempstep-classes="18:IeSeps;19-100:IeS1"  />
						
					<path stroke-width='5' d='M75,300 l325,350' 
						class="flow tempstep a" data-tempstep-classes="16:IeD1;17:IeD2;18:IeD2eps;19:IeD3;20:IeD4;21-100:IeD5"  />
					<path stroke-width='5' d='M725,300 l-325,350' 
						class="flow tempstep a" data-tempstep-classes="20:IeD1;21-100:IeD2"  />
				</g>				
					
			<!-- queues -->
			
				<g class="tempstep a" data-tempstep-until="21">
					<path stroke-width='50' stroke='blue' d='M60,180 h-120' 
						class="flow tempstep a" data-tempstep-classes="14-15:Iq3;16:Iq15" />
					<path stroke-width='50' stroke='blue' d='M740,180 h120' 
						class="flow tempstep a" data-tempstep-classes="18-19:Iq3;20:Iq15" />
				</g>

				
			<!--vertices-->
				<g class="tempstep a" data-tempstep-from="12">
					<circle class="nodeBig" cx="75" cy="150" r="25" />
					<svg class="TeXinSVG node-text" x="70" y="140"><text>s</text></svg>
					<circle class="nodeBig" cx="725" cy="150" r="25" />
				</g>
				
				<g class="tempstep a" data-tempstep-from="13">
					<circle class="nodeBig" cx="75" cy="300" r="25" />
					<circle class="nodeBig" cx="725" cy="300" r="25" />
					<circle class="nodeBig" cx="400" cy="650" r="25" />
					<svg class="TeXinSVG node-text" x="395" y="640"><text>t</text></svg>
				</g>
				
				<g class="tempstep a" data-tempstep-from="31">
					<circle class="nodeBig" cx="275" cy="150" r="25" />
					<circle class="nodeBig" cx="525" cy="150" r="25" />	
				</g>
				
				<g class="tempstep a" data-tempstep-from="32">
					<circle class="nodeBig" cx="275" cy="300" r="25" />
					<circle class="nodeBig" cx="525" cy="300" r="25" />
					
					<circle class="nodeBig" cx="175" cy="400" r="25" />
					<circle class="nodeBig" cx="625" cy="400" r="25" />
					
					<circle class="nodeBig" cx="175" cy="550" r="25" />
					<circle class="nodeBig" cx="625" cy="550" r="25" />
				</g>
				
				<text fill="DarkGreen" font-size="larger" x="5" y="150" transform="rotate(-90, 5,150)">cycling</text>
				<path stroke-width='6' stroke='DarkGreen' fill='None' stroke-dasharray='10,10' d='M50,5 l700,0 a20,20, 0 0 1 20,20 l0,150 a20,20 0 0 1 -20,20 l-700,0 a20,20 0 0 1 -20,-20 l0,-150 a20,20 0 0 1 20,-20' />
								
				<text fill="red" font-size="larger" x="5" y="400" transform="rotate(-90, 5,400)">blocking</text>
				<path stroke-width='6' stroke='red' fill='None' stroke-dasharray='10,10' d='M50,205 l700,0 a20,20, 0 0 1 20,20 l0,250 a20,20 0 0 1 -10,10 l-200,200 a20,20 0 0 1 -10,10 l-300,0 a20,20 0 0 1 -10,-10 l-200,-200 a20,20 0 0 1 -10,-10 l0,-250 a20,20 0 0 1 20,-20' />
			</svg>	
			
			<div class="HiddenCanvas" style="float:left; position:relative; width:900px; height:800px; pointer-events: auto !important;">	
				<canvas id="can6" width="900" height="820"></canvas>

				<div style="position:absolute;bottom:0px;right:500px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:480px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:460px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:440px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:420px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:400px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:380px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:360px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
				<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(6)" style="position:absolute;bottom:0px;right:300px;">	
			</div>				
		</div>				
	</div>
	
	<div id="SS-LB" class="slide step" data-rel-x="0" data-rel-y="1000" data-scale="1" data-tempstep-number="6" style="z-index:0;">
		<h2 style="text-align:center;">Lower Bound</h2>
		
		For $K,L \in \INs$ construct $G_{K,L}$ with $U \in \bigO(L3^K), \tau \in \bigO(3^{2K})$:
		
		<div style="position:relative; width:1600px; height:660px;">
			<svg width="1600" height="660" style="display:block; position:absolute; left:0px; top:0px;" viewbox="0 0 1600 660">
			<defs>
				<marker id='headVSmall' orient='auto' markerWidth='6' markerHeight='6' refX='10' refY='3'>
					<path d='M0,0 V6 L6,3 Z' fill='black' />
				</marker>
				<marker id='headV' orient='auto' markerWidth='4' markerHeight='4' refX='3.5' refY='1.5'>
					<path d='M0,0 V3 L3,1.5 Z' fill='black' />
				</marker>
			</defs> 				
				
			<!-- edges -->
				<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M80,150 l80,0' />
				<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M160,150 l80,0' />
				<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M240,150 l80,0' />
				<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M320,150 l80,0' />
				<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M400,150 l80,0' />
				<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M480,150 l80,0' />
				<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M560,150 l80,0' />
				<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M640,150 l80,0' />
				<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M720,150 l80,0' />
				<path stroke-width='10' stroke='black' stroke-dasharray="5,5" d='M800,150 l40,0' />
				
				<path stroke-width='10' stroke='black' stroke-dasharray="5,5" d='M1080,150 l40,0' />
				<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M1120,150 l80,0' />
				<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M1200,150 l80,0' />
				<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M1280,150 l70,0' />
										   
				<path marker-end='url(#headV)' stroke-width='10' stroke='black' fill='None' d='M1360,150 c200,-180 -1480,-180 -1280,0' />
				
				<path marker-end='url(#headV)' stroke-width='10' stroke='black' fill='None' d='M80,150 q120,-80 240,0' />
				<path marker-end='url(#headV)' stroke-width='10' stroke='black' fill='None' d='M320,150 q120,-80 240,0' />
				<path marker-end='url(#headV)' stroke-width='10' stroke='black' fill='None' d='M560,150 q120,-80 240,0' />
				<path marker-end='url(#headV)' stroke-width='10' stroke='black' fill='None' d='M1120,150 q120,-80 230,0' />
				<path stroke-width='10' stroke='black' stroke-dasharray="5,5" d='M800,150 l40,-20' />
				<path stroke-width='10' stroke='black' stroke-dasharray="5,5" d='M1080,130 l40,20' />
				<path marker-end='url(#headV)' stroke-width='10' stroke='black' fill='None' d='M80,150 q360,-180 720,0' />
				
				
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M80,150 l0,80' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M160,150 l0,80' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M240,150 l0,80' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M320,150 l0,80' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M400,150 l0,80' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M480,150 l0,80' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M560,150 l0,80' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M640,150 l0,80' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M720,150 l0,80' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M800,150 l0,80' />
				
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M1120,150 l0,80' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M1200,150 l0,80' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M1280,150 l0,80' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M1360,150 l0,80' />
				
				
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M80,230 l80,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M160,230 l0,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M240,230 l-80,60' />
				
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M320,230 l80,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M400,230 l0,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M480,230 l-80,60' />
				
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M560,230 l80,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M640,230 l0,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M720,230 l-80,60' />
				
				<path stroke-width='3' stroke='black' stroke-dasharray='5,5' d='M800,230 l30,20' />
				
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M1120,230 l80,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M1200,230 l0,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M1280,230 l-80,60' />
				
				
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M160,290 l0,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M400,290 l0,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M640,290 l0,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M1200,290 l0,60' />
				
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M160,350 l240,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M400,350 l0,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M640,350 l-240,60' />
				
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M400,410 l0,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M860,410 l0,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M960,410 l0,60' />
				
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M400,470 l460,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M860,470 l0,60' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black'  d='M960,470 l-100,60' />
				
				<path stroke-width='3' stroke='black' stroke-dasharray='5,5' d='M860,410 l-30,-20' />
				<path stroke-width='3' stroke='black' stroke-dasharray='5,5' d='M860,410 l0,-30' />
				<path stroke-width='3' stroke='black' stroke-dasharray='5,5' d='M860,410 l30,-20' />
				
				<path stroke-width='3' stroke='black' stroke-dasharray='5,5' d='M960,410 l-30,-20' />
				<path stroke-width='3' stroke='black' stroke-dasharray='5,5' d='M960,410 l0,-30' />
				<path stroke-width='3' stroke='black' stroke-dasharray='5,5' d='M960,410 l30,-20' />
				
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black' stroke-dasharray='3,3' d='M860,530 l130,90' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black' stroke-dasharray='3,3' d='M1200,350 l-195,265' />
				<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black' fill='None' stroke-dasharray='3,3' d='M1360,230 q-50,300 -350,400' />
				
				
				<g class="tempstep a" data-tempstep-from="5">
					<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M1560,150 l-80,0' />
					<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M1560,150 l0,80' />
					<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M1560,230 l0,80' />
					<path marker-end='url(#headV)' stroke-width='10' stroke='black' fill='None' d='M1560,310 q-50,300 -550,320' />
					<path marker-end='url(#headV)' stroke-width='10' stroke='black'  d='M1480,150 l-110,0' />
					<path marker-end='url(#headVSmall)' stroke-width='3' stroke='black' fill='None' d='M1480,150 q-0,400 -470,480' />
				</g>
				
				
			<!--vertices-->
				<circle class="nodeSmall" cx="80" cy="150" r="15" />
				<circle class="nodeSmall" cx="160" cy="150" r="15" />
				<circle class="nodeSmall" cx="240" cy="150" r="15" />
				<circle class="nodeSmall" cx="320" cy="150" r="15" />
				<circle class="nodeSmall" cx="400" cy="150" r="15" />
				<circle class="nodeSmall" cx="480" cy="150" r="15" />
				<circle class="nodeSmall" cx="560" cy="150" r="15" />
				<circle class="nodeSmall" cx="640" cy="150" r="15" />
				<circle class="nodeSmall" cx="720" cy="150" r="15" />
				<circle class="nodeSmall" cx="800" cy="150" r="15" />
				
				<circle class="nodeSmall" cx="1120" cy="150" r="15" />
				<circle class="nodeSmall" cx="1200" cy="150" r="15" />
				<circle class="nodeSmall" cx="1280" cy="150" r="15" />
				<circle class="nodeBig" cx="1360" cy="150" r="25" />
				<svg class="TeXinSVG node-text tempstep a" data-tempstep-until="4" x="1355" y="140"><text>s</text></svg>
				
				<g class="tempstep a" data-tempstep-from="5">
					<circle class="nodeSmall" cx="1480" cy="150" r="15" />
					<circle class="nodeBig" cx="1560" cy="150" r="25" />
					<svg class="TeXinSVG node-text" x="1555" y="140"><text>s</text></svg>
					
					<circle class="nodeSmall" cx="1560" cy="230" r="15" />
					<circle class="nodeSmall" cx="1560" cy="310" r="15" />
				</g>
				
				<circle class="nodeSmall" cx="80" cy="230" r="15" />
				<circle class="nodeSmall" cx="160" cy="230" r="15" />
				<circle class="nodeSmall" cx="240" cy="230" r="15" />
				<circle class="nodeSmall" cx="320" cy="230" r="15" />
				<circle class="nodeSmall" cx="400" cy="230" r="15" />
				<circle class="nodeSmall" cx="480" cy="230" r="15" />
				<circle class="nodeSmall" cx="560" cy="230" r="15" />
				<circle class="nodeSmall" cx="640" cy="230" r="15" />
				<circle class="nodeSmall" cx="720" cy="230" r="15" />
				<circle class="nodeSmall" cx="800" cy="230" r="15" />
				
				<circle class="nodeSmall" cx="1120" cy="230" r="15" />
				<circle class="nodeSmall" cx="1200" cy="230" r="15" />
				<circle class="nodeSmall" cx="1280" cy="230" r="15" />
				<circle class="nodeSmall" cx="1360" cy="230" r="15" />
				
				
				<circle class="nodeSmall" cx="160" cy="290" r="15" />
				<circle class="nodeSmall" cx="160" cy="350" r="15" />
				<circle class="nodeSmall" cx="400" cy="290" r="15" />
				<circle class="nodeSmall" cx="400" cy="350" r="15" />
				<circle class="nodeSmall" cx="640" cy="290" r="15" />
				<circle class="nodeSmall" cx="640" cy="350" r="15" />
				<circle class="nodeSmall" cx="1200" cy="290" r="15" />
				<circle class="nodeSmall" cx="1200" cy="350" r="15" />
				
				<circle class="nodeSmall" cx="400" cy="410" r="15" />
				<circle class="nodeSmall" cx="400" cy="470" r="15" />
				<circle class="nodeSmall" cx="860" cy="410" r="15" />
				<circle class="nodeSmall" cx="860" cy="470" r="15" />
				<circle class="nodeSmall" cx="960" cy="410" r="15" />
				<circle class="nodeSmall" cx="960" cy="470" r="15" />
				
				<circle class="nodeSmall" cx="860" cy="530" r="15" />
					
				
				<circle class="nodeBig" cx="1000" cy="625" r="25" />
				<svg class="TeXinSVG node-text" x="995" y="615"><text>t</text></svg>

				<g class="tempstep a" data-tempstep-from="2">
					<svg class="TeXinSVG node-text" style="color:DarkGreen" x="5" y="100"><text>C_K</text></svg>
					<path stroke-width='6' stroke='DarkGreen' fill='None' stroke-dasharray='10,10' d='M70,5 l1300,0 a20,20, 0 0 1 20,20 l0,135 a20,20 0 0 1 -20,20 l-1300,0 a20,20 0 0 1 -20,-20 l0,-135 a20,20 0 0 1 20,-20' />
				</g>

				<g class="tempstep a" data-tempstep-from="3">
					<svg class="TeXinSVG node-text" style="color:red" x="5" y="300"><text>B_K</text></svg>
					<path stroke-width='6' stroke='red' fill='None' stroke-dasharray='10,10' d='M70,190 l1300,0 a20,20, 0 0 1 20,20 l0,150 a20,20 0 0 1 -10,10 l-275,275 a20,20 0 0 1 -10,10 l-220,0 a20,20 0 0 1 -10,-10 l-800,-275 a20,20 0 0 1 -10,-10 l0,-150 a20,20 0 0 1 20,-20' />
				</g>
			</svg>
			
			
			<div style="position:absolute; left:0px; top:0px; width:100%; height:660px;z-index:400;">			
				<div class="HiddenCanvas" style="position:absolute; left:0px; top:0px; width:100%; height:100%; pointer-events: auto !important;">
				<canvas id="can7" width="1600" height="660"></canvas>

				<div style="position:absolute;bottom:0px;right:300px;width:20px;height:20px;background:DodgerBlue;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:280px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:260px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:240px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:220px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:200px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:180px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
				<div style="position:absolute;bottom:0px;right:160px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
				<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(7)" style="position:absolute;bottom:0px;right:100px;">	
				</div>
			</div>
		</div>
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="4">
			In $G_{K,L}$ there exists an IDE flow which terminates after $LK(3^{K+1}+1)$.
		</div>
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="6">
			For single-sink instances with parameters \(U\) and \(\tau\) the Price of Anarchy is in \(\Omega(U\log\tau)\).
		</div>
	</div>
	
	<div id="Questions3" class="step slide" data-rel-to="Questions"  data-rel-x="0" data-rel-y="0" data-scale="1" style="z-index:-100;" data-tempstep-number="2">
		<p class="tempstep a" data-tempstep-from="2" style="width:45%; position:absolute;bottom:15px; right:0px; text-align:center; font-size:120%;">
			$\Omega(U \log\tau)$
		</p>		
	</div>

    <div id="Overview" class="step center" data-rel-to="Questions"  data-rel-x="0" data-rel-y="300" data-scale="4.1" data-tempstep-number="10" style="z-index:-1000;">		
    </div>
	
	<div id="Links" class="center step skip slide"  data-rel-x="0" data-rel-y="-2000" data-scale="5" style="height:50px; opacity:0;">
	
		<br />
		<strong>Paper:</strong> <a href="https://arxiv.org/abs/1811.07381">arxiv.org/abs/1811.07381</a> | <strong>Presentation:</strong> <a href="https://graffl.gitlab.io/ide-flow-talks/index_AS.html">graffl.gitlab.io/ide-flow-talks/index_AS.html</a>
	</div>
</div>




<div class="Heading" id="background">
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading1">
	<span style="position:absolute; left:0px;">The PoA for IDE Flows - Introduction &amp; Model</span>
	<span style="position:absolute; right:0px;">Lukas Graf</span>
	<span style="display:block; margin:auto;">WINE 2020</span>
</div>
<div class="Heading" id="Heading2">
	<span style="position:absolute; left:0px;">The PoA for IDE Flows - An Upper Bound</span>
	<span style="position:absolute; right:0px;">Lukas Graf</span>
	<span style="display:block; margin:auto;">WINE 2020</span>	
</div>
<div class="Heading" id="Heading3">
	<span style="position:absolute; left:0px;">The PoA for IDE Flows - A Lower Bound</span>
	<span style="position:absolute; right:0px;">Lukas Graf</span>
	<span style="display:block; margin:auto;">WINE 2020</span>
</div>



<div id="impress-toolbar"></div>

<div id="DrawingCanvas" style="position:fixed; left:5%; top:5%; width:90%; height:90%; z-index:1000; background-color:white; border:3px solid gray;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);pointer-events: auto !important;display:none; transition:border 2s, background-color 2s;">
		<canvas id="can0" width="1200" height="700" style="margin:5px 20px; border:1px solid black;"></canvas>

		<div style="position:absolute;bottom:20px;right:600px;width:20px;height:20px;background:blue;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:580px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:560px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:540px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:520px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:500px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:480px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:460px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
		<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(0)" style="position:absolute;bottom:20px;right:300px;">
		<input type="button" value="glass" id="clr" size="23" onclick="canvas().makeTransparent(0)" style="position:absolute;bottom:20px;right:250px;">		
</div>

<!--
    To make all described above really work, you need to include impress.js in the page.
    You also need to call a `impress().init()` function to initialize impress.js presentation.
    And you should do it in the end of your document.
-->
<script type="text/javascript" src="js/impress.js"></script>
<script type="text/javascript" src="js/impress-custom.js"></script>

<script>impress().init();</script>

<script type="text/javascript">

	var canvas = window.canvas = function() {
					
		function Pen() {
			this.color = "black";
			this.size = 3;
			this.eraserMode = false;
		}
		
		function Canvas(name, pen) {
			var canvas = document.getElementById(name);
			var context = canvas.getContext("2d");
			
			this.canvas = canvas;
			this.context = context;
			this.pen = pen;
			
			this.prevX = 0;
			this.prevY = 0;
			this.currX = 0;
			this.currY = 0;
						
			this.drawing = false;
			
			var findxy = function(res, e) {
				if (res == 'down') {
					this.prevX = this.currX;
					this.prevY = this.currY;
					this.currX = e.client - canvas.getBoundingClientRect().left;
					this.currY = e.client - canvas.getBoundingClientRect().top;
					this.drawing = true;
				}
				if (res == 'up' || res == "out") {
					this.drawing = false;
				}
				if (res == 'move') {
					if (this.drawing) {
						this.prevX = this.currX;
						this.prevY = this.currY;
						this.currX = e.clientX - canvas.getBoundingClientRect().left;
						this.currY = e.clientY - canvas.getBoundingClientRect().top;
						draw();
					}
				}
			}
			
			var draw = function() {
				if(pen.eraserMode) {
					context.clearRect(this.currX-20,this.currY-20,40,40);
				} else {
					context.beginPath();
					context.moveTo(this.prevX, this.prevY);
					context.lineTo(this.currX, this.currY);
					context.strokeStyle = this.pen.color;
					context.lineWidth = this.pen.size;
					context.stroke();
					context.closePath();
				}
			}
			
			canvas.addEventListener("mousemove", function (e) {
				findxy('move', e)
			}, false);
			canvas.addEventListener("mousedown", function (e) {
				findxy('down', e)
			}, false);
			canvas.addEventListener("mouseup", function (e) {
				findxy('up', e)
			}, false);
			canvas.addEventListener("mouseout", function (e) {
				findxy('out', e)
			}, false);

			
			
		}
	
		var init = function(n) {
			pen = new Pen();
			
			canvases = [];
			
			for(var i=0;i<n;i++) {
				canvases[i] = new Canvas("can"+i,pen)
			}
		}
		
		var color = function(obj) {
			pen.color = obj.style.backgroundColor;
			pen.eraserMode = false;
		}
		
		var toggleEraser = function() {
			pen.eraserMode = !(pen.eraserMode);
		}
		
		var clear = function(i) {
			if (confirm("Clear current canvas?")) {
				canvases[i].context.clearRect(0, 0, canvases[i].canvas.width, canvases[i].canvas.height);
			}
		}
		
		var makeTransparent = function(i) {
			var pDiv = canvases[i].canvas.parentElement;
			if (pDiv.style.backgroundColor == "white") {
				pDiv.style.backgroundColor = "transparent";
				pDiv.style.border = "3px solid transparent";
			} else {
				pDiv.style.backgroundColor = "white";
				pDiv.style.border = "3px solid gray";
			}
		}
		
		return({init: init, color: color, clear: clear, toggleEraser: toggleEraser, makeTransparent: makeTransparent});	
	}

	canvas().init(8);
</script>	
	
	
<script type="text/javascript">
		// SOURCE: https://stackoverflow.com/a/52011013
		// Define a function that takes LaTeX source code
		// and places the resulting generated SVG in a target SVG element.
		mathSVG = function (latex, target) {
		  // First create a new element to hold the initial Latex code
		  // and eventual MathJax generated SVG. This element isn't added
		  // to the main document, so it's never seen.
		  let mathBuffer = document.createElement("div");
		
		  // Update the buffer with the source latex.
		  mathBuffer.textContent = latex;
		  // Get MathJax to process and typeset.
		  MathJax.Hub.Queue(["Typeset", MathJax.Hub, mathBuffer]);
		  // Queue a callback function that will execute once it's finished typesetting.
		  MathJax.Hub.Queue(function () {
			// This (svg) is the generated graphics.
			var svg = mathBuffer.childNodes[1].childNodes[0];
			// The next line is optional, play with positioning as you see fit.
			svg.setAttribute("y", "0pt");
			// Move the generated svg from the buffer to the target element.
			target.appendChild(svg);
			// Clear the buffer.
			mathBuffer.textContent = "";
		  });
		};
		
		function generateTeXinSVGs() {
			listOfSVGs = document.getElementsByClassName("TeXinSVG");
			var i;
			for (i = 0; i < listOfSVGs.length; i++) {
				svgElement = listOfSVGs[i];
				latex = svgElement.children[0].textContent;
				svgElement.innerHTML = "";
				mathSVG("$" + latex + "$", svgElement);				
			} 
		};
</script>

</body>
</html>
