<!doctype html>

<!--
  This is a simple example / template impress.js slide show. The goal is to be
  easier to read for a first timer than the official and very feature rich
  demo by bartaz (http://bartaz.github.io/impress.js/). It's also a very
  traditional presentation that looks like slides (square screens with bullet
  points...), again to make a first timer feel more at home. From this simple
  presentation you can then go on to more powerful impress.js presentations!

  This example is hopefully helpful for people that want to create both
  simple and (eventually) awesome presentations in impress.js and comfortable
  doing that directly in HTML.

  By: @henrikingo (Still based on the HTML from bartaz' demo.)

-->

<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>Dynamic Flows with Adaptive Route Choice</title>

    <meta name="description" content="Dynamic Flows with Adaptive Route Choice" />
    <meta name="author" content="Lukas Graf" />


    <!--
        This file contains styles specific for this example presentation.
    -->
	<link href="css/Graduate.css" rel="stylesheet" />

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
		tex2jax: {
		  inlineMath: [ ['$','$'], ['\\(','\\)'] ],
		  processEscapes: true
		},
		"SVG": { fonts: ["TeX"], scale:85 }
	  });
	  MathJax.Hub.Queue(generateTeXinSVGs());
	</script>
	<!-- Internetquelle für MathJax -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_SVG-full"></script>
	<!-- Falls kein Internet verfügbar... 
	<script type="text/javascript" src="extras/MathJax/MathJax.js?config=TeX-MML-AM_SVG-full"></script>-->

</head>

<!--

    Body element is used by impress.js to set some useful class names, that will allow you to detect
    the support and state of the presentation in CSS or other scripts.

    First very useful class name is `impress-not-supported`. This class means, that browser doesn't
    support features required by impress.js, so you should apply some fallback styles in your CSS.
    It's not necessary to add it manually on this element. If the script detects that browser is not
    good enough it will add this class, but keeping it in HTML means that users without JavaScript
    will also get fallback styles.

    When impress.js script detects that browser supports all required features, this class name will
    be removed.

    Another class name on body element also depends on currently active presentation step.
-->
<body class="impress-not-supported" style="transform:scale(1,1) translate(0px,0px);">
<!--
    This fallback message is only visible when there is `impress-not-supported` class on body.
-->
<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>


<!--
    This is the core element used by impress.js: the wrapper for your presentation steps.
    In this element all the impress.js magic happens.

    data-transition-duration sets the time in microseconds that is used for the
    animation when transtitioning between slides.

    data-autoplay can be used to set the time in seconds, after which presentation
    automatically moves to next slide. It can also be set individually for each
    slide, but here we just set a common duration for all slides.
-->

<div style="display:none;">
  \(
    \newcommand{\IN}{\mathbb{N}}
	\newcommand{\INs}{\mathbb{N}^\ast}
	\newcommand{\INo}{\mathbb{N}_0}
    \newcommand{\IZ}{\mathbb{Z}}
    \newcommand{\IR}{\mathbb{R}}
    \newcommand{\IC}{\mathbb{C}}
    \newcommand{\A}{\mathcal{A}}
    \newcommand{\B}{\mathcal{B}}
    \newcommand{\U}{\mathfrak{U}}
    \newcommand{\coloneqq}{:=}
    \newcommand{\Set}[1]{\left\{#1\right\}}
    \newcommand{\supp}{\mathrm{supp}}
    \newcommand{\Re}{\mathrm{Re}}
    \newcommand{\Im}{\mathrm{Im}}
    \newcommand{\clos}[1]{\overline{#1}}
    \newcommand{\inte}[1]{\mathring{#1}}
	\newcommand{\dist}[2]{\mathrm{dist}^c_{#1}(#2)}
	\newcommand{\dists}[2]{{\mathrm{dist}^c_{#1}}'(#2)}
	\newcommand{\Ind}{{\small\raise{-1pt}{\unicode{x1D7D9}}\,}}
	\newcommand{\bigO}{\mathcal{O}}	
	\newcommand{\abs}[1]{\left|#1\right|}
	
	\newcommand{\rDeriv}{\partial_+}
	\newcommand{\lDeriv}{\partial_-}
	\newcommand{\queue}{q}	
  \)
</div>


<div id="impress" data-transition-duration="2000" data-autoplay="0" style="z-index:0;">

	
	<div id="PreTitle" class="step slide center" data-x="0" data-y="0" data-scale="1" data-tempstep-number="18" data-tempstep-skip="6-10">
		<h2 class="tempstep a" data-tempstep-until="10">Chair for Discrete Mathematics, Optimization and Operations Research</h2>
		
		<h3 class="tempstep a" data-tempstep-from="2">Algorithmic <span class="tempstep" data-tempstep-classes="11-17:red">Game</span> <span class="tempstep" data-tempstep-classes="16-17:red">Theory</span></h3>
		
		<div class="tempstep a" data-tempstep-until="10">
			<div class="tempstep a" data-tempstep-from="3">
				<img width="150px" src="images-private/tobias.png" /> <br />
				Prof. Tobias Harks
			</div>
		
		<div style="float:left; width:49%;" class="tempstep a" data-tempstep-list="4-10">
			<h3>PostDocs</h3>
			
			<table style="margin:auto;">
				<tr>
					<td><img width="120px" src="images-private/anja.jpg" /></td>
					<td><img width="120px" src="images-private/meenarli.jpg" /></td>
					<td><img width="120px" src="images-private/prashant.png" /></td>
				</tr>
				<tr>
					<td style="padding:0px 25px;">Dr. Anja Schedel</td>
					<td style="padding:0px 25px;">Dr. Meenarli Scharma</td>
					<td style="padding:0px 25px;">Dr. Prashant Palkar</td>
				</tr>
			</table>
		</div>
		
		<div style="float:right; width:49%;">
			<h3 class="tempstep a" data-tempstep-list="5-10">PhD students</h3>

			<table style="margin:auto;">
				<tr>
					<td class="tempstep a" data-tempstep-list="5-10"><img width="120px" src="images-private/michael.jpg" /></td>
					<td class="tempstep a" data-tempstep-list="5-10"><img width="120px" src="images-private/julian.jpg" /></td>
					<td><img width="120px" src="images-private/lukas.jpg" /></td>
				</tr>
				<tr>
					<td style="padding:0px 25px;" class="tempstep a" data-tempstep-list="5-10">Michael Markl</td>
					<td style="padding:0px 25px;" class="tempstep a" data-tempstep-list="5-10">Julian Schwarz</td>
					<td style="padding:0px 25px;">Lukas Graf</td>
				</tr>
			</table>
		</div>
		</div>
		
		<div class="tempstep a" data-tempstep-from="12" style="position:absolute; top:230px; left:800px; width:800px; text-align:left;">
			A <em>game</em> consists of
			<ul>
				<li class="tempstep a" data-tempstep-from="13">set of agents/players</li>
				<li class="tempstep a" data-tempstep-from="14">for each agent a set of strategies</li>
				<li class="tempstep a" data-tempstep-from="15">for each agent an "outcome"-function:<br />
					&nbsp; &nbsp; strategy choices of all agents $\mapsto$ utility/cost</li>
			</ul>
			<br />
			
			<div class="tempstep a" data-tempstep-from="17">
				An <em>equilibrium</em> is a strategy choice for every agents such that no agent can improve by unilateral(!) deviation.
			</div>
			<br />
			
			<div  class="tempstep a" data-tempstep-from="18">
				<strong>Questions:</strong> Do equilibria exist? Can we compute them? What is there quality? ...?
			</div>
		</div>
		
	</div>


	<div id="Title" class="step slide center" data-x="0" data-rel-y="1200" data-scale="1" data-tempstep-number="8">
		<h1>Dynamic Flows with Adaptive Route Choice</h1><br />
			<strong>Lukas Graf</strong><sup>1</sup>, Tobias Harks<sup>1</sup>, Leon Sering<sup>2</sup> <br /><br />
			
			<span style="font-size:70%;"><sup>1</sup> Augsburg University, <sup>2</sup> ETH Zürich</span>
			
			<div style="position:absolute; left:600px; bottom:50px; width:700px; height:500px;" class="tempstep a" data-tempstep-from="2">
				
			<svg width="700" height="500" style="display:block; position:absolute; left:0px; top:0px;" viewbox="0 0 700 500">
			<defs>
				<marker id='headSmall' orient='auto' markerWidth='8' markerHeight='8' refX='12' refY='4'>
					<path d='M0,0 V8 L8,4 Z' fill='black' />
				</marker>
				<marker id='head' orient='auto' markerWidth='4' markerHeight='4' refX='3.5' refY='1.5'>
					<path d='M0,0 V3 L3,1.5 Z' fill='black' />
				</marker>
				<marker id='headF' orient='auto' markerWidth='2' markerHeight='2' refX='.1' refY='1'>
					<path d='M0,0 V2 L2,1 Z' fill='DodgerBlue' />
				</marker>
			</defs>    
				
			<!-- edges -->
				<path stroke-width='16' stroke='#0000FF40'  d='M50,50 l600,0 l0,300' fill='none' class="tempstep a" data-tempstep-list="3-4" />
				<path stroke-width='22' stroke='#0000FF40'  d='M50,50 l600,0 l0,300' fill='none' class="tempstep a" data-tempstep-list="3-4" />
				<path stroke-width='28' stroke='#0000FF40'  d='M50,50 l600,0 l0,300' fill='none' class="tempstep a" data-tempstep-list="3-4" />
				
				<path stroke-width='16' stroke='#0000FF40'  d='M350,50 l-300,300 l600,0' fill='none' class="tempstep a" data-tempstep-list="5-6" />
				<path stroke-width='22' stroke='#0000FF40'  d='M350,50 l-300,300 l600,0' fill='none' class="tempstep a" data-tempstep-list="5-6" />
				<path stroke-width='28' stroke='#0000FF40'  d='M350,50 l-300,300 l600,0' fill='none' class="tempstep a" data-tempstep-list="5-6" />
			
				<path marker-end='url(#head)' stroke-width='10' stroke='black'  d='M50,50 l300,0' />
				<path marker-end='url(#head)' stroke-width='10' stroke='black'  d='M350,50 l300,0' />
				<path marker-end='url(#head)' stroke-width='10' stroke='black'  d='M650,50 l0,300' />
				<path marker-end='url(#head)' stroke-width='10' stroke='black'  d='M350,50 l-300,300' />
				<path marker-end='url(#head)' stroke-width='10' stroke='black'  d='M50,350 l300,0' />
				<path marker-end='url(#head)' stroke-width='10' stroke='black'  d='M350,350 l300,0' />
				
			<!--vertices-->
				<circle class="nodeBig" cx="50" cy="50" r="25" />
				<svg class="TeXinSVG node-text" x="45" y="40"><text>v</text></svg>
				<circle class="nodeBig" cx="350" cy="50" r="25" />
				<svg class="TeXinSVG node-text" x="345" y="40"><text>w</text></svg>
				<circle class="nodeBig" cx="650" cy="50" r="25" />
				<svg class="TeXinSVG node-text" x="645" y="40"><text>x</text></svg>
				<circle class="nodeBig" cx="50" cy="350" r="25" />
				<svg class="TeXinSVG node-text" x="45" y="340"><text>y</text></svg>
				<circle class="nodeBig" cx="350" cy="350" r="25" />
				<svg class="TeXinSVG node-text" x="345" y="340"><text>z</text></svg>
				<circle class="nodeBig" cx="650" cy="350" r="25" />
				<svg class="TeXinSVG node-text" x="645" y="340"><text>t</text></svg>
			</svg>	
				
				<img class="car R1 tempstep a" data-tempstep-list="2-6" src="images/CarRed.svg" />
				<img class="car R2 tempstep a" data-tempstep-list="2-6" src="images/CarRed.svg" />
				<img class="car R3 tempstep a" data-tempstep-list="2-6" src="images/CarRed.svg" />
				<img class="car B1 tempstep a" data-tempstep-list="2-6" src="images/CarBlue.svg" />
			</div>
			
			<div class="tempstep a" data-tempstep-from="7" style="position:absolute; bottom:50px; left:0px; width:100%; text-align:center;">
				<h2>&uarr; Discrete Model</h2>
				<p class="tempstep a" data-tempstep-from="8" style="margin-top:-20px; font-size:80%;">(unsplittable flow particles, discrete time steps)</p>
			</div>
			
	</div>
	
	<div id="ModelChange" class="step slide" data-x="0" data-rel-y="520" data-scale="1" data-tempstep-number="2">
		<h2 style="margin-top:400px;" class="tempstep a" data-tempstep-from="1">Continuous Model &darr;</h2>
		<p class="tempstep a" data-tempstep-from="2" style="margin-top:-130px; font-size:80%; text-align:center;">(infinitesimal flow particles, continuous time)</p>
	</div>
	
	<div id="Model" class="step slide" data-x="0" data-rel-y="400" data-scale="1" data-tempstep-number="23" data-tempstep-skip="14-20">
		
		<div style="position:absolute; width:50%; left:600px; top:100px;">
			
			<div class="tempstep a graph" data-tempstep-from="0" style="position:absolute; width:100%; height:400px; margin-top:10px;">
				<div class="vertexNamed blue" style="left:100px; top:50px;">\(s_1\)</div>
					<div class="tempstep a blue" data-tempstep-list="5-8"  style="position:absolute; left:50px; top:-20px; width:200px;">\(u_1 = \Ind_{[0,1]}\)</div>
				<div class="vertexNamed" style="left:100px; top:300px;">\(v_2\)</div>
				<div class="vertexNamed" style="left:350px; top:50px;">\(v_1\)</div>
				<div class="vertexNamed" style="left:350px; top:300px;">\(v_3\)</div>
				<div class="vertexNamed red" style="left:600px; top:50px;">\(s_2\)</div>
					<div class="tempstep a red" data-tempstep-list="5-8"  style="position:absolute; left:500px; top:-20px; width:200px;">\(u_2 = 3\cdot\Ind_{[0,1]}\)</div>
				<div class="vertexNamed" style="left:600px; top:300px;">\(t_{{\color{blue}1}/{\color{red}2}}\)</div>
				
				<!-- Edge: s1->1 -->
				<img class="edge" style="left:120px; top:50px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
					<div class="tempstep a" data-tempstep-from="4" style="position:absolute; left:180px; top:60px; width:100px;">\((\tau_e, \nu_e)\)</div>
					<div class="tempstep a flow b" data-tempstep-list="4-8" data-tempstep-classes="1-5:flowS" style="left:120px; top:50px; transform:rotate(0deg); height:15px; width:210px;"></div>
					<div class="tempstep a flow b" data-tempstep-from="8" data-tempstep-classes="11-30:flowS" style="left:330px; top:50px; transform:rotate(180deg); height:15px; width:210px;"></div>
				<!-- Edge: 1->s2 -->
				<img class="edge" style="left:370px; top:50px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<!-- Edge: 1->2 -->
				<img class="edge" style="left:350px; top:50px; width:330px; transform:rotate(135deg);" src="images/Arrow.svg" />
					<div class="tempstep a flow b" data-tempstep-from="8" data-tempstep-classes="1-10:flowS" style="left:350px; top:50px; transform:rotate(135deg); height:15px; width:330px;"></div>
				<!-- Edge: s2->t -->
				<img class="edge" style="left:595px; top:70px; width:210px; transform:rotate(90deg);" src="images/Arrow.svg" />
					<div class="tempstep a flow r" data-tempstep-from="4" data-tempstep-classes="1-5:flowS" style="left:595px; top:70px; transform:rotate(90deg); height:15px; width:210px;"></div>
					
					<img class="tempstep a" data-tempstep-list="7-9" src="images/QueueArrowR.svg" style="position:absolute; left:620px; top:40px; width:80px; height:70px;" />
					<div class="tempstep a" data-tempstep-list="7-9" style="position:absolute; left:710px; top:35px; width:150px;">\(f_e^+(\theta)=3\)</div>
					<div class="tempstep a flow r" data-tempstep-from="4" data-tempstep-classes="1-5:flowS;11-30:queueM" style="left:620px; top:100px; transform:rotate(0deg); height:40px; width:100px;"></div>
					<div class="tempstep a red" data-tempstep-list="6-10" style="position:absolute; left:730px; top:95px; width:150px; transition-delay:1s;">\(q_e(\theta) = 2\)</div>
					<div class="tempstep a red" data-tempstep-from="11" style="position:absolute; left:730px; top:95px; width:150px; transition-delay:1s;">\(q_e(\theta) = 1\)</div>
					
					<div class="tempstep a" data-tempstep-list="10" style="position:absolute; left:400px; top:150px; width:200px;">\(c_e(\theta)=1 + \frac{2}{1}\)</div>
					<div class="tempstep a" data-tempstep-from="11" style="position:absolute; left:400px; top:150px; width:200px;">\(c_e(\theta)=1 + \frac{1}{1}\)</div>

				<!-- Edge: 2->3 -->
				<img class="edge" style="left:120px; top:300px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<!-- Edge: 3->t -->
				<img class="edge" style="left:370px; top:300px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
			</div>
		</div>
		
		<div style="position:absolute; width:50%; left:0px; top:500px;">
			<h3 class="tempstep a" data-tempstep-from="2" style="margin-top:-30px;">Physical Model</h3>
			
			<ul>
				<li class="tempstep a" data-tempstep-from="3" >Directed (Multi-)Graph \(G = (V,E)\)</li>
				<li class="tempstep a" data-tempstep-from="4" >For all edges \(e \in E\): length \(\tau_e \in \IN\) and capacity \(\nu_e\)</li>
				<li class="tempstep a" data-tempstep-from="5" >Commodities \(I\) with source node \(s_i\), sink node \(t_i\)<br />
					and constant inflow rate \(u_i: [a_i,b_i] \to \IR_{\geq 0}\)</li>
				<li class="tempstep a" data-tempstep-from="7" >Inflow \(\gt\) capacity \(\implies\) queues form<br />
																&nbsp; \(f_e^+(\theta) \gt \nu_e\) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (length \(q_e(\theta)\))</li> 
			</ul>
		</div>
		
		<div style="position:absolute; width:50%; right:0px; top:500px;">
			<h3 class="tempstep a" data-tempstep-from="8" style="margin-top:-30px;">Behavioral Model</h3>
			
			<p class="theoremstyle d tempstep a" data-tempstep-from="9">The <em>current travel time</em> at time \(\theta\) on edge \(e\) is: \[c_e(\theta) := \tau_e + q_e(\theta)/\nu_e\]  </p>
			
			<p class="theoremstyle d tempstep a" data-tempstep-from="12">A flow is in <em>Instantaneous Dynamic Equilibrium (IDE)</em> if the following holds: <br />
			<span class="tempstep a" data-tempstep-from="13">Whenever positive flow enters an edge, this edge must lie on a currently shortest path towards the respective sink (w.r.t. \(c\)).</span></p>
		</div>
		
		<div class="tempstep a" style="position:absolute; bottom:20px; left:300px;" data-tempstep-list="21-22">
			<strong>Questions:</strong> Existence? Computation? Hardness? <span class="tempstep" data-tempstep-classes="22:red">Quality?</span> ...?
		</div>
		
		<div class="tempstep a" style="position:absolute; bottom:20px; left:300px;" data-tempstep-from="23">
			<strong>Question:</strong> Do all agents eventually reach their destination?
		</div>
	</div>

	
	<div id="SS-Term" class="step slide" data-rel-x="0" data-rel-y="1000" data-scale="1" data-tempstep-number="18" data-tempstep-skip="1-4;8-10">	

		<h2>Termination?</h2>	
	
		<div class="tempstep a graph" data-tempstep-from="1" style="position:absolute; width:50%; height:400px; left:600px; top:150px;">
			<div class="vertexNamed blue" style="left:100px; top:50px;">\(s_1\)</div>
			<div class="vertexNamed" style="left:100px; top:300px;">\(v_2\)</div>
			<div class="vertexNamed" style="left:350px; top:50px;">\(v_1\)</div>
			<div class="vertexNamed green" style="left:350px; top:300px;">\(s_3\)</div>
					<div class="green" style="position:absolute; left:220px; top:350px; width:200px;">\(u_3 = 6\cdot\Ind_{[1.5,2]}\)</div>
			<div class="vertexNamed red" style="left:600px; top:50px;">\(s_2\)</div>
			<div class="vertexNamed" style="left:600px; top:300px;">\(t\)</div>
			
			<div class="tempstep a" data-tempstep-from="13" style="position:absolute; left:500px; top:350px; color:grey;">\(H\)</div>
			<img class="tempstep a" data-tempstep-list="13-16" style="position:absolute; left:250px; top:-50px;" src="images/H1-IPCO.svg" width="400px" height="400px" />
			<img class="tempstep a" data-tempstep-from="18" style="position:absolute; left:0px; top:-50px;" src="images/H2-IPCO.svg" width="650px" height="400px" />
			
			<!-- Edge: s1->1 -->
			<img class="edge" style="left:120px; top:50px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-classes="6-20:flowS" style="left:330px; top:50px; transform:rotate(180deg); height:15px; width:105px; transition:width 1.5s 0s;"></div>
			<!-- Edge: 1->s2 -->
			<img class="edge" style="left:370px; top:50px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
			<!-- Edge: 1->2 -->
			<img class="edge" style="left:350px; top:50px; width:330px; transform:rotate(135deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="2-6" data-tempstep-classes="1-5:flowS;6-9:flowTrans" style="left:350px; top:50px; transform:rotate(135deg); height:15px; width:165px; transition:linear width 1.5s, linear left 1.5s 1.5s, linear top 1.5s 1.5s"></div>
				<div class="tempstep a flow b" data-tempstep-from="7" data-tempstep-classes="7-20:flowS" style="left:100px; top:300px; transform:rotate(-45deg); height:15px; width:165px; transition:width 1.5s"></div>
			<!-- Edge: 2->s1 -->
			<img class="edge" style="left:100px; top:280px; width:210px; transform:rotate(-90deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-from="2" data-tempstep-classes="1-6:flowS;7-20:flowTrans2" style="left:100px; top:280px; transform:rotate(-90deg); height:15px; width:105px; transition:linear width 1.5s, linear left 1.5s 1.5s, linear top 1.5s 1.5s"></div>
			<!-- Edge: s2->t -->
			<img class="edge" style="left:595px; top:70px; width:210px; transform:rotate(90deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow r" data-tempstep-classes="7-20:flowS" style="left:595px; top:280px; transform:rotate(-90deg); height:15px; width:210px;"></div>					
				<div class="tempstep a flow r" data-tempstep-classes="6-20:flowS" style="left:620px; top:100px; transform:rotate(0deg); height:40px; width:100px;"></div>
			<!-- Edge: 2->s3 -->
			<img class="edge" style="left:120px; top:300px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
			<!-- Edge: s3->t -->
			<img class="edge" style="left:370px; top:300px; width:210px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow g" data-tempstep-from="3" data-tempstep-classes="1-5:flowS" style="left:350px; top:300px; transform:rotate(0deg); height:15px; width:105px; transition:width 1.5s 1.5s;"></div>
				<div class="tempstep a flow g" data-tempstep-from="7" data-tempstep-classes="1-6:flowM" style="left:350px; top:300px; transform:rotate(0deg); height:15px; width:230px; transition:width 1.5s 0s;"></div>
				<div class="tempstep a flow g" data-tempstep-list="3-6" data-tempstep-classes="1-5:flowS" style="left:410px; top:320px; transform:rotate(90deg); height:40px; width:125px; transition:width 1.5s 1.5s;"></div>
				<div class="tempstep a flow g" data-tempstep-list="7-20" data-tempstep-classes="7-20:queueM" style="left:410px; top:320px; transform:rotate(90deg); height:40px; width:125px;"></div>
			<!-- Edge: t->1 -->
			<img class="edge" style="left:600px; top:300px; width:330px; transform:rotate(-135deg);" src="images/Arrow.svg" />
		</div>	
			
		<div style="position:absolute; left:0px; width:50%; top:600px;">			
			<div class="theoremstyle o tempstep a" data-tempstep-from="11">
				The sink can never be part of a cycle.
			</div>
			
			<div class="theoremstyle o tempstep a"  data-tempstep-from="12">
				The total amount of flow in the network is bounded.
			</div>
			
			<div class="theoremstyle t tempstep a" data-tempstep-from="18">
				In single-sink networks all IDE flows terminate.
			</div>
		</div>
			
		<div style="position:absolute; right:0px; width:50%; top:600px;">
			<div class="proofstyle tempstep a" data-tempstep-from="13">
				&nbsp;Let \(H \subseteq G\) be the subgraph consisting of<br />the sink and all edges leading towards the sink.<br />
				<span class="tempstep a" data-tempstep-from="14">&nbsp;\(\implies\) Volume of flow in \(H\) eventually stays small.</span><br />
				<span class="tempstep a" data-tempstep-from="15">&nbsp;\(\implies\) All queues in \(H\) are small.</span><br />
				<span class="tempstep a" data-tempstep-from="16">&nbsp;\(\implies\) \(H\) acts as a new sink.</span><br />
				<span class="tempstep a" data-tempstep-from="17">&nbsp;Add to \(H\) all edges leading into \(H\).</span>
			</div>
		</div>
	
	</div>
	

	<div id="MS-Term" class="step slide" data-rel-x="0" data-rel-y="1000" data-scale="1" data-tempstep-number="22">
		
		<h2>Termination?<span class="tempstep a" data-tempstep-from="1">-Part II</h2>
		
		<div class="theoremstyle t tempstep a" data-tempstep-from="22" style="position:absolute; left:400px; bottom:100px;">There exists a multi-sink network where all IDE flows cycle forever.</div>
			
		<div class="tempstep a graph" data-tempstep-from="2" style="position:absolute; width:70%; height:600px; left:300px; top:100px;">
			<div class="vertexNamed blue" style="left:750px; top:500px;">\(s_1\)</div> 					<!--s1-->
			<div class="vertex" style="left:750px; top:350px;"></div>									<!--1 -->
			<div class="vertex" style="left:900px; top:350px;"></div>									<!--2 -->
			<div class="vertex" style="left:900px; top:500px;"></div>									<!--3 -->
			<div class="vertex tempstep a" data-tempstep-from="9" style="left:600px; top:350px;"></div>	<!--4 -->
			<div class="vertex tempstep a" data-tempstep-from="9" style="left:500px; top:425px;"></div>	<!--5 -->
			<div class="vertex tempstep a" data-tempstep-from="9" style="left:600px; top:500px;"></div>	<!--6 -->
			
			
			<div class="vertex tempstep a" data-tempstep-from="3" style="left:1000px; top:250px;"></div> <!--1' -->
			<div class="vertex tempstep a" data-tempstep-from="3" style="left:1050px; top:350px;"></div> <!--3' -->
			<div class="vertex tempstep a" data-tempstep-list="9-20" style="left:750px; top:250px;"></div>  <!--6' -->
			
			<div class="vertexNamed blue" style="left:1200px; top:200px;">\(t_1\)</div>					<!--t1-->
			
			
			
			<!-- s1->1 -->
			<img class="edge" style="left:750px; top:500px; width:140px; transform:rotate(-90deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="5;10;15-30" data-tempstep-classes="3-4:flowS;8-9:flowS;13-14:flowS" 
							  style="left:750px; top:500px; transform:rotate(-90deg); height:15px; width:140px; margin-top:-10px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="6;11-12" data-tempstep-classes="6-7:flowS;12-13:flowS;16-17:flowS" 
							  style="left:750px; top:350px; transform:rotate(90deg); height:15px; width:140px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="9-11;14-30" data-tempstep-classes="8-9:flowS;11-12:flowS;13-14:flowS" 
							  style="left:770px; top:440px; transform:rotate(0deg); height:40px; width:40px;"></div>
			<!-- 1->2 -->
			<img class="edge" style="left:750px; top:350px; width:140px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="6;12" data-tempstep-classes="4-5:flowS;10-11:flowS;14-15:flowS" 
							  style="left:750px; top:350px; transform:rotate(0deg); height:15px; width:140px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="7;13" data-tempstep-classes="7-8:flowS;13-14:flowS;17-18:flowS" 
							  style="left:900px; top:350px; transform:rotate(180deg); height:15px; width:140px;"></div>
			<!-- 2->3 -->
			<img class="edge" style="left:900px; top:350px; width:140px; transform:rotate(90deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="7;13" data-tempstep-classes="5-6:flowS;11-12:flowS;15-16:flowS" 
							  style="left:900px; top:350px; transform:rotate(90deg); height:15px; width:140px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="8;14" data-tempstep-classes="8-9:flowS;14-15:flowS;17-18:flowS" 
							  style="left:900px; top:500px; transform:rotate(-90deg); height:15px; width:140px;"></div>
			<!-- 3->s1 -->
			<img class="edge" style="left:900px; top:500px; width:130px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="8;14" data-tempstep-classes="6-7:flowS;12-13:flowS;16-17:flowS" 
							  style="left:900px; top:500px; transform:rotate(180deg); height:15px; width:140px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="9;15" data-tempstep-classes="9-10:flowS;15-16:flowS;19-20:flowS" 
							  style="left:750px; top:500px; transform:rotate(0deg); height:15px; width:140px;"></div>
			<!-- 1->4 -->
			<img class="edge tempstep a" data-tempstep-from="9" style="left:750px; top:350px; width:140px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="11" data-tempstep-classes="9-10:flowS;14-15:flowS" 
							  style="left:750px; top:350px; transform:rotate(180deg); height:15px; width:140px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="12" data-tempstep-classes="12-13:flowS;17-18:flowS" 
							  style="left:600px; top:350px; transform:rotate(0deg); height:15px; width:140px;"></div>
			<!-- 4->5 -->
			<img class="edge tempstep a" data-tempstep-from="9" style="left:600px; top:350px; width:120px; transform:rotate(145deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="12" data-tempstep-classes="10-11:flowS;15-16:flowS" 
							  style="left:600px; top:350px; transform:rotate(145deg); height:15px; width:120px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="13" data-tempstep-classes="13-14:flowS;18-19:flowS" 
							  style="left:500px; top:425px; transform:rotate(-35deg); height:15px; width:140px;"></div>
			<!-- 5->6 -->
			<img class="edge tempstep a" data-tempstep-from="9" style="left:500px; top:425px; width:120px; transform:rotate(35deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="13" data-tempstep-classes="11-12:flowS;16-17:flowS" 
							  style="left:500px; top:425px; transform:rotate(35deg); height:15px; width:120px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="14" data-tempstep-classes="14-15:flowS;19-20:flowS" 
							  style="left:600px; top:500px; transform:rotate(-145deg); height:15px; width:120px;"></div>
			<!-- 6->s1 -->
			<img class="edge tempstep a" data-tempstep-from="9" style="left:600px; top:500px; width:120px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<div class="tempstep a flow b" data-tempstep-list="14" data-tempstep-classes="12-13:flowS;17-18:flowS" 
							  style="left:600px; top:500px; transform:rotate(0deg); height:15px; width:120px;"></div>
				<div class="tempstep a flow b" data-tempstep-list="15" data-tempstep-classes="15-16:flowS;20-21:flowS" 
							  style="left:750px; top:500px; transform:rotate(180deg); height:15px; width:120px;"></div>
			
			
			<!-- 1->1' -->
			<img class="edge tempstep a" data-tempstep-from="3" style="left:750px; top:350px; width:260px; transform:rotate(-22deg);" src="images/Arrow.svg" />
			<!-- 1'->t1 -->
			<img class="edge tempstep a" data-tempstep-from="3" style="left:1000px; top:250px; width:180px; transform:rotate(-15deg);" src="images/Arrow.svg" />
			<!-- 3->3' -->
			<img class="edge tempstep a" data-tempstep-from="3" style="left:900px; top:500px; width:200px; transform:rotate(-45deg);" src="images/Arrow.svg" />
			<!-- 3'->t1 -->
			<img class="edge tempstep a" data-tempstep-from="3" style="left:1050px; top:350px; width:190px; transform:rotate(-45deg);" src="images/Arrow.svg" />
			<!-- 6->6' -->
			<img class="edge tempstep a" data-tempstep-list="9-19" style="left:600px; top:500px; width:290px; transform:rotate(-60deg);" src="images/Arrow.svg" />
			<!-- 6'->t1 -->
			<img class="edge tempstep a" data-tempstep-list="9-20" style="left:750px; top:250px; width:430px; transform:rotate(-8deg);" src="images/Arrow.svg" />
			
			
			<div class="tempstep a" data-tempstep-from="4" style="position:absolute; left:1000px; top:135px; width:180px; height:80px; z-index:200; transform:rotate(-15deg);">
				<img src="images/graphQueues2.svg" height="100%" style="background-color:#FFFFFFDD;" />	
				<img class="tempstep Line" data-tempstep-classes="0-4:Line1;5:Line2;6:Line3;7:Line4;8:Line5;9:Line0;10:Line1;11:Line2;12:Line3;13:Line4;14:Line0;15-30:Line1"
					src="images/graphQueuesLine.svg" style="position:absolute; bottom:0px; height:100%;" />
			</div>
			
			<div class="tempstep a" data-tempstep-from="4" style="position:absolute; left:1090px; top:270px; width:180px; height:80px; z-index:200; transform:rotate(-45deg);">
				<img src="images/graphQueues7.svg" height="100%" style="background-color:#FFFFFFDD;" />	
				<img class="tempstep Line" data-tempstep-classes="0-4:Line1;5:Line2;6:Line3;7:Line4;8:Line5;9:Line0;10:Line1;11:Line2;12:Line3;13:Line4;14:Line0;15-30:Line1"
					src="images/graphQueuesLine.svg" style="position:absolute; bottom:0px; height:100%;" />
			</div>
			
			<div class="tempstep a" data-tempstep-list="9-20" style="position:absolute; left:800px; top:140px; width:180px; height:80px; z-index:200; transform:rotate(-8deg);">
				<img src="images/graphQueues5.svg" height="100%" style="background-color:#FFFFFFDD;" />	
				<img class="tempstep Line" data-tempstep-classes="0-4:Line1;5:Line2;6:Line3;7:Line4;8:Line5;9:Line0;10:Line1;11:Line2;12:Line3;13:Line4;14:Line0;15-30:Line1"
					src="images/graphQueuesLine.svg" style="position:absolute; bottom:0px; height:100%;" />
			</div>
			
			<div class="tempstep a" data-tempstep-from="10" style="position:absolute; left:600px; top:360px; width:180px; height:80px; z-index:200; transform:rotate(-90deg);">
				<img src="images/graphQueuesBlue.svg" height="100%" style="background-color:#FFFFFFDD;" />	
				<img class="tempstep Line" data-tempstep-classes="0-4:Line1;5:Line2;6:Line3;7:Line4;8:Line5;9:Line0;10:Line1;11:Line2;12:Line3;13:Line4;14:Line0;15-30:Line1"
					src="images/graphQueuesLine.svg" style="position:absolute; bottom:0px; height:100%;" />
			</div>

			<div  class="tempstep a" data-tempstep-from="16" style="position:absolute; left:-100px; top:250px; transform:scale(.5,.5);">
				<div class="vertexNamed red" style="left:750px; top:500px;">\(s\)</div> 					<!--s1-->
				<div class="vertex" style="left:750px; top:350px;"></div>									<!--1 -->
				<div class="vertex" style="left:900px; top:350px;"></div>									<!--2 -->
				<div class="vertex" style="left:900px; top:500px;"></div>									<!--3 -->
				<div class="vertex" style="left:600px; top:350px;"></div>	<!--4 -->
				<div class="vertex" style="left:500px; top:425px;"></div>	<!--5 -->
				<div class="vertex" style="left:600px; top:500px;"></div>	<!--6 -->
				
				
				<!-- s1->1 -->
				<img class="edge" style="left:750px; top:500px; width:140px; transform:rotate(-90deg);" src="images/Arrow.svg" />
				<!-- 1->2 -->
				<img class="edge" style="left:750px; top:350px; width:140px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<!-- 2->3 -->
				<img class="edge" style="left:900px; top:350px; width:140px; transform:rotate(90deg);" src="images/Arrow.svg" />
				<!-- 3->s1 -->
				<img class="edge" style="left:900px; top:500px; width:130px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<!-- 1->4 -->
				<img class="edge" style="left:750px; top:350px; width:140px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<!-- 4->5 -->
				<img class="edge" style="left:600px; top:350px; width:120px; transform:rotate(145deg);" src="images/Arrow.svg" />
				<!-- 5->6 -->
				<img class="edge" style="left:500px; top:425px; width:120px; transform:rotate(35deg);" src="images/Arrow.svg" />
				<!-- 6->s1 -->
				<img class="edge" style="left:600px; top:500px; width:120px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<!-- 1->? -->
				<img class="edge tempstep a" data-tempstep-from="17" style="left:750px; top:350px; width:120px; transform:rotate(-90deg);" src="images/Arrow.svg" />
				
				
				<div style="position:absolute; left:600px; top:360px; width:180px; height:80px; z-index:200; transform:rotate(-90deg);">
					<img src="images/graphQueuesRedB.svg" height="100%" style="background-color:#FFFFFFDD;" />	
				</div>
			</div>

			<div  class="tempstep a" data-tempstep-from="17" style="position:absolute; left:-100px; top:100px; transform:scale(.5,.5);">
				<div class="vertexNamed red" style="left:750px; top:500px;">\(s\)</div> 					<!--s1-->
				<div class="vertex" style="left:750px; top:350px;"></div>									<!--1 -->
				<div class="vertex" style="left:900px; top:350px;"></div>									<!--2 -->
				<div class="vertex" style="left:900px; top:500px;"></div>									<!--3 -->
				<div class="vertex" style="left:600px; top:350px;"></div>	<!--4 -->
				<div class="vertex" style="left:500px; top:425px;"></div>	<!--5 -->
				<div class="vertex" style="left:600px; top:500px;"></div>	<!--6 -->
				
				
				<!-- s1->1 -->
				<img class="edge" style="left:750px; top:500px; width:140px; transform:rotate(-90deg);" src="images/Arrow.svg" />
				<!-- 1->2 -->
				<img class="edge" style="left:750px; top:350px; width:140px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<!-- 2->3 -->
				<img class="edge" style="left:900px; top:350px; width:140px; transform:rotate(90deg);" src="images/Arrow.svg" />
				<!-- 3->s1 -->
				<img class="edge" style="left:900px; top:500px; width:130px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<!-- 1->4 -->
				<img class="edge" style="left:750px; top:350px; width:140px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<!-- 4->5 -->
				<img class="edge" style="left:600px; top:350px; width:120px; transform:rotate(145deg);" src="images/Arrow.svg" />
				<!-- 5->6 -->
				<img class="edge" style="left:500px; top:425px; width:120px; transform:rotate(35deg);" src="images/Arrow.svg" />
				<!-- 6->s1 -->
				<img class="edge" style="left:600px; top:500px; width:120px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<!-- 1->? -->
				<img class="edge tempstep a" data-tempstep-from="18" style="left:750px; top:350px; width:230px; transform:rotate(-90deg);" src="images/Arrow-dashed.svg" />
				
				
				<div style="position:absolute; left:600px; top:360px; width:180px; height:80px; z-index:200; transform:rotate(-90deg);">
					<img src="images/graphQueuesRedB.svg" height="100%" style="background-color:#FFFFFFDD;" />	
				</div>
			</div>

			<div  class="tempstep a" data-tempstep-from="18" style="position:absolute; left:-100px; top:-100px; transform:scale(.5,.5);">
				<div class="vertexNamed red" style="left:750px; top:500px;">\(s\)</div> 					<!--s1-->
				<div class="vertex" style="left:750px; top:350px;"></div>									<!--1 -->
				<div class="vertex" style="left:900px; top:350px;"></div>									<!--2 -->
				<div class="vertex" style="left:900px; top:500px;"></div>									<!--3 -->
				<div class="vertex" style="left:600px; top:350px;"></div>	<!--4 -->
				<div class="vertex" style="left:500px; top:425px;"></div>	<!--5 -->
				<div class="vertex" style="left:600px; top:500px;"></div>	<!--6 -->
				
				
				<!-- s1->1 -->
				<img class="edge" style="left:750px; top:500px; width:140px; transform:rotate(-90deg);" src="images/Arrow.svg" />
				<!-- 1->2 -->
				<img class="edge" style="left:750px; top:350px; width:140px; transform:rotate(0deg);" src="images/Arrow.svg" />
				<!-- 2->3 -->
				<img class="edge" style="left:900px; top:350px; width:140px; transform:rotate(90deg);" src="images/Arrow.svg" />
				<!-- 3->s1 -->
				<img class="edge" style="left:900px; top:500px; width:130px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<!-- 1->4 -->
				<img class="edge" style="left:750px; top:350px; width:140px; transform:rotate(180deg);" src="images/Arrow.svg" />
				<!-- 4->5 -->
				<img class="edge" style="left:600px; top:350px; width:120px; transform:rotate(145deg);" src="images/Arrow.svg" />
				<!-- 5->6 -->
				<img class="edge" style="left:500px; top:425px; width:120px; transform:rotate(35deg);" src="images/Arrow.svg" />
				<!-- 6->s1 -->
				<img class="edge" style="left:600px; top:500px; width:120px; transform:rotate(0deg);" src="images/Arrow.svg" />
				
				
				<div style="position:absolute; left:600px; top:360px; width:180px; height:80px; z-index:200; transform:rotate(-90deg);">
					<img src="images/graphQueuesRedA.svg" height="100%" style="background-color:#FFFFFFDD;" />	
				</div>
			</div>

			<div class="tempstep a" data-tempstep-from="19" style="position:absolute; left:-100px; top:250px; width:300px; height:100px; z-index:200; transform:rotate(-90deg);">
				<img src="images/graphQueues5Big.svg" height="100%" style="background-color:#FFFFFFDD;" />	
			</div>
			
			<img class="edge tempstep a" data-tempstep-from="20" style="left:590px; top:510px; width:300px; transform:rotate(181deg);" src="images/Arrow.svg" />
			<img class="edge tempstep a" data-tempstep-from="21" style="left:280px; top:70px; width:900px; transform:rotate(8deg);" src="images/Arrow.svg" />

		</div>
	</div>

    <div id="Overview" class="step center" data-rel-to="Model"  data-rel-x="2000" data-rel-y="500" data-scale="4" data-tempstep-number="10" style="z-index:-2000;">		
    </div>

	
	<div id="Links" class="step slide skip" data-rel-to="Overview" data-rel-x="0" data-rel-y="0" data-scale="4" style="z-index:-1000;">
	
		<div style="position:absolute; width:60%; right:0px; top:100px;">
			<h2>Any questions?</h2>
			
			<br /><br /><br /><br /><br /><br /><br /><br />
			
			<strong>Website:</strong> <a href="https://www.uni-augsburg.de/de/fakultaet/mntf/math/prof/opt/team/graf/">uni-augsburg.de/de/fakultaet/mntf/math/prof/opt/team/graf/</a> <br />
			<strong>GitLab:</strong> <a href="https://gitlab.com/GraffL">@GraffL </a> 
			&nbsp;&nbsp;|&nbsp; <strong>GitHub:</strong> <a href="https://github.com/GraffL">@GraffL</a> 
			&nbsp;&nbsp;|&nbsp; <strong>Twitter:</strong> <a href="https://twitter.com/LukasMathGraf">@LukasMathGraf</a> <br />
		</div>
	</div>	

</div>




<div class="Heading" id="background">
	<span style="float:left;">Dynamic Flows with Adaptive Route Choice</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading1">
	<span style="float:left;">Dynamic Flows with Adaptive Route Choice - Model</span>
	<span style="float:right;">Lukas Graf</span>
</div>
<div class="Heading" id="Heading2">
	<span style="float:left;">Dynamic Flows with Adaptive Route Choice - Termination?</span>
	<span style="float:right;">Lukas Graf</span>
</div>


<div id="impress-toolbar"></div>

<div id="DrawingCanvas" style="position:fixed; left:5%; top:5%; width:90%; height:90%; z-index:1000; background-color:white; border:3px solid gray;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);pointer-events: auto !important;display:none; transition:border 2s, background-color 2s;">
		<canvas id="can0" width="1700" height="900" style="margin:5px 20px; border:1px solid black;"></canvas>

		<div style="position:absolute;bottom:20px;right:600px;width:20px;height:20px;background:blue;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:580px;width:20px;height:20px;background:red;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:560px;width:20px;height:20px;background:green;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:540px;width:20px;height:20px;background:black;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:520px;width:20px;height:20px;background:orange;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:500px;width:20px;height:20px;background:yellow;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:480px;width:20px;height:20px;background:purple;" onclick="canvas().color(this)"></div>
		<div style="position:absolute;bottom:20px;right:460px;width:16px;height:16px;background:white;border:2px solid;" id="white" onclick="canvas().toggleEraser()"></div>
		<input type="button" value="clear" id="clr" size="23" onclick="canvas().clear(0)" style="position:absolute;bottom:20px;right:300px;">
		<input type="button" value="glass" id="clr" size="23" onclick="canvas().makeTransparent(0)" style="position:absolute;bottom:20px;right:250px;">		
</div>

<!--
    To make all described above really work, you need to include impress.js in the page.
    You also need to call a `impress().init()` function to initialize impress.js presentation.
    And you should do it in the end of your document.
-->
<script type="text/javascript" src="js/impress.js"></script>
<script type="text/javascript" src="js/impress-custom.js"></script>

<script>impress().init();</script>

<script type="text/javascript">

	var canvas = window.canvas = function() {
					
		function Pen() {
			this.color = "black";
			this.size = 2;
			this.eraserMode = false;
		}
		
		function Canvas(name, pen) {
			var canvas = document.getElementById(name);
			var context = canvas.getContext("2d");
			
			this.canvas = canvas;
			this.context = context;
			this.pen = pen;
			
			this.prevX = 0;
			this.prevY = 0;
			this.currX = 0;
			this.currY = 0;
						
			this.drawing = false;
			
			var findxy = function(res, e) {
				if (res == 'down') {
					this.prevX = this.currX;
					this.prevY = this.currY;
					this.currX = e.client - canvas.getBoundingClientRect().left;
					this.currY = e.client - canvas.getBoundingClientRect().top;
					this.drawing = true;
				}
				if (res == 'up' || res == "out") {
					this.drawing = false;
				}
				if (res == 'move') {
					if (this.drawing) {
						this.prevX = this.currX;
						this.prevY = this.currY;
						this.currX = e.clientX - canvas.getBoundingClientRect().left;
						this.currY = e.clientY - canvas.getBoundingClientRect().top;
						draw();
					}
				}
			}
			
			var draw = function() {
				if(pen.eraserMode) {
					context.clearRect(this.currX-20,this.currY-20,40,40);
				} else {
					context.beginPath();
					context.moveTo(this.prevX, this.prevY);
					context.lineTo(this.currX, this.currY);
					context.strokeStyle = this.pen.color;
					context.lineWidth = this.pen.size;
					context.stroke();
					context.closePath();
				}
			}
			
			canvas.addEventListener("mousemove", function (e) {
				findxy('move', e)
			}, false);
			canvas.addEventListener("mousedown", function (e) {
				findxy('down', e)
			}, false);
			canvas.addEventListener("mouseup", function (e) {
				findxy('up', e)
			}, false);
			canvas.addEventListener("mouseout", function (e) {
				findxy('out', e)
			}, false);

			
			
		}
	
		var init = function(n) {
			pen = new Pen();
			
			canvases = [];
			
			for(var i=0;i<n;i++) {
				canvases[i] = new Canvas("can"+i,pen)
			}
		}
		
		var color = function(obj) {
			pen.color = obj.style.backgroundColor;
			pen.eraserMode = false;
		}
		
		var toggleEraser = function() {
			pen.eraserMode = !(pen.eraserMode);
		}
		
		var clear = function(i) {
			if (confirm("Clear current canvas?")) {
				canvases[i].context.clearRect(0, 0, canvases[i].canvas.width, canvases[i].canvas.height);
			}
		}
		
		var makeTransparent = function(i) {
			var pDiv = canvases[i].canvas.parentElement;
			if (pDiv.style.backgroundColor == "white") {
				pDiv.style.backgroundColor = "transparent";
				pDiv.style.border = "3px solid transparent";
			} else {
				pDiv.style.backgroundColor = "white";
				pDiv.style.border = "3px solid gray";
			}
		}
		
		return({init: init, color: color, clear: clear, toggleEraser: toggleEraser, makeTransparent: makeTransparent});	
	}

	canvas().init(8);
</script>	
	
	
<script type="text/javascript">
		// SOURCE: https://stackoverflow.com/a/52011013
		// Define a function that takes LaTeX source code
		// and places the resulting generated SVG in a target SVG element.
		mathSVG = function (latex, target) {
		  // First create a new element to hold the initial Latex code
		  // and eventual MathJax generated SVG. This element isn't added
		  // to the main document, so it's never seen.
		  let mathBuffer = document.createElement("div");
		
		  // Update the buffer with the source latex.
		  mathBuffer.textContent = latex;
		  // Get MathJax to process and typeset.
		  MathJax.Hub.Queue(["Typeset", MathJax.Hub, mathBuffer]);
		  // Queue a callback function that will execute once it's finished typesetting.
		  MathJax.Hub.Queue(function () {
			// This (svg) is the generated graphics.
			var svg = mathBuffer.childNodes[1].childNodes[0];
			// The next line is optional, play with positioning as you see fit.
			svg.setAttribute("y", "0pt");
			// Move the generated svg from the buffer to the target element.
			target.appendChild(svg);
			// Clear the buffer.
			mathBuffer.textContent = "";
		  });
		};
		
		function generateTeXinSVGs() {
			listOfSVGs = document.getElementsByClassName("TeXinSVG");
			var i;
			for (i = 0; i < listOfSVGs.length; i++) {
				svgElement = listOfSVGs[i];
				latex = svgElement.children[0].textContent;
				svgElement.innerHTML = "";
				mathSVG("$" + latex + "$", svgElement);				
			} 
		};
</script>

</body>
</html>
